@model PW.Ncels.Database.DataModel.Organization
<fieldset>
    <legend>Направление на оплату</legend>
    <table>
        <tr>
            <td>

                <dl class="pwEditRef">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.Name).Enable(false)
                        <span data-for="Name" class="k-invalid-msg"></span>
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressFact)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.AddressFact).Enable(false)
                        <span data-for="Code" class="k-invalid-msg"></span>
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.BankName)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.BankName).Enable(false)
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentBill)
                    </dt>
                    <dd>
                        <!-- TODO Необходимо поменять. неизвестно откуда берется валюта -->
                        @Html.Kendo().TextBoxFor(model => model.PaymentBill).Enable(false)
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.BankBik)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.BankBik).Enable(false)
                    </dd>
                    <br />
                </dl>

            </td>
            <td>
                <dl class="pwEditRef">
                    <dt>
                        @Html.DisplayNameFor(model => model.BankSwift)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.BankSwift).Enable(false)
                        <span data-for="Name" class="k-invalid-msg"></span>
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.Bin)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.Bin).Enable(false)
                        <span data-for="Code" class="k-invalid-msg"></span>
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.Iin)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.Iin).Enable(false)
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.BankCurencyName)
                    </dt>
                    <dd>
                        <!-- TODO Необходимо поменять. неизвестно откуда берется валюта -->
                        @Html.Kendo().TextBoxFor(model => model.BankCurencyName).Enable(false)
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.CountryName)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.CountryName).Enable(false)
                    </dd>
                    <br />
                </dl>

            </td>
        </tr>
    </table>
</fieldset> 