@model PW.Ncels.Database.DataModel.EXP_DrugDeclaration

@{ var stylenote = "display:none";}
@if (Model.IsGrls)
{
    stylenote = "";
}
<div class="panel panel-default">
    <div class="panel-heading">
        Подана ли на государственную регистрацию лекарственная субстанция, произведенная не в условиях Надлежащей производственной практики, для отечественных производителей (кроме гомеопатических препаратов, иммунобиологических препаратов и лекарственного растительного сырья)
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-lg-3">
                <label>Признак</label>
                <div class="input-group">
                    @Html.DropDownList("IsGrls", (IEnumerable<SelectListItem>)(ViewData["IsGrlsList"]),
                            String.Empty,
                            new
                            {
                                @class = "form-control edit-control  main-control"
                            }) <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>

            <div class="col-lg-9" style="@stylenote" id="grlsNoteDiv">
                <label>Коментарии</label>
                <div class="input-group">
                    @Html.TextBoxFor(model => model.GrlsNote, new { @class = "form-control edit-control  main-control", placeholder = "Введите значение" })
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>Условия транспортирования</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Transportation, new { @class = "form-control edit-control  main-control", placeholder = "Введите значение" })
                <span class="input-group-addon">
                    <a class="commentDialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Производство</label>
            <div class="input-group">
                @Html.DropDownList("ManufactureTypeId", (IEnumerable<SelectListItem>)(ViewData["ManufactureTypeList"]),
                    String.Empty,
                    new
                    {
                        @class = "form-control edit-control  main-control"
                    })
                <span class="input-group-addon">
                    <a class="commentDialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>Наличие сертификата GMP</label>
            <div class="input-group">
                @Html.DropDownList("IsGmp", (IEnumerable<SelectListItem>)(ViewData["IsGmpList"]),
                    String.Empty,
                    new
                    {
                        @class = "form-control edit-control  main-control"
                    })
                <span class="input-group-addon">
                    <a class="commentDialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>Срок действия</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.GmpExpiryDateStr, new { @class = "form-control edit-control  main-control date-control", placeholder = "Введите значение" })


                <span class="input-group-addon">
                    <a class="commentDialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @* <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Срок хранения лекарственного средства
                </div>
                <div class="panel-body">
                    <div class="row">
                        <p>Предлагаемый срок хранения</p>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.BestBefore, new { @class = "form-control edit-control  main-control", placeholder = "Введите значение" })
                                    <span class="input-group-addon">
                                        <a class="commentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>
                                </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.DropDownList("BestBeforeMeasureTypeDicId", (IEnumerable<SelectListItem>)(ViewData["BestBeforeMeasureTypeList"]),
                            String.Empty,
                            new
                            {
                                @class = "form-control edit-control  main-control"
                            })
                                    <span class="input-group-addon">
                                        <a class="commentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>

                        </div>
                        </div>
                    <div class="row">
                        <p>Предлагаемый период применения (после первого вскрытия контейнера)</p>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.AppPeriodOpen, new {@class = "form-control edit-control  main-control", placeholder = "Введите значение"})
                                    <span class="input-group-addon">
                                        <a class="commentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.DropDownList("AppPeriodOpenMeasureDicId", (IEnumerable<SelectListItem>) (ViewData["AppPeriodOpenMeasureList"]),
                                        String.Empty,
                                        new
                                        {
                                            @class = "form-control edit-control  main-control"
                                        })
                                    <span class="input-group-addon">
                                        <a class="commentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Предлагаемый период применения (после растворения или разведения)</p>

                                     <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.AppPeriodMix, new { @class = "form-control edit-control  main-control", placeholder = "Введите значение" })
                                    <span class="input-group-addon">
                                        <a class="commentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.DropDownList("AppPeriodMixMeasureDicId", (IEnumerable<SelectListItem>)(ViewData["AppPeriodMixMeasureList"]),
                                        String.Empty,
                                        new
                                        {
                                            @class = "form-control edit-control  main-control"
                                        })
                                    <span class="input-group-addon">
                                        <a class="commentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Условия хранения
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Предлагаемые условия хранения</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.StorageConditions1, new { @class = "form-control edit-control  main-control", placeholder = "Введите значение" })
                        <span class="input-group-addon">
                            <a class="commentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Предлагаемые условия хранения после первого вскрытия упаковки</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.StorageConditions2, new { @class = "form-control edit-control  main-control", placeholder = "Введите значение" })
                        <span class="input-group-addon">
                            <a class="commentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/DrugDeclaration/ProtectionDocView.cshtml", @Model)
@Html.Partial("~/Views/DrugDeclaration/PatentView.cshtml", @Model)
@Html.Partial("~/Views/DrugDeclaration/OtherCountryView.cshtml", @Model)
<script type="text/javascript">

    $("#IsGrls").change(function () {
        if ($(this).val() === "True") {
            $("#grlsNoteDiv").show();
        } else {
            $("#grlsNoteDiv").hide();
        }
    });
</script>


