@using System.Globalization
@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Models.Expertise
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.EXP_DrugDosage

@{
    var btnId = "addSubstanceBtn_" + Model.Position;
}
<div class="collectionSubDiv">
    @for (var i = 0; i < Model.ExpDrugSubstances.Count; i++)
    {
        var entity = Model.ExpDrugSubstances[i];
        entity.Position = i;
        var code = Model.Id + "_" + entity.Id;
        @Html.Partial("~/Views/DrugDeclaration/TempleSubstanceView.cshtml", entity)
        if (@Model.ExpDrugSubstances[i].sr_substances != null)
        {
            <p class="substance-names" substanceId="@entity.SubstanceId" idcontrol="@code" text="@Model.ExpDrugSubstances[i].sr_substances.name"> </p>
        }
    }
</div>

<div class="row">
    <button type="button" class="btn btn-success btn-sm add-btn-from4 add-substance" id="@btnId" style="margin-top: 10px">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@ResourceSetting.add
    </button>
</div>
