@model Guid[]

@{
     //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>

    function docProjectPage1onClick() {
        var itemId = '@Model[1].ToString()';
        var id = '@Model[0].ToString()';
        $.ajax({
            url: "/IncomingDoc/FormOut?id=" + id + "&guid=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docProjectPage2onClick() {
        var itemId = '@Model[1].ToString()';
        $.ajax({
            url: "/Task/Details?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docProjectPage3onClick() {
        var itemId = '@Model[1].ToString()';
        $.ajax({
            url: "/ProjectDoc/FormBp?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docProjectPage4onClick() {
        var itemId = '@Model[1].ToString()';
        $.ajax({
            url: "/History/Index?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docProjectPage5onClick() {
        var itemId = '@Model[1].ToString()';
        $.ajax({
            url: "/ProjectDoc/FormBps?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
</script>

<div class="pwTabContent k-block">

    <form id="@("prjDocForm"+ Model[1])">
       
        <div id="@("loader"+ Model[1])">
        </div>
        <table class="pwTable">
            <tr class="pwContent">
                <td class="pwContentLeft k-block">
                    
                    <a onclick="docProjectPage1onClick()" id="@("docPage1" + Model[1])" class="pwBtn pwBtn-5 pwBtn-5a icon-corespondence"><span><img src="../../Content/images/8.png" /></span></a>
                    <a onclick="docProjectPage3onClick()" id="@("docPage3" + Model[1])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-1"><span><img src="../../Content/images/1.png" /></span></a>
                    <a onclick="docProjectPage5onClick()" id="@("docPage5" + Model[1])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-10"><span><img src="../../Content/images/10.png" /></span></a>
                    <a onclick="docProjectPage4onClick()" id="@("docPage4" + Model[1])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-7"><span><img src="../../Content/images/7.png" /></span></a>
                </td>
                <td class="pwContentRight k-block" id="@("pwContentRightId"+ Model[1])">
                    <div class="pwPageScrollable">
                        <div id="@("page" + Model[1])">
                            @Html.Partial("FormOut",Model)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="pwStatusbar k-block" colspan="2">
                    <div class="pwFloat">
                        @PW.Ncels.Database.Recources.Messages.Property_Проектисходящегодокумента_24__00
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        <span id="@("pwStatusbarState" + Model[1])"></span>
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    InitializeSizeProject('@Model[1].ToString()');
</script>

