@model Guid[]

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>

    function docPage1onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/IncomingDoc/Form?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage2onClick() {
        var itemId = '@Model[0].ToString()';
        $.ajax({
            url: "/Task/Details?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage0onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/IncomingDoc/FormRef?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage4onClick() {
        var itemId = '@Model[0].ToString()';
        $.ajax({
            url: "/History/Index?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage5onClick() {
        var itemId = '@Model[0].ToString()';
        $.ajax({
            url: "/History/ExtensionExecution?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage6onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/Application/FormPrint?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage7onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/Application/FormMyTask?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage8onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/Application/FormAllTask?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage9onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/Application/FormOutgoingList?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage10onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/Application/FormFile?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docPage11onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/Application/FormPrice?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }

    function docPage12onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/Application/FormProtocols?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
</script>

<div class="pwTabContent k-block">

    <form id="@("inDocForm"+ Model[0])">

        <div id="@("loader"+ Model[0])">
        </div>
        <table class="pwTable">

            <tr class="pwContent">
                <td class="pwContentLeft k-block">

                    @*<a onclick="docPage1onClick()" id="@("docPage1" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-1"><span><img src="../../Content/images/ref/1.png" /></span></a>*@
                    @*<a onclick="docPage6onClick()" id="@("docPage6" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-2"><span><img src="../../Content/images/ref/2.png" /></span></a>*@
                    <a onclick="docPage0onClick()" id="@("docPage0" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-0"><span><img src="../../Content/images/ref/0.png" /></span></a>
                    <a onclick="docPage2onClick()" id="@("docPage2" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-3"><span><img src="../../Content/images/ref/3.png" /></span></a>
                    @*<a onclick="docPage4onClick()" id="@("docPage4" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-4"><span><img src="../../Content/images/ref/4.png" /></span></a>*@
                    <a onclick="docPage7onClick()" id="@("docPage7" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-5"><span><img src="../../Content/images/ref/5.png" /></span></a>
                    <a onclick="docPage8onClick()" id="@("docPage8" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-6"><span><img src="../../Content/images/ref/6.png" /></span></a>
                    <a onclick="docPage9onClick()" id="@("docPage9" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-7"><span><img src="../../Content/images/ref/7.png" /></span></a>
                    <a onclick="docPage10onClick()" id="@("docPage10" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-8"><span><img src="../../Content/images/Corecponce.png" /></span></a>
                    <a onclick="docPage12onClick()" id="@("docPage12" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-12"><span><img src="../../Content/images/ref/12.png" /></span></a>
                </td>
                <td class="pwContentRight k-block" id="@("pwContentRightId"+ Model[0])">
                    <div class="pwPageScrollable">
                        <div id="@("page" + Model[0])">
                            @{
                                Html.RenderAction("FormRef","IncomingDoc",new {id= Model[0].ToString() });
                            }
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="pwStatusbar k-block" colspan="2">
                    <div class="pwFloat">
                        @PW.Ncels.Database.Recources.Messages.Property_Входящийдокумент_105__00
                    </div>
                    <div class="pwFloat pwLine">
                        
                    </div>
                    <div class="pwFloat">
                        <span id="@("pwStatusbarState" + Model[0])"></span>
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    InitializeSizeIncoming('@Model[0].ToString()');
</script>

