@using PW.Ncels.Database.Helpers
@using PW.Ncels.Database.Models
@model PW.Ncels.Database.Models.PriceDetailsModel

<div class="pwToolbar" id="@("docToolbar"+ Model.Id)">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            @*<button type="button" class="btn btn-default" data-bind="click: save, enabled: hasChanges" id="@("save"+ Model.Id)"><span class="pwToolbarButtonSave"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Сохранить_278__00</span></button>*@
            <button type="button" class="btn btn-default" data-bind="click: register, enabled: hasRegister" id="@("register" + Model.Id)"><span class="pwToolbarButtonRegister"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Зарегистрировать_116__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: registerOutgoingNumber, enabled: hasRegisterOutgoingNumber" id="@("registerOutgoingNumber" + Model.Id)"><span class="pwToolbarButtonRegister"></span><span class="pwToolbarButtonTitle">№ входящего</span></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: reviewRef, enabled: hasReview" id="@("review" + Model.Id)"><span class="pwToolbarButtonReview"></span><span class="pwToolbarButtonTitle">Отправить зявку</span></button>
            @*<button type="button" class="btn btn-default" data-bind="click: extensionExecution, enabled: hasExtensionExecution" id="@("extensionExecution" + Model.Id)"><span class="pwToolbarButtonExecuteEx"></span><span class="pwToolbarButtonTitle">Изменить срок исполнения</span></button>*@
            <button type="button" class="btn btn-default" data-bind="click: sendNote, enabled: hasPrint" id="@("sendNote" + Model.Id)"><span class="pwToolbarButtonExecute"></span><span class="pwToolbarButtonTitle">Переписка</span></button>

            @*<button type="button" class="btn btn-default" data-bind="click: execute, enabled: hasExecute" id="@("execute" + Model.Id)"><span class="pwToolbarButtonExecute"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Исполнить_279__00</span></button>*@
        </div>
        <div class="btn-group">
            @*<button type="button" class="btn btn-default" data-bind="click: print, enabled: hasPrint" id="@("print" + Model.Id)"><span class="pwToolbarButtonPrint"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Печать_353__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: changeStatusPrice, enabled: hasChangeStatusPrice" id="@("changeStatusPrice" + Model.Id)"><span class="pwToolbarButtonReview"></span><span class="pwToolbarButtonTitle">Статус</span></button>*@

            <button type="button" class="btn btn-default" data-bind="click: sendArchive, enabled: hasSendArchive" id="@("sendArchive" + Model.Id)"><span class="pwToolbarButtonDelete"></span><span class="pwToolbarButtonTitle">Аннулировать</span></button>

        </div>

    </div>
</div>
<div class="pwPage pwPageEx">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">1.1. Производитель</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2">1.2. Владелец регистрационного удостоверения</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3">1.3. Доверенное лицо/компания</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4">2. Информация об ИМН</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <h3 class="m-t-none m-b">1. Заявитель</h3>
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <p class="text-bold">1.1. Производитель лекарственного средства</p>
                            <div class="form-group">
                                <label>Наименование на государственном языке</label>
                                <p>@Model.Manufaturer.NameKz</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наименование на русском языке</label>
                                <p>@Model.Manufaturer.NameRu</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наименование на английском языке</label>
                                <p>@Model.Manufaturer.NameEn</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Страна</label>
                                <p>@Model.Manufaturer.CountryName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Юридический адрес</label>
                                <p>@Model.Manufaturer.AddressLegal</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Фактический адрес</label>
                                <p>@Model.Manufaturer.AddressFact</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Телефон</label>
                                <p>@Model.Manufaturer.Phone</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Факс</label>
                                <p>@Model.Manufaturer.Fax</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>e-mail</label>
                                <p>@Model.Manufaturer.Email</p>
                            </div>
                        </div>
                        <div class="col-lg-6 b-l">
                            <p class="text-bold">Контактное лицо</p>
                            <div class="form-group">
                                <label>Фамилия, имя, отчество (при его наличии)</label>
                                <p>@Model.Manufaturer.ContactFio</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Должность</label>
                                <p>@Model.Manufaturer.ContactPosition</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Телефон</label>
                                <p>@Model.Manufaturer.ContactPhone</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Факс</label>
                                <p>@Model.Manufaturer.ContactFax</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>e-mail</label>
                                <p>@Model.Manufaturer.ContactEmail</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наличие в РК структурного подразделения (ТОО, филиал и прочие) наделенного функцией реализации для оптовых дистрибьюторов</label>
                                <p>@Model.PriceProject.Filial</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <h3 class="m-t-none m-b">1. Заявитель</h3>
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <p class="text-bold">1.2. Владелец регистрационного удостоверения</p>
                            <div class="form-group">
                                <label>Название на государственном языке</label>
                                <p>@Model.Holder.NameKz</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Название на русском языке</label>
                                <p>@Model.Holder.NameRu</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Название на английском языке</label>
                                <p>@Model.Holder.NameEn</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Страна</label>
                                <p>@Model.Holder.CountryName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Юридический адрес</label>
                                <p>@Model.Holder.AddressLegal</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Фактический адрес</label>
                                <p>@Model.Holder.AddressFact</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Телефон</label>
                                <p>@Model.Holder.Phone</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Факс</label>
                                <p>@Model.Holder.Fax</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>e-mail</label>
                                <p>@Model.Holder.Email</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Фамилия, имя, отчество (при его наличии) руководителя</label>
                                <p>@Model.Holder.BossFio</p>
                            </div>
                        </div>
                        <div class="col-lg-6 b-l">
                            <p class="text-bold">Контактное лицо</p>
                            <div class="form-group">
                                <label>Фамилия, имя, отчество (при его наличии)</label>
                                <p>@Model.Holder.ContactFio</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Должность</label>
                                <p>@Model.Holder.ContactPosition</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Телефон</label>
                                <p>@Model.Holder.ContactPhone</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Факс</label>
                                <p>@Model.Holder.ContactFax</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>e-mail</label>
                                <p>@Model.Holder.ContactEmail</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <h3 class="m-t-none m-b">1. Заявитель</h3>
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <p class="text-bold">1.3. Доверенное лицо/компания, представительство от заявителя, уполномоченное проводить действия во время процедуры регистрации цены в Республике Казахстан</p>
                            <div class="form-group">
                                <label>Название на государственном языке / Фамилия</label>
                                <p>@Model.Proxy.NameKz</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Название на русском языке / Имя</label>
                                <p>@Model.Proxy.NameRu</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Название на английском языке / Отчество</label>
                                <p>@Model.Proxy.NameEn</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Страна</label>
                                <p>@Model.Proxy.CountryName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Юридический адрес</label>
                                <p>@Model.Proxy.AddressLegal</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Фактический адрес</label>
                                <p>@Model.Proxy.AddressFact</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Телефон</label>
                                <p>@Model.Proxy.Phone</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Факс</label>
                                <p>@Model.Proxy.Fax</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>e-mail</label>
                                <p>@Model.Proxy.Email</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Фамилия, имя, отчество (при его наличии) руководителя</label>
                                <p>@Model.Proxy.BossFio</p>
                            </div>
                        </div>
                        <div class="col-lg-6 b-l">
                            <p class="text-bold">Данные о доверенности</p>
                            <div class="form-group">
                                <label>№ доверенности</label>
                                <p>@Model.PriceProject.DoverennostNumber</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Дата выдачи</label>
                                <p>@Model.PriceProject.DoverennostCreatedDate</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Срок действия</label>
                                <p>@Model.PriceProject.DoverennostExpiryDate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <h3 class="m-t-none m-b">2. Информация об изделиях медицинского назначения</h3>
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <div class="form-group">
                                <label>Торговое наименование изделия медицинского назначения</label>
                                <p>@Model.PriceProject.NameRu</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Номер и дата регистрационного удостоверения</label>
                                <p>@Model.PriceProject.RegNumber @Model.PriceProject.RegDate</p>
                            </div>
                            @if (Model.CurrentPrice != null)
                            {
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label>Цена производителя</label>
                                    <p>@Model.CurrentPrice.ManufacturerPrice</p>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label>CIP цена</label>
                                    <p>@Model.CurrentPrice.CipPrice</p>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label>Тип референтной цены</label>
                                    <p>@Model.CurrentPrice.RefPriceTypeName</p>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label>Референтная цена</label>
                                    <p>@Model.CurrentPrice.RefPrice</p>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label>Цена заявителя (в тенге) для регистрации за ед. изм</label>
                                    <p>@Model.CurrentPrice.UnitPrice</p>
                                </div>
                            }
                        </div>
                        <div class="col-lg-6 b-l">
                            <div class="form-group">
                                <label>Класс безопасности</label>
                                <p>@Model.PriceProject.ImnSecuryTypeName</p>
                            </div>
                        </div>
                    </div>
                    @if (Model.CurrentPrice == null)
                    {
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="text-bold">Комплектность</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <grid-light-object object-id="@Model.PriceProject.Id" url="/Price/GetPriceType2" dt-id="gridPriceType2" dt-selectfun="selectGridPriceType2" reload-row="reloadGridPriceType2" column-order="1" dt-options="dtOptions1" dt-columns="dtColumns1"></grid-light-object>
                                <table id="dtOptions1" class="display" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Наименование</th>
                                        <th>Цена производителя</th>
                                        <th>CIP цена</th>
                                        <th>Тип референтной цены</th>
                                        <th>Референтная цена</th>
                                        <th>Цена заявителя</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    }
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-bold">Сведения о цене производителя в других странах, где имеется регистрация изделия медицинского назначения</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <grid-light-object object-id="@Model.PriceProject.Id" url="/Price/GetPriceType3" dt-id="gridPriceType3" dt-selectfun="selectGridPriceType3" reload-row="reloadGridPriceType3" column-order="1" dt-options="dtOptions1" dt-columns="dtColumns2"></grid-light-object>
                            <table id="dtOptions2" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Страна</th>
                                        <th>Цена производителя</th>
                                        <th>Ссылка на источник информации</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @*SetReadonlyDoc('@(Model.Id)', '@(EmployePermissionHelper.IsEditDoc)');
    InitializeDataIncoming('@Model.Id.ToString()', '@(Model.Length==2?Model[1].ToString():null)');*@

    $(document).ready(function () {
        $('#dtOptions1').DataTable({
            "processing": true,
            "serverSide": true,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "ajax": {
                "url": "/Grid/GetPriceType2?id=@Model.PriceProject.Id",
                "type": "POST"
            },
            "columns": [
                { "data": "PartsName" },
                { "data": "ManufacturerPrice" },
                { "data": "CipPrice" },
                { "data": "RefPriceTypeName" },
                { "data": "RefPrice" },
                { "data": "UnitPrice" }
            ]
        });
    });

    $(document).ready(function () {
        $('#dtOptions2').DataTable({
            "processing": true,
            "serverSide": true,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "ajax": {
                "url": "/Grid/GetPriceType3?id=@Model.PriceProject.Id",
                "type": "POST"
            },
            "columns": [
                { "data": "CountryName" },
                { "data": "ManufacturerPrice" },
                { "data": "ManufacturerPriceNote" }
            ]
        });
    });
</script>

<script>

    InitializeDataIncoming('@Model.Id.ToString()', '@(null)');
</script>