@using PW.Ncels.Database.Helpers
@using PW.Ncels.Database.Models
@model Guid[]

<div class="pwToolbar" id="@("docToolbar"+ Model[0])">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: save, enabled: hasChanges" id="@("save"+ Model[0])"><span class="pwToolbarButtonSave"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Сохранить_278__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: register, enabled: hasRegister" id="@("register" + Model[0])"><span class="pwToolbarButtonRegister"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Зарегистрировать_116__00</span></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: review, enabled: hasReview" id="@("review" + Model[0])"><span class="pwToolbarButtonReview"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Нарассмотрение_141__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: extensionExecution, enabled: hasExtensionExecution" id="@("extensionExecution" + Model[0])"><span class="pwToolbarButtonExecute"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Продлитьисполнение_67__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: execute, enabled: hasExecute" id="@("execute" + Model[0])"><span class="pwToolbarButtonExecute"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Исполнить_279__00</span></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: print, enabled: hasPrint" id="@("print" + Model[0])"><span class="pwToolbarButtonPrint"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Печать_353__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: deleteDoc" id="@("delete" + Model)"><span class="pwToolbarButtonDelete"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Удалить_334__00</span></button>        
        </div>
    </div>
</div>
<div class="pwPage">
    <table class="pwDocTable">
        <colgroup>
            <col width="180px" />
            <col width="265px" />
            <col width="10px" />
            <col width="180px" />
            <col width="265px" />
        </colgroup>
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Типконтроля_195__00</td>
            <td>
                <select id="@("MonitoringType" + Model[0])" id="@("MonitoringType" + Model[0])" data-bind="value: document.MonitoringType, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" />
            </td>
            <td></td>
            <td>
                <div style="position: relative;">
                    <span data-for="@("ExecutionDate"+ Model[0])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Срокисполнения_115__00
            </td>
            <td>
                <input name="@("ExecutionDate"+ Model[0])" id="@("ExecutionDate"+ Model[0])" data-bind="value: document.ExecutionDate, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитедату_117__00" class="pwWidth100"  data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Срокисполнения_115__00" />
            </td>
        </tr>
        <tr>
            <td>
                @PW.Ncels.Database.Recources.Messages.Property_Первичныйсрокисп_58__00
            </td>
            <td>
                <input id="@("AutoFirstExecutionDate" + Model[0])" name="@("AutoFirstExecutionDate" + Model[0])" data-bind="value: document.FirstExecutionDate, events: { change: change }" class="pwWidth100" readonly />
            </td>
            <td></td>
            <td>
                @PW.Ncels.Database.Recources.Messages.Property_Фактическийсрокисп_42__00
            </td>
            <td>
                <input id="@("AutoFactExecutionDate" + Model[0])" name="@("AutoFactExecutionDate" + Model[0])" data-bind="value: document.FactExecutionDate, events: { change: change }" class="pwWidth100" />
            </td>
        </tr>
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Номер_354__00</td>
            <td>
                <input name="@("Number"+ Model[0])" id="@("Number"+ Model[0])" data-bind="value: document.Number, events: { change: change }" class="pwWidth100 pwTextBoxReadonly" />
            </td>
            <td></td>
            <td>
                <div style="position: relative;">
                    <span data-for="@("DocumentDate" + Model[0])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_От_393__00
            </td>
            <td>
                <input name="@("DocumentDate"+ Model[0])" id="@("DocumentDate"+ Model[0])" data-bind="value: document.DocumentDate, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитедату_117__00" class="pwWidth100" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("ExecutorsId" + Model[0])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Адресат_308__00
            </td>
            <td colspan="4">
                <select name="@("ExecutorsId" + Model[0])" id="@("ExecutorsId" + Model[0])" data-bind="value: document.ExecutorsId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Адресат_308__00" />
            </td>
        </tr>
        <tr style="height: 67px;">
            <td>
                <div style="position: relative;">
                    <span data-for="@("Summary" + Model[0])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00
            </td>
            <td colspan="4">
                <textarea name="@("Summary"+ Model[0])" id="@("Summary"+ Model[0])" data-bind="value: document.Summary, events: { change: change }" class="pwWidth100 pwTextArea" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00" />

            </td>
        </tr>
        <tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("SignerId" + Model[0])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Подписано_261__00
            </td>
            <td colspan="4">
                <select name="@("SignerId" + Model[0])" id="@("SignerId" + Model[0])" data-bind="value: document.SignerId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Подписано_261__00" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("AdministrativeTypeDictionaryId" + Model[0])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Видпротокола_190__00
            </td>
            <td>
                <select name="@("AdministrativeTypeDictionaryId" + Model[0])" id="@("AdministrativeTypeDictionaryId" + Model[0])" data-bind="value: document.AdministrativeTypeDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Видпротокола_190__00" />
            </td>
            <td></td>
            <td>
                <div style="position: relative;">
                    <span data-for="@("LanguageDictionaryId" + Model[0])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00
            </td>
            <td>
                <select name="@("LanguageDictionaryId" + Model[0])" id="@("LanguageDictionaryId" + Model[0])" data-bind="value: document.LanguageDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("PageCount" + Model[0])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_ЛистПрилДругое_70__00
            </td>
            <td>
                <input id="@("PageCount" + Model[0])" name="@("PageCount" + Model[0])" data-bind="value: document.PageCount, events: { change: change }" style="width: 60px;" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_ЛистПрилДругое_70__00" />&nbsp;/
                <input id="@("CopiesCount" + Model[0])" name="@("CopiesCount" + Model[0])" data-bind="value: document.CopiesCount, events: { change: change }" style="width: 60px;" />&nbsp;/
                <input id="@("Counters" + Model[0])" name="@("Counters" + Model[0])" data-bind="value: document.Counters, events: { change: change }" style="width: 125px;" />
            </td>
            <td></td>
            <td>
                <div style="position: relative;">
                    <span data-for="@("BlankNumber" + Model[0])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Номербланка_196__00
            </td>
            <td>
                <input name="@("BlankNumber" + Model[0])" id="@("BlankNumber" + Model[0])" data-bind="value: document.BlankNumber, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Введитетекст_118__00" class="pwWidth100"  data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Номербланка_196__00" />
            </td>
        </tr>

        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Дело_375__00</td>
            <td colspan="4">
                <select name="@("NomenclatureDictionaryId"+ Model[0])" id="@("NomenclatureDictionaryId"+ Model[0])" data-bind="value: document.NomenclatureDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" />
            </td>
        </tr>
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Том_382__00</td>
            <td>
                <input name="@("Deed" + Model[0])" id="@("Deed" + Model[0])" data-bi data-bind="value: document.Deed" class="pwWidth100" />
            </td>
            <td></td>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Листы_360__00</td>
            <td>
                <input name="@("Book" + Model[0])" id="@("Book" + Model[0])" data-bind="value: document.Book" class="pwWidth100" />
            </td>
        </tr>
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Акты_376__00</td>
            <td colspan="4">
                <input name="@("Akt" + Model[0])" id="@("Akt" + Model[0])" data-bind="value: document.Akt" class="pwWidth100" />
            </td>
        </tr>
        <tr id="@("attachEdit" + Model[0])">
            <td>@PW.Ncels.Database.Recources.Messages.Property_Вложения_280__00</td>
            <td colspan="4">
                <input name="files" id="@("files" + Model[0])" type="file" title="@PW.Ncels.Database.Recources.Messages.ВыбратьФайл" />
            </td>
        </tr>
        <tr id="@("attachReadonly" + Model[0])">
            <td>@PW.Ncels.Database.Recources.Messages.Property_Вложения_280__00</td>
            <td colspan="4">
                @(Html.Kendo().ListView<UploadInitialFile>()
                                .Name("filesReadonly" + Model[0])
                                .TagName("div").HtmlAttributes(new { @style = "border:0;" })
                                .ClientTemplateId("fileReadTemplate")
                                .DataSource(dataSource => dataSource.Read(read => read.Action("FileReadonly", "Upload", new { docId = Model[0] })))
                )
            </td>
        </tr>
    </table>
</div>

<script>
    SetReadonlyDoc('@(Model[0])', '@(EmployePermissionHelper.IsEditDoc)');
    InitializeDataProtocol('@Model[0].ToString()', '@(Model.Length==2?Model[1].ToString():null)');
</script>
