@model PW.Ncels.Database.DataModel.OBK_AssessmentDeclaration

<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Необходимо принять соглашение:
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            @*1-Черновик 4 Возвращено*@
                            @if (new List<int>(new int[] { 1, 4 }).Contains(Model.StatusId))
                            {
                                @Html.CheckBoxFor(model => model.AssuranceCheck, new { @class = "form-control edit-control main-control", @style = "float: left;margin: 0 auto;width: 20px;" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(model => model.AssuranceCheck, new { @class = "form-control edit-control main-control", @disabled="", @style = "float: left;margin: 0 auto;width: 20px;" })
                            }
                                    <label id="assuranceChek">&nbsp; Гарантирую достоверность предоставленной информации</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Обязуюсь:</label>
                            <div class="input-group">
                                @if (new List<int>(new int[] { 1, 4 }).Contains(Model.StatusId))
                                {
                                    @Html.CheckBoxFor(model => model.OrderCheck, new { @class = "form-control edit-control main-control", @style = "float: left;margin: 0 auto;width: 20px;" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(model => model.OrderCheck, new { @class = "form-control edit-control main-control", @disabled = "", @style = "float: left;margin: 0 auto;width: 20px;" })
                                }
                                <label id="orderCheck">&nbsp; соблюдать порядок оценки безопасности и качества</label>
                            </div>
                            <div class="input-group">
                                @if (new List<int>(new int[] { 1, 4 }).Contains(Model.StatusId))
                                {
                                    @Html.CheckBoxFor(model => model.StabilityCheck, new { @class = "form-control edit-control main-control", @style = "float: left;margin: 0 auto;width: 20px;" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(model => model.StabilityCheck, new { @class = "form-control edit-control main-control", @disabled = "", @style = "float: left;margin: 0 auto;width: 20px;" })
                                }
                                <label id="stabilityCheck">&nbsp; обеспечивать стабильность показателей заявленной продукции</label>
                            </div>
                            <div class="input-group">
                                @if (new List<int>(new int[] { 1, 4 }).Contains(Model.StatusId))
                                {
                                    @Html.CheckBoxFor(model => model.PaymentCheck, new { @class = "form-control edit-control main-control", @style = "float: left;margin: 0 auto;width: 20px;" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(model => model.PaymentCheck, new { @class = "form-control edit-control main-control", @disabled = "", @style = "float: left;margin: 0 auto;width: 20px;" })
                                }
                                <label id="paymentCheck">&nbsp; оплатить в соответствии с договором расходы связанные с проведением оценки безопасности и качества и последующими испытаниями</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

