@using PW.Ncels.Database.Constants
@model PW.Ncels.Database.DataModel.OBK_AssessmentDeclaration

@{
    var @startDate = Model?.StartDate ?? "";
    var @endDate = Model?.EndDate ?? "";
    //var @orgForm = Model?.OrganizationFormId ?? "";
    var @nameKz = Model?.NameKz ?? "";
    var @nameRu = Model?.NameRu ?? "";
    var @nameEn = Model?.NameEn ?? "";
    var @chiefLastName = Model?.ChiefLastName ?? "";
    var @chiefFirstName = Model?.ChiefFirstName ?? "";
    var @chiefMiddleName = Model?.ChiefMiddleName ?? "";
    var @chiefPosition = Model?.ChiefPosition ?? "";
    var @addressFact = Model?.AddressFact ?? "";
    var @addressLegal = Model?.AddressLegal ?? "";
    var @phone = Model?.Phone ?? "";
    var @email = Model?.Email ?? "";
    var @bankBik = Model?.BankBik ?? "";
    var @bankIik = Model?.BankIik ?? "";
    var @bankName = Model?.BankName ?? "";
}


<div class="panel-body">
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Данные по договору
            </div>
            <div class="panel-body">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-12">
                        <div class="form-group">


                            <div class="col-lg-6">
                                <label for="name" id="ContractIdLabel" class="col-lg-6" style="margin-top: 5px">Договор:</label>
                                <div class="input-group">
                                    @Html.DropDownList("ContractId", (IEnumerable<SelectListItem>)(ViewData["ContractList"]),
                                        String.Empty,
                                        new
                                        {
                                            @class = "form-control edit-control main-control"
                                        })
                                    <span class="input-group-addon">
                                        <a class="OBKcommentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <label for="name" class="col-lg-6" style="margin-top: 5px">Дата начала:</label>
                                <div class="input-group">
                                    <input class="form-control edit-control main-control" type="text" readonly="readonly" id="startDate" value="@startDate">
                                    <span class="input-group-addon">
                                        <a class="OBKcommentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <label for="name" class="col-lg-7" style="margin-top: 5px">Дата окончания:</label>
                                <div class="input-group">
                                    <input class="form-control edit-control main-control" type="text" readonly="readonly" id="endDate" value="@endDate">
                                    <span class="input-group-addon">
                                        <a class="OBKcommentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <label>Заявитель:</label>
                <div class="form-group">
                    <label>Организационная форма:</label>
                    <div class="input-group">
                        @Html.DropDownList("OrganizationFormId", (IEnumerable<SelectListItem>) (ViewData["OrganizationForm"]),
                            String.Empty,
                            new
                            {
                                @class = "form-control edit-control",
                                @readonly = true,
                                @disabled = true
                            })

                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Наименование на государственном языке*:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="nameKz" value="@nameKz">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Наименование на русском языке:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="nameRu" value="@nameRu">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Наименование на английском языке:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="nameEn" value="@nameEn">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <label>Заявитель, в лице:</label>
                <div class="form-group">
                    <label>Фамилия руководителя*:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="chiefLastName" value="@chiefLastName">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Имя руководителя*:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="chiefFirstName" value="@chiefFirstName">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Отчество руководителя:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="chiefMiddleName" value="@chiefMiddleName">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Должность руководителя*:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="chiefPosition" value="@chiefPosition">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <label>Адрес заявителя:</label>
                <div class="form-group">
                    <label>Страна:</label>
                    <div class="input-group">
                        @Html.DropDownList("CountryId", (IEnumerable<SelectListItem>)(ViewData["Counties"]), String.Empty, new { @class = "form-control edit-control", @readonly= true, @disabled = true })
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Юридический адрес:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="addressLegal" value="@addressLegal">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Фактический адрес:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="addressFact" value="@addressFact">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Телефон:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="phone" value="@phone">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>e-mail:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="email" value="@email">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <label>Банковские реквизиты:</label>
                <div class="form-group">
                    <label>Наименование банка:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="bankName" value="@bankName">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Расчетный счет:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="bankIik" value="@bankIik">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Валюта:</label>
                    <div class="input-group">
                        @Html.DropDownList("CurrencyId", (IEnumerable<SelectListItem>)(ViewData["Courrency"]), String.Empty, new { @class = "form-control edit-control", @readonly = true, @disabled = true })
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>SWIFT:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="bankBik" value="@bankBik">
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12">
                    <label>Данные по сертификату:</label>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label id="CertificateCheckId">Наличие сертификата:</label>
                        <div class="input-group">
                            @Html.DropDownList("CertificateGMPCheck", (IEnumerable<SelectListItem>) (ViewData["IsGMPList"]), String.Empty, new {@class = "form-control edit-control main-control"})
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label id="CertificateTypeLableId">Тип сертификата:</label>
                        <div class="input-group">
                            @Html.DropDownList("CertificateTypeId", (IEnumerable<SelectListItem>)(ViewData["CertificateType"]), String.Empty, new { @class = "form-control edit-control main-control", @readonly = true })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label id="CertificateId">Номер сертификата:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.CertificateGMP, new {@class = "form-control edit-control main-control", @readonly = true})
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label id="CertificateCountryLabelId">Страна выдачи сертификата:</label>
                        <div class="input-group">
                            @Html.DropDownList("CertificateCountryId", (IEnumerable<SelectListItem>)(ViewData["Counties"]), String.Empty, new { @class = "form-control edit-control main-control", @readonly = true })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label id="CertificateStartDateId">Срок начала действия:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.CertificateStartDate, new { @class = "form-control edit-control main-control date-control", placeholder = "Введите значение", @readonly = true, disabled = true })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label id="CertificateEndDateId">Срок окончания действия:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.CertificateDate, new {@class = "form-control edit-control main-control date-control", placeholder = "Введите значение", @readonly = true, disabled = true })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label id="CertificateOrganizationLabelId">Орган (организация) выдачи сертификата:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.CertificateOrganization, new {@class = "form-control edit-control main-control", @readonly = true })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label id="CertificateManufacturNameLabelId">Наименование производителя</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model=>model.CertificateManufacturName, new {@class= "form-control edit-control main-control", @readonly = true })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <script type="text/javascript">

        function setDateFormat(control) {
            $(control).datepicker({
                dateFormat: 'dd.mm.yy',
                language: 'ru',
                autoclose: true
            });
        }

        $("#CertificateGMPCheck").change(function() { checkCert(); });

        function checkCert() {
            var cerGMPCheck = null;
            if(@Model.TypeId === 3) {
                cerGMPCheck = $("#CertificateGMPCheck").val("True");
                cerGMPCheck = "True";
                $("#CertificateGMPCheck").attr("readonly", true).attr("disabled", true);
            } else {
                cerGMPCheck = $("#CertificateGMPCheck").val();
            }
            if (cerGMPCheck === "True") {
                $("#CertificateGMP").attr("readonly", false);
                $("#CertificateDate").attr("readonly", false).attr("disabled", false);
                $("#CertificateStartDate").attr("readonly", false).attr("disabled", false);
                $("#CertificateTypeId").attr("readonly", false).attr("disabled", false);
                $("#CertificateCountryId").attr("readonly", false).attr("disabled", false);
                $("#CertificateOrganization").attr("readonly", false);
                $("#CertificateManufacturName").attr("readonly", false);
            } else {
                $("#CertificateGMP").attr("readonly", true);
                $("#CertificateDate").attr("readonly", true).attr("disabled", true);
                $("#CertificateStartDate").attr("readonly", true).attr("disabled", true);
                $("#CertificateTypeId").attr("readonly", true).attr("disabled", true);
                $("#CertificateCountryId").attr("readonly", true).attr("disabled", true);
                $("#CertificateOrganization").attr("readonly", true);
                $("#CertificateManufacturName").attr("readobly", true);
            }
        }

        $(document).ready(function () {
            setDateFormat(".date-control");
            checkCert();

            $("#nameEn").keypress(function () {
                var key = window.event.keyCode;
                var allowed =
                    '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ :;,.?!"£$%^&*()_+-*{}~<>&"\'';

                return allowed.indexOf(String.fromCharCode(key)) != -1;
            });
            $(".main-control").change(function () {
                var controlId = $(this).attr('id');
                var type = "string";
                if ($(this).attr('typeField') != null) {
                    type = $(this).attr('typeField');
                }
                var fieldDisplay = $(this).val();
                var fieldValue = $(this).val();

                if ($(this).is("select")) {
                    fieldDisplay = $(this).find('option:selected').text();
                }
                if ($(this).hasClass("chzn-select") && fieldValue != null && fieldValue.length > 0) {
                    fieldValue = fieldValue.join(',');
                }
                if ($(this).hasClass("select2-offscreen") && $(this).select2('data') != null) {
                    fieldDisplay = $(this).select2('data').text;
                }
                UpdateModel("main", null, null, controlId, fieldValue, type, fieldDisplay);
            });
        });

        $("#ContractId").change(function () {
            var val = $(this).val();
            if (val == null || val.length === 0) {
                //перечислить поля
                return;
            } $.ajax({
                type: "POST",
                url: '@Url.Action("GetContract")',
                data: { 'id': val },
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.isSuccess) {
                        var response = data.result;
                        $("#startDate").val(response.StartDate);
                        $("#endDate").val(response.EndDate);
                        $("#declarant").val(response.Declarant);
                        $("#OrganizationFormId").val(response.OrganizationFormId);
                        $("#nameKz").val(response.NameKz);
                        $("#nameRu").val(response.NameRu);
                        $("#nameEn").val(response.NameEn);
                        $("#chiefLastName").val(response.ChiefLastName);
                        $("#chiefFirstName").val(response.ChiefFirstName);
                        $("#chiefMiddleName").val(response.ChiefMiddleName);
                        $("#chiefPosition").val(response.ChiefPosition);
                        $("#addressFact").val(response.AddressFact);
                        $("#addressLegal").val(response.AddressLegal);
                        $("#phone").val(response.Phone);
                        $("#email").val(response.Email);
                        $("#bankBik").val(response.BankBik);
                        $("#bankIik").val(response.BankIik);
                        $("#bankName").val(response.BankName);
                        $("#CountryId").val(response.CountryId);
                        $("#CurrencyId").val(response.CurrencyId);

                        var product = response.ObkRsProductses;
                        $("#tableProducts").DataTable({
                            data: product,
                            destroy: true,
                            searching: false,
                            iDisplayLength: 5,
                            rowCallback: rowCallback,
                            "columns": [
                                { "data": "Id" },
                                { "data": "NameRu" },
                                { "data": "DrugFormFullName" },
                                { "data": "ProducerNameRu" },
                                { "data": "DrugFormBoxCount" },
                                { "data": "CountryNameRu" }
                            ]
                        });

                    } else {
                        $("#startDate").val("");
                        $("#endDate").val("");
                        $("#declarant").val("");
                        $("#OrganizationFormId").val(null);
                        $("#nameKz").val("");
                        $("#nameRu").val("");
                        $("#nameEn").val("");
                        $("#regNumber").val("");
                        $("#chiefLastName").val("");
                        $("#chiefFirstName").val("");
                        $("#chiefMiddleName").val("");
                        $("#chiefPosition").val("");
                        $("#addressFact").val("");
                        $("#addressLegal").val("");
                        $("#phone").val("");
                        $("#email").val("");
                        $("#bankBik").val("");
                        $("#bankIik").val("");
                        $("#bankName").val("");
                        $("#CountryId").val(null);
                        $("#CurrencyId").val(null);
                    }
                },
                error: function () {
                    alert("Connection Failed. Please Try Again");
                }
            });
        });
    </script>
