@using PW.Ncels.Database.Constants
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Все</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Заявки</a>
            </li>
            <li class="active">
                <strong>Все</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="safetyDeclataionGrid">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Список всех заявок
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content ibox-heading" @*hidden="hidden"*@>
                    <div class="note-font btn-group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-file-text-o"></i> Создать заявку
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Create", "SafetyAssessment", new {type= @CodeConstManager.OBK_SA_SERIAL })">Заявка на серийную оценку безопасности и качества</a></li>
                                <li><a href="@Url.Action("Create", "SafetyAssessment", new {type= @CodeConstManager.OBK_SA_PARTY })">Заявка на оценку безопасности и качества каждой серии(партии)</a></li>
                                <li><a href="@Url.Action("Create", "SafetyAssessment", new {type = @CodeConstManager.OBK_SA_DECLARATION })">Заявка на оценку безопасности и качества путем декларирования</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <grid-object url="/SafetyAssessment/ReadSafetyAssessmentDeclaration?type=1" column-order="5"></grid-object>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteApp(id) {
        var success = function () {
            window.location.href = '@Url.Action("Delete", "SafetyAssessment")/' + id;
        }
        var cancel = function () {
        };
        showConfirmation("Сохранить", "Вы уверены, что хотите удалить?", success, cancel);
    }
</script>

