@using PW.Ncels.Database.Constants
@model PW.Ncels.Database.DataModel.OBK_AssessmentDeclaration
    
@{
    Model.CreatedDate = Convert.ToDateTime(DateTime.Now.ToShortDateString());
}


<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" style="margin-bottom: 5px">
                        <div class="col-lg-8">
                            <label>Способ проведения*</label>
                            <div class="input-group" id="typeIds">
                                @Html.DropDownList("TypeId", (IEnumerable<SelectListItem>)(ViewData["TypeList"]),String.Empty, new { @class = "form-control edit-control main-control", @disabled=true})
                                <span class="input-group-addon">
                                    <a class="OBKcommentDialog" href="#">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Дата заполнения*:</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.CreatedDate, new {@class = "form-control edit-control main-control date-control", placeholder = "Введите значение" })
                                <span class="input-group-addon">
                                    <a class="OBKcommentDialog" href="#">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" id="invoiceAgentDiv" style="display: block">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Документы:</label>
                    <div class="form-group">
                        <label>№ договора поставки:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceContractRu, new { @class = "form-control edit-control main-control" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Договора каз.:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceContractKz, new { @class = "form-control edit-control main-control" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Дата договора поставки:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceContractDate, new { @class = "form-control edit-control main-control date-control", placeholder = "Введите значение" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>№ инвойса:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceRu, new { @class = "form-control edit-control main-control" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>№ инвойса на казахском языке:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceKz, new { @class = "form-control edit-control main-control" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Дата инвойса:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceDate, new {@class = "form-control edit-control main-control date-control", placeholder = "Введите значение" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label id="invoiceAgentLabel">Представитель:</label>
                    <div class="form-group">
                        <label id="surnameLabel">Фамилия*</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceAgentLastName, new { @class = "form-control edit-control main-control" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="nameLabel">Имя*</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceAgentFirstName, new { @class = "form-control edit-control main-control" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Отчество</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceAgentMiddelName, new { @class = "form-control edit-control main-control" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="positionLabel">Должность*</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.InvoiceAgentPositionName, new { @class = "form-control edit-control main-control" })
                            <span class="input-group-addon">
                                <a class="OBKcommentDialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var type = $("#TypeId").val();
        if (type === "1") {
            document.getElementById('invoiceAgentDiv').style.display = "none";
        }
    });
</script>
