@model PW.Ncels.Database.Models.OBK.OBKExpertiseConclusion

<style>
    td {
        border: 1px #beebff solid; 
        padding: 5px;
    }

    .selected {
        background-color: #beebff;
        color: #2e2e2e;
    }
</style>
@*<div id="loadExpertiseConclusion_@Model.AssessmentDeclarationId">*@
    <div @*id="expertiseConclusion_@Model.AssessmentDeclarationId"*@ class="panel-body">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pwToolbar">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button type="button" id="ecSignBtn_@Model.AssessmentDeclarationId" style="display:none" class="btn btn-default">Завершить ОБиК и подписать</button>
                                <button type="button" class="btn btn-default" id="result_@Model.AssessmentDeclarationId" onclick="createResult()" style="display:none">Сформировать ответ</button>
                                <button type="button" class="btn btn-default" id="showResult_@Model.AssessmentDeclarationId" onclick="showResult()" style="display:none">Просмотр</button>
                                <button type="button" class="btn btn-default" id="showPdfResult_@Model.AssessmentDeclarationId" onclick="showPdfResult()" style="display:none">Печатная форма</button>
                                <button type="button" class="btn btn-default" Id="showProtocol_@Model.AssessmentDeclarationId" style="display: none" onclick="showProtocol()">Печатная форма протокола</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Информация о продукции
                        </div>
                        <div class="panel-body">
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <table id="tableExperConclution_@Model.AssessmentDeclarationId" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td></td>
                                                        <td><b>Наименование продукции</b></td>
                                                        <td><b>Серия</b></td>
                                                        <td><b>Результат</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (var index = 0; index < Model.ExpertiseConclusion.Count; index++)
                                                    {
                                                        var t = Model.ExpertiseConclusion[index];
                                                        var i = index + 1;
                                                        var btnResult = t.BtnResult;
                                                        <tr rowid="@t.ProductSeriesId" pid="@t.ProductId" rcr="@t.ResearchCenterResult" br="@btnResult" rcrn="@t.ResearchCenterResultName">
                                                            <td>@i</td>
                                                            <td>@t.ProductNameRu</td>
                                                            <td>
                                                                <a onclick="getTasksDetails('@Model.AssessmentDeclarationId', '@t.ProductSeriesId')">
                                                                    <span style="color: rgb(66, 139, 202);">@t.ProductSeries</span>
                                                                </a>
                                                            </td>
                                                            <td>@t.ResearchCenterResultName</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div hidden="hidden" id="panelExpertiseConclusion_@Model.AssessmentDeclarationId">
                        <div id="expertiseConclusion_@Model.AssessmentDeclarationId"></div>
                    </div>
                </div>
            </div>
            <div hidden="hidden" id="panelTaskDetails_@Model.AssessmentDeclarationId" class="modal fade">
                <div id="responseContent_@Model.AssessmentDeclarationId" class="modal-dialog modal-lg" style="width: 1100px !important;"></div>
            </div>
        </div>
    </div>
@*</div>*@
<script>

    $("#tableExperConclution_@Model.AssessmentDeclarationId tbody tr").click(function() {
        $(this).addClass('selected').siblings().removeClass('selected');
        $("#panelExpertiseConclusion_@Model.AssessmentDeclarationId").hide();
        $("#showProtocol_@Model.AssessmentDeclarationId").show();
        showEcSignBtnValid();
        var code = $(this).attr('br');
        var code2 = $(this).attr('rcrn');
        if (code2 === "Испытания не завершены") {
            $("#result_@Model.AssessmentDeclarationId").hide();
            $("#showResult_@Model.AssessmentDeclarationId").hide();
            $("#showPdfResult_@Model.AssessmentDeclarationId").hide();
            $("#showProtocol_@Model.AssessmentDeclarationId").hide();
        } else {
            if (code === "2")
                btnHide('hide');
            else
                btnHide('show');
        }
    });

    function showProtocol() {
        $("#tableExperConclution_@Model.AssessmentDeclarationId tbody tr.selected").each(function () {
            var psid = $(this).attr('rowid');
            window.open('/OBKTask/SubTaskProtokol?psId=' + psid);
        });
    }

    function showEcSignBtnValid() {
        $.ajax({
            type: 'GET',
            url: '/OBKExpDocument/ShowSignBtn',
            data: { adId: '@Model.AssessmentDeclarationId' },
            cache: false,
            success: function (data) {
                if (data.isSuccess) {
                    $("#ecSignBtn_@Model.AssessmentDeclarationId").show();
                } else {
                    $("#ecSignBtn_@Model.AssessmentDeclarationId").hide();
                }
            }
        });
    }

    function btnHide(code) {
        switch (code) {
            case "hide":
                $("#result_@Model.AssessmentDeclarationId").hide();
                $("#showResult_@Model.AssessmentDeclarationId").show();
                $("#showPdfResult_@Model.AssessmentDeclarationId").show();
                break;
            case "show":
                $("#result_@Model.AssessmentDeclarationId").show();
                $("#showResult_@Model.AssessmentDeclarationId").hide();
                $("#showPdfResult_@Model.AssessmentDeclarationId").hide();
                break;
        }
    }

    function getTasksDetails(adId, productSeriesId) {
        $.ajax({
            type: 'GET',
            url: '/OBKExpDocument/ShowModalTaskDetails',
            data: { assessmentDeclarationId: adId, productSeriesId: productSeriesId },
            cache: false,
            success: function (data) {
                $('#responseContent_@Model.AssessmentDeclarationId').html(data);
                $('#panelTaskDetails_@Model.AssessmentDeclarationId').modal('show');
            }
        });
    }

    function createResult() {
        var table = $("#tableExperConclution_@Model.AssessmentDeclarationId tbody tr.selected");
        var productSeriesId = table.attr("rowid");
        var rcr = table.attr("rcr");
        var url = null;
        rcr === "1" ? url = '/OBKExpDocument/ExpertiseConclusionPositive?productSeriesId=' + productSeriesId + '&adId=' + '@Model.AssessmentDeclarationId' :
                      url = '/OBKExpDocument/ExpertiseConclusionNegative?productSeriesId=' + productSeriesId + '&adId=' + '@Model.AssessmentDeclarationId';
        $.ajax({
            type: 'GET',
            url: url,
            cache: false,
            success: function (data) {
                $('#expertiseConclusion_@Model.AssessmentDeclarationId').html(data);
                $("#panelExpertiseConclusion_@Model.AssessmentDeclarationId").show();
            }
        });
    }

    function showResult() {
        var table = $("#tableExperConclution_@Model.AssessmentDeclarationId tbody tr.selected");
        var productSeriesId = table.attr("rowid");
        var rcr = table.attr("rcr");
        var url = null;
        if (rcr === "1")
            url = '/OBKExpDocument/ShowExpertiseConclusionPositive?productSeriesId=' + productSeriesId + '&adId=' + '@Model.AssessmentDeclarationId';
        else
            url = '/OBKExpDocument/ShowExpertiseConclusionNegative?productSeriesId=' + productSeriesId + '&adId=' + '@Model.AssessmentDeclarationId';

        $.ajax({
            type: 'GET',
            url: url,
            cache: false,
            success: function (data) {
                $('#expertiseConclusion_@Model.AssessmentDeclarationId').html(data);
                $("#panelExpertiseConclusion_@Model.AssessmentDeclarationId").show();
            }
        });
    }


    $("#ecSignBtn_@Model.AssessmentDeclarationId").click(function () {
        var modelId = '@Model.AssessmentDeclarationId';
        $.ajax({
            type: 'GET',
            url: '/OBKExpDocument/GetSignExpDocument?id=' + modelId,
            success: function (result) {
                startSign(result.data, modelId, saveSignedPayment);
            }
        });
        function saveSignedPayment(signedData, id) {
            var data1 = {
                id: id,
                signedData: signedData
            };
            var json = JSON.stringify(data1);
            $.ajax({
                type: 'POST',
                url: '/OBKExpDocument/SaveSignedExpDocument',
                contentType: 'application/json; charset=utf-8',
                data: json,
                success: function (result) {
                    alert(result.message);
                }
            });
        }
    });

    function showPdfResult() {
        debugger;
        var table = $("#tableExperConclution_@Model.AssessmentDeclarationId tbody tr.selected");
        var productSeriesId = table.attr("rowid");
        var productId = table.attr("pid");
        var rcr = table.attr("rcr");
        if (rcr === "1")
            window.open('/OBKExpDocument/ExpDocumentExportFilePdf?productSeriesId=' + productSeriesId + '&id=' + '@Model.AssessmentDeclarationId');
        else
            window.open('/OBKExpDocument/ExpDocumentRejectFormPdf?productSeriesId=' + productSeriesId + '&id=' + '@Model.AssessmentDeclarationId' + '&pid=' + productId); //ExpDocumentMotivRefusExportFilePdf
    }

</script>
