@model Guid
<script>
    function filterUnits() {
        return {
            organizationId: $("#OrganizationId").val()
        }
    }
    function filterPositions() {
        return {
            unitId: $("#UnitId").val()
        }
    }
    function filterEmployees() {
        return {
            positionId: $("#UnitId").val()
        }
    }
</script>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body" id="productExpertiseId">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Комиссия оценки производства
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-hover dataTable" dt-columns="dtColumns" dt-options="dtOptions" id="tableOpCommission" width="100%"></table>
                                    <button type="button" class="btn btn-default" onclick="addEmployee(event)">Добавить</button>
                                </div>
                            </div>
                            <div id="creatyOrModifyPanel" class="panel panel-default" style="display: none">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <label for="organization">Организация</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    @(Html.Kendo().DropDownList().Name("OrganizationId")
                                                        .OptionLabel("Выберите организацию..")
                                                        .AutoBind(false)
                                                        .DataValueField("Id").DataTextField("Name")
                                                        .DataSource(cf => cf.Read(read => read.Action("ListOrganization", "SelectOPCommission")))
                                                        .HtmlAttributes(new { data_bind = "value: currentEmployee.OrganizationId", @class = "pwWidth100", required = "", validationMessage = "Обязательно для заполнения" }))
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <label for="unit">Структурное подразделение</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    @(Html.Kendo().DropDownList().Name("UnitId")
                                                        .OptionLabel("Выберите подразделение..")
                                                        .AutoBind(false)
                                                        .DataValueField("Id").DataTextField("Name")
                                                        .DataSource(cf => cf.Read(read => read.Action("ListUnits", "SelectOPCommission").Data("filterUnits")).ServerFiltering(true))
                                                        .HtmlAttributes(new { data_bind = "value: currentEmployee.UnitId", @class = "pwWidth100", required = "", validationMessage = "Обязательно для заполнения" })
                                                        .CascadeFrom("OrganizationId"))
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <label for="position">Должность</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    @(Html.Kendo().DropDownList().Name("PositionId")
                                                        .OptionLabel("Выберите должность..")
                                                        .AutoBind(false)
                                                        .DataValueField("Id").DataTextField("Name")
                                                        .DataSource(cf => cf.Read(read => read.Action("ListPositions", "SelectOPCommission").Data("filterPositions")).ServerFiltering(true))
                                                        .HtmlAttributes(new { data_bind = "value: currentEmployee.PositionId", @class = "pwWidth100", required = "", validationMessage = "Обязательно для заполнения" })
                                                        .CascadeFrom("UnitId"))
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <label for="position">ФИО</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    @(Html.Kendo().DropDownList().Name("EmployeeId")
                                                        .OptionLabel("Выберите сотрудника..")
                                                        .AutoBind(false)
                                                        .DataValueField("Id").DataTextField("FullName")
                                                        .DataSource(cf => cf.Read(read => read.Action("ListEmployees", "SelectOPCommission").Data("filterEmployees")).ServerFiltering(true))
                                                        .HtmlAttributes(new { data_bind = "value: currentEmployee.EmployeeId", @class = "pwWidth100", required = "", validationMessage = "Обязательно для заполнения" })
                                                        .CascadeFrom("UnitId"))
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <label for="position">Роль в комиссии</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    @(Html.Kendo().DropDownList().Name("Role")
                                                        .OptionLabel("Выберите роль в комиссии..")
                                                        .AutoBind(false)
                                                        .DataValueField("Id").DataTextField("Name")
                                                        .DataSource(cf => cf.Read("ListRoles", "SelectOPCommission"))
                                                        .HtmlAttributes(new { data_bind = "value: currentEmployee.RoleId", @class = "pwWidth100", required = "", validationMessage = "Обязательно для заполнения" }))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Сохранить</button>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-default"><span class="pwToolbarButtonReturn"></span><span class="pwToolbarButtonTitle">Отправить на ОП</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var currentEmployee = null;
    $(document).ready(function () {
        $("#tableOpCommission").DataTable({
            language: {
                url: "/Content/json/Russian.json"
            },
            data: null,
            searching: false,
            bLengthChange: false,
            columns: [
                { title: "Организация" },
                { title: "Структурное подразделение" },
                { title: "Должность" },
                { title: "ФИО" },
                { title: "" },
                { title: "" }
            ]
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetOBK_OP_Commission")',
            data: { 'id': '@Model' },
            dataType: 'json',
            cache: false,
            success: function (data) {
                if (data.isSuccess) {
                    $("#tableOpCommission").DataTable({
                        language: {
                            url: "/Content/json/Russian.json"
                        },
                        data: data.result.Commission,
                        destroy: true,
                        searching: false,
                        "padding": false,
                        LengthMenu: false,
                        bLengthChange: false,
                        autoWidth: true,
                        "columns": [
                            { "data": "Organization" },
                            { "data": "Unit" },
                            { "data": "Position" },
                            { "data": "FIO" },
                            { "data": "" },
                            { "data": "" }
                        ]
                    });
                }
            },
            error: function () {
                alert("Connection Failed. Please Try Again");
            }
        });
    });

    function addEmployee(e) {
        $("#creatyOrModifyPanel").show();
    }

    function deleteRow () {
        var table = $('#example').DataTable();

        $('#tableOpCommission tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#button').click(function () {
            table.row('.selected').remove().draw(false);
        });
    }
</script>