@model PW.Ncels.Database.Models.OBK.OBKTaskComment

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.TaskComment != null)
            {
                foreach (var t in Model.TaskComment)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group " role="alert" style="text-align: left"> @*aleralert alert-info*@
                                <p><b>Автор:</b> @t.AutorName
                                </p>
                                <p><b>Комментарий:</b> @t.Note
                                </p>
                                <p><b>Дата комментария:</b> @t.Createdate
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea class="form-control" id="commentText_@Model.ResearchCenterId" type="text" placeholder="Введите комментарий"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" onclick="saveComment('@Model.ResearchCenterId')" class="btn btn-default">Сохранить</button>
                    <button type="button" onclick="closeTaskComment('@Model.TaskExecutorId')" class="btn btn-default">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function closeTaskComment(teId) {
        $("#panelTaskComment_" + teId).hide();
    }

    function saveComment(rcId) {
        debugger;
        var teId = '@Model.TaskExecutorId';
        if (validComment(rcId)) {
            var note = $('textarea#commentText_' + rcId).val();
            $.ajax({
                type: 'GET',
                url: '/OBKExpDocument/SaveTaskComment',
                data: { rcId: rcId, note: note },
                cache: false,
                success: function (data) {
                    if (data.isSuccess) {
                        $("#returnToExecutor").show();
                        $('#panelTaskComment_' + teId).hide();
                        $('table#tableSubTaskIndicator_' + teId + ' tbody tr').each(function () {
                            var trcId = $(this).attr('rcId');
                            var tteId = $(this).attr('teId');
                            if (trcId == rcId && tteId == teId) {
                                $(this).addClass('add-commnet');
                            }
                        });
                    }
                }
            });
        }
    }

    function validComment(rcId) {
        var valid = true;
        var ta = $('textarea#commentText_' + rcId);
        if (ta.val() == "" || ta.val() == null) {
            ta.css({ 'border-color': '#a94442' });
            valid = false;
        } else {
            ta.css({ 'border-color': '#cccccc' });
        }
        return valid;
    }
</script>