@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.Helpers
@model PW.Ncels.Database.DataModel.EXP_ExpertiseStage

<input type="hidden" value="@Model.DeclarationId" id="modelId" />

<div class="pwTabContent k-block">

    <form id="@("inDocForm"+ Model.DeclarationId)">

        <div id="@("loader"+ Model.DeclarationId)">
        </div>
        <table class="pwTable">

            <tr class="pwContent">
                <td class="pwContentLeft k-block" style="width: 150px">
                    @Html.Partial("~/Views/DrugDeclaration/MenuItem.cshtml", @Model)
                    </td>
                <td class="pwContentRight k-block" id="@("pwContentRightId"+ Model.Id)">
                    <div class="pwPageScrollable">
                        <div id="@("page" + Model.Id)">
                            @{
                              
                                    Html.RenderAction("Design", "DrugDeclaration", new { id = Model.Id });
                            }
                        </div>
                    </div>
                </td>
            </tr>
          
        </table>
    </form>
</div>
<script>
    InitializeSizeIncoming('@Model.Id');
</script>

