@using PW.Ncels.Database.Recources
@model IEnumerable<PW.Ncels.Database.DataModel.EXP_DrugDeclarationHistory>
<div id="content">
    @foreach (var entity in Model)
    {
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <!-- List group -->
            <ul class="list-group" style="text-align: left">
                <li class="list-group-item">
                    <span class="title-label">Дата регистрации: </span>@entity.DateCreate.ToString()

                    @if (entity.EXP_DIC_Status != null)
                    {
                        <span> / <span class="title-label">Статус: </span>@entity.EXP_DIC_Status.NameRu</span>
                    }
                </li>

                @if (entity.Employee != null)
                {
                    <li class="list-group-item"><span class="title-label">@ResourceSetting.Autor: </span>@entity.Employee.DisplayName</li>
                }
                <li class="list-group-item"><span class="title-label">Описание: </span>@entity.Note</li>

            </ul>
        </div>
    }
</div>
