@using PW.Ncels.Database.Constants
@model PW.Ncels.Database.DataModel.EXP_ExpertiseStageRemark
    <table id="fileTable" class="file_list">

        <tbody>
            @if (Model.FileLinks != null)
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
             
                for (int i = 0; i < Model.FileLinks.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="AttachFiles" value="@Model.FileLinks[i]" />
                            <a href="@Url.Action("FileDownload", "Upload", new {id=Model.RemarkCodeFile,  name= Model.FileLinks[i].FileName, path=@Model.EXP_ExpertiseStage.DeclarationId, })">
                                <p class="docFileClass">@Model.FileLinks[i].FileName</p>
                            </a>

                        </td>
                    </tr>
                }
            }
        </tbody>
   
    </table>


