@using System.Globalization
@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Models.Expertise
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.EXP_DrugDosage

<div class="collectionSubDiv">
    @for (var i = 0; i < Model.ExpDrugSubstances.Count; i++)
    {
        var entity = Model.ExpDrugSubstances[i];
        entity.Position = i;
        var code = Model.Id + "_" + entity.Id;
        @Html.Partial("~/Views/DrugDeclaration/TempleSubstanceView.cshtml", entity)
        if (@Model.ExpDrugSubstances[i].sr_substances != null)
        {
            <p class="substance-names" substanceId="@entity.SubstanceId" idcontrol="@code" text="@Model.ExpDrugSubstances[i].sr_substances.name"> </p>
        }
    }
</div>
