@using System.Globalization
@using PW.Ncels.Database.Constants
@model PW.Ncels.Database.DataModel.EXP_DrugOrganizations
@{
    var code = CodeConstManager.EXP_DrugOrganizationsCode + "_";
    if (Model.Id == 0)
    {
        code += "a" + Model.Position;
    }
    else
    {
        code += Model.Id.ToString();
    }
    code += "_";
    var idOrgManufactureTypeDicId = code + "OrgManufactureTypeDicId";
    var idNameRu = code + "NameRu";
    var idNameKz = code + "NameKz";
    var idNameEn = code + "NameEn";
    var idCountryDicId = code + "CountryDicId";
    var idDocNumber = code + "DocNumber";
    var idDocDateStr = code + "DocDateStr";
    var idDocExpiryDateStr = code + "DocExpiryDateStr";
    var idAddressLegal = code + "AddressLegal";
    var idAddressFact = code + "AddressFact";
    var idPhone = code + "Phone";
    var idEmail = code + "Email";
    var idBossLastName = code + "BossLastName";
    var idBossFirstName = code + "BossFirstName";
    var idBossMiddleName = code + "BossMiddleName";
    var idBossPosition = code + "BossPosition";
    var idContactFio = code + "ContactFio";
    var idContactPosition = code + "ContactPosition";
    var idOpfTypeDicId = code + "OpfTypeDicId";

    var divId = "subDiv_" + Model.Id;
    var idRecord = "";
    var indexRecord = Model.Position.ToString();
    var codeRecord = "";
    if (Model.Id > 0)
    {
        codeRecord = "ExpDrugOrganizationses[" + @indexRecord + "].";
        idRecord = Model.Id.ToString();
    }
}
<div class="panel panel-success group-org" id="@divId" rowid="@idRecord" rowindex="@indexRecord">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="lotLihk" onclick="toogleOrgPangel(this)">@Model.ManufactureName</a>
            <a style="float: right" class="glyphicon glyphicon-remove" onclick="removeOrgPanel(this)"></a>
        </h4>

    </div>
    <div class="panel-body divpanel">
       
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Тип производителя</label>
                                <div class="input-group">
                                    @Html.DropDownList(@codeRecord + "OrgManufactureTypeDicId", (IEnumerable<SelectListItem>)(ViewData["OrgManufactureTypes" + idRecord]), String.Empty, new { @class = "form-control edit-control org-control", id = idOrgManufactureTypeDicId })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Организационная форма</label>
                                <div class="input-group">
                                    @Html.DropDownList(@codeRecord + "OpfTypeDicId", (IEnumerable<SelectListItem>)(ViewData["OpfTypeDics" + idRecord]), String.Empty, new { @class = "form-control edit-control org-control", id = idOpfTypeDicId })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Страна</label>
                                <div class="input-group">
                                    @Html.DropDownList(@codeRecord + "CountryDicId", (IEnumerable<SelectListItem>)(ViewData["CountryDics" + idRecord]), String.Empty, new { @class = "form-control edit-control org-control", id = idCountryDicId })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Наименование на русском языке</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "NameRu", Model.NameRu, new { @class = "edit-control org-control form-control", id = idNameRu })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Наименование на казахском языке</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "NameKz", Model.NameKz, new { @class = "edit-control org-control form-control", id = idNameKz })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Наименование на английском языке</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "NameEn", Model.NameEn, new { @class = "edit-control org-control form-control", id = idNameEn })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>№ разрешительного документа</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "DocNumber", Model.DocNumber, new { @class = "edit-control org-control form-control", id = idDocNumber })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Дата выдачи</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "DocDateStr", Model.DocDateStr, new { @class = "edit-control org-control form-control  date-control", id = idDocDateStr })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Срок действия </label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "DocExpiryDateStr", Model.DocExpiryDateStr, new { @class = "edit-control org-control form-control  date-control", id = idDocExpiryDateStr })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Фамилия первого руководителя</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "BossLastName", Model.BossLastName, new { @class = "edit-control org-control form-control", id = idBossLastName })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Имя первого руководителя</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "BossFirstName", Model.BossFirstName, new { @class = "edit-control org-control form-control", id = idBossFirstName })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Отчество первого руководителя</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "BossMiddleName", Model.BossMiddleName, new { @class = "edit-control org-control form-control", id = idBossMiddleName })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Должность первого руководителя</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "BossPosition", Model.BossPosition, new { @class = "edit-control org-control form-control", id = idBossPosition })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Телефон, факс</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "Phone", Model.Phone, new { @class = "edit-control org-control form-control", id = idPhone })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Электронная почта</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "Email", Model.Email, new { @class = "edit-control org-control form-control", id = idEmail })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Фамилия, имя, отчество контактного лица</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "ContactFio", Model.ContactFio, new { @class = "edit-control org-control form-control", id = idContactFio })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Должность контактного лица</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "ContactPosition", Model.ContactPosition, new { @class = "edit-control org-control form-control", id = idContactPosition })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Юридический адрес</label>
                                <div class="input-group">
                                    @Html.TextBox(@codeRecord + "AddressLegal", Model.AddressLegal, new { @class = "edit-control org-control form-control", id = idAddressLegal })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Фактический адрес</label>
                                    <div class="input-group">
                                        @Html.TextBox(@codeRecord + "AddressFact", Model.AddressFact, new { @class = "edit-control org-control form-control", id = idAddressFact })<span class="input-group-addon"><a class="commentDialog" href="#"><i class="glyphicon glyphicon-info-sign"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        
                           
                           
                    </div>
           
                </div>
            </div>
        </div>
    </div>
</div>