@using PW.Ncels.Database.Models
@model Guid

@{
    //Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script>
    InitFilterAdministrativeGrid('@Model.ToString()');
</script>

@(Html.Kendo().Splitter()
            .HtmlAttributes(new { @class = "pwSplitter k-block" })
            .Name(("splitter" + Model))
            .Panes(panes => {
            panes.Add()
                .Size("250px")
                .Collapsible(true)
                .MaxSize("500px")
                .MinSize("250px")
                .Content(
                @<div class="pwPanelBar">
                    <div class="pwBlockAdd k-block">
                        @(Html.Kendo().Button().Name("addAdminDocButton" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                                           .Content(PW.Ncels.Database.Recources.Messages.Property_Создатьдокумент_119__00).Events(e => e.Click("addAdminDocClick"))
                                   .ImageUrl("/Content/images/add.png"))
                    </div>

                    @(Html.Kendo().PanelBar().HtmlAttributes(new { @class = "pwPanelBar" })
                               .Name("panelbar" + Model)
                               .ExpandMode(PanelBarExpandMode.Multiple)
                               .ExpandAll(true)
                               .HtmlAttributes(new { style = "width:auto;" })
                               .Events(e => e.Select("panelAdministrativeSelect"))
                               .Items(panelbar => {
                                   panelbar.Add().Expanded(true);
                                   panelbar.Add().Text(PW.Ncels.Database.Recources.Messages.Property_Потипуприказа_143__00)
                                       .Items(projects => {
                                           projects.Add().Text(PW.Ncels.Database.Recources.Messages.Property_Все_394__00).LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", "" }, { "ItemType", "AdministrativeTypeDictionaryId" }, { "ModelId", Model.ToString() } });
                                           foreach (Item dictionaryInfo in (List<Item>)ViewData["AdministrativeMain"]) {
                                               projects.Add().Text(dictionaryInfo.Name).LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", dictionaryInfo.Id }, { "ItemType", "AdministrativeTypeDictionaryId" }, { "ModelId", Model.ToString() } });
                                           }
                                       });
                               })
                    )
                </div>
                );

            panes.Add().Scrollable(false).Size("100%").Content(
                @<div class="pwPanelBar">
                     <div class="pwBlockAdd k-block">
                         
                         <div id="pwOne">
                             @(Html.Kendo().MaskedTextBox().Name("findText" + Model).Mask("").HtmlAttributes(new { @class = "pwWidth100" }))
                         </div>

                         <div id="pwTwo">
                             @(Html.Kendo().DropDownList().Name("findType" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                   .DataTextField("Text")
                                   .DataValueField("Value")
                                   .BindTo(new List<SelectListItem>() {
                                       new SelectListItem() {
                                           Text = PW.Ncels.Database.Recources.Messages.Property_Все_394__00, Value = "0"
                                       },
                                       new SelectListItem() {
                                           Text = PW.Ncels.Database.Recources.Messages.Property_Пономеру_281__00, Value = "1"
                                       },
                                       new SelectListItem() {
                                           Text = PW.Ncels.Database.Recources.Messages.Property_Поисполнителю_170__00, Value = "2"
                                       },
                                       new SelectListItem() {
                                           Text = PW.Ncels.Database.Recources.Messages.Property_Поотправителю_171__00, Value = "3"
                                       }
                                   })
                                   .SelectedIndex(0)
                                   )

                         </div>

                         <div id="pwThree">
                             @(Html.Kendo().Button().Name("find" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                   .Content(PW.Ncels.Database.Recources.Messages.Property_Найти_372__00)
                                   .ImageUrl("/Content/images/find.png"))
                         </div>

                         <div id="pwFour">
                             @(Html.Kendo().Button().Name("export" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                   .Content(PW.Ncels.Database.Recources.Messages.Property_Экспорт_335__00)
                                   .ImageUrl("/Content/images/export.png").Events(e => e.Click("onExportAdminDoc")))
                         </div>

                     </div>
                    <div id="pwSix">
                        @(Html.Kendo().Button().Name("reload" + Model).HtmlAttributes(new { @class = "pwWidth100 pwButtonReload" })
                                                    .Content("")
                               .ImageUrl("/Content/images/reload.png"))

                    </div>
                    @(Html.Kendo().Grid<PW.Ncels.Database.DataModel.Document>()
                                   .Name("gridAdminListDoc" + Model)
                           .Columns(columns => {

                               columns.Bound(p => p.IsAttachments).Width(40).ClientTemplate(
                                   "# if (IsAttachments == true) { #" +
                                   "<img  src='" + Url.Content("~/Content/images/attachTrue.png") + "'  />" +
                                   "# } else { #" +

                                   "# } #"

                                   ).Title(PW.Ncels.Database.Recources.Messages.Property_Ф_402__00).Lockable(false).Locked(true).Lockable(false);
                               columns.Bound(p => p.Number).Width(150).ClientTemplate(
                                   "<div class=\"btn-group btn-group-xs\" style='height:14px;margin-top: -9px;'>" +
                                        "<button type='button' style='width:90px;' class='btn btn-default btn-xs' onclick=\"getAdministrativeDetails('#=DocumentId#', '#=Number#')\"><span style=\"color:rgb(66,139,202);\">#=Number#</span></button>" +
                                        "<button type='button' style='width:20px;' class='btn btn-default btn-xs' onclick=\"addAdminRepeatDocClick('#=DocumentId#')\"><span class=\"glyphicon glyphicon-retweet\"></span></button>" +
                                    "</div>"
                                   ).Title(PW.Ncels.Database.Recources.Messages.Property_Номер_373__00).ClientFooterTemplate(PW.Ncels.Database.Recources.Messages.Property_Всего_356__00 +"#=count#").Locked(true).Lockable(false);
                               columns.Bound(p => p.DocumentDate).Format("{0:dd.MM.yyyy HH:mm}").Title(PW.Ncels.Database.Recources.Messages.Property_Датадок_307__00).Width(115).Width(115);
                               columns.Bound(p => p.StateType).ClientTemplate("<img  src=\"/Content/images/StateType_#=StateType#.png\" />").Title(PW.Ncels.Database.Recources.Messages.Property_Статус_357__00).Width(100).Filterable(filterable => filterable.UI("StateFilterDoc")); ;
                               columns.Bound(p => p.AdministrativeTypeDictionaryValue).Title(PW.Ncels.Database.Recources.Messages.Property_Видприказа_238__00).Width(250);
                               columns.Bound(p => p.Summary).Title(PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_82__00).Width(250);
                               columns.Bound(p => p.SignerValue).Title(PW.Ncels.Database.Recources.Messages.Property_Подписано_282__00).Width(250);
                               columns.Bound(p => p.PageCount).Title(PW.Ncels.Database.Recources.Messages.Property_Листов_358__00).Width(100);
                               columns.Bound(p => p.CreatedUserValue).Title(PW.Ncels.Database.Recources.Messages.Property_Автор_374__00).Width(250);
                               columns.Bound(p => p.ExecutorsValue).Title(PW.Ncels.Database.Recources.Messages.Property_Указательрассылки_83__00).Width(250);

                           })

                           .Reorderable(reorderable => reorderable.Columns(true))
                           .Resizable(resizable => resizable.Columns(true))
                           .Sortable(sortable => sortable.AllowUnsort(false))
                           .Groupable()
                           .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                           .Scrollable(scrollable => scrollable.Virtual(true))
                                    .Filterable()
                           .HtmlAttributes(new { @class = "pwGrid" })
                           .DataSource(dataSource => dataSource
                               .Ajax()
                               .Aggregates(aggregates => {aggregates.Add(p => p.Number).Count();})
                               .Sort(sort => { sort.Add("SortNumber").Descending(); sort.Add("CreatedDate").Descending(); })
                               .PageSize(50)
                                       .Read(read => read.Action("ListDocument", "AdministrativeDoc"))
                           ))
                </div>
            );
        }))

<script>
    resizeGrid('@("#gridAdminListDoc" + Model)');
</script>
