@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.Helpers
@model PW.Ncels.Database.DataModel.PriceProject

<input type="hidden" value="@Model.Id" id="modelId" />

<div class="pwTabContent k-block">

    <form id="@("inDocForm"+ Model.Id)">

        <div id="@("loader"+ Model.Id)">
        </div>
        <table class="pwTable">

            <tr class="pwContent">
                <td class="pwContentLeft k-block" style="width: 150px">
                    @Html.Partial("~/Views/PriceProcessing/MenuItems.cshtml", Model)
                </td>
                <td class="pwContentRight k-block" id="@("pwContentRightId"+ Model.Id)">
                    <div class="pwPageScrollable">
                        <div id="@("page" + Model.Id)">
                            @{
                                Html.RenderAction("EditRequest", "PriceProcessing", new { id = Model.Id });
                            }
                        </div>
                    </div>
                </td>
            </tr>

        </table>
    </form>
</div>
<script>
    InitializeSizeEditForm('@Model.Id');
</script>
