@model PW.Ncels.Database.DataModel.Document

<ul data-role="listview" data-style="inset">
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Трудовой_договор
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                @Model.Number

                @PW.Ncels.Database.Recources.Messages.Property_от_400__00

                @(Model.DocumentDate.HasValue ? Model.DocumentDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_ФИО_361__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.ExecutorsValue
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_ДатаОконч
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @(Model.ExecutionDate.HasValue ? Model.ExecutionDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </label>
        </div>
    </div>
</li>
</ul>