@model PW.Ncels.Database.DataModel.Document

<ul data-role="listview" data-style="inset">
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Документ_298__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                @Model.Number

                @PW.Ncels.Database.Recources.Messages.Property_от_400__00

                @(Model.DocumentDate.HasValue ? Model.DocumentDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Указательрассылки_68__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.ExecutorsValue
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Вотношениикого_95__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.ReadersValue
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.Summary
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Подписано_261__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.SignerValue
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Видприказа_221__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.AdministrativeTypeDictionaryValue
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.LanguageDictionaryValue
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_ЛистовПрилКопий_81__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @string.Format("{0} / {1} / {2}", Model.PageCount, Model.CopiesCount, Model.Counters)
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Автор_355__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.CreatedUserValue
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    <span>Исходящий документ:</span>
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.DestinationValue
                </label>
            </div>
        </div>
    </li>
</ul>

