@model PW.Ncels.Database.DataModel.Document

<ul data-role="listview" data-style="inset">
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Документ_298__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                @Model.Number

                @PW.Ncels.Database.Recources.Messages.Property_от_400__00

                @(Model.DocumentDate.HasValue ? Model.DocumentDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </div>
        </div>
    </li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Видисходящего_159__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @(Model.OutgoingType == 0 ? PW.Ncels.Database.Recources.Messages.Property_Инициативный_231__00 :
                      Model.OutgoingType == 1 ? PW.Ncels.Database.Recources.Messages.Property_Ответный_320__00 :
                          Model.OutgoingType == 2 ? PW.Ncels.Database.Recources.Messages.Property_Промежуточный_211__00 :
                              string.Empty)
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Срокисполнения_115__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @(Model.ExecutionDate.HasValue ? Model.ExecutionDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Адресат_308__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.CorrespondentsValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                Email:
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.ApplicantEmail
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Ответна_285__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.AnswersValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.Summary
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Исполнитель_222__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.CreatedUserValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Виддокумента_188__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.DocumentKindDictionaryValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Характервопроса_99__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.QuestionDesignDictionaryValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_ЛистПрилДругое_70__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @string.Format("{0} / {1} / {2}", Model.PageCount, Model.CopiesCount, Model.Counters)
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.LanguageDictionaryValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Видотправки_210__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.FormSendingDictionaryValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Подписано_261__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.SignerValue
            </label>
        </div>
    </div>
</li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    <span>Исходящий документ:</span>
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.DestinationValue
                </label>
            </div>
        </div>
    </li>
</ul>
