@model PW.Ncels.Database.DataModel.Document

<ul data-role="listview" data-style="inset">
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Документ_298__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                @Model.Number

                @PW.Ncels.Database.Recources.Messages.Property_от_400__00

                @(Model.DocumentDate.HasValue ? Model.DocumentDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </div>
        </div>
    </li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Типобращения_172__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @(Model.ApplicantType == 0 ? PW.Ncels.Database.Recources.Messages.Property_Физическоелицо_163__00 :
                      Model.ApplicantType == 1 ? PW.Ncels.Database.Recources.Messages.Property_Юридическоелицо_139__00 :
                          string.Empty)
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Срокисполнения_115__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @(Model.ExecutionDate.HasValue ? Model.ExecutionDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Типконтроля_195__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @(Model.MonitoringType == 1 ? PW.Ncels.Database.Recources.Messages.Property_Неконтрольный_174__00 :
                      Model.MonitoringType == 2 ? PW.Ncels.Database.Recources.Messages.Property_Контроль_310__00 :
                          Model.MonitoringType == 3 ? PW.Ncels.Database.Recources.Messages.Property_Особыйконтроль_164__00 :
                              Model.MonitoringType == 4 ? PW.Ncels.Database.Recources.Messages.Property_Доконтроль_241__00 :
                                  string.Empty)
            </label>
        </div>
    </div>
</li>

    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_ФИО_336__00
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.CorrespondentsInfo
                </label>
            </div>
        </div>
    </li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Адрес_359__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.ApplicantAddress
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Типавтора_239__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.ApplicantCategoryDictionaryValue
            </label>
        </div>
    </div>
</li>
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    Email:
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @Model.ApplicantEmail
                </label>
            </div>
        </div>
    </li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Адресат_308__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.ExecutorsValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Отвисполнитель_98__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.ResponsibleValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Видобращения_173__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.CitizenTypeDictionaryValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Характервопроса_99__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.QuestionDesignDictionaryValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.Summary
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_ЛистПрилДругое_70__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @string.Format("{0} / {1} / {2}", Model.PageCount, Model.CopiesCount, Model.Counters)
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.LanguageDictionaryValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Виддоставки_197__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.FormDeliveryDictionaryValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Полученвответна_71__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.AnswersValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                @PW.Ncels.Database.Recources.Messages.Property_Кдокументу_223__00
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.CompleteDocumentsValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                Отправлены ответные*:
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.AutoAnswersValue
            </label>
        </div>
    </div>
</li>
<li>
    <div class="fullTaskMobileWindow">
        <div class="leftTaskMobileWindow">
            <label>
                Отправлены промежуточные*:
            </label>
        </div>
        <div class="rightTaskMobileWindow">
            <label>
                @Model.AutoAnswersTempValue
            </label>
        </div>
    </div>
</li>
</ul>