@model Guid

@{
     //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>

    function docProjectPage1onClick() {
        var itemId = '@Model.ToString()';

        $.ajax({
            url: "/ProjectDoc/FormZkl?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docProjectPage2onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/Task/Details?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docProjectPage3onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/ProjectDoc/FormBp?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docProjectPage4onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/History/Index?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docProjectPage5onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/ProjectDoc/FormBps?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
</script>

<div class="pwTabContent k-block">

    <form id="@("prjDocForm"+ Model)">
       
        <div id="@("loader"+ Model)">
        </div>
        <table class="pwTable">
            <tr class="pwContent">
                <td class="pwContentLeft k-block">
                    
                    <a onclick="docProjectPage1onClick()" id="@("docPage1" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart"><span><img src="../../Content/images/8.png" /></span></a>
                    <a onclick="docProjectPage3onClick()" id="@("docPage3" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-1"><span><img src="../../Content/images/1.png" /></span></a>
                    <a onclick="docProjectPage5onClick()" id="@("docPage5" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-10"><span><img src="../../Content/images/10.png" /></span></a>
                    <a onclick="docProjectPage4onClick()" id="@("docPage4" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-7"><span><img src="../../Content/images/7.png" /></span></a>
                </td>
                <td class="pwContentRight k-block" id="@("pwContentRightId"+ Model)">
                    <div class="pwPageScrollable">
                        <div id="@("page" + Model)">
                            @Html.Partial("FormZkl",Model)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="pwStatusbar k-block" colspan="2">
                    <div class="pwFloat">
                        @PW.Ncels.Database.Recources.Messages.Property_Проектпротокола_136__00
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        <span id="@("pwStatusbarState" + Model)"></span>
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    InitializeSizeProject('@Model.ToString()');
</script>

