@model Guid
<div class="pwToolbar">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: save, enabled: hasChanges" id="@("save"+ Model)"><span class="pwToolbarButtonSave"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Сохранить_278__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: register, enabled: hasRegister" id="@("register" + Model)"><span class="pwToolbarButtonRegister"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Зарегистрировать_116__00</span></button>
        </div>
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Сформировать
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a data-bind="click: buildPfk1, enabled: hasBuild" id="@("build" + Model)">Повестка фармакологической комиссии</a></li>
                </ul>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: print, enabled: hasPrint" id="@("print" + Model)"><span class="pwToolbarButtonPrint"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Печать_353__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: deleteDoc" id="@("delete" + Model)"><span class="pwToolbarButtonDelete"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Удалить_334__00</span></button>

        </div>
    </div>
</div>
<div class="pwPage">
    <table class="pwDocTable">
        <colgroup>
            <col width="180px" />
            <col width="265px" />
            <col width="10px" />
            <col width="180px" />
            <col width="265px" />
        </colgroup>
        <tr>
            @*<td>@PW.Ncels.Database.Recources.Messages.Property_Типконтроля_195__00</td>
            <td>
                <select id="@("MonitoringType" + Model)" id="@("MonitoringType" + Model)" data-bind="value: document.MonitoringType, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" />
            </td>
            <td></td>*@
            <td>
                <div style="position: relative;">
                    <span data-for="@("ExecutionDate"+ Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Срокисполнения_115__00
            </td>
            <td>
                <input name="@("ExecutionDate"+ Model)" id="@("ExecutionDate"+ Model)" data-bind="value: document.ExecutionDate, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитедату_117__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Срокисполнения_115__00" />
            </td>
        </tr>
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Номер_354__00</td>
            <td>
                <input name="@("Number"+ Model)" id="@("Number"+ Model)" data-bind="value: document.Number, events: { change: change }" class="pwWidth100 pwTextBoxReadonly" />
            </td>
            <td></td>
            <td>
                <div style="position: relative;">
                    <span data-for="@("DocumentDate" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_От_393__00
            </td>
            <td>
                <input name="@("DocumentDate"+ Model)" id="@("DocumentDate"+ Model)" data-bind="value: document.DocumentDate, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитедату_117__00" class="pwWidth100" readonly />
            </td>
        </tr>
        <tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("ExecutorsId" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Адресат_308__00
            </td>
            <td colspan="4">
                <select name="@("ExecutorsId" + Model)" id="@("ExecutorsId" + Model)" data-bind="value: document.ExecutorsId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Адресат_308__00" />
            </td>
        </tr>
        <tr style="height: 67px;">
            <td>
                <div style="position: relative;">
                    <span data-for="@("Summary" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00
            </td>
            <td colspan="4">
                <textarea name="@("Summary"+ Model)" id="@("Summary"+ Model)" data-bind="value: document.Summary, events: { change: change }" class="pwWidth100 pwTextArea" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00" />

            </td>
        </tr>
        <tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("SignerId" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Подписано_261__00
            </td>
            <td colspan="4">
                <select name="@("SignerId" + Model)" id="@("SignerId" + Model)" data-bind="value: document.SignerId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Подписано_261__00" />
            </td>
        </tr>
        @*<tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("AdministrativeTypeDictionaryId" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Видпротокола_190__00
            </td>
            <td>
                <select name="@("AdministrativeTypeDictionaryId" + Model)" id="@("AdministrativeTypeDictionaryId" + Model)" data-bind="value: document.AdministrativeTypeDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Видпротокола_190__00" />
            </td>
            <td></td>
            <td>
                <div style="position: relative;">
                    <span data-for="@("LanguageDictionaryId" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00
            </td>
            <td>
                <select name="@("LanguageDictionaryId" + Model)" id="@("LanguageDictionaryId" + Model)" data-bind="value: document.LanguageDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00" />
            </td>
        </tr>*@
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Вложения_280__00</td>
            <td colspan="4">
                <input name="files" id="@("files" + Model)" type="file" title="@PW.Ncels.Database.Recources.Messages.ВыбратьФайл"/>
            </td>
        </tr>
    </table>
    <div class="hr-line-dashed2"></div>
    @(Html.Kendo().Grid<PW.Ncels.Database.DataModel.PrtPrjsView>()
          .Name("gridPricesView" + Model)
          .Columns(columns => {
              columns.Bound(p => p.ProjectNumber).Width(60).ClientTemplate(
                                              "<div class=\"btn-group btn-group-xs\" style='height:14px;margin-top: -9px;'>" +
                                                  "<button  type='button' style='width:90px;' class='btn btn-default btn-xs' onclick=\"getIncomingDetails('#=ProjectId#', '#=ProjectNumber#')\"><span style=\"color:rgb(66,139,202);\">#=ProjectNumber#</span></button>" +
                                              "</div>"
                                              ).Title(PW.Ncels.Database.Recources.Messages.Property_Номер_373__00);
              columns.Bound(p => p.ProjectDate).Format("{0:dd.MM.yyyy}").Title(PW.Ncels.Database.Recources.Messages.Ncels_Дата_рег_3).Width(45);
              columns.Bound(p => p.ManufaturerName).Title(PW.Ncels.Database.Recources.Messages.Ncels_Производитель_5).Width(100);
              columns.Bound(p => p.CountryName).Title(PW.Ncels.Database.Recources.Messages.Ncels_Страна_6).Width(100);
              columns.Bound(p => p.ApplicantName).Title(PW.Ncels.Database.Recources.Messages.Ncels_Заявитель_7).Width(100);
              columns.Command(command => {
                  command.Destroy();
              }).Width(26);
          }).ToolBar(toolbar => toolbar.Create())
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .Reorderable(reorderable => reorderable.Columns(false))
          .Resizable(resizable => resizable.Columns(true))
          .Scrollable(scrollable => scrollable.Virtual(true))
          .HtmlAttributes(new { @class = "pwGridPrice" })
          .DataSource(dataSource => dataSource
              .Ajax()
              .Sort(sort => sort.Add("ProjectNumber"))
              .Model(model => model.Id(p => p.Id))
              .Read(read => read.Action("PrtPrjsList", "Project", new { id=Model}))
              .Create(update => update.Action("PrtPrjCreate", "Application", new { id1 = Model }))
              .Destroy(update => update.Action("PrtPrjDestroy", "Application"))
          ))
</div>

<script>
    InitializeDataProject('@Model.ToString()', '@ViewData["TaskId"]', 'Pfk');
</script>
