@model PW.Ncels.Database.DataModel.CheckBoxObject
@{
    var yesBtn = "";
    var noBtn = "";
    if (Model.IsCheckBox == null)
    {
        yesBtn = "btn btn-default";
        noBtn = "btn btn-default";
    }
    else
    {
        if (Model.IsCheckBox.Value)
        {
            yesBtn = "btn active btn-success";
            noBtn = "btn btn-default";
        }
        else
        {
            noBtn = "btn active btn-danger";
            yesBtn = "btn btn-default";
        }
    }


}

<div class="btn-group m-b checked-final-document" style="width: 100px">
    <a is="1" class="@yesBtn" objectId="@Model.ObjectId" name="@Model.NameCheckBox">Да</a>
    <a is="0" class="@noBtn"  objectId="@Model.ObjectId" name="@Model.NameCheckBox">Нет</a>
</div>
