@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.EXP_DrugDosage
<style type="text/css">
    .dosage-remark {
    }
</style>
@{
    var btnId = "addDosageMark" + Model.DrugDeclarationId;
    var dosageTypeDiv2 = "dosageTypeDiv2" + Model.DrugDeclarationId;
    var tableId = "dosageTable" + Model.DrugDeclarationId;
}


<div class="panel panel-default">
    <div class="panel-heading">
        Замечания и уточнения
    </div>
    <div class="panel-body" style="padding: 10px;">

        <div class="CSSTableGenerator">
            <table id="@tableId" style="width: 100%; text-align: center" >
                <thead>
                    <tr>
                        <td>Наименование</td>
                        <td>Отметка</td>
                        <td>Тип замечания</td>
                        <td>Замечание</td>
                        <td>Дата замечания</td>
                        <td>Дата исправления</td>
                        <td></td>
                    </tr>

                </thead>
                <tbody>
                    @for (var i = 0; i < Model.ExpDrugAppDosageRemarks.Count; i++)
                    {
                        var code = CodeConstManager.EXP_DrugAppDosageRemarkCode + "_" + Model.DrugDeclarationId + "_" + Model.ExpDrugAppDosageRemarks[i].Id + "_";
                        var nameResultId = code + "NameResult";
                        var isMarkId = code + "IsMark";
                        var idremarkTypeId = code + "RemarkTypeId";
                        var noteId = code + "Note";

                        var idRemarkDateStr = code + "RemarkDateStr";

                        var idFixedDateStr = code + "FixedDateStr";
                        var idRecord = "";

                        var wrapKindcss = "form-control edit-control dosage-remark";
                        if (Model.Id > -1)
                        {
                            idRecord = Model.DrugDeclarationId+"_"+ Model.ExpDrugAppDosageRemarks[i].Id;
                            wrapKindcss += " chosen-wrap-kind";
                        }
                        <tr rowid="@Model.ExpDrugAppDosageRemarks[i].Id">
                            <td>
                                @Html.TextBox("NameResult", Model.ExpDrugAppDosageRemarks[i].NameResult, new { @class = "dosage-remark form-control", id = nameResultId })
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => model.ExpDrugAppDosageRemarks[i].IsMark, new { @class = "form-control dosage-remark", @style = "", id = isMarkId })
                            </td>
                            <td>
                                @Html.DropDownList("RemarkTypeId", (IEnumerable<SelectListItem>)(ViewData["RemarkTypes" + idRecord]), String.Empty, new { @class = "form-control dosage-remark", id = idremarkTypeId })
                            </td>
                            <td>
                                @Html.TextBox("Note", Model.ExpDrugAppDosageRemarks[i].Note, new { @class = "dosage-remark form-control", id = noteId })
                            </td>
                            <td>
                                @Html.TextBox("RemarkDateStr", Model.ExpDrugAppDosageRemarks[i].RemarkDateStr, new { @class = "dosage-remark form-control date-control", id = idRemarkDateStr })
                            </td>
                            <td>
                                @Html.TextBox("FixedDateStr", Model.ExpDrugAppDosageRemarks[i].FixedDateStr, new { @class = "dosage-remark form-control date-control", id = idFixedDateStr })
                            </td>
                            @if (i == 0)
                            {
                                <td><a class="deleteExpRow"></a></td>
                            }
                            else
                            {
                                <td>
                                    <i class="glyphicon glyphicon-remove deleteExpRow" title="Удалить"></i>
                                </td>
                            }
                        </tr>
                    }
                <tfoot>
                <tfoot>
                    <tr>
                        <td colspan="9" style="text-align: left;">
                            <button type="button" class="btn btn-success btn-sm add-dosage-mark" id="@btnId" style="margin-top: 10px">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@ResourceSetting.add
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    function changeDosageRemark(control) {
        changeDosageCollection(control, '@CodeConstManager.EXP_DrugAppDosageRemarkCode');
    }

    $(document).ready(function () {
        changeDosageRemark(".dosage-remark");
        $("#" + '@btnId').on("click", function () {
            var table = $(this).closest("table");
            var tbody = table.find('tbody:first');
            var lastRowIndex = tbody.children('tr').length;
            var nextIndexValue = parseInt(lastRowIndex) + 1;

            var kindObject = "ExpDrugAppDosageRemarks";

            var cols = '<tr rowid="0" rowindex="' + nextIndexValue + '">';
            var nextIndex = "0_" + nextIndexValue;

            var eventDiv = document.getElementById('@dosageTypeDiv2');
            var docagCode = "dosageRemark_a" +nextIndex+"_";
            var idWrappingType = docagCode+ 'RemarkTypeId';
            var nameWrappingType = kindObject + '[' + nextIndex + '].RemarkTypeId';

            var wrapTypeStr = replaceAll('id="RemarkTypeId"',
                'id="' + idWrappingType + '"',
                eventDiv.innerHTML);
            wrapTypeStr = replaceAll('name="RemarkTypeId"', 'name="' + nameWrappingType + '"', wrapTypeStr);

            var idNameResult = docagCode + "NameResult";
            var idIsMark = docagCode + "IsMark";
            var idNote = docagCode + "Note";
            var idRemarkDateStr = docagCode + "RemarkDateStr";
            var idFixedDateStr = docagCode + "FixedDateStr";

            cols += '<td><input type="text" name="NameResult" id="' + idNameResult + '" class="dosage-remark form-control" /></td>';
            cols += '<td><input class="form-control dosage-remark" data-val="true" data-val-required="The IsMark field is required." id="' + idIsMark + '" name="IsMark" style="" type="checkbox" value="true"></td>';
            cols += '<td>' + wrapTypeStr + '</td>';
            cols += '<td><input type="text" name="Note" id="' + idNote + '" class="dosage-remark form-control" /></td>';
            cols += '<td><input type="text" name="RemarkDateStr" id="' + idRemarkDateStr + '" class="dosage-remark form-control date-control" /></td>';
            cols += '<td><input type="text" name="FixedDateStr" id="' + idFixedDateStr + '" class="dosage-remark form-control date-control" /></td>';
            cols += '<td><i class="glyphicon glyphicon-remove deleteExpRow"  title="@ResourceSetting.delete"></td>';
            cols += '</tr>';
            tbody.append(cols);
            changeDosageRemark("#" + idNameResult);
            changeDosageRemark("#" + idWrappingType);
            changeDosageRemark("#" + idIsMark);
            changeDosageRemark("#" + idNote);
            changeDosageRemark("#" + idRemarkDateStr);
            changeDosageRemark("#" + idFixedDateStr);
          
            setDateFormat("#" + idRemarkDateStr);
            setDateFormat("#" + idFixedDateStr);
        });


        $("#" + '@tableId').on("click", ".deleteExpRow", function () {

            var row = $(this).closest('tr');
            var success = function () {
                var entityId = row.attr('rowid');
                DeleteRecord('@CodeConstManager.EXP_DrugAppDosageRemarkCode', entityId);
                row.remove();
            }
            var cancel = function () {
            };
            showConfirmation("@ResourceSetting.delete", "@ResourceSetting.deleteconfirm", success, cancel);
        });
    });
</script>