@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.EXP_ExpertisePrimaryFinalDoc
<style type="text/css">
    .dosage-remark {
    }

    .dosage-result {
    }

    .header {
        background-color: #5cb85c;
        color: white;
    }

        .header h4 {
            font-weight: bold;
        }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        Результаты экспертизы
    </div>
    <div class="panel-body" style="padding: 10px;">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td colspan="2" style="background-color: #5cb85c;color: white;">
                        <h4>Оценка полноты,  комплектности регистрационного досье и правильности оформления представленных документов</h4>
                    </td>
                </tr>
                <tr>
                    <td>В Республике Казахстан под указанным торговым названием ранее зарегистрировано другое лекарственное средство с другим составом действующих веществ:</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsRKProduct", IsCheckBox = Model.IsRKProduct })
                    </td>
                </tr>
                <tr>
                    <td>Досье сформировано по разделам, страницы пронумерованы, опись документов составлена</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsDossierSection", IsCheckBox = Model.IsDossierSection })
                    </td>
                </tr>
                <tr>
                    <td>Комплект документов соответствует утвержденному перечню</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsSetDocument", IsCheckBox = Model.IsSetDocument })
                    </td>
                </tr>
                <tr>
                    <td>Наличие цветных макетов упаковок и факт заверения их печатью заявителя (для лекарственных препаратов), соответствие упаковки лекарственного средства, требованиям действующего законодательства Республики Казахстан</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsColorModel", IsCheckBox = Model.IsColorModel })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color: #5cb85c;color: white;">
                        <h4>Экспертиза состава лекарственного средства</h4>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>Наличие в составе лекарственного средства запрещенных красителей и других вспомогательных веществ</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsForbiddenDyes", IsCheckBox = Model.IsForbiddenDyes })
                    </td>
                </tr>
                <tr>
                    <td>Наличие в составе лекарственного средства веществ, полученных из крови, органов и тканей человека и животных</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsFromBlood", IsCheckBox = Model.IsFromBlood })
                    </td>
                </tr>
                <tr>
                    <td>Наличие в составе наркотических средств, психотропных веществ и прекурсоров</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsNarcoticDrug", IsCheckBox = Model.IsNarcoticDrug })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color: #5cb85c;color: white;">
                        <h4>Экспертиза названия лекарственного средства на предмет отсутствия в нем</h4>
                    </td>
                </tr>
                <tr>
                    <td>графических и (или) фонетических сходств с ранее зарегистрированными лекарственными  препаратами и слов с неблагозвучными выражениями</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsPhoneticSimilar", IsCheckBox = Model.IsPhoneticSimilar })
                    </td>
                </tr>
                <tr>
                    <td>способности ввести в заблуждение относительно истинного состава и действия препарата</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsAbilityMislead", IsCheckBox = Model.IsAbilityMislead })
                    </td>
                </tr>
                <tr>
                    <td>рекламной информации относительно  использования лекарственного средства и представления его как уникального, эффективного, безопасного и исключительного по отсутствию побочных действий</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsAdvertising", IsCheckBox = Model.IsAdvertising })
                    </td>
                </tr>
                <tr>
                    <td>сходства МНН и/или сходные с ними названия для лекарственного средства другого химического состава или действия</td>
                    <td>
                        @Html.Partial("~/Views/DrugDeclaration/AppDosage/CheckBoxView.cshtml", new CheckBoxObject() { ObjectId = Model.EXP_ExpertiseStageDosage.Id, NameCheckBox = "IsMNNSimilar", IsCheckBox = Model.IsMNNSimilar })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color: #5cb85c;color: white;">
                        <h4>Экспертиза аналитической части регистрационного досье</h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Экспертиза нормативного документа по контролю безопасности и качества на соответствие структуры документа требованиям нормативных правовых актов Республики Казахстан:</span>
                        @Html.TextAreaFor(model => model.ExpertiseNormDoc, new { @class = "form-control primary-final-doc", ObjectId = Model.EXP_ExpertiseStageDosage.Id, placeholder = "Экспертиза нормативного документа по контролю безопасности и качества на соответствие структуры документа требованиям нормативных правовых актов Республики Казахстан" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Наличие образцов лекарственного препарата в конечной упаковке, в количестве для трехкратного анализа:</span>
                        @Html.TextAreaFor(model => model.SampleDrug, new { @class = "form-control primary-final-doc", ObjectId = Model.EXP_ExpertiseStageDosage.Id, placeholder = "Наличие образцов лекарственного препарата в конечной упаковке, в количестве для трехкратного анализа" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Соответствие серии образцов продукции серии, указанной в сертификате:</span>
                        @Html.TextAreaFor(model => model.ComplianceSeries, new { @class = "form-control primary-final-doc", ObjectId = Model.EXP_ExpertiseStageDosage.Id, placeholder = "Соответствие серии образцов продукции серии, указанной в сертификате" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Остаточный срок годности образцов продукции:</span>
                        @Html.TextAreaFor(model => model.ResidualShelfLife, new { @class = "form-control primary-final-doc", ObjectId = Model.EXP_ExpertiseStageDosage.Id, placeholder = "Остаточный срок годности образцов продукции" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Наличие образцов субстанции:</span>
                        @Html.TextAreaFor(model => model.SampleSubstance, new { @class = "form-control primary-final-doc", ObjectId = Model.EXP_ExpertiseStageDosage.Id, placeholder = "Наличие образцов субстанции" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Наличие стандартных образцов активных веществ и примесей для проведения испытаний:</span>
                        @Html.TextAreaFor(model => model.SampleStandart, new { @class = "form-control primary-final-doc", ObjectId = Model.EXP_ExpertiseStageDosage.Id, placeholder = "Наличие стандартных образцов активных веществ и примесей для проведения испытаний" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Рекомендация испытательной лаборатории для проведения экспертизы с учетом технической оснащенности:</span>
                        @Html.TextAreaFor(model => model.TestLabRecommend, new { @class = "form-control primary-final-doc", ObjectId = Model.EXP_ExpertiseStageDosage.Id, placeholder = "Рекомендация испытательной лаборатории для проведения экспертизы с учетом технической оснащенности" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color: #5cb85c;color: white;">
                        <h4>Экспертиза сведений о фармакологическом действии лекарственного средства</h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Соответствие структуры и оформления инструкции по медицинскому применению лекарственного средства требованиям законодательства Республики Казахстан:</span>
                        @Html.TextAreaFor(model => model.MedicalInstruction, new { @class = "form-control primary-final-doc", ObjectId = Model.EXP_ExpertiseStageDosage.Id, placeholder = "Соответствие структуры и оформления инструкции по медицинскому применению лекарственного средства требованиям законодательства Республики Казахстан" })
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <span>Заключение эксперта</span>
            @Html.TextAreaFor(model => model.ExpertOpinion, new { @class = "form-control primary-final-doc", rows = "5", ObjectId = Model.EXP_ExpertiseStageDosage.Id, placeholder = "Заключение эксперта" })
        </div>
    </div>
</div>