@model PW.Ncels.Database.DataModel.EXP_ExpertisePharmaceuticalFinalDoc

@{
    var pharmaceuticalFinalDocForm = "pharmaceuticalFinalDocForm" + Model.EXP_ExpertiseStageDosage.Id;
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
@*data-value-update="keypress"*@
<script>
    $(document).ready(function () {
        debugger;
        var viewModel = kendo.observable({
            Indicator1_1: $('#Indicator1_1@(Model.Id)').text(),
            Indicator2_1: $('#Indicator2_1@(Model.Id)').text(),
            Indicator2_2: $('#Indicator2_2@(Model.Id)').text(),
            Indicator2_3: $('#Indicator2_3@(Model.Id)').text(),
            Indicator2_4: $('#Indicator2_4@(Model.Id)').text(),
            Indicator3_1: $('#Indicator3_1@(Model.Id)').text(),
            Indicator3_2: $('#Indicator3_2@(Model.Id)').text(),
            Indicator3_3: $('#Indicator3_3@(Model.Id)').text(),
            Indicator4: $('#Indicator4@(Model.Id)').text(),
            Indicator5: $('#Indicator5@(Model.Id)').text(),
            Indicator6: $('#Indicator6@(Model.Id)').text(),
            Indicator7: $('#Indicator7@(Model.Id)').text(),
            Indicator12: $('#Indicator12@(Model.Id)').text(),
            Indicator13_1: $('#Indicator13_1@(Model.Id)').text(),
            Indicator13_2: $('#Indicator13_2@(Model.Id)').text(),
            Indicator13_3: $('#Indicator13_3@(Model.Id)').text(),
            Indicator14: $('#Indicator14@(Model.Id)').text(),
            Indicator15: $('#Indicator15@(Model.Id)').text(),
            Indicator16: $('#Indicator16@(Model.Id)').text(),
            Indicator17: $('#Indicator17@(Model.Id)').text(),
            Indicator18: $('#Indicator18@(Model.Id)').text(),
            Indicator19: $('#Indicator19@(Model.Id)').text(),
            Indicator20: $('#Indicator20@(Model.Id)').text(),
            ExpertConslusion: $('#ExpertConslusion@(Model.Id)').text()
        });
        viewModel.bind("change", function (e) {
            updateFinalDocument(e.field, viewModel.get(e.field), '@Model.EXP_ExpertiseStageDosage.Id', '@controllerName');
        });
        kendo.bind($("#@pharmaceuticalFinalDocForm"), viewModel);
    });
</script>
<div class="panel panel-default">
    <div class="panel-heading">
        Результаты экспертизы
    </div>
    <div class="panel-body" style="padding: 10px;">
        <table class="table table-bordered table-striped" id="@pharmaceuticalFinalDocForm">
            <tbody>
                <tr>
                    <td style="background-color: #5cb85c;color: white;">
                        <h4 class="finaldoc-header">1 Состав лекарственного средства и заключение о его рациональности и совместимости ингредиентов (указать лекарственные субстанции и вспомогательные вещества, включая консерванты, составные вещества оболочки препаратов и другое)</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">1.1 Нормативный документ по контролю качества и безопасности лекарственных средств, или Государственная фармакопея Республики Казахстан, зарубежные фармакопеи, признанные действующими на территории Республики Казахстан:</h4>
                        <textarea id="Indicator1_1@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator1_1">@Model.Indicator1_1</textarea>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #5cb85c;color: white;">
                        <h4 class="finaldoc-header">2 Для лекарственного растительного сырья</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">2.1 Ботанические латинские названия растений, входящих в состав сбора:</h4>
                        <textarea id="Indicator2_1@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator2_1">@Model.Indicator2_1</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">2.2 Нормативный документ по контролю качества и безопасности лекарственных средств, или Государственная фармакопея Республики Казахстан и зарубежные фармакопеи, признанные действующими на территории Республики Казахстан:</h4>
                        <textarea id="Indicator2_2@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator2_2">@Model.Indicator2_2</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">2.3 Дикорастущее или культивируемое:</h4>
                        <textarea id="Indicator2_3@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator2_3">@Model.Indicator2_3</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">2.4 Место произрастания:</h4>
                        <textarea id="Indicator2_4@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator2_4">@Model.Indicator2_4</textarea>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #5cb85c;color: white;">
                        <h4 class="finaldoc-header">3 В случае наличия в составе лекарственного средства вещества, подлежащего контролю в соответствии с Законом Республики Казахстан «О наркотических средствах, психотропных веществах, прекурсорах и мерах противодействия их незаконному обороту и злоупотреблению ими»</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">3.1 Заключение о принадлежности к подконтрольным веществам (на основании изучения международного непатентованного наименования, торгового названия, химического названия, структурной формулы о принадлежности к подконтрольным веществам с указанием позиции Таблиц Списка, является ли вещество стереоизомером наркотических средств Таблицы II, в тех случаях, когда существование таких изомеров возможно в рамках данного конкретного химического обозначения (если таковые определенно не исключены), солью всех наркотических средств, перечисленных в Таблице II, включая соли изомеров, как предусмотрено выше, во всех случаях, когда существование таких солей возможно; солью психотропных веществ Таблицы II и Таблицы III, когда существование таких солей возможно:</h4>
                        <textarea id="Indicator3_1@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator3_1">@Model.Indicator3_1</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">3.2 Заключение о возможности или невозможности извлечения легкодоступным способом подконтрольного вещества в количествах, достаточных для злоупотребления:</h4>
                        <textarea id="Indicator3_2@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator3_2">@Model.Indicator3_2</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">3.3 Заключение в том, что в отношении препарата могут быть сняты некоторые меры контроля:</h4>
                        <textarea id="Indicator3_3@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator3_3">@Model.Indicator3_3</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">4 Анализ сведений о происхождении, регистрации в Республике Казахстан, качестве и выводы о возможности использования субстанции (при отсутствии сертификата GMP):</h4>
                        <textarea id="Indicator4@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator4">@Model.Indicator4</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">5 Анализ сведений о качестве, количестве с выводами о допустимости использования используемых вспомогательных веществ:</h4>
                        <textarea id="Indicator5@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator5">@Model.Indicator5</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">6 Заключение о производстве (производственная формула, описание технологии производства, контроль в процессе производства, валидация производственных процессов):</h4>
                        <textarea id="Indicator6@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator6">@Model.Indicator6</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">7 Характеристика готового продукта (соответствие представленных параметров в сертификате качества на готовую продукцию или в паспорте организации-производителя описанным методикам контроля качества в нормативной документации, соответствие серий представленных образцов сериям, указанным в сертификате):</h4>
                        <textarea id="Indicator7@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator7">@Model.Indicator7</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">12 Заключение о маркировке и упаковке на предмет их достаточности для обеспечения сохранения качества лекарственного средства во время хранения и транспортировки, (необходимость дополнительных надписей), наличие спецификаций на первичную и вторичную упаковку. Гигиеническое заключение на упаковку (для отечественных производителей):</h4>
                        <textarea id="Indicator12@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator12">@Model.Indicator12</textarea>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #5cb85c;color: white;">
                        <h4 class="finaldoc-header">13 Заключение о наличии или отсутствии в названии лекарственного средства</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">13.1 графических сходств с ранее зарегистрированными лекарственными препаратами и слов с неблагозвучными выражениями:</h4>
                        <textarea id="Indicator13_1@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator13_1">@Model.Indicator13_1</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">13.2 способности ввести в заблуждение относительно истинного состава и действия препарата:</h4>
                        <textarea id="Indicator13_2@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator13_2">@Model.Indicator13_2</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">
                            13.3 сходства МНН и/или сходные с ними названия для лекарственного
                            средства другого химического состава или действия:
                        </h4>
                        <textarea id="Indicator13_3@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator13_3">@Model.Indicator13_3</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">14 Спецификация готового продукта:</h4>
                        <textarea id="Indicator14@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator14">@Model.Indicator14</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">15 Заключение о данных химической, фармацевтической и биологической (ин витро) эквивалентности, представленных фирмой на лекарственное средство:</h4>
                        <textarea id="Indicator15@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator15">@Model.Indicator15</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">16 Заключение о стабильности лекарственного средства, обоснованность заявленного срока хранения, периода применения после:</h4>
                        <textarea id="Indicator16@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator16">@Model.Indicator16</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">17 Анализ и оценка проектов инструкции по медицинскому применению лекарственного средства, макетов упаковок и этикеток, проверка на идентичность указаний условий хранения и транспортирования, указанных в проекте нормативного  документа по контролю за качеством и безопасностью лекарственного средства и вышеуказанных проектах:</h4>
                        <textarea id="Indicator17@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator17">@Model.Indicator17</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">18 Заключение об условиях хранения и транспортирования лекарственного средства и необходимость введения дополнительных требований с целью обеспечения сохранения качества лекарственного средства:</h4>
                        <textarea id="Indicator18@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator18">@Model.Indicator18</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">19 Анализ нормативного документа по контролю качества и безопасности лекарственного средства и методик контроля качества готового продукта и оценка протокола испытательной лаборатории:</h4>
                        <textarea id="Indicator19@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator19">@Model.Indicator19</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">20 Сравнение с аналогами, зарегистрированными в Республике Казахстан. Сравнительная характеристика основных показателей качества:</h4>
                        <textarea id="Indicator20@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator20">@Model.Indicator20</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">Рекомендации эксперта:</h4>
                        <textarea id="ExpertConslusion@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: ExpertConslusion">@Model.ExpertConslusion</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
