@model PW.Ncels.Database.DataModel.EXP_ExpertisePharmacologicalFinalDoc

@{
    var pharmacologicalFinalDocForm = "pharmacologicalFinalDocForm" + Model.EXP_ExpertiseStageDosage.Id;
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<script>
    $(document).ready(function () {
        debugger;
        var viewModel = kendo.observable({
            Indicator1: $('#Indicator1@(Model.Id)').text(),
            Indicator2: $('#Indicator2@(Model.Id)').text(),
            Indicator3: $('#Indicator3@(Model.Id)').text(),
            Indicator4: $('#Indicator4@(Model.Id)').text(),
            Indicator5: $('#Indicator5@(Model.Id)').text(),
            Indicator6: $('#Indicator6@(Model.Id)').text(),
            Indicator7: $('#Indicator7@(Model.Id)').text(),
            Indicator8: $('#Indicator8@(Model.Id)').text(),
            Indicator9: $('#Indicator9@(Model.Id)').text(),
            Indicator10: $('#Indicator10@(Model.Id)').text(),
            Indicator11: $('#Indicator11@(Model.Id)').text(),
            Indicator12: $('#Indicator12@(Model.Id)').text(),
            Indicator13: $('#Indicator13@(Model.Id)').text(),
            Indicator14: $('#Indicator14@(Model.Id)').text(),
            Indicator15: $('#Indicator15@(Model.Id)').text(),
            Indicator16: $('#Indicator16@(Model.Id)').text(),
            Indicator17: $('#Indicator17@(Model.Id)').text(),
            Indicator18: $('#Indicator18@(Model.Id)').text(),
            Indicator19: $('#Indicator19@(Model.Id)').text(),
            Indicator20: $('#Indicator20@(Model.Id)').text(),
            Indicator21: $('#Indicator21@(Model.Id)').text(),
            Indicator22: $('#Indicator22@(Model.Id)').text(),
            Indicator23: $('#Indicator23@(Model.Id)').text(),
            ExpertConslusion: $('#ExpertConslusion@(Model.Id)').text()
        });
        viewModel.bind("change", function (e) {
            updateFinalDocument(e.field, viewModel.get(e.field), '@Model.EXP_ExpertiseStageDosage.Id', '@controllerName');
        });
        kendo.bind($("#@pharmacologicalFinalDocForm"), viewModel);
    });
</script>
<div class="panel panel-default">
    <div class="panel-heading">
        Результаты экспертизы
    </div>
    <div class="panel-body" style="padding: 10px;">
        <table class="table table-bordered table-striped" id="@pharmacologicalFinalDocForm">
            <tbody>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">1 Заключение о принадлежности к подконтрольным веществам (на основании изучения международного непатентованного наименования, торгового названия, химического названия, структурной формулы о принадлежности к подконтрольным веществам с указанием позиции Таблиц Списка, является ли вещество стереоизомером наркотических средств Таблицы II, в тех случаях, когда существование таких изомеров возможно в рамках данного конкретного химического обозначения (если таковые определенно не исключены), солью всех наркотических средств, перечисленных в Таблице II, включая соли изомеров, как предусмотрено выше, во всех случаях, когда существование таких солей возможно; солью психотропных веществ Таблицы II и Таблицы III, когда существование таких солей возможно:</h4>
                        <textarea id="Indicator1@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator1">@Model.Indicator1</textarea>
                    </td>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">2 Научно-обоснованное определение степени риска злоупотребления: высокий риск злоупотребления, или риск злоупотребления отсутствует, или является незначительным; определение максимально допустимого содержания наркотических средств, психотропных веществ и прекурсоров в лекарственных средствах:</h4>
                        <textarea id="Indicator2@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator2">@Model.Indicator2</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">3 Заключение в том, что в отношении препарата могут быть сняты некоторые меры контроля:</h4>
                        <textarea id="Indicator3@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator3">@Model.Indicator3</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">4 Анализ достоверности качественного и количественного состава активных и вспомогательных веществ, указанных в инструкции по медицинскому применению, сравнивая с заявленным составом в заявлении, аналитическом нормативном документе и макете упаковки:</h4>
                        <textarea id="Indicator4@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator4">@Model.Indicator4</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">5 Оценка фармакологической совместимости компонентов, в случае регистрации воспроизведенного лекарственного средства провести сравнение с составом оригинального препарата:</h4>
                        <textarea id="Indicator5@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator5">@Model.Indicator5</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">6 Анализ документации по доклиническим исследованиям: токсичности (острая, хроническая, LD50, LD100), канцерогенности, эмбриотоксичности, тератогенности, мутагенности, местно-раздражающего действия, влияния на иммунную систему, специфической фармакологической (биологической) активности:</h4>
                        <textarea id="Indicator6@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator6">@Model.Indicator6</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">7 Анализ документации клинических исследований (фазы клинических исследований, постмаркетинговые исследования, протоколы и отчеты, заключения Этической комиссии). При этом необходимо указать место, дату, спонсора проведения исследования, цель, дизайн, длительность исследования, количество, пол возраст испытуемых, режим дозирования препарата, мониторинг побочных действий в процессе проведения клинических исследований, соответствие отчета протоколу, заключение о соотношении «польза-риск»:</h4>
                        <textarea id="Indicator7@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator7">@Model.Indicator7</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">
                            8 В соответствии с п. 23. в регистрационном досье представлен
                            - отчет сравнительных фармакокинетических исследований (исследования биоэквивалентности);
                            - отчет сравнительных фармакодинамических клинических исследований;
                            - отчет сравнительных исследований терапевтической эквивалентности;
                            - отчет сравнительных ин-витро исследований.
                            :
                        </h4>
                        <textarea id="Indicator8@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator8">@Model.Indicator8</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">
                            9 От заявителя, имеющего документ, подтверждающий соответствие производства надлежащей производственной практики стран-регионов ICH, PIC/S, РК, не требуется предоставление отчетов исследований эквивалентности ин-виво при условии, что:
                            - лекарственные средства для парентерального применения;
                            - лекарственные средства для приема внутрь в форме водных растворов, в виде водных растворов;
                            - лекарственные средства в форме порошков для приготовления водных растворов, если раствор отвечает требованиям подпунктов 1 или 2 настоящего пункта;
                            - лекарственные средства, которые являются газами;
                            - ушные или глазные лекарственные средства, изготовленные в виде водных растворов;
                            - лекарственные средства местного действия в виде водных растворов;
                            - лекарственные средства, которые являются водными растворами и предназначены для ингаляций небулайзером;
                            - лекарственные средства системного действия в виде водных растворов
                            :
                        </h4>
                        <textarea id="Indicator9@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator9">@Model.Indicator9</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">10 В случае различий в составе вспомогательных веществ заявитель должен доказать, что при их использовании не предполагается влияние на безопасность и/или эффективность лекарственного средства; в случае, когда заявитель не может предоставить такую информацию и не имеет доступа к соответствующим данным, он должен провести соответствующие исследования (фармацевтические или доклинические или клинические) для доказательства отсутствия влияния различных вспомогательных веществ или вспомогательных устройств на безопасность и/или эффективность лекарственного средства:</h4>
                        <textarea id="Indicator10@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator10">@Model.Indicator10</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">11 Анализ данных по эквивалентности ин-виво исследований (протоколы и отчеты, заключения Этической комиссии). При этом необходимо указать место, дату, спонсора проведения исследования, цель, длительность исследования, тест-препарат, референс-препарат, указать лекарственную форму, режим дозирования, путь введения препарата, количество испытуемых, пол, возраст, мониторинг побочных действий, соответствие отчета протоколу, биоаналитические методы исследования, внутренний стандарт, индивидуальные хроматограммы, фармакокинетические кривые, статические данные по фармакокинетическим параметрам (в виде таблиц), заключение о биоэквивалетности. Соответствие исследований биоэквивалентности требованиям Республики Казахстан:</h4>
                        <textarea id="Indicator11@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator11">@Model.Indicator11</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">12 Оценка источника происхождения (кровь, органы и ткани человека и животных) и специфической активности для иммунобиологических препаратов:</h4>
                        <textarea id="Indicator12@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator12">@Model.Indicator12</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">13 Оценка безопасности и эффективности лекарственного средства по результатам клинических исследований в отношении заявленных возрастных групп больных, обоснованности выбора показаний к применению, противопоказаний, предостережений при применении препарата, профиля побочных действий:</h4>
                        <textarea id="Indicator13@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator13">@Model.Indicator13</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">14 Оценка безопасности и эффективности лекарственного средства с учетом соотношения «польза-риск» - противопоказания, предупреждения и предостережения при применении препарата. Требуется обратить особое внимание на детский возраст, беременных и кормящих женщин, пожилой возраст, пациентов с почечной и печеночной недостаточностью:</h4>
                        <textarea id="Indicator14@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator14">@Model.Indicator14</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">15 Экспертиза инструкции по медицинскому применению проводится в сравнении с краткой характеристикой лекарственного препарата. Делается заключение о соответствии или несоответствии показаний к применению, побочных действий, противопоказаний, особых указаний, лекарственных взаимодействий, передозировки, указанных в инструкции по медицинскому применению лекарственного средства, краткой характеристике лекарственного препарата:</h4>
                        <textarea id="Indicator15@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator15">@Model.Indicator15</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">
                            16 Заключение о наличии или отсутствии в названии лекарственного средства:
                            1) графических сходств с ранее зарегистрированными лекарственными препаратами и слов с неблагозвучными выражениями;
                            2) способности ввести в заблуждение относительно истинного состава и действия препарата;
                            3) сходства МНН и/или сходные с ними названия для лекарственного средства другого химического состава или действия:
                        </h4>
                        <textarea id="Indicator16@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator16">@Model.Indicator16</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">17 Оценка правильности присвоения кода Анатомо-терапевтическо-химической (АТХ) классификации, соответствия фармакотерапевтической группы коду АТХ классификации, фармакологическому действию, показаниям к применению. В случае не правильно заявленных АТХ кода и фармакотерапевтической группы, требуется указать рекомендуемые экспертом:</h4>
                        <textarea id="Indicator17@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator17">@Model.Indicator17</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">18 Проверка адекватности заявленных доз и режима дозирования согласно фармакокинетическим параметрам (периода полувыведения, степени связывания с белками плазмы крови, влияние на активность печеночных ферментов, время сохранения бактериостатической/бактерицидной концентрации в случае антибактериальных препаратов). Требуется обратить особое внимание на дозы, рекомендуемые детям, пожилым, больным с нарушениями функции почек и печени:</h4>
                        <textarea id="Indicator18@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator18">@Model.Indicator18</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">19 Проверка соответствия заявленного срока хранения, указанного в заявлении, в краткой характеристике лекарственного препарата, инструкции по медицинскому применению, макетах упаковки со сроком хранения, указанным в нормативном документе:</h4>
                        <textarea id="Indicator19@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator19">@Model.Indicator19</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">20 Соответствие представленной инструкции по медицинскому применению действующему законодательству Республики Казахстан:</h4>
                        <textarea id="Indicator20@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator20">@Model.Indicator20</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">
                            21 Краткая характеристика системы фармаконадзора держателя регистрационного удостоверения должна включать следующие элементы:
                            - доказательство того, что держатель регистрационного удостоверения имеет в своём распоряжении ответственное лицо за глобальный фармаконадзор;
                            - контактные данные ответственного лица за глобальный фармаконадзор;
                            - декларация, подписанная держателем регистрационного удостоверения о том, что он имеет систему фармаконадзора для выполнения задач и обязанностей по пострегистрационному контролю безопасности лекарственных средств;
                            - ссылка на место (адрес), где хранится   мастер-файл системы фармаконадзора:
                        </h4>
                        <textarea id="Indicator21@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator21">@Model.Indicator21</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">
                            22 Ответственное лицо за локальный фармаконадзор в РК:
                            - документ, подтверждающий назначение ответственного лица за фармаконадзор в РК;
                            - контактные данные ответственного лица за фармаконадзор в РК:
                        </h4>
                        <textarea id="Indicator22@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator22">@Model.Indicator22</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">23 План управления рисками при медицинском применении лекарственного средства, заявленного на регистрацию/перерегистрацию или внесение изменений (для оригинальных препаратов, биосимиляров, вакцин, препаратов крови, генерическим препаратам требующего особого контроля):</h4>
                        <textarea id="Indicator23@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: Indicator23">@Model.Indicator23</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="finaldoc-header">Рекомендации эксперта:</h4>
                        <textarea id="ExpertConslusion@(Model.Id)" class="form-control" cols="20" rows="2" data-bind="value: ExpertConslusion">@Model.ExpertConslusion</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>