@using PW.Ncels.Database.Constants
@model PW.Ncels.Database.Models.Expertise.PrimaryEntity

@{
    var tab1 = "tabDoasage-1" + Model.DrugDeclarationId;
    var tab1b = "#" + tab1;
    var tab2 = "tabDoasage-2" + Model.DrugDeclarationId;
    var tab2b = "#" + tab2;
    var tab3 = "tabDoasage-3" + Model.DrugDeclarationId;
    var tab3b = "#" + tab3;
    var tab4 = "tabDoasage-4" + Model.DrugDeclarationId;
    var tab4b = "#" + tab4;
    var tab5 = "tabDoasage-5" + Model.DrugDeclarationId;
    var tab5b = "#" + tab5;
    var tab6 = "tabDoasage-6" + Model.DrugDeclarationId;
    var tab6b = "#" + tab6;
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="ibox-content dosage-id">
    @Html.Partial("~/Views/DrugDeclaration/StageResult.cshtml", Model.CurrentStage)
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="@tab1b">Экспертиза</a></li>
                    <li class=""><a data-toggle="tab" href="@tab2b">Признаки первичной экспертизы</a></li>
                    <li class=""><a data-toggle="tab" href="@tab3b">НТД</a></li>
                    <li class=""><a data-toggle="tab" href="@tab4b">Замечание</a></li>
                    <li class=""><a data-toggle="tab" href="@tab5b">Переписка</a></li>
                    <li class=""><a data-toggle="tab" href="@tab6b">Акт выполненных работ</a></li>
                </ul>
                <div class="tab-content">
                    <div id="@tab1" class="tab-pane active">
                        @Html.Partial("~/Views/DrugPrimary/PrimaryOTDView.cshtml", Model)
                    </div>
                    <div id="@tab2" class="tab-pane">
                        @Html.Partial("~/Views/DrugDeclaration/PrimaryKindView.cshtml", Model)
                    </div>
                    <div id="@tab3" class="tab-pane">
                        @Html.Partial("~/Views/DrugDeclaration/PrimaryNTDView.cshtml", Model.EXP_DrugPrimaryNTD)
                    </div>
                    <div id="@tab4" class="tab-pane">
                        @Html.Partial("~/Views/DrugDeclaration/ExpertiseStageRemarkView.cshtml", Model)
                    </div>
                    <div id="@tab5" class="tab-pane">
                        @Html.Partial("~/Views/DrugDeclaration/DrugCorespondenceView.cshtml", Model)
                    </div>
                    <div id="@tab6" class="tab-pane">
                        @{ Html.RenderAction("Index", "CertificateOfCompletion", new { stageId = CodeConstManager.STAGE_PRIMARY, drugDeclarationId = Model.DrugDeclarationId });}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        /*     $("select").each(function () {
                 if ($(this).hasClass("edit-control")) {
                     $(this).attr('disabled', 'disabled');
                 }
             });*/
        var itemId = '@Model.ExpStageId';
        var primaryTreeControl = "primaryTree" + itemId;
        FillJSTree(itemId, primaryTreeControl, '@controllerName', false);
        setDateFormat(".date-control");

    });

</script>