@model PW.Prism.ViewModels.PriceProject.ProtocolModel

<script>
    var initialFiles = [];
    if ('@(ViewBag.AttFileSize != null && ViewBag.AttFileSize > 0)'==='True') {
        initialFiles = [{ name: '@ViewBag.AttFileName', size: @(ViewBag.AttFileSize ?? 0), extension: '@ViewBag.AttFileExtension' }];
    }
    $(document).ready(function() {
        $("#protocolFile@(Model.Guid)").kendoUpload({
            async: {
                saveUrl: '@Url.Action("UploadProtocolFile", "Protocol", new {protocolId = Model.Protocol.Id})',
                removeUrl: '@Url.Action("RemoveProtocolFile", "Protocol", new {protocolId = Model.Protocol.Id})',
                autoUpload: true
            },
            multiple: false,
            files: initialFiles,
            remove: function(e) {
            },
            complete: function(e) {
            }
        });


        $("#protocolFile@(Model.Guid)").closest(".k-upload").find(".k-button").find("span").text("Прикрепить протокол");
    });
</script>

<div class="row">
    <br />
    <input type="file" name="files" id="protocolFile@(Model.Guid)" />
</div>
