@model PW.Ncels.Database.Models.OBK.OBKTaskResearchCenter
    
@{
    var tab1 = "tab-1" + Model.TaskId;
    var tab1b = "#" + tab1;
    var tab2 = "tab-2" + Model.TaskId;
    var tab2b = "#" + tab2;
}

<style>
    table#tableCreate td, th {
        text-align: center;
        vertical-align: middle;
    }
    div::-webkit-scrollbar { 
        display: none;
    }
</style>
    
<div id="editTaskPanel_@Model" style="margin-left: 10px; margin-right: 10px; width: auto; height: 550px; overflow-y: scroll;">
    <div class="pwPage pwPageEx" style="overflow: hidden; width: auto;">
        <div class="pwToolbar">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" onclick="">Принять образцы</button>
                    <button type="button" class="btn btn-default">Печатная форма задания</button>
                    <button type="button" class="btn btn-default" id="sendToExecutorResearchCenters" onclick="sendToExecutorResearchCenters()">Распределить</button>
                </div>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                Просмотр задания на проведение испытаний
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>№ задания</label>
                            <input class="form-control" type="text" disabled="disabled" value="@Model.TaskNumber">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Дата регистрации</label>
                            <input class="form-control" disabled="disabled" type="text" value="@Model.RegisterDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>№ акта отбора</label>
                            <input class="form-control" disabled="disabled" type="text" value="@Model.ActNumber">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>ИЦл/ИЛ</label>
                            <input class="form-control" disabled="disabled" type="text" value="@Model.UnitName">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="@tab1b">Задание на испытания</a></li>
                                <li class=""><a data-toggle="tab" href="@tab2b">Общие сведения</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="@tab1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="tableCreate" class="table table-striped table-bordered table-hover dataTable">
                                                    <thead>
                                                        <tr>
                                                            <td style="width: 40%">Наименование продукции</td>
                                                            <td>Серия</td>
                                                            <td>Размер партии</td>
                                                            <td>Кол-во отобранных образцов продукции</td>
                                                            <td>Наличие</td>
                                                            <td>Кол-во переданных образцов</td>
                                                            <td>Идентификационный номер</td>
                                                            <td>Вид испытаний</td>
                                                            <td style="width: 40%">Исполнитель</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var t in Model.TaskListResearchCenter)
                                                        {
                                                            <tr rowId="@t.Id">
                                                                <td>@t.ProductNameRu</td>
                                                                <td>@t.Series</td>
                                                                <td>@t.SeriesParty</td>
                                                                <td>@t.ActQuantity</td>
                                                                <td><input type="checkbox" class="form-group"/></td>
                                                                <td>@t.Quantity</td>
                                                                <td>@t.IdNumber</td>
                                                                <td>@t.LaboratoryName</td>
                                                                @*<td>@Html.DropDownList("ExecutorLaboratoryId", t.ExecutorLaboratoryList, String.Empty, new { @class = "form-control task-control" })</td>*@
                                                                <td>
                                                                    <div class="chzn-select">
                                                                        @Html.ListBoxFor(x => t.ExternalCondition, t.ExecutorLaboratoryList,
                                                                            new {@class = "chzn-select form-control task-control", data_placeholder = "Выбирите исполнителя...", name = "ExecutorLaboratoryList"})
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="@tab2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="table_product" class="table table-striped table-bordered table-hover dataTable">
                                                    <thead>
                                                        <tr>
                                                            <td>Наименование продукции</td>
                                                            <td>Серия</td>
                                                            <td>Ед. измерения</td>
                                                            <td>Дата изготовления</td>
                                                            <td>Срок годности</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var t in Model.TaskListResearchCenter)
                                                        {
                                                            <tr rowId="@t.ProductSeriesId">
                                                                <td>@t.ProductNameRu</td>
                                                                <td>@t.Series</td>
                                                                <td>@t.SeriesMeasure</td>
                                                                <td>@t.SeriesStartdate</td>
                                                                <td>@t.SeriesEndDate</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    $("div.chzn-select select").chosen({ width: '100%' });
    
    function sendToERC() {
        if (validERC) {
            sendToExecutorResearchCenters();
        } else {
            alert("Заполните обязательные поля");
        }
    }

    function sendToExecutorResearchCenters() {
        var taskListResearchCenter = new Array();
        var executorLaboratoryId = new Array();
        $('table#tableCreate tbody tr').each(function () {
            executorLaboratoryId = [];
            var rowId = $(this).attr('rowid');

            var selections = $(this).find('div.chzn-select option:selected');
            if (selections.length > 0) {
                selections.each(function () {
                    var chValue = $(this).val();
                    executorLaboratoryId.push(chValue);
                });
                taskListResearchCenter.push({ "Id": rowId, "LaboratoryAssistantIds": executorLaboratoryId });
            }

            //var executorLaboratoryId = $(this).find('td select#ExecutorLaboratoryId option:selected').val();
            //taskListResearchCenter.push({ Id: rowId, LaboratoryAssistantId: executorLaboratoryId });
        });

        var model= {
            TaskId: '@Model.TaskId',
            UnitLaboratoryId:'@Model.UnitLaboratoryId',
            TaskListResearchCenter: taskListResearchCenter
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("SendToExecutorReseachCenter")',
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            cache: false,
            success: function (data) {
                if (data.isSuccess) {
                    alert("Задание передано исполнителю");
                    $("#sendToExecutorResearchCenters").attr("disabled", true);
                } else {
                    alert("Ошибка при отправке задания");
                }
            },
            error: function () {
                alert("Connection Failed. Please Try Again");
            }
        });
    }

    function validERC() {
        var valid = true;
        $(".task-control").each(function () {
            if ($(this).val() == "" || $(this).val() == null) {
                $(this).css({ 'border-color': '#a94442' });
                valid = false;
            } else {
                $(this).css({ 'border-color': '#cccccc' });
            }
        });
        return valid;
    }
</script>