@model PW.Ncels.Models.LetterModel
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker({ format: 'DD.MM.YYYY', locale: 'ru' });
    });

    function setJustSave()
    {
        document.getElementById("statusId").value = 1;
    }
    function saveAndSend()
    {
        document.getElementById("statusId").value = 2;
    }
</script>
@*using System.Data.Entity.Core.Objects.DataClasses;*@
@if (ViewBag.AtLeastOne==true)
{
using (Html.BeginForm("AddLetter", "LetterWithEdo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AuthorID)
        @Html.HiddenFor(model => model.LetterStatusId, new { id = "statusId" })
        <div class="form-group">
            <label class="col-md-2 control-label">Номер договора</label>
            <div class="col-md-10 selectContainer">
                <div class="input-group" style="width:100%;">
                    @Html.DropDownListFor(model => model.ContractId, (SelectList)ViewData["Contract"], new { @class = "form-control selectpicker" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Номер письма", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Дата письма", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class='col-md-4'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" name="LetterRegDate" value="@DateTime.Now.ToString("dd.MM.YYYY")" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Краткое содержание", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.LetterContent, new { htmlAttributes = new { @class = "form-control" }, style = "width:100%", cols = "4", rows = "4" })
                @Html.ValidationMessageFor(model => model.LetterContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Файлы", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.files, "", new { @class = "form-control", @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit" class="btn btn-primary" style="width:100%;" onclick="setJustSave()">Сохранить</button>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" style="width:100%;" id="signAndSend" onclick="saveAndSend()">Подписать ЭЦП и отправить в ЦОЗ</button>
            </div>
        </div>
    </div>
}
}
else
{
    <div class="form-group" style="height:40px;">
        <div class="col-md-12">
            <h3  style="width:100%; text-align:center;">У Вас нет действующих договоров</h3>
        </div>
    </div>
}


