@model PW.Ncels.Models.LetterModelFromEdo
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<style>
    .lineStyle {
        width:100%;
        padding:5px;
    }
    </style>

<script type="text/javascript">
    $(document).ready(function () {
    });

</script>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Номер договора", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.nomerDogovora, new { htmlAttributes = new { @class = "form-control lineStyle" }, @class = "form-control lineStyle" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Отправитель", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.senderOrg, new { htmlAttributes = new { @class = "form-control lineStyle" }, @class = "form-control lineStyle" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Автор", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserEdo, new { htmlAttributes = new { @class = "form-control lineStyle" }, @class = "form-control lineStyle" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ответ на исх", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ObkLetterNumber, new { htmlAttributes = new { @class = "form-control lineStyle" }, @class = "form-control lineStyle" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Номер письма", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LetterRegNomer, new { htmlAttributes = new { @class = "form-control lineStyle" }, @class = "form-control lineStyle" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Дата письма", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LetterRegDate, new { htmlAttributes = new { @class = "form-control lineStyle" }, @class = "form-control lineStyle" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Краткое содержание", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.LetterText, new { htmlAttributes = new { @class = "form-control" }, style = "width:100%", cols = "4", rows = "4" })
            </div>
        </div>

    </div>

