@model PagedList.IPagedList<PW.Ncels.Models.LetterModel>
@using PW.Ncels.Models;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Scripts/js/plugins/moment/moment-with-locales.js"></script>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/js/bootstrap/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/js/plugins/moment/ru.js"></script>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () {
        $('#modelAddLetter').on('show.bs.modal', function (e) {
            $('#bodyMessage').load('/LetterWithEdo/AddLetter');
        });
    });


    function editLetter(x)
    {
        $('#bodyEditMessage').load('/LetterWithEdo/EditGet?id='+x,function(){
            $('#modelEditLetter').modal('show');
        });

    }

    function deleteItIn(x)
    {
        $('#delOutMessage').load('/LetterWithEdo/DeleteOutgoing?id=' + x, function () {
            $('#delLetter').modal('show');
        });
    }
</script>
<div class="modal" id="delLetter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Удалить письмо</h4>
                        </div>
                        <div class="modal-body" id="delOutMessage">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modelAddLetter">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Написать письмо</h4>
                    </div>
                    <div class="modal-body" id="bodyMessage">

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="modal" id="modelEditLetter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Редактировать письмо</h4>
                        </div>
                        <div class="modal-body" id="bodyEditMessage">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Переписка ОБК</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
                    </li>
                    <li class="active">
                        <strong>Переписка ОБК</strong>
                    </li>
                </ol>
            </div>
        </div>
        <br />

        <div class="wrapper wrapper-content" style="background-color:white; padding-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <button type="button" data-toggle="modal" data-target="#modelAddLetter" class="btn btn-primary">Написать письмо</button>
                <button type="button" onclick="location.href = '@Url.Action("Index", "LetterWithEdo")'" class="btn btn-primary">Отправленные</button>
                <button type="button" onclick="location.href = '@Url.Action("Incoming", "LetterWithEdo")'" class="btn btn-primary">Входящие</button>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="background-color:white;">
            <div class="col-md-3 col-md-offset-9" style="text-align:right;"> 
                @using (Html.BeginForm("Index", "LetterWithEdo", FormMethod.Get))
            {
                    <p>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Поиск" />
                    </p>
                }
            </div>
        </div>
    <div class="row" style="background-color:white;">
        <div class="col-lg-12">
            <table class="table table-hover">
                <tr>
                    <th class="col-md-2">
                        @Html.ActionLink("Номер договора", "Index", new { sortOrder = ViewBag.Dogovor, currentFilter = ViewBag.CurrentFilter }) <i class="fa fa-sort" aria-hidden="true"></i>
                    </th>
                    <th class="col-md-2">
                        @Html.ActionLink("Номер письма", "Index", new { sortOrder = ViewBag.NomerPismo, currentFilter = ViewBag.CurrentFilter }) <i class="fa fa-sort" aria-hidden="true"></i>
                    </th>
                    <th class="col-md-2">
                        @Html.ActionLink("Дата письма", "Index", new { sortOrder = ViewBag.DataPisma, currentFilter = ViewBag.CurrentFilter }) <i class="fa fa-sort" aria-hidden="true"></i>
                    </th>
                    <th class="col-md-4">
                        @Html.ActionLink("Краткое содержание", "Index", new { sortOrder = ViewBag.LetterContent, currentFilter = ViewBag.CurrentFilter }) <i class="fa fa-sort" aria-hidden="true"></i>
                    </th>
                    <th class="col-md-2" style="text-align:right;">
                        Действия
                    </th>
                </tr>

                @foreach (LetterModel f in Model)
                {
                    <tr>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => f.contractName)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => f.nomerPisma)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => f.CreatedDate)
                        </td>
                        <td class="col-md-4">
                            @if (f.LetterContent != null)
                            {
                                if (f.LetterContent.Length >= 50)
                                {
                                @Html.DisplayFor(modelItem => f.LetterContent).ToString().Substring(0, 50)
                                }
                                else
                                {
                                @Html.DisplayFor(modelItem => f.LetterContent)
                                }
                            }
                            else
                            {
                                <div>-</div>
                            }
                        </td>
                        <td class="col-md-2" style="text-align:right;">
                            <button type="button" class="btn btn-default" aria-label="Left Align" onclick="editLetter(@f.ID)">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                            </button> |
                            <button type="button" class="btn btn-default" aria-label="Left Align" onclick="deleteItIn(@f.ID)">
                                <span class="fa fa-trash-o" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }

            </table>
            <br />
            Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>



