@model Guid
<script>
    var modelId = "@Model";
    var isAssessmentExecutor = "@ViewBag.IsExecutor" === "True";

    function sendToUOBK(e) {
        var button = $(e.srcElement);
        button.attr("disabled", "disabled");
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendToUOBK")',
            data: {
                declarationId: '@Model'
            },
            dataType: 'json',
            cache: false,
            success: function (data) {
                alert('Заявка отправлена в УОБиК');
                button.attr("disabled", false);
                loadProgram();
            },
            error: function (err) {
                alert("Ошибка: " + err.message);
                button.attr("disabled", false);
            }
        });
    }

    function sendToEC(e) {
        var expertCouncilId = $("#ecSelect" + modelId).data("kendoDropDownList").value();
        if (!expertCouncilId) return alert("Выберите экспертный совет");
        var button = $(e.srcElement);
        button.attr("disabled", "disabled");
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendToEC")',
            data: {
                declarationId: '@Model',
                expertCouncilId: expertCouncilId
            },
            dataType: 'json',
            cache: false,
            success: function (data) {
                //button.attr("disabled", false);
                $("#sendToUobk" + modelId).hide();
                loadProgram();
            },
            error: function (err) {
                alert("Ошибка: " + err.message);
            }
        });
    }

</script>
<div class="panel-body" id="OP@(Model)">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body" id="productExpertiseId">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-12">
                            <div id="sendToUobk@(Model)" class="form-group" hidden>
                                <button type="button" class="k-button" onclick="sendToUOBK(event)">Передать в УОБиК</button>
                            </div>
                            <div id="sendToEC@(Model)" class="row" hidden>
                                <div class="form-group col-lg-4">
                                    @(Html.Kendo().DropDownList()
                                            .Name("ecSelect" + Model)
                                            .OptionLabel("Выберите Экспертный Совет..")
                                            .AutoBind(false)
                                            .DataValueField("Value").DataTextField("Text")
                                            .DataSource(cf => cf.Read(read => read.Action("ListFutureCouncils", "OBKExpertCouncil")))
                                            .HtmlAttributes(new { @class = "pwWidth100", required = "", validationMessage = "Обязательно для заполнения" }))
                                </div>
                                <div class="form-group col-lg-4">
                                    <button type="button" class="k-button" onclick="sendToEC(event)">Отправить в Экспертный совет</button>
                                </div>
                            </div>
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#programTab@(Model)">Программа</a>
                                    </li>
                                    <li class="show-program-confirmed" style="display: none">
                                        <a data-toggle="tab" href="#protocolsTab@(Model)">Протоколы испытаний</a>
                                    </li>
                                    <li class="show-program-confirmed" style="display: none">
                                        <a data-toggle="tab" href="#reportTab@(Model)">Отчет оценки производства</a>
                                    </li>
                                    <li class="show-motivation-refusal" style="display: none">
                                        <a data-toggle="tab" href="#motivationRefusalTab@(Model)">Мотивированный отказ</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="programTab@(Model)" class="tab-pane active">
                                        @Html.Action("Program", "OPProgram", new { declarationId = Model })
                                    </div>
                                    <div id="protocolsTab@(Model)" class="tab-pane">
                                        @Html.Action("Index", "OPAEReport", new { declarationId = Model })
                                    </div>
                                    <div id="reportTab@(Model)" class="tab-pane">
                                        @Html.Action("Index", "OPReport", new { declarationId = Model })
                                    </div>
                                    <div id="motivationRefusalTab@(Model)" class="tab-pane">
                                        @Html.Action("MotivationRefusal", "OP", new { declarationId = Model })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>