@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
    Layout = "../Shared/_LayoutPage.cshtml";
}
<link href="~/Content/site.css" rel="stylesheet" />
<body class="pw1">
    <div id="container" align="center">
        <p class="pwLogonTitle">@PW.Ncels.Database.Recources.Messages.Property_Системаэлектронногодокументооборота_7__00</p>
        @Html.ValidationSummary(false, Messages.LogOn_Error)
        @using (Html.BeginForm()) {
            <div>
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Логин_370__00
                </label>
                <div>
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <label>
                    @PW.Ncels.Database.Recources.Messages.Property_Пароль_349__00
                </label>
                <div>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="pwSubmit">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    <span>@PW.Ncels.Database.Recources.Messages.Property_Запомнитьменя_167__00?</span>
                </div>
                <p>
                    <button class="k-button MobileLogOn" type="submit">@PW.Ncels.Database.Recources.Messages.Property_Войти_371__00</button>
                </p>
                <div style="text-align: center;">
                    <a href="http://pw.kz/" target="blank">@PW.Ncels.Database.Recources.Messages.Property_ТОО_392__00 "Pr<span style="color:#fc4147">i</span>sm Works"</a>
                </div>
            </div>
        }
    </div>

   
</body>
<style>
    body {
        height: 100%;
    }

  
     #container {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        /*height: auto;*/
        height: 90%;
        margin: 50px auto;
        width: 90%;
        padding: 15px;
        color: #555555;
        font-size: 14px;
    }

    .MobileLogOn {
     height: 40px;
    margin: 12px 10px 10px 18px;
    width: 160px;
    }

    .pwLogonTitle {
        margin-left: 18px;
        font-weight: bold;
    }

    .pw1 {
        background: url("../../Content/images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
        color: #444444;
        font-family: "Helvetica Neue",Helvetica,sans-serif;
        font-size: 14px;
        height: 100%;
    }

    label {
        color: #555555;
        display: inline-block;
        font-size: 14px;
        margin-left: 18px;
        padding-top: 10px;
    }

    .pwSubmit {
        color: #555555;
        display: inline-block;
        font-size: 11px;
        margin-left: 18px;
        padding-top: 10px;
    }

        .pwSubmit > span {
            margin-top: -3px;
        }

    input[type="password"] {
        border: 1px solid #C7D0D2;
        border-radius: 2px;
        box-shadow: 0 1.5px 3px rgba(190, 190, 190, 0.4) inset, 0 0 0 5px #F5F7F8;
        color: #777777;
        height: 35px;
        margin: 12px 10px 10px 18px;
        padding-left: 10px;
        transition: all 0.4s ease 0s;
        width: auto;
    }

    input[type="text"] {
        border: 1px solid #C7D0D2;
        border-radius: 2px;
        box-shadow: 0 1.5px 3px rgba(190, 190, 190, 0.4) inset, 0 0 0 5px #F5F7F8;
        color: #777777;
        height: 35px;
        margin: 12px 10px 10px 18px;
        padding-left: 10px;
        transition: all 0.4s ease 0s;
        width: auto;
    }

    .pwLogOn {
        margin-left: 18px;
        width: auto;
    }

    .field-validation-error, .validation-summary-errors {
        margin-left: 18px;
        font-size: 12px;
    }
</style>
