@model PW.Ncels.Database.DataModel.PriceProjectArchiveView

<div class="row">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1@(ViewBag.UiId)"><strong>Данные о ЛС/ИМН</strong></a></li>
            <li class=""><a data-toggle="tab" href="#tab-2@(ViewBag.UiId)"><strong>Данные по ценам</strong></a></li>
            <li class=""><a data-toggle="tab" href="#tab-3@(ViewBag.UiId)"><strong>Держатель регистрационного удостоверения</strong></a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1@(ViewBag.UiId)" class="tab-pane active">
                <div class="panel-body">
                    <div class="row form-horizontal">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-lg-4">МНН:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnCode</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование МНН:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnRu</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Характеристики препарата:</label>
                                <div class="col-lg-8">
                                    <p>@Model.DrugDescription</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование ЛС:</label>
                                <div class="col-lg-8">
                                    <p>@Model.DrugName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Номер рег.удостоверения</label>
                                <div class="col-lg-8">
                                    <p>@Model.RegNumber</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Дата регистрации</label>
                                <div class="col-lg-8">
                                    <p>@(Model.RegDate.HasValue ? Model.RegDate.Value.ToString("dd.MM.yyyy") : "")</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Дата истечения регистрации:</label>
                                <div class="col-lg-8">
                                    <p>@(Model.RegEndDate.HasValue ? Model.RegEndDate.Value.ToString("dd.MM.yyyy") : "")</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4"></label>
                                <div class="col-lg-8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Производитель:</label>
                                <div class="col-lg-8">
                                    <p>@Model.ProducerName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Страна производителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.ProducerCountry</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Доверенное лицо:</label>
                                <div class="col-lg-8">
                                    <p>@Model.ProxyName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Контакты:</label>
                                <div class="col-lg-8">
                                    <p>@Model.RequesterContacts</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Признак:</label>
                                <div class="col-lg-8">
                                    <p>@Model.LsTypeName</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2@(ViewBag.UiId)" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4"></label>
                                <div class="col-lg-8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Предельная цена ТН по 622 приказу:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MarginalPriceTn622</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Первоначальная цена заявителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.BasePrice</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Дата заявления:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnCode</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Цена зарегистрированная после переговоров:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnCode</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Дата заявления после переговоров:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnCode</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Предельная цена МНН:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnCode</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Минимальная референтная цена:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnCode</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Финальная цена:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnCode</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Зафиксированная цена после РФК:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnCode</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Предельная цена по ТН:</label>
                                <div class="col-lg-8">
                                    <p>@Model.MnnCode</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 form-horizontal">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4">Цена:</label>
                                <div class="col-lg-8">
                                    <p>@Model.LimitCost</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>