@model PW.Ncels.Database.DataModel.PriceProjectArchiveDetail
<script>
    function resize() {
        $("#tabsContent").height($(window).height() - 270); //$(window).height() - 300
    }

    $(document).ready(function() {
        resize();
        $(window).resize(function() {
            resize();
        });
    });
</script>
<style>
    .table-title {
        text-align: center;
        font-weight: bold;
        margin: auto;
        padding-bottom: 3px;
    }
    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        padding: 3px;
        font-weight: normal;
    }
</style>
<div style="height:inherit;" id="tabParent">
    <div class="row" style="">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1@(ViewBag.UiId)"><strong>Данные о ЛС/ИМН</strong></a></li>
                <li class=""><a data-toggle="tab" href="#tab-2@(ViewBag.UiId)"><strong>Ценообразование</strong></a></li>
                <li class=""><a data-toggle="tab" href="#tab-3@(ViewBag.UiId)"><strong>Дополнительные данные</strong></a></li>
                <li class="" style="display: none;"><a data-toggle="tab" href="#tab-4@(ViewBag.UiId)"><strong>Вложения</strong></a></li>
            </ul>
            <div class="tab-content" id="tabsContent" style="overflow-y: auto;">
                <div id="tab-1@(ViewBag.UiId)" class="tab-pane active" >
                    <div class="panel-body" style="">
                        <div class="row form-horizontal">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4">МНН:</label>
                                    <div class="col-sm-8">
                                        <p>@Model.MnnCode</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Наименование МНН:</label>
                                    <div class="col-sm-8">
                                        <p>@Model.MnnRu</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Наименование ЛС:</label>
                                    <div class="col-sm-8">
                                        <p>@Model.DrugName</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Номер рег.удостоверения</label>
                                    <div class="col-sm-8">
                                        <p>@Model.RegNumber</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Дата регистрации</label>
                                    <div class="col-sm-8">
                                        <p>@(Model.RegDate.HasValue ? Model.RegDate.Value.ToString("dd.MM.yyyy") : "")</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Дата истечения регистрации:</label>
                                    <div class="col-sm-8">
                                        <p>@(Model.RegEndDate.HasValue ? Model.RegEndDate.Value.ToString("dd.MM.yyyy") : "")</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4"></label>
                                    <div class="col-sm-8">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Характеристики препарата:</label>
                                    <div class="col-sm-8">
                                        <p>@Model.DrugDescription</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Производитель:</label>
                                    <div class="col-sm-8">
                                        <p>@Model.ProducerName</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Страна производителя:</label>
                                    <div class="col-sm-8">
                                        <p>@Model.ProducerCountry</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Доверенное лицо:</label>
                                    <div class="col-sm-8">
                                        <p>@Model.ProxyName</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Контакты:</label>
                                    <div class="col-sm-8">
                                        <p>@Model.RequesterContacts</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Признак:</label>
                                    <div class="col-sm-8">
                                        <p>@Model.LsTypeName</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2@(ViewBag.UiId)" class="tab-pane">
                    <div class="panel-body">
                        <p class="table-title">Первоначальное заявление</p>
                        <div class="container">

                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <tr>
                                        <th>Цена производителя</th>
                                        <th>CIP цена</th>
                                        <th>Референтная цена</th>
                                        <th>Цена зарегистрированная за упаковку</th>
                                        <th>Первоначальная цена заявителя за ед.изм</th>
                                        <th>Дата заявления</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@(Model.ManufacturerPrice + " " + Model.ManufacturerPriceCur)</td>
                                        <td>@(Model.CipPrice + " " + Model.CipPriceCur)</td>
                                        <td>@(Model.RefPrice + " " + Model.RefPriceCur)</td>
                                        <td>@(Model.OwnerPrice + " " + Model.OwnerPriceCur)</td>
                                        <td>@Model.BasePrice</td>
                                        <td>@(Model.BasePriceDate.HasValue ? Model.BasePriceDate.Value.ToString("dd.MM.yyyy") : "") </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="container">
                            <p class="table-title">Заявление после переговоров</p></>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Цена производителя</th>
                                        <th>CIP цена</th>
                                        <th>Референтная цена</th>
                                        <th>Цена зарегистрированная за упаковку</th>
                                        <th>Первоначальная цена заявителя за ед.изм</th>
                                        <th>Дата заявления</th>
                                        <th>% понижения цены заявителя после переговоров к первоначальной</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@(Model.TalkManufacturerPrice + " " + Model.TalkManufacturerPriceCur)</td>
                                        <td>@(Model.TalkCipPrice + " " + Model.TalkCipPriceCur)</td>
                                        <td>@(Model.TalkefPrice + " " + Model.TalkefPriceCur)</td>
                                        <td>@(Model.TalkOwnerPrice + " " + Model.TalkOwnerPriceCur)</td>
                                        <td>@Model.TalkUnitPrice</td>
                                        <td>@(Model.TalkPriceDate.HasValue ? Model.TalkPriceDate.Value.ToString("dd.MM.yyyy") : "") </td>
                                        <td>@Model.PriceDropPercent</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="container">
                            <p class="table-title">Внутреннее референтное ценообразование</p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Предельная цена МНН</th>
                                        <th>Средняя ввозная цена по базе ОБК Цена за упаковку</th>
                                        <th>Средняя ввозная цена по базе ОБК Цена в тенге за ед. изм.</th>
                                        <th>Средняя оптовая цена в тенге за упаковку</th>
                                        <th>Средняя оптовая цена в тенге за ед. изм</th>
                                        <th>Розница Актобе</th>
                                        <th>Средняя розничная цена в тенге за ед. изм.</th>
                                        <th>Закупочная цена в тенге за ед.изм.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.LimitCost</td>
                                        <td>@(Model.IntRef_AvgInPricePackage2015 + " " + Model.IntRef_AvgInPricePackage2015Cur)</td>
                                        <td>@Model.AvgObkCost</td>
                                        <td>@Model.IntRef_AvgInPricePackage</td>
                                        <td>@Model.AvgOptCost</td>
                                        <td>@Model.IntRef_RetailAktobe</td>
                                        <td>@Model.AvgRznCost</td>
                                        <td>@Model.ZakupCost</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="container">
                            <p class="table-title">Внешнее ценообразование</p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Анализ БНФ, тг</th>
                                        <th>МЗ Беларусь, тг</th>
                                        <th>Чехия, тг</th>
                                        <th>Венгрия, тг</th>
                                        <th>Латвия, тг</th>
                                        <th>МЗ РФ, тг</th>
                                        <th>Украина, тг</th>
                                        <th>Турция, тг</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.BritishPrice</td>
                                        <td>@Model.BelarusPrice</td>
                                        <td>@Model.CzechPrice</td>
                                        <td>@Model.HungaryPrice</td>
                                        <td>@Model.LatviaPrice</td>
                                        <td>@Model.RfPrice</td>
                                        <td>@Model.UkrainePrice</td>
                                        <td>@Model.TurkeyPrice</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tab-3@(ViewBag.UiId)" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-8">Предельная цена ТН по 622 приказу:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.MarginalPriceTn622</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">Соответствие пр.639 п.10 (оригинал генерик):</label>
                                    <div class="col-sm-4">
                                        <p>@(Model.IsConformity639.HasValue ? Model.IsConformity639.Value ? "Соответствует":"Не соответствует":"")</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">Примечание к соответствию п.10 пр.639:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.Conformity639Note</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">Зафиксированная цена для регистрации после переговоров НЦЭЛС:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.FixPrice_a_11_16</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">% разницы между ценой для регистрации НЦЭЛС и ПЦ:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.PriceDifference2016</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">Минимальная референтная цена, кроме предельной цены:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.MinRefPrice2016</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">Коэф-нт разницы минимальной реф цены кроме предельной к цене после переговоров:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.MinRefPriceCoef</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-horizontal">

                                <div class="form-group">
                                    <label class="col-sm-8">Цена для регистрации после переговоров НЦЭЛС:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.RegNcelsPrice_11_16</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">Цена для регистрации после переговоров МЗСР РК:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.RegMzsrPrice_11_16</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">Финальная цена:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.FinalPrice</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-8">% разницы между Финальной ценой и ПЦ:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.FinalPricePercent</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-8">Зафиксированная цена после РФК:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.FinalFixPrice</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">Предельная цена по ТН:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.FinalMarginalPriceTn</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-8">Проект предельной цены по МНН:</label>
                                    <div class="col-sm-4">
                                        <p>@Model.ProjectPrice2017</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="tab-4@(ViewBag.UiId)" class="tab-pane">
                    <div class="panel-body">
                        @Html.Action("PpHistoryFiles", "Project", new {id = Model.Id})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>