@using PW.Ncels.Database.Helpers
@model Guid
@{
//Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script>
    
</script>

@(Html.Kendo().Splitter()
            .HtmlAttributes(new { @class = "pwSplitter k-block" })
            .Name(("splitter" + Model))
            .Panes(panes =>
            {
            panes.Add()
                .Size("250px")
                .Collapsible(true)
                .MaxSize("500px")
                .MinSize("250px")
                .Content(
                @<div class="pwPanelBar">
                    @(Html.Kendo().PanelBar().HtmlAttributes(new { @class = "pwPanelBar" })
                               .Name("panelbar" + Model)
                               .ExpandMode(PanelBarExpandMode.Multiple)
                               .ExpandAll(true)
                               .HtmlAttributes(new { style = "width:auto;" })
                               .Events(e => e.Select("panelPriceSelect"))
                               .Items(panelbar =>
                               {
                                   panelbar.Add().Expanded(true);
                                   panelbar.Add().Text(PW.Ncels.Database.Recources.Messages.Property_Постатусу_262__00)
                              .Items(projects =>
                              {
                                  if (!EmployePermissionHelper.IsPriceProjectExpertVisibility)
                                      projects.Add().Text(PW.Ncels.Database.Recources.Messages.Property_Все_394__00).LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", "" }, { "ItemType", "StatusValue" }, { "ModelId", Model.ToString() } });
                                  if (!EmployePermissionHelper.IsPriceProjectChiefVisibility && !EmployePermissionHelper.IsPriceProjectExpertVisibility)
                                      projects.Add().Text("На регистрации").LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", "0" }, { "ItemType", "Status" }, { "ModelId", Model.ToString() } });
                                  if (!EmployePermissionHelper.IsPriceProjectExpertVisibility)
                                      projects.Add().Text("Зарегистрированный").LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", "1" }, { "ItemType", "Status" }, { "ModelId", Model.ToString() } });
                                  projects.Add().Text("На анализе").LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", "2" }, { "ItemType", "Status" }, { "ModelId", Model.ToString() } });
                                  projects.Add().Text("Переговоры").LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", "3" }, { "ItemType", "Status" }, { "ModelId", Model.ToString() } });
                                  projects.Add().Text("На доработке у заявителя").LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", "4" }, { "ItemType", "Status" }, { "ModelId", Model.ToString() } });
                                  projects.Add().Text("Завершено").LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", "5" }, { "ItemType", "Status" }, { "ModelId", Model.ToString() } });
                              });


                               })
                    )
                </div>
                );

            panes.Add().Scrollable(false).Size("100%").Content(
                @<div class="pwPanelBar">
                    <div class="pwBlockAdd k-block">
                        <div id="pwOne">
                            @(Html.Kendo().MaskedTextBox().Name("findText" + Model).Mask("").HtmlAttributes(new { @class = "pwWidth100" }))
                        </div>
                        <div id="pwTwo">
                            @(Html.Kendo().DropDownList().Name("findType" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                   .DataTextField("Text")
                                   .DataValueField("Value")
                                   .BindTo(new List<SelectListItem>() {
                                       new SelectListItem() {
                                           Text = PW.Ncels.Database.Recources.Messages.Property_Все_394__00, Value = "0"
                                       },
                                       new SelectListItem() {
                                           Text = PW.Ncels.Database.Recources.Messages.Property_Пономеру_281__00, Value = "1"
                                       },
                                       new SelectListItem() {
                                           Text = PW.Ncels.Database.Recources.Messages.Property_Поисполнителю_170__00, Value = "2"
                                       },
                                       new SelectListItem() {
                                           Text = PW.Ncels.Database.Recources.Messages.Property_Поотправителю_171__00, Value = "3"
                                       }
                                   })
                                   .SelectedIndex(0)
                            )
                        </div>
                        <div id="pwThree">
                            @(Html.Kendo().Button().Name("find" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                   .Content(PW.Ncels.Database.Recources.Messages.Property_Найти_372__00)
                                   .ImageUrl("/Content/images/find.png"))
                        </div>
                        <div id="pwFour">
                            @(Html.Kendo().Button().Name("export" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                   .Content(PW.Ncels.Database.Recources.Messages.Property_Экспорт_335__00)
                                   .ImageUrl("/Content/images/export.png").Events(e => e.Click("onExportInDoc")))
                        </div>
                    </div>
                    <div id="pwSix">
                        @(Html.Kendo().Button().Name("reload" + Model).HtmlAttributes(new { @class = "pwWidth100 pwButtonReload" })
                                                    .Content("")
                               .ImageUrl("/Content/images/reload.png"))
                    </div>
                    @(Html.Kendo().Grid<PW.Ncels.Database.DataModel.PriceProjectJournal>()
                                   .Name("gridPrice" + Model)
                           .Columns(columns =>
                           {
                               columns.Bound(p => p.Number).Width(150).ClientTemplate(
                                "<div class=\"btn-group btn-group-xs\" style='height:14px;margin-top: -9px;'>" +
                                    "<button  type='button' style='width:90px;' class='btn btn-default btn-xs' onclick=\"getIncomingDetails('#=Id#', '#=Number#')\"><span style=\"color:rgb(66,139,202);\">#=Number#</span></button>" +
                                "</div>"
                                ).Title(PW.Ncels.Database.Recources.Messages.Property_Номер_373__00).Locked(true).Lockable(false).ClientFooterTemplate(PW.Ncels.Database.Recources.Messages.Property_Всего_356__00 + "#=count#");
                               columns.Bound(p => p.OutgoingNumber).Title("Входящий номер").Width(120).Locked(true);
                               columns.Bound(p => p.MnnRu).Title(PW.Ncels.Database.Recources.Messages.Ncels_Наименование_лекарственного_средства_МНН_29).Width(100).Locked(true);
                               columns.Bound(p => p.FormNameRu).Title(PW.Ncels.Database.Recources.Messages.Ncels_Лекарственная_форма_10).Width(100).Locked(true);
                               columns.Bound(p => p.CreatedDate).Title("Дата создания").Format("{0:dd.MM.yyyy}").Width(100);
                               columns.Bound(p => p.OutgoingDate).Title("Дата регистрации").Format("{0:dd.MM.yyyy}").Width(100);
                               columns.Bound(p => p.Dosage).Title(PW.Ncels.Database.Recources.Messages.Ncels_Дозировка_11).Width(100);
                               columns.Bound(p => p.Concentration).Title(PW.Ncels.Database.Recources.Messages.Ncels_Концентрация_12).Width(100);
                               columns.Bound(p => p.NameRu).Title(PW.Ncels.Database.Recources.Messages.Ncels_Наименование_ЛС_30).Width(100);
                               columns.Bound(p => p.CountPackage).Title(PW.Ncels.Database.Recources.Messages.Ncels_Фасовка_27).Width(100);
                               columns.Bound(p => p.ManufacturerOrgName).Title(PW.Ncels.Database.Recources.Messages.Ncels_Производитель_5).Width(100);
                               columns.Bound(p => p.CountryName).Title(PW.Ncels.Database.Recources.Messages.Ncels_Страна_6).Width(100);
                               columns.Bound(p => p.RegNumber).Title(PW.Ncels.Database.Recources.Messages.Ncels_Н_регистрации_28).Width(100);
                               columns.Bound(p => p.RegDate).Format("{0:dd.MM.yyyy}").Title(PW.Ncels.Database.Recources.Messages.Ncels_Дата_рег_3).Width(100);
                               columns.Bound(p => p.ApplicantOrgName).Title(PW.Ncels.Database.Recources.Messages.Ncels_Заявитель_7).Width(100);
                               columns.Bound(p => p.StatusValue).Title(PW.Ncels.Database.Recources.Messages.Ncels_Статус_33).Width(100);
                               columns.Bound(p => p.ListTypeName).Title(PW.Ncels.Database.Recources.Messages.Ncels_Тип_списка_34).Width(100);
                               columns.Bound(p => p.MnnOrderNumber).Title(PW.Ncels.Database.Recources.Messages.Ncels_Порядковый_номер_в_МНН_35).Width(100);
                               columns.Bound(p => p.RePriceName).Title(PW.Ncels.Database.Recources.Messages.Ncels_Этап_переговоров_36).Width(100);
                               columns.Bound(p => p.IsSigned).Title(PW.Ncels.Database.Recources.Messages.IsSigned).ClientTemplate("<input disabled type='checkbox' #= IsSigned ? checked='checked' :'' # />").Width(175).HtmlAttributes(new { style = "text-align: center;" });
                               columns.Bound(p => p.LeftDays).Title(PW.Ncels.Database.Recources.Messages.Ncels_Колво_дней_25).Width(100);
                               columns.Bound(p => p.PassedDays).Title(PW.Ncels.Database.Recources.Messages.PassedDays).Width(100);
                           })

                           .Reorderable(reorderable => reorderable.Columns(true))
                           .Resizable(resizable => resizable.Columns(true))
                           .Sortable(sortable => sortable.AllowUnsort(false))
                           .Groupable()
                           .Scrollable(scrollable => scrollable.Virtual(true))
                                  .Filterable()

                           .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                           .HtmlAttributes(new { @class = "pwGrid" })
                           .DataSource(dataSource => dataSource
                               .Ajax()
                               .Aggregates(aggregates => { aggregates.Add(p => p.Number).Count(); })
                               .Sort(sort => { sort.Add("Number").Descending(); sort.Add("CreatedDate").Descending(); })
                               .PageSize(50)
                               .Read(read => read.Action("ListPrice", "Project", new { type = 0 }))
                           ) )
                </div>
             );
            }))
<script>
    resizeGrid('@("#gridPrice" + Model)');
    InitFilterPriceGrid('@Model.ToString()');
</script>
