@model Guid[]

@{
     //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>

    function docContractPage1onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/ContractDoc/Form?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docContractPage2onClick() {
        var itemId = '@Model[0].ToString()';
        $.ajax({
            url: "/Task/Details?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docContractPage4onClick() {
        var itemId = '@Model[0].ToString()';
        $.ajax({
            url: "/History/Index?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docContractPage5onClick() {
        var itemId = '@Model[0].ToString()';
        $.ajax({
            url: "/History/ExtensionExecution?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
</script>

<div class="pwTabContent k-block">

    <form id="@("citDocForm"+ Model[0])">
       
        <div id="@("loader"+ Model[0])">
        </div>
        <table class="pwTable">
            <tr class="pwContent">
                <td class="pwContentLeft k-block">
                    
                    <a onclick="docContractPage1onClick()" id="@("docPage1" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart"><span><img src="../../Content/images/card.png" /></span></a>
                    <a onclick="docContractPage2onClick()" id="@("docPage2" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-2"><span><img src="../../Content/images/tasks.png" /></span></a>
                    @*<a onclick="docContractPage5onClick()" id="@("docPage5" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-6"><span><img src="../../Content/images/exec.png" /></span></a>*@
                    <a onclick="docContractPage4onClick()" id="@("docPage4" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-4"><span><img src="../../Content/images/history.png" /></span></a>
                </td>
                <td class="pwContentRight k-block" id="@("pwContentRightId"+ Model[0])">
                    <div class="pwPageScrollable">
                        <div id="@("page" + Model[0])">
                            @Html.Partial("Form",Model)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="pwStatusbar k-block" colspan="2">
                    <div class="pwFloat">
                        @PW.Ncels.Database.Recources.Messages.Property_Трудовой_договор
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        <span id="@("pwStatusbarState" + Model[0])"></span>
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    InitializeSizeContract('@Model[0].ToString()');
</script>

