@using Ncels.Helpers.Config
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">
                            <h2>
                                <span class="text-success">@Resource.UntilRegistration</span>
                            </h2>
                            <p>
                                @Resource.PeriodLsImnMt
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    @*style can migrate -> css*@
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/01.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="@Url.Action("Index", "Visit")">@Resource.RegForDoctor</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/02.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="#">@Resource.ProcessOfBioEkvivalentost</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/03.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="#">@Resource.TakingProcessDI</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/04.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="#">@Resource.TakingprocessKI</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/05.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="#">@Resource.MarkFarmKondzor</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                @if (GlobalConfigs.ExpertiseEnabled)
                {
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">New</span>
                                <h5>@Resource.CreateAction</h5>
                            </div>
                            <div class="ibox-content">
                                <table>
                                    <tr>
                                        <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/06.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                        <td style="width: 20px;"></td>
                                        <td>
                                            <h2 class="no-margins">
                                                <a class="pw-widget-link" href="@Url.Action("Expertise", "Project")">@Resource.ExpertizeLSIMNMT</a>
                                            </h2>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">
                            <h2>
                                <span class="text-success">@Resource.GeneralHelp</span>
                            </h2>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/07.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="#">@Resource.ConsultingHelp</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/08.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="#">@Resource.TranslateToNationalLanguage</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">
                            <h2>
                                <span class="text-success">@Resource.AfterRegistration</span>
                            </h2>
                            <p>
                                @Resource.PeriodLsImnMt
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/09.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="@Url.Action("Index","SafetyAssessment")">@Resource.AssessSafetyLsImn</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/10.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="#">@Resource.Farmakonadzor</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/11.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="@Url.Action("Pricing", "Project")">@Resource.ReferentPriceMenuLsImn</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/12.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="#">@Resource.ExpertizeAdvertItems</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">New</span>
                            <h5>@Resource.CreateAction</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/13.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h2 class="no-margins">
                                            <a class="pw-widget-link" href="#">@Resource.PrepareProjectsSPP</a>
                                        </h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12" style="padding-left: 35px;">
                    <a href="">
                        <div class="image">
                            <img alt="image" class="img-responsive" src="~/Content/img/i1.png">
                        </div>
                        <h2 class="no-margins">@Resource.GosReestr</h2>
                        <h1 class="no-margins bold">@Resource.LsImnTm</h1>
                    </a>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12" style="padding-left: 35px;">
                    <a href="">
                        <div class="image">
                            <img alt="image" class="img-responsive" src="~/Content/img/i2.png">
                        </div>
                        <h2 class="no-margins">@Resource.LEGISLATION</h2>
                        <h1 class="no-margins bold">@Resource.Farmacii</h1>
                    </a>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12" style="padding-left: 35px;">
                    <a href="">
                        <div class="image">
                            <img alt="image" class="img-responsive" src="~/Content/img/i3.png">
                        </div>
                        <h2 class="no-margins">@Resource.CalculatorHelper</h2>
                        <h1 class="no-margins bold">@Resource.Ncels</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
