@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Models
@model Guid

@* Закупочная цена *@
@* Ref_PurchasePrices *@

<script>
    function DicParams() {
        return {
            type: 4
        };
    }
    InitFilterDictionaryGrid('@Model.ToString()');
</script>


                    <div class="pwPanelBar">
                        @*<div class="pwBlockAdd k-block">

                            <div id="pwOne">
                                @(Html.Kendo().MaskedTextBox().Name("findText" + Model).Mask("").HtmlAttributes(new { @class = "pwWidth100" }))
                            </div>

                            <div id="pwTwo" hidden="true">
                                    @(Html.Kendo().DropDownList().Name("findType" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                       .DataTextField("Text")
                                       .DataValueField("Value")
                                       .BindTo(new List<SelectListItem>() {
                                           new SelectListItem() {
                                               Text = PW.Ncels.Database.Recources.Messages.Property_Все_394__00, Value = "0"
                                           },
                                           new SelectListItem() {
                                               Text = PW.Ncels.Database.Recources.Messages.Property_Пономеру_281__00, Value = "1"
                                           },
                                           new SelectListItem() {
                                               Text = PW.Ncels.Database.Recources.Messages.Property_Покоду_345__00, Value = "2"
                                           },
                                           new SelectListItem() {
                                               Text = PW.Ncels.Database.Recources.Messages.Property_Попримечанию_215__00, Value = "3"
                                           }
                                       })
                                       .SelectedIndex(0)
                                    )
                                </div>

                            <div id="pwThree">
                                @(Html.Kendo().Button().Name("find" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                   .Content(PW.Ncels.Database.Recources.Messages.Property_Найти_372__00)
                                   .ImageUrl("/Content/images/find.png"))
                            </div>

        

                        </div>*@
                        <div id="pwSix">
                            @(Html.Kendo().Button().Name("reload" + Model).HtmlAttributes(new { @class = "pwWidth100 pwButtonReload" })
                                                    .Content("")
                               .ImageUrl("/Content/images/reload.png"))

                        </div>
                        @(Html.Kendo().Grid<Ref_PurchasePrices>()
                                   .Name("gridListDic" + Model)
                         .Columns(columns => {
                             columns.Bound(p => p.TradeName).Title("Тороговая марка").Width(150).ClientFooterTemplate(PW.Ncels.Database.Recources.Messages.Property_Всего_356__00 + "#=count#");
                             columns.Bound(p => p.Name).Title("Наименование").Width(150);
                             columns.Bound(p => p.DosageForm).Title("Форма ЛС").Width(150);
                             columns.Bound(p => p.Unit).Title("Единица").Width(150);
                             columns.Bound(p => p.Packing).Title("Количество").Width(150);
                             columns.Bound(p => p.Producer).Title("Производитель").Width(150);
                             columns.Bound(p => p.Price).Title("Цена").Width(150);
                             //columns.Command(command => { command.Edit(); command.Destroy(); }).Width(80);

                         })
                            //.ToolBar(toolbar => toolbar.Create().HtmlAttributes(new { @class = "pwRefAdd" }))
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Reorderable(reorderable => reorderable.Columns(true))
                            .Resizable(resizable => resizable.Columns(true))
                            .Scrollable(scrollable => scrollable.Virtual(true))
                             .Filterable()
                            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                            .HtmlAttributes(new { @class = "pwGridRef" })
                            .DataSource(dataSource => dataSource
                               .Ajax()
                                       .Model(model => model.Id(p => p.Id))
                                               .Aggregates(aggregates => { aggregates.Add(p => p.TradeName).Count(); })

                            .PageSize(50)
                            .Sort(sort => sort.Add("Name").Ascending())
                            //.Create(update => update.Action("RegisterCreate", "Registeries").Data("DicParams"))
                            .Read(read => read.Action("ZakupRead", "Registeries").Data("DicParams"))
                            //.Update(update => update.Action("RegisterUpdate", "Registeries").Data("DicParams"))
                            //.Destroy(update => update.Action("RegisterDestroy", "Registeries").Data("DicParams"))

                           ))
                    </div>
         
<input type="hidden" id="@("typeDic" + Model)" />
<script>
    resizeGrid('@("#gridListDic" + Model)');



</script>
