@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.Models.Expertise.DialogParameter

<script>
  var ItemsFor1C = {
      cancelFn: function() {
          $("#" + "@Model.ContainerId").data("kendoWindow").close();
      },
      approveFn: function() {
          //var wdw = $('#' + '@Model.ContainerId').data("kendoWindow");

          $.ajax({
              type: 'POST',
              url: '@Url.Action("ConfirmASendOneS", "Tmc")?id=@Model.Id',
              success: function(result) {
                  var window = $("#" + "@Model.ContainerId").data("kendoWindow");
                  if (window.gridId) {
                      var grid = $("#" + window.gridId).data("kendoGrid");
                      grid.dataSource.read();
                  }
                  ItemsFor1C.cancelFn();
              },
              complete: function (result) {

              }
          });
      }
  }
</script>

<div>
    @(Html.Kendo().Grid<LimsTmcTempView>()
          .Name("gridItemFor1C" + Model.Id)
          .Columns(columns =>
          {
              columns.Bound(p => p.Code).Title(Messages.Property_Номер_373__00).Width(120);
              columns.Bound(p => p.TmcName).Title("Наименование").Width(150);
              columns.Bound(o => o.MeasureTypeDicName).Title("Единица измерения").Width(120);
              columns.Bound(o => o.CountRequest).Title("Количество/объем").Format("{0:n6}").Width(120);
          })
          .Filterable()
          .Sortable()
          .Pageable()
          .Scrollable()
          .Selectable(c => c.Mode(GridSelectionMode.Multiple))
          .HtmlAttributes(new { @class = "pwGrid"})
          .DataSource(dataSource => dataSource.Ajax().Model(model =>
          {
              model.Id(p => p.Id);
          })
        .PageSize(20)
        .Read(read => read.Action("ReadItemsFo1CList", "ApplicationPOA", new {tmcInId = Model.Id })))
    )
</div>
<div class="pwWinFooter">
    @(Html.Kendo().Button().Name("ItemsFor1CCancel")
        .Content(PW.Ncels.Database.Recources.Messages.Property_Отмена_352__00)
        .HtmlAttributes(new { @class = "k-button pwWinButton", type = "button" })
        .Events(e => e.Click("ItemsFor1C.cancelFn")))
    @(Html.Kendo().Button().Name("ItemsFor1CSave")
        .Content("Подтвердить")
        .HtmlAttributes(new { @class = "k-button k-primary pwWinButton", type = "button" })
        .Events(e => e.Click("ItemsFor1C.approveFn")))
</div>

