@using PW.Ncels.Database.Models
@using PW.Ncels.Database.DataModel
@model Guid?

@helper GridToolbarCorrupted()
    {
        <div class="pull-left">
            @( Html.Kendo().Button().Name("add").Content("Добавить"))
        </div>
}

@(Html.Kendo().Splitter()
                                                        .HtmlAttributes(new { @class = "pwSplitter k-block" })
                                                        .Name(("splitter" + Model))
                                                        .Panes(panes =>
                                                        {

                                                            panes.Add().Scrollable(false).Size("100%").Content(
                                                                                @<div class="pwPanelBar">
                                                                                    @( Html.Kendo().Grid<OBK_CorruptedBlankNumberView>()
                                                         .Name("UserCorruptBlanks" + Model)
                                                        .Columns(columns =>
                                                        {
                                                                    columns.Bound(p => p.Number).Title("Номер бланка").Width(100);
                                                                    columns.Bound(p => p.CorruptDate).Format("{0:dd.MM.yyyy}").Title("Дата").Width(150);
                                                                })
                                                        .AutoBind(false)
                                                        .Reorderable(reorderable => reorderable.Columns(true))
                                                        .Resizable(resizable => resizable.Columns(true))
                                                        .Groupable()
                                                        .Sortable()
                                                        .Filterable()
                                                        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                                        .Scrollable(scrollable => scrollable.Virtual(true))
                                                        .Pageable()
                                                        .ToolBar(toolbar => { toolbar.Template(GridToolbarCorrupted().ToHtmlString()); })
                                                        .HtmlAttributes(new { style = "font-size: 12px" })
                                                        .DataSource(dataSource => dataSource
                                                        .Ajax()
                                                        .Sort(sort => { sort.Add("CorruptDate").Descending(); })
                                                        .PageSize(20)
                                                        .Read(read => read.Action("CorruptedUserBlanks", "BlankAccounting"))
                                                        ))

                                                                                </div>
                                                    );
                                                                }))


<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="@("CorruptedModal" + Model)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label id="@("blankNumber" + Model + "-label")">Номер бланка</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="@("blankNumber" + Model)" class="form-control k-input" style="width:200px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label id="@("Date" + Model + "-label")">Дата</label>
                    </div>
                    <div class="col-md-6">
                        @(Html.Kendo().DatePicker().Name("Date" + Model).HtmlAttributes(new { style = "width:200px" }))
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btn-sm" data-dismiss="modal" id="@("cancel") + Model">Отменить</button>
                <button class="btn btn-info btn-sm" id="@("save" + Model)">Сохранить</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function ()
    {
        $('#UserCorruptBlanks' + '@Model').data("kendoGrid").dataSource.read();
    });

    $('@("#add")').click(function ()
    {
        $('#blankNumber' + '@Model').val("");
        $('#Date' + '@Model').val("");

        $('@("#CorruptedModal" + Model)').modal('toggle');
    });

    $('#save' + '@Model').click(function ()
    {
        if (checkValidation())
        {
         $.ajax({
            type: 'POST',
            url: '/BlankAccounting/SaveCorrupted/',
            data: {
                number: $('#blankNumber' + '@Model').val(),
                date: $('#Date' + '@Model').val()
            },
            success: function (data)
            {
                if (data.success == true)
                {
                    $('#CorruptedModal' + '@Model').modal('hide');
                    $('#UserCorruptBlanks' + '@Model').data("kendoGrid").dataSource.read();
                }
                alert(data.message);
            }
        });
        }

    });

    function checkValidation()
    {
        var valid = true;
        valid = checkAttr("blankNumber"+"@Model", valid);
        valid = checkAttr("Date" + "@Model", valid);

        if (valid == false)
        {
            alert("Заполните обязательные поля!");
        }
        return valid;
    }

    function checkAttr(attr, valid)
    {
        var val = $("#" + attr + "").val();
        if (val == "")
        {
            $("#" + attr + "-label").css({ 'color': '#a94442' });
            valid = false;
        } else
        {
            $("#" + attr + "-label").css({ 'color': '#555' });
        }
        return valid;
    }


</script>