
<div class="pwWinTitle"><div class="pwWinTitleIconReg"></div>
    <div class="pwWinTitleText">@PW.Ncels.Database.Recources.Messages.Property_Документзарегистрирован_36__00</div>
</div>
<div class="pwWinContent">
    <div class="pwWinContentLeft">
        <p>@PW.Ncels.Database.Recources.Messages.Property_Номердокумента_132__00</p>
        <p>@PW.Ncels.Database.Recources.Messages.Property_Датадокумента_158__00</p>
    </div>
    <div class="pwWinContentRight">
        <p> @ViewData["Number"]</p>
        <p> @ViewData["DocumentDate"]</p>
    </div>
</div>
<div class="pwWinFooter">
    <button type="button" class="k-button pwWinButton" onclick="CardCommandWindowClosed()">OK</button>
</div>
