<!-- Форма заказа Тмс -->
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Helpers
@model PW.Ncels.Database.DataModel.LimsTmcOutView

<div id="@("loader"+ Model.Id)"></div>
<form id="@("formIssue" + Model.Id)">
    
    <div id="divMessageContent" class="pwWinContent2" data-bind="visible: hasResources">
        <div class="pwWinContentLine1">
            <div class="pwWinContentRight2 tmcClass">
                <p>Количество/объем в наличии недостаточно чтобы выдать</p>
            </div>
        </div>
    </div>

    <div class="pwWinContent2">
        <div class="pwWinContentLine1">
            <div class="pwWinContentLeft2" style="margin-top: 7px !important">
                <p>Наименование ТМЦ</p>
            </div>
            <div class="pwWinContentRight2 tmcClass">
                <input id="Name" name="Name" data-bind="value: task.Name, events: { change: change }" style="width: 100%;" required class="k-textbox k-state-disabled" data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Листы_КолСим360__00" />
            </div>
        </div>
    </div>

    <div class="pwWinContent2">
        <div class="pwWinContentLine1">
            <div class="pwWinContentLeft2" style="margin-top: 7px !important">
                <p>Вид получения</p>
            </div>
            <div class="pwWinContentRight2 tmcClass">
                <input id="OutTypeDicId" name="OutTypeDicId" data-bind="value: task.OutTypeDicId, events: { change: change }" style="width: 100%;" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Листы_КолСим360__00" />
            </div>
        </div>
    </div>

    <div class="pwWinContent2">
        <div class="pwWinContentLine1">
            <div class="pwWinContentLeft2" style="margin-top: 7px !important">
                <p>Количество в запросе</p>
            </div>
            <div class="pwWinContentRight2 tmcClass">
                <input id="Count" name="Count" data-bind="value: task.Count, events: { change: change }" style="width: 100%;" required class="k-textbox k-state-disabled" data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Листы_КолСим360__00" />
            </div>
        </div>
    </div>
    
    <div class="pwWinContent2">
        <div class="pwWinContentLine1">
            <div class="pwWinContentLeft2" style="margin-top: 7px !important">
                <p>Количество в наличии</p>
            </div>
            <div class="pwWinContentRight2 tmcClass">
                <input id="CountActual" name="CountActual" data-bind="value: task.CountActual, events: { change: change }" style="width: 100%;" required class="k-textbox k-state-disabled" data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Листы_КолСим360__00" />
            </div>
        </div>
    </div>
    
    <div class="pwWinContent2">
        <div class="pwWinContentLine1">
            <div class="pwWinContentLeft2" style="margin-top: 7px !important">
                <p>Количество на выдачу</p>
            </div>
            <div class="pwWinContentRight2 tmcClass">
                <input id="CountFact" name="CountFact" data-bind="value: task.CountFact, events: { change: change }" style="width: 60px;" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Листы_КолСим360__00" />
            </div>
        </div>
    </div>

    <div class="pwWinContent2">
        <div class="pwWinContentLine1">
            <div class="pwWinContentLeft2" style="margin-top: 7px !important">
                <p>Единица измерения (конв.)</p>
            </div>
            <div class="pwWinContentRight2 tmcClass">
                <input id="MeasureTypeConvertDicId" name="MeasureTypeConvertDicId" data-bind="value: task.MeasureTypeConvertDicId, events: { change: change }" style="width: 100%;"
                       required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Листы_КолСим360__00" />
            </div>
        </div>
    </div>
    
    <div class="pwWinContent2">
        <div class="pwWinContentLine1">
            <div class="pwWinContentLeft2" style="margin-top: 7px !important">
                <p>ФИО сотрудника</p>
            </div>
            <div class="pwWinContentRight2 tmcClass">
                <input id="CreatedEmployeeFullName" name="CreatedEmployeeFullName" data-bind="value: task.CreatedEmployeeFullName, events: { change: change }" style="width: 100%;" required class="k-textbox k-state-disabled" data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Листы_КолСим360__00" />
            </div>
        </div>
    </div>
    

    <div class="pwWinContent2">
        <div class="pwWinContentLine1">
            <div class="pwWinContentLeft2" style="margin-top: 7px !important">
                <p>ФИО МОЛ</p>
            </div>
            <div class="pwWinContentRight2 tmcClass">
                <input id="OwnerEmployeeId" name="OwnerEmployeeId"
                       data-bind="value: task.OwnerEmployeeId, events: { change: change }"
                       style="width: 100%;"
                       required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Листы_КолСим360__00" />
            </div>
        </div>
    </div>

    <div class="pwWinContent2">
        <div class="pwWinContentLine1">
            <div class="pwWinContentLeft2" style="margin-top: 7px !important">
                <p>Описание (цель использования)</p>
            </div>
            <div class="pwWinContentRight2 tmcClass">
                <textarea id="Note" name="Note"
                          data-bind="value: task.Note, events: { change: change }"
                          style="width: 98%;"
                          class="k-state-disabled"
                          required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Листы_КолСим360__00"></textarea>
            </div>
        </div>
    </div>

    <div class="pwWinFooter">
        <button type="button" data-role="button" id="CancelDelivery" class="k-button pwWinButton" data-bind="click: cancel">@PW.Ncels.Database.Recources.Messages.Property_Отмена_352__00</button>
        <button type="button" data-role="button" id="ApproveDelivery" class="k-button k-primary pwWinButton" data-bind="click: save, enabled: hasResource">@PW.Ncels.Database.Recources.Messages.Property_Да_401__00</button>
        @if (EmployeePermissionHelper.IsFrpDepartmentTmc)
        {
            <button type="button" data-role="button" id="RedirectDelivery" class="k-button" data-bind="click: redirect" style="margin: 13px 5px 0px 5px">Запросить в ИЦ</button>
        }
    </div>
</form>

<script>
    var name = '@Model.Id';

    var viewModel = kendo.observable({
        task: {
            Id: '@Model.Id',
            MeasureTypeConvertDicId: '@Model.MeasureTypeConvertDicId',
            Count: '@Model.Count',
            CountFact: '@Model.CountFact',
            CountActual: '@Model.CountActual',
            OwnerEmployeeId: '@Model.OwnerEmployeeId',
            Name: '@(Html.Raw(Model.Name))',
            Note: '@HttpUtility.JavaScriptStringEncode(Model.Note)',
            OutTypeDicId: '@Model.OutTypeDicId',
            TmcOutId: '@Model.TmcOutId',
            TmcId: '@Model.TmcId',
            CreatedEmployeeFullName: '@Model.CreatedEmployeeFullName'
        },
        hasChanges: false,
        hasResource: @((Model.CountActual > 0).ToString().ToLower()),
        hasNoResource: @((Model.CountActual <= 0).ToString().ToLower()),
        change: function () {
            this.set('hasChanges', false);
        },
        save: function (e) {
            kendo.ui.progress($('#loader' + name), true);
            var json = JSON.stringify(viewModel.get('task'));

            $.ajax({
                type: 'POST',
                url: '@(Url.Action("IssueOrder", "DeliveryTmc"))',
                contentType: 'application/json; charset=utf-8',
                data: json,
                success: function (result) {
                    $("#TaskCommandWindow").data("kendoWindow").close();
                    if ($("#TaskCommandWindow").data("kendoWindow").dialogCallback) {
                        $("#TaskCommandWindow").data("kendoWindow").dialogCallback(result);
                    }
                },
                complete: function () {
                    kendo.ui.progress($('#loader' + name), false);
                }
            });
        },
        cancel: function (e) {
            $("#TaskCommandWindow").data("kendoWindow").close();
        },
        redirect: function (e) {
            debugger;
            var json = {
                Count: viewModel.task.Count,
                OwnerEmployeeId: null,
                Note: '@HttpUtility.JavaScriptStringEncode(Model.Note)' + '. Для' + '@Model.CreatedEmployeeFullName',
                OutTypeDicId: '@Model.OutTypeDicId',
                TmcId: '@Model.TmcId'
            }

            $.ajax({
                type: 'POST',
                url: '@(Url.Action("ConfirmOrderTmc", "OrderTmc"))',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(json),
                success: function (result) {
                    $("#TaskCommandWindow").data("kendoWindow").close();
                    if ($("#TaskCommandWindow").data("kendoWindow").dialogCallback) {
                        $("#TaskCommandWindow").data("kendoWindow").dialogCallback(result);
                    }

                    ShowAlert("Запрос",
                        "Создан запрос. Детали запросп можно просмотреть в реестре \"Реактивы на получение\"",
                        window.AlertType.Success);
                },
                complete: function () {
                    kendo.ui.progress($('#loader' + name), false);
                }
            });
        }
    });

    //    $("#Count").kendoNumericTextBox({
    //        format: "n6",
    //        min: 0,
    //        decimal: 6,
    //        enable: false
    //    });

    //    $("#Count").kendoNumericTextBox({
    //        format: "n6",
    //        min: 0,
    //        decimal: 6,
    //        enable: false
    //    });
    $("#CountFact").kendoNumericTextBox({
        format: "n6",
        min: 0,
        max: @Model.CountFact.ToString("0.000000", System.Globalization.CultureInfo.InvariantCulture),
        decimals: 6
    });

    $("#MeasureTypeConvertDicId").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Id",
        enable: false,
        dataSource: {
            transport: {
                read: {
                    url: '@Url.Action("GetDictionaryListByCode", "Dictionaries")',
                    data: { code: '@Dictionary.MeasureType.DicCode' }
                }
            }
        }
    });


    $("#OwnerEmployeeId").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Id",
        enable: false,
        dataSource: {
            transport: {
                read: {
                    url: '@Url.Action("LimsGetFrpEmployeeList","Dictionaries")'
                }
            }
        }
    });

    $("#OutTypeDicId").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Id",
        enable: false,
        dataSource: {
            transport: {
                read: {
                    url: '@Url.Action("GetDictionaryListByCode", "Dictionaries")',
                    data: { code: '@Dictionary.OutTypes.DicCode' }
                }
            }
        }
    });

    kendo.bind($("#formIssue" + name), viewModel);
    //    $("#Count").data("kendoNumericTextBox").value(@Model.Count);
</script>

