@using PW.Ncels.Database.DataModel
@model LimsEquipmentAct

<script>
    var ActOfConversationForm = {
        save: function (e) {
            e.preventDefault();
            kendo.ui.progress($('#loader' + name), true);
            var t = SelectFromGridControl.serializeObject($('#@("ActOfConversationForm_" + Model.Id)'));
            t.HeadOfLaboratoryId = t['@("HeadOfLaboratoryId" + (string)ViewBag.UiId)'];
            t.DirectorRCId = t['@("DirectorRCId" + (string)ViewBag.UiId)'];
            t.Reason = t['@("Reason" + (string)ViewBag.UiId)'];

            var equipment = JSON.stringify(t);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveActOfConversation", "Equipment")',
                contentType: 'application/json; charset=utf-8',
                data: equipment,
                success: function (result) {
                    $("#WindowActOfConversation").data("kendoWindow").close();
                    var id = $("#WindowActOfConversation").data("kendoWindow").gridId;
                    if (id) {
                        var grid = $("#" + id).data("kendoGrid");
                        grid.dataSource.read();
                    }
                    if ($("#WindowActOfConversation").data("kendoWindow").dialogCallback) {
                        $("#WindowActOfConversation").data("kendoWindow").dialogCallback(result);
                    }
                },
                complete: function() {
                    kendo.ui.progress($('#loader' + name), false);
                }
            });
            return false;
        },
        cancel: function(e) {
            $("#WindowActOfConversation").data("kendoWindow").close();
        }
    };

</script>

<form id="@("ActOfConversationForm_" + Model.Id)">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EquipmentId)
    @Html.HiddenFor(model => model.ActTypeId)
    @Html.HiddenFor(model => model.CreateDate)
    <table style="width: 100%">
        <tr style="vertical-align: top;">
            <td style="vertical-align: top;">
                <fieldset>
                    <legend></legend>
                    <dl class="pwEditRef">
                        <dt>
                            @Html.DisplayNameFor(model => model.LimsEquipmentLaboratoryName)
                        </dt>
                        <dd>
                            @Html.Kendo().TextBoxFor(model => model.LimsEquipmentLaboratoryName).HtmlAttributes(new { @readonly = "readonly", @disabled = "disabled" })
                        </dd>
                        <br/>

                        <dt>
                            @Html.DisplayNameFor(model => model.LimsEquipmentName)
                        </dt>
                        <dd>
                            @Html.Kendo().TextBoxFor(model => model.LimsEquipmentName).HtmlAttributes(new { @readonly = "readonly", @disabled = "disabled" })
                        </dd>
                        <br/>


                        <dt>
                            @Html.DisplayNameFor(model => model.LimsEquipmentSerialNumber)
                        </dt>
                        <dd>
                            @Html.Kendo().TextBoxFor(model => model.LimsEquipmentSerialNumber).HtmlAttributes(new { @readonly = "readonly", @disabled = "disabled" })
                        </dd>
                        <br/>

                        <dt>
                            @* @Html.DisplayNameFor(model => model.Reason)*@
                            Причина консервации
                        </dt>
                        <dd>
                            @Html.Kendo().TextBoxFor(model => model.Reason).Name("Reason" + (string)ViewBag.UiId)
                        </dd>
                        <br/>

                        <dt>
                            @Html.DisplayNameFor(model => model.HeadOfLaboratoryId)
                        </dt>
                        <dd>
                            @(Html.Kendo().ComboBoxFor(p => p.HeadOfLaboratoryId).Name("HeadOfLaboratoryId"+ (string)ViewBag.UiId)
                                .ValuePrimitive(true)
                                .DataValueField("Id").DataTextField("Name")
                                .DataSource(source => source.Read("ListEmployeIc", "Reference")))
                        </dd>
                        <br/>

                        <dt>
                            @Html.DisplayNameFor(model => model.DirectorRCId)
                        </dt>
                        <dd>
                            @(Html.Kendo().ComboBoxFor(p => p.DirectorRCId).Name("DirectorRCId" + (string)ViewBag.UiId)
                                .ValuePrimitive(true)
                                  .DataValueField("Id").DataTextField("Name")
                                  .DataSource(source => source.Read("ListEmployeIc", "Reference")))
                        </dd>
                        <br/>
                    </dl>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <div class="pwWinFooter">
                    @Html.Kendo().Button().Name("Cancel" + (string)ViewBag.UiId).Content(PW.Ncels.Database.Recources.Messages.Property_Отмена_352__00).HtmlAttributes(new {@class = "k-button pwWinButton", type = "button"}).Events(e => e.Click("ActOfConversationForm.cancel"))
                    @Html.Kendo().Button().Name("Save" + (string)ViewBag.UiId).Content(PW.Ncels.Database.Recources.Messages.Property_Сохранить_278__00).HtmlAttributes(new {@class = "k-button k-primary pwWinButton", type = "button"}).Events(e => e.Click("ActOfConversationForm.save"))
                </div>
            </td>
        </tr>
    </table>
</form>


