@using PW.Ncels.Database.DataModel
@model LimsEquipmentAct

<script>
    var WindowActOfSparePartsForm = {
        save: function (e) {
            e.preventDefault();
            debugger;
            kendo.ui.progress($('#loader' + name), true);
            var t = SelectFromGridControl.serializeObject($('@("#WindowProtocolOfQualificationForm_" + Model.Id)'));
            var equipment = JSON.stringify(t);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveProtocolOfQualification", "Equipment")',
                contentType: 'application/json; charset=utf-8',
                data: equipment,
                success: function (result) {
                    $("#WindowProtocolOfQualification").data("kendoWindow").close();
                    var id = $("#WindowProtocolOfQualification").data("kendoWindow").gridId;
                    if (id) {
                        var grid = $("#" + id).data("kendoGrid");
                        grid.dataSource.read();
                    }
                    if ($("#WindowProtocolOfQualification").data("kendoWindow").dialogCallback) {
                        $("#WindowProtocolOfQualification").data("kendoWindow").dialogCallback(result);
                    }
                },
                complete: function() {
                    kendo.ui.progress($('#loader' + name), false);
                }
            });
            return false;
        },
        cancel: function(e) {
            $("#WindowProtocolOfQualification").data("kendoWindow").close();
        }
    };

</script>

<form id="@("WindowProtocolOfQualificationForm_" + Model.Id)">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EquipmentId)
    @Html.HiddenFor(model => model.ActTypeId)
    @Html.HiddenFor(model => model.CreateDate)
    <table style="width: 100%">
        <tr style="vertical-align: top;">
            <td style="vertical-align: top;">
                <fieldset>
                    <legend></legend>
                    <dl class="pwEditRef">
                        <dt>
                            @Html.DisplayNameFor(model => model.LimsEquipmentLaboratoryName)
                        </dt>
                        <dd>
                            @Html.Kendo().TextBoxFor(model => model.LimsEquipmentLaboratoryName).HtmlAttributes(new { @readonly = "readonly", @disabled = "disabled" })
                        </dd>
                        <br/>

                        <dt>
                            @Html.DisplayNameFor(model => model.LimsEquipmentName)
                        </dt>
                        <dd>
                            @Html.Kendo().TextBoxFor(model => model.LimsEquipmentName).HtmlAttributes(new { @readonly = "readonly", @disabled = "disabled" })
                        </dd>
                        <br/>


                        <dt>
                            @Html.DisplayNameFor(model => model.LimsEquipmentSerialNumber)
                        </dt>
                        <dd>
                            @Html.Kendo().TextBoxFor(model => model.LimsEquipmentSerialNumber).HtmlAttributes(new { @readonly = "readonly", @disabled = "disabled" })
                        </dd>
                        <br/>
                      
                        @if (Model.FileLinkData.DocumentId != null)
                        {
                            <dt>
                                Файл
                            </dt>
                            <dd>
                                @(Html.Kendo().Upload().Name("attachContract" + (string)ViewBag.UiId).Multiple(false).HtmlAttributes(new { accept = Model.FileLinkData.AcceptFormats })
                            .Async(ac => ac.AutoUpload(false)
                            .Save("FilePost", "Upload", new
                            {
                                code = Model.FileLinkData.CategoryId,
                                path = Model.FileLinkData.DocumentId,
                                saveMetadata = true
                            })))
                            </dd>
                        }
                    </dl>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <div class="pwWinFooter">
                    @Html.Kendo().Button().Name("Cancel").Content(PW.Ncels.Database.Recources.Messages.Property_Отмена_352__00).HtmlAttributes(new {@class = "k-button pwWinButton", type = "button"}).Events(e => e.Click("WindowActOfSparePartsForm.cancel"))
                    @Html.Kendo().Button().Name("Save").Content(PW.Ncels.Database.Recources.Messages.Property_Сохранить_278__00).HtmlAttributes(new {@class = "k-button k-primary pwWinButton", type = "button"}).Events(e => e.Click("WindowActOfSparePartsForm.save"))
                </div>
            </td>
        </tr>
    </table>
</form>


