@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Models
@using PW.Ncels.Database.Recources
<!-- Список Журнал заявок -->
@model Guid
<style>
    .k-state-disabled {
        pointer-events: none;
    }
    .k-window {
        width: 600px;
    }
    .k-edit-form-container {
        width: 600px;
    }
</style>
<script>
    var EquipmentApplicationJournalList = {
        _reload: function () {
            var grid = $('@("#gridEquipmentApplicationJournal_" + Model)').data("kendoGrid");
            grid.dataSource.read();
        },
        sync: function (e) {
            this.read();
        },
        detailExpand: function (e) {
            var eid = e.masterRow[0].rowIndex;
        },
        detailCollapse: function (e) {
            var eid = e.masterRow[0].rowIndex;
        },
        onEditHandler: function (e) {
            
        }
    };
</script>

<div id="pwSix">
    @(Html.Kendo().Button().Name("reload" + Model)
            .HtmlAttributes(new { @class = "pwWidth100 pwButtonReload" }).Content("")
            .ImageUrl("/Content/images/reload.png"))
</div>

@(Html.Kendo().Splitter()
            .HtmlAttributes(new { @class = "pwSplitter k-block" })
            .Name(("splitter" + Model))
            .Panes(panes =>
            {
                panes.Add()
                .Size("250px")
                .Collapsible(true)
                .MaxSize("500px")
                .MinSize("250px")
                .Content(
                    @<div class="pwPanelBar">
                        @(Html.Kendo().PanelBar().HtmlAttributes(new { @class = "pwPanelBar" })
                                   .Name("panelbar" + Model)
                                   .ExpandMode(PanelBarExpandMode.Multiple)
                                   .ExpandAll(true)
                                   .HtmlAttributes(new { style = "width:auto;" })
                                   //.Events(e => e.Select("panelEqLabSelect"))
                                   .Items(panelbar =>
                                   {
                                       panelbar.Add().Expanded(true);
                                       panelbar.Add().Text("По видам")
                                           .Items(panelbarItem =>
                                           {
                                               panelbarItem.Add().Text("Все")
                                                   .LinkHtmlAttributes(new Dictionary<string, object>()
                                                   {
                                                       { "ItemType", "" },
                                                       { "ModelId", Model.ToString() }
                                                   });
                                               /*
                                               foreach (Item itemInfo in (List<Item>)ViewBag.EquipmentPlanType)
                                               {
                                                   panelbarItem.Add().Text(itemInfo.Name)
                                                       .LinkHtmlAttributes(new Dictionary<string, object>()
                                                       {
                                                           { "ItemType", itemInfo.Id },
                                                           { "ModelId", Model.ToString() }
                                                       });
                                               }
                                                */
                                           });
                                   })
                        )
                    </div>
                );

                panes.Add().Scrollable(false).Size("100%").Content(
                    @<div class="pwPanelBar">
                        <div class="pwBlockAdd k-block">
                            <div id="pwOne">
                                @(Html.Kendo().MaskedTextBox().Name("findText" + Model).Mask("")
                                    .HtmlAttributes(new { @class = "pwWidth100" }))
                            </div>

                            <div id="pwTwo">

                            </div>

                            <div id="pwThree">
                                @(Html.Kendo().Button().Name("find" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                      .Content(Messages.Property_Найти_372__00)
                                      .ImageUrl("/Content/images/find.png"))
                            </div>
                            <div id="pwFour">
                                @(Html.Kendo().Button().Name("print" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                      .Content(Messages.Property_Печать_353__00)
                                      .ImageUrl("/Content/images/doc_print.png"))
                            </div>
                        </div>
                        <div id="pwSix">

                        </div>
                        @(Html.Kendo().Grid<LimsApplicationJournalView>()
                            .Name("gridEquipmentApplicationJournal_" + Model)
                            .Columns(columns =>
                            {
                                columns.Command(command =>
                                {
                                    command.Edit().UpdateText(Messages.Property_Сохранить_278__00);
                                    command.Destroy();
                                }).Width(200);
                                columns.Bound(p => p.ApplicationDate).Format("{0:dd.MM.yyyy}").Title("Дата заявки").Width(150);
                                columns.Bound(p => p.LimsEquipmentName).Title("Наименование оборудования").Filterable(false).Sortable(false).Width(150);
                                columns.Bound(p => p.LimsEquipmentInventoryNumber).Title("Инвентарный номер").Filterable(false).Sortable(false).Width(150);
                                columns.Bound(p => p.LimsEquipmentLaboratoryName).Title("Лаборатория").Filterable(false).Sortable(false).Width(150);
                                columns.Bound(p => p.LimsEquipmentLocationName).Title("Кабинет").Filterable(false).Sortable(false).Width(150);
                                columns.Bound(p => p.TypeOfMalfunction).Title("Вид неисправности").Width(150);
                                columns.Bound(p => p.ApplicationEmpName).Title("Ф.И.О. специалиста, оставившего заявку").Width(150);
                                columns.Bound(p => p.EngineerEmpName).Title("Ф.И.О. инженера принявшего заявку").Width(150);
                                columns.Bound(p => p.AccepterEmpName).Title("Ф.И.О. специалиста принявшего заявку после ремонта").Width(150);
                                columns.Bound(p => p.Result).Title("Результат обслуживания и/или ремонта").Width(150);
                                columns.Bound(p => p.Note).Title("Примечание").Width(150);
                                columns.Bound(p => p.CreateDate).Format("{0:dd.MM.yyyy}").Title("Дата").Width(150);
                            })
                            .ToolBar(c => c.Create())
                            .ColumnMenu(c => c.Columns(true))
                            .Reorderable(reorder => reorder.Columns(true))
                            .Editable(e => e.Mode(GridEditMode.PopUp))
                            .Sortable()
                            .Pageable(c => c.Refresh(true))
                            .Scrollable()
                            .HtmlAttributes(new { @class = "pwGrid" })
                            .DataSource(dataSource => dataSource.Ajax().Model(model => { model.Id(p => p.Id); })
                                .PageSize(20)
                                .Read(read => read.Action("ReadApplicationJournalViewList", "EquipmentJournal"))
                                .Update(update => update.Action("UpdateApplicationJournal", "EquipmentJournal"))
                                .Destroy(destroy => destroy.Action("DestroyApplicationJournal", "EquipmentJournal"))
                                .Create(create => create.Action("CreateApplicationJournal", "EquipmentJournal"))
                                .Events(c =>
                                {
                                    c.Sync("EquipmentApplicationJournalList.sync");
                                })
                            )
                            .Events(c =>
                            {
                                c.DetailExpand("EquipmentApplicationJournalList.detailExpand");
                                c.DetailCollapse("EquipmentApplicationJournalList.detailCollapse");
                                c.Edit("EquipmentApplicationJournalList.onEditHandler");
                            })
                            .Resizable(s => s.Columns(true))
                        )
                    </div>
                );
            }))
<script>
    (function() {
        resizeGrid3('@("#gridEquipmentApplicationJournal_" + Model)', 165);

        $('@("#reload" + Model)').click(function (e) {
            var grid = $('@("#gridEquipmentApplicationJournal_" + Model)').data("kendoGrid");
            grid.dataSource.read();
        });

        $('@("#print" + Model)').click(function (e) {

            var window = $("#windowFile");
            window.kendoWindow({
                width: "800px",
                height: "500px",
                modal: true,
                resizable: false,
                title: 'Печать',
                actions: ["Pin", "Refresh", "Maximize", "Close"],
                content: "/Upload/ReportFileView?name=Форма&report=" + "EquipmentApplicationJournal.mrt"
            });
            window.data("kendoWindow").title('Форма');
            window.data("kendoWindow").center();
            window.data("kendoWindow").open();
        });

    })();
</script>


