@model Ncels.Teme.Contracts.ViewModels.EmpContractDeclarantViewModel

<div class="panel-body">

<div class="row">
    <div class="col-lg-6 b-r">
        <div class="form-group">
            @{
                var @checkedResident = Model.IsResident ? "checked" : "";
                var @checkedNonResident = !Model.IsResident ? "checked" : "";
            }
            <div class="radio-inline">
                <label><input type="radio" name="@(Model.Code + "resident")" value="true" disabled="disabled" @checkedResident>Резидент РК</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="@(Model.Code + "resident")" value="false" disabled="disabled" @checkedNonResident>Нерезидент РК</label>
            </div>
            <div class="radio-inline">
            </div>
        </div>
        @{


            if (Model.IsResident)
            {
                <div class="form-group">
                    <label>ИИН/БИН *</label>
                    <div class="input-group">
                        <input class="form-control edit-control" type="text" id="bin" name="bin" disabled value="@Model.Bin">
                        <span class="input-group-addon">
                            <a class="obkcontractdialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label>Страна</label>
                    <div class="input-group">
                        @Html.DropDownList("CountryNonResident", Model.Countries, string.Empty,
                            new {@class = "form-control edit-control main-control", disabled = "disabled"})
                        <span class="input-group-addon">
                            <a class="obkcontractdialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Наименование на русском языке *</label>
                    <div class="input-group">
                        @Html.DropDownList("NameNonResident", Model.NonResidentsNames, string.Empty,
                            new {@class = "form-control edit-control main-control", disabled = "disabled"})
                        <span class="input-group-addon">
                            <a class="obkcontractdialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            }
        }

        <h4>@Model.Title</h4>

        <div class="form-group">
            <label>Организационная форма</label>
            <div class="input-group">
                @Html.DropDownList("OrganizationForm", Model.OrganizationForms, string.Empty,
                    new {@class = "form-control edit-control main-control", disabled = "disabled"})
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>Наименование на государственном языке *</label>
            <div class="input-group">
                <input class="form-control edit-control" type="text" id="declarantNameKz" name="declarantNameKz" disabled value="@Model.NameKz">
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Наименование на русском языке *</label>
            <div class="input-group">
                <input class="form-control edit-control" type="text" id="declarantNameRu" name="declarantNameRu" disabled value="@Model.NameRu">
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Наименование на английском языке</label>
            <div class="input-group">
                <input class="form-control edit-control" type="text" id="declarantNameEn" name="declarantNameEn" disabled value="@Model.NameEn">
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Страна</label>
            <div class="input-group">
                @Html.DropDownList("CountryNonResident", Model.Countries, string.Empty,
                    new {@class = "form-control edit-control main-control", disabled = "disabled"})
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-6 b-l">

        <h4>Подписывающее лицо</h4>

        <div class="form-group">
            <label>Фамилия первого руководителя*</label>
            <div class="input-group">
                <input class="form-control edit-control" type="text" id="BossLastName" disabled value="@Model.BossLastName">
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Имя первого руководителя*</label>
            <div class="input-group">
                <input class="form-control edit-control" type="text" id="BossFirstName" disabled value="@Model.BossFirstName">
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Отчество первого руководителя</label>
            <div class="input-group">
                <input class="form-control edit-control" type="text" id="BossMiddleName" disabled value="@Model.BossMiddleName">
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Должность первого руководителя на русском языке *</label>
            <div class="input-group">
                <input ng-model="object.BossPosition" class="form-control edit-control" id="BossPosition" type="text" disabled value="@Model.BossPositionRu">
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Должность первого руководителя на казахском языке *</label>
            <div class="input-group">
                <input ng-model="object.BossPositionKz" class="form-control edit-control" id="BossPositionKz" type="text" disabled value="@Model.BossPositionKz">
                <span class="input-group-addon">
                    <a class="obkcontractdialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

</div>
    <div class="row">
        <div class="col-lg-6 b-r">

            <h4>Адрес</h4>
            <div class="form-group">
                <label>Юридический адрес *</label>
                <div class="input-group">
                    <input class="form-control edit-control" type="text" id="AddressLegalRu" name="AddressLegalRu" disabled value="@Model.AddressLegal">
                    <span class="input-group-addon">
                        <a class="obkcontractdialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Фактический адрес * </label>
                <div class="input-group">
                    <input class="form-control edit-control" type="text" id="AddressFact" name="AddressFact" disabled value="@Model.AddressFact">
                    <span class="input-group-addon">
                        <a class="obkcontractdialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Номер телефона * </label>
                <div class="input-group">
                    <input class="form-control edit-control" type="text" id="Phone" name="Phone" disabled value="@Model.Phone">
                    <span class="input-group-addon">
                        <a class="obkcontractdialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Адрес электронной почты * </label>
                <div class="input-group">
                    <input class="form-control edit-control" type="text" id="Email" name="Email" disabled value="@Model.Email">
                    <span class="input-group-addon">
                        <a class="obkcontractdialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 b-l">
            <h4>Банковские реквизиты</h4>
            <div class="form-group">
                <label>Наименование банка *</label>
                <div class="input-group">
                    <input class="form-control edit-control" type="text" id="BankNameRu" name="BankNameRu" disabled value="@Model.BankName">
                    <span class="input-group-addon">
                        <a class="obkcontractdialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Расчетный счет *</label>
                <div class="input-group">
                    <input class="form-control edit-control" type="text" id="BankIik" name="BankIik" disabled value="@Model.BankAccount">
                    <span class="input-group-addon">
                        <a class="obkcontractdialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Валюта *</label>
                <div class="input-group">
                    @Html.DropDownList("Currency", Model.Currencies, string.Empty,
                        new { @class = "form-control edit-control main-control", @disabled = "disabled" })
                    <span class="input-group-addon">
                        <a class="obkcontractdialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            @if (!Model.IsResident)
            {
                <div class="form-group">
                    <label>SWIFT *</label>
                    <div class="input-group">
                        <input class="form-control edit-control" type="text" id="BankIik" name="BankIik" disabled value="@Model.BankBik">
                        <span class="input-group-addon">
                            <a class="obkcontractdialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
    @{
        if (Model.Code == "Declarant")
        {
            <div class="row">
                <div class="col-lg-12 b-r">
                    <h4>Действующее на основании</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 b-r">
                    <div class="form-group">
                        <label>Тип документа *</label>
                        <div class="input-group">
                            <input class="form-control edit-control" id="BossDocType" type="text" disabled value="@Model.BossDocType">
                            <span class="input-group-addon">
                                <a class="obkcontractdialog" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                @if (Model.BossDocTypeCode != "charter")
                {
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Без номера</label>
                            <div class="input-group">
                                <input ng-model="object.IsHasBossDocNumber" class="form-control edit-control" id="IsHasBossDocNumber" type="text" disabled value="@Model.IsHasBossDocNumber">
                                <span class="input-group-addon">
                                    <a class="obkcontractdialog" href="#">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>№ Документа *</label>
                            <div class="input-group">
                                <input ng-model="object.BossDocNumber" class="form-control edit-control" id="BossDocNumber" type="text" disabled value="@Model.BossDocNumber">
                                <span class="input-group-addon">
                                    <a class="obkcontractdialog" href="#">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            if (Model.BossDocTypeCode != "charter")
            {
                <div class="row">

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Бессрочный</label>
                            <div class="input-group">
                                <input ng-model="object.BossDocUnlimited" class="form-control edit-control" id="BossDocUnlimited" type="text" disabled value="@Model.BossDocUnlimited">
                                <span class="input-group-addon">
                                    <a class="obkcontractdialog" href="#">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Дата начала действия *</label>
                            <div class="input-group">
                                <input ng-model="object.BossDosCreateDate" class="form-control edit-control" id="BossDosCreateDate" type="text" disabled value="@Model.BossDosCreateDate">
                                <span class="input-group-addon">
                                    <a class="obkcontractdialog" href="#">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Дата окончания действия *</label>
                            <div class="input-group">
                                <input ng-model="object.BossDocEndDate" class="form-control edit-control" id="BossDocEndDate" type="text" disabled value="@Model.BossDocEndDate">
                                <span class="input-group-addon">
                                    <a class="obkcontractdialog" href="#">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            }
        }
    }
</div>
