@using Ncels.Teme.Contracts.ViewModels
@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Helpers
@model EmpContractIndexViewModel


@(Html.Kendo().Splitter()
      .HtmlAttributes(new {@class = "pwSplitter k-block"})
      .Name("splitter")
      .Panes(pane =>
      {
          pane.Add()
              .Size("250px")
              .Collapsible(true)
              .MaxSize("500px")
              .MinSize("250px")
              .Content(
                  @<div class="pwPanelBar">
                      @( Html.Kendo().PanelBar().HtmlAttributes(new {@class = "pwPanelBar"})
                             .Name("panelbar")
                             .ExpandMode(PanelBarExpandMode.Multiple)
                             .ExpandAll(true)
                             .HtmlAttributes(new {style = "width:auto;"})
                             .Events(e => e.Select("panelEmpContractSelect"))
                             .Items(panelbar =>
                             {
                                 panelbar.Add().Expanded(true);
                                 panelbar.Add().Text(PW.Ncels.Database.Recources.Messages.Property_Постатусу_262__00)
                                     .Items(projects =>
                                     {
                                         if (EmployePermissionHelper.EmpContractNewStatusView)
                                         {
                                             projects.Add().Text("Новые").LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", CodeConstManager.EmpContractStageStatus.New }, { "ItemType", "StageStatusCode" }, { "ModelId", Model.Id } });
                                         }
                                         if (EmployePermissionHelper.EmpContractNotDistributedStatusView)
                                         {
                                             projects.Add().Text("Не распределенные").LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", CodeConstManager.EmpContractStageStatus.NotDistributed }, { "ItemType", "StageStatusCode" }, { "ModelId", Model.Id } });
                                         }
                                         if (EmployePermissionHelper.EmpContractInWorkStatusView)
                                         {
                                             projects.Add().Text("В работе").LinkHtmlAttributes(new Dictionary<string, object>() {{"ItemId", CodeConstManager.EmpContractStageStatus.InWork}, {"ItemType", "StageStatusCode"}, {"ModelId", Model.Id}});
                                         }
                                         if (EmployePermissionHelper.EmpContractOnAdjustmentStatusView)
                                         {
                                             projects.Add().Text("На корректировке").LinkHtmlAttributes(new Dictionary<string, object>() {{"ItemId", CodeConstManager.EmpContractStageStatus.OnAdjustment}, {"ItemType", "StageStatusCode"}, {"ModelId", Model.Id}});
                                         }
                                         if (EmployePermissionHelper.EmpContractApprovalRequiredStatusView)
                                         {
                                             projects.Add().Text("Требует согласования").LinkHtmlAttributes(new Dictionary<string, object>() {{"ItemId", CodeConstManager.EmpContractStageStatus.ApprovalRequired}, {"ItemType", "StageStatusCode"}, {"ModelId", Model.Id}});
                                         }
                                         if (EmployePermissionHelper.EmpContractApprovedStatusView)
                                         {
                                             projects.Add().Text("Согласованные").LinkHtmlAttributes(new Dictionary<string, object>() {{"ItemId", CodeConstManager.EmpContractStageStatus.Approved}, {"ItemType", "StageStatusCode"}, {"ModelId", Model.Id}});
                                         }
                                         if (EmployePermissionHelper.EmpContractNotApprovedStatusView)
                                         {
                                             projects.Add().Text("Не согласованные").LinkHtmlAttributes(new Dictionary<string, object>() {{"ItemId", CodeConstManager.EmpContractStageStatus.NotApproved}, {"ItemType", "StageStatusCode"}, {"ModelId", Model.Id}});
                                         }
                                         if (EmployePermissionHelper.EmpContractRegistrationRquiredStatusView)
                                         {
                                             projects.Add().Text("Требуют регистрации").LinkHtmlAttributes(new Dictionary<string, object>() { { "ItemId", CodeConstManager.EmpContractStageStatus.RegistrationRequired }, { "ItemType", "StageStatusCode" }, { "ModelId", Model.Id } });
                                         }
                                         if (EmployePermissionHelper.EmpContractActiveStatusView)
                                         {
                                             projects.Add().Text("Активные").LinkHtmlAttributes(new Dictionary<string, object>() {{"ItemId", CodeConstManager.EmpContractStageStatus.Active}, {"ItemType", "StageStatusCode"}, {"ModelId", Model.Id}});
                                         }
                                     });

                             })
                            )
                  </div>);
          pane.Add().Scrollable(false).Size("100%").Content(

              @<div class="pwPanelBar">
                   <div class="pwBlockAdd k-block">
                       <input type="hidden" value="@Model.StageCode" id="@("stageCode"+Model.Id)"/>
                       
                       @if (EmployePermissionHelper.EmpContractAssignment)
                       {
                           <div style="float: left">
                               @(Html.Kendo().Button().Name("toWork" + Model.Id).HtmlAttributes(new { @class = "pwWidth100", hidden = true }).Content("Распределить"))
                           </div>
                       }
                       
                       @if (EmployePermissionHelper.EmpContractSendToAdjustment)
                       {
                           <div style="float: left">
                               @(Html.Kendo().Button().Name("toAdjustment" + Model.Id).HtmlAttributes(new { @class = "pwWidth100", hidden = true }).Content("Отправить на доработку"))
                           </div>
                       }
                       
                       @if (EmployePermissionHelper.EmpContractRegister)
                       {
                           <div style="float: left">
                               @(Html.Kendo().Button().Name("register" + Model.Id).HtmlAttributes(new { @class = "pwWidth100", hidden = true }).Content("Зарегистрировать"))
                           </div>
                       }
                       
                       <div id="@("findInActiveBlock" + Model.Id)" hidden="true">
                           @(Html.Kendo().DropDownList().Name("findTypeActiveContract" + Model.Id)
                                       .DataTextField("Text")
                                       .DataValueField("Value")
                                       .BindTo(new List<SelectListItem>() {
                                           new SelectListItem() {
                                               Text = "Все", Value = "0"
                                           },
                                           new SelectListItem() {
                                               Text = "На формировании счета", Value = OBK_Ref_PaymentStatus.OnFormation
                                           },
                                           new SelectListItem() {
                                               Text = "Ожидает оплаты", Value = OBK_Ref_PaymentStatus.SendToPayment
                                           },
                                           new SelectListItem() {
                                               Text = "Оплачен", Value = OBK_Ref_PaymentStatus.Paid
                                           },
                                           new SelectListItem() {
                                               Text = "Оплачен не полностью", Value = OBK_Ref_PaymentStatus.NotFullPaid
                                           },
                                           new SelectListItem() {
                                               Text = "Срок оплаты истек", Value =  OBK_Ref_PaymentStatus.PaymentExpired
                                           }
                                       })
                                       .SelectedIndex(0)
                                 )
                           @(Html.Kendo().Button().Name("findTypeActiveBtn" + Model.Id).HtmlAttributes(new { @class = "k-button" })
                                 .Content(PW.Ncels.Database.Recources.Messages.Property_Найти_372__00)
                                 .ImageUrl("/Content/images/find.png"))
                       </div>

                   </div>
                   <div id="pwSix">
                       @(Html.Kendo().Button().Name("reload" + Model.Id).HtmlAttributes(new { @class = "pwWidth100 pwButtonReload" })
                                                    .Content("").ImageUrl("/Content/images/reload.png"))
                   </div>
                  @( Html.Kendo().Grid<EmpContractViewModel>()
                         .Name("grid" + Model.Id)
                         .Columns(columns =>
                         {
                             columns.Bound(x => x.Number).Width(150).ClientTemplate(
                                 "<div class=\"btn-group btn-group-xs\" style='height:14px;margin-top: -9px;'>" +
                                 "<button type='button' style='width:90px;' class='btn btn-default btn-xs' onclick=\"getEmpContractDetails('#=Id#', '#=ContractStageId#', '#=Number#',)\"><span style=\"color:rgb(66,139,202);\">#=Number#</span></button>" +
                                 "</div>").Title(PW.Ncels.Database.Recources.Messages.Property_Номер_373__00).ClientFooterTemplate(PW.Ncels.Database.Recources.Messages.Property_Всего_356__00 + "#=count#").Locked(true).Lockable(false);
                             columns.Bound(x => x.CreateDate).Format("{0:dd.MM.yyyy}").Title("Дата отправки").Width(100);
                             columns.Bound(x => x.StartDate).Format("{0:dd.MM.yyyy}").Title("Дата начала").Width(100);
                             columns.Bound(x => x.EndDate).Format("{0:dd.MM.yyyy}").Title("Дата окончания").Width(100);
                             columns.Bound(x => x.Declarant).Title("Заявитель").Width(100);
                             columns.Bound(x => x.ContractType).Title("Тип договора").Width(200);
                             columns.Bound(x => x.ValidatinGroup).Title("Группа валидации").Width(100);
                             columns.Bound(x => x.Def).Title("ДЭФ").Width(100);
                             columns.Bound(x => x.Lawyer).Title("Юрист").Width(100);
                         })

                         .Reorderable(reorderable => reorderable.Columns(true))
                         .Resizable(resizable => resizable.Columns(true))
                         .Sortable(sortable => sortable.AllowUnsort(false))
                         .Groupable()
                         .Scrollable(scrollable => scrollable.Virtual(true))
                         .Filterable()
                         .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                         .HtmlAttributes(new { @class = "pwGrid" })


                         .DataSource(dataSource => dataSource
                             .Ajax()
                             .Aggregates(aggregates => { aggregates.Add(p => p.Number).Count(); })
                             .Read(read => read.Action("LoadContracts", "EMPContract"))
                             .PageSize(20)
                         )
                        )
              </div>);
      }
      )
)



<script>
    $(document).ready(function () {
        resizeGrid('@("#grid" + Model.Id)');
        initFilterEmpContract('@Model.Id');
    });
</script>