@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Helpers
@using PW.Ncels.Database.Models
@model Guid?


@helper ToolbarDeclarationReport()
    {
        <div class="pull-left">
            <label>Дата от</label>
            @( Html.Kendo().DatePicker().Name("dateFrom" + Model).Format("{0:dd.MM.yyyy}") )
            <label>до</label>
            @( Html.Kendo().DatePicker().Name("dateTo" + Model).Format("{0:dd.MM.yyyy}") )
            <label>ОПС</label>
            @(Html.Kendo().DropDownList().Name("expertOrganizations" + Model)
                                        .AutoBind(false)
                                        .OptionLabel("Все")
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .HtmlAttributes(new { @style = "width: 300px" })
                                        .DataSource(dataSource => dataSource.Read(read => read.Action("GetExpertOrganizations", "BlankAccounting"))))

            @( Html.Kendo().Button().Name("searchDeclaration" + Model).Content("Найти"))                                                                                 
            @( Html.Kendo().Button().Name("printDeclarationReport" + Model).Content("Экспорт"))

        </div>
        <div class="pull-right">
            <div style="display: inline-block" id="columnMenu" class="custom-grid-menu"></div>
            <div style="display: inline-block">
                @( Html.Kendo().Button().Name("reload")
                                                                            .Content("").ImageUrl("/Content/images/reload.png"))
            </div>
        </div>
}

@(Html.Kendo().Splitter()
                      .HtmlAttributes(new { @class = "pwSplitter k-block" })
                      .Name(("splitter"))
                      .Panes(panes =>
                      {
                          panes.Add().Scrollable(false).Size("100%").Content(
                            @<div class="pwPanelBar">
                                @( Html.Kendo().Grid<DeclarationReportView>()
                                                                         .Name("DeclarationReportView" + Model)

                                                                         .Columns(columns =>
                                                                         {
                                                                                     columns.Bound(p => p.Number).Title("Номер заявки").Width(100);
                                                                                     columns.Bound(p => p.SendDate).Format("{0:dd.MM.yyyy}").Title("Дата поступления").Width(150);
                                                                                     columns.Bound(p => p.DeclarationType).Title("Тип заявки").Width(150);
                                                                                     columns.Bound(p => p.Declarant).Title("Наименование фирмы-заявителя").Width(100);
                                                                                     columns.Bound(p => p.Desicion).Title("Решение по заявке").Width(150);
                                                                                     columns.Bound(p => p.ActInfo).Title("Дата отбора образцов").Width(100);
                                                                                     columns.Bound(p => p.ExpertOrganization).Title("Орган по сертификации").Width(150);
                                                                                     columns.Bound(p => p.Id).ClientTemplate("<p></p>").Title("Примечание").Width(90);
                                                                                 })
                                                                         .AutoBind(false)
                                                                         .Reorderable(reorderable => reorderable.Columns(true))
                                                                         .Resizable(resizable => resizable.Columns(true))
                                                                         .ToolBar(toolbar => { toolbar.Template(ToolbarDeclarationReport().ToHtmlString()); })
                                                                         .Groupable()
                                                                         .Sortable()
                                                                         .Filterable()
                                                                         .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                                                         .Scrollable(scrollable => scrollable.Virtual(true))
                                                                         .Pageable()
                                                                         .HtmlAttributes(new { style = "height:500px; font-size: 12px" })
                                                                         .DataSource(dataSource => dataSource
                                                                             .Ajax()
                                                                             .Sort(sort => { sort.Add("SendDate").Descending(); })
                                                                             .PageSize(50)
                                                                             .Read(read => read.Action("DeclarationReportList", "OBKReport"))
                                                                            )
                                ))

                            </div>
                                                              );
                              }))

<script>

    $("#reload" + "@Model").click(function ()
    {
        $("#DeclarationReportView"+"@Model").data("kendoGrid").dataSource.read();
    });

    $("#print" + "@Model").click(function ()
    {
        var grid = $("#DeclarationReportView" + "@Model").data("kendoGrid");
        parameterMap = grid.dataSource.transport.parameterMap;
        var data = parameterMap({ sort: grid.dataSource.sort(), filter: grid.dataSource.filter(), group: grid.dataSource.group() });
        window.open('/ZBKCopy/ExportTransferZbk?request=' + $.param(data));
    });

     function initDeclarationReportFilters(){
        var from = $('#dateFrom' + "@Model").val();
        var fromDate = new Date(from.split(".")[2] + '-' + from.split(".")[1] + '-' + from.split(".")[0]);
        var to = $('#dateTo' + "@Model").val();
        var toDate = new Date(to.split(".")[2] + '-' + to.split(".")[1] + '-' + to.split(".")[0]);
        var grid = $("#DeclarationReportView" + "@Model").data("kendoGrid");
        var filter = grid.dataSource.filter().filters;
        var expertOrganizations = $('#expertOrganizations' + '@Model').val();

        if (from != undefined && from != null && from != "")
        {
            checkRemove(filter, "RegisterDate", "gte");
            filter.push(
                { field: "RegisterDate", operator: "gte", value: fromDate });
        } else
        {
            checkRemove(filter, "RegisterDate", "gte");
        }

        if (to != undefined && to != null && to != "")
        {
            checkRemove(filter, "RegisterDate", "lte");
            filter.push(
                { field: "RegisterDate", operator: "lte", value: toDate });
        } else
        {
            checkRemove(filter, "RegisterDate", "lte");
        }

        if (expertOrganizations != undefined && expertOrganizations != null && expertOrganizations != "")
        {
            checkRemove(filter, "OrganName", "eq");
            filter.push(
                { field: "OrganName", operator: "eq", value: getDropDownVal("#expertOrganizations") });
        } else
        {
            checkRemove(filter, "OrganName", "eq");
        }

        grid.dataSource.filter({
            logic: "and",
            filters: filter
        });
    }

    $("#searchBlanks").click(function ()
    {
        initDeclarationReportFilters();
    });

</script>

