@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Helpers
@using PW.Ncels.Database.Models
@model Guid?


@helper ToolbarDeclarationReport()
    {
<div class="pull-left">
    <label>Дата начала</label>
    @( Html.Kendo().DatePicker().Name("dateFrom" + Model).Format("{0:dd.MM.yyyy}") )
    <label>Дата окончания</label>
    @( Html.Kendo().DatePicker().Name("dateTo" + Model).Format("{0:dd.MM.yyyy}") )
    <label>ОПС</label>
    @(Html.Kendo().DropDownList().Name("expertOrganizations" + Model)
                                        .AutoBind(false)
                                        .OptionLabel("ОПС")
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .HtmlAttributes(new { @style = "width: 300px" })
                                        .DataSource(dataSource => dataSource.Read(read => read.Action("GetExpertOrganizations", "BlankAccounting"))))

    @( Html.Kendo().Button().Name("search" + Model).Content("Найти"))
    @( Html.Kendo().Button().Name("export" + Model).Content("Экспорт"))

    <br>    <br>
    <label>Тип заявки</label>
    @(Html.Kendo().DropDownList().Name("declarationType" + Model)
                                        .AutoBind(false)
                                        .OptionLabel("Все")
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .HtmlAttributes(new { @style = "width: 300px" })
                                        .DataSource(dataSource => dataSource.Read(read => read.Action("OBK_Ref_Type", "OBKReport"))))
    <label>Тип</label>
    @(Html.Kendo().DropDownList().Name("productType" + Model)
                                        .AutoBind(false)
                                        .OptionLabel("Все")
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .HtmlAttributes(new { @style = "width: 300px" })
                                        .DataSource(dataSource => dataSource.Read(read => read.Action("ProductTypes", "OBKReport"))))


      <br>
</div>
        <div class="pull-right">
            <div style="display: inline-block" id="columnMenu" class="custom-grid-menu"></div>
            <div style="display: inline-block">
                @( Html.Kendo().Button().Name("reload" + Model).Content("").ImageUrl("/Content/images/reload.png"))
            </div>
        </div>
}

@(Html.Kendo().Splitter()
                      .HtmlAttributes(new { @class = "pwSplitter k-block" })
                      .Name(("splitter"))
                      .Panes(panes =>
                      {
                          panes.Add().Scrollable(false).Size("100%").Content(
                            @<div class="pwPanelBar">
                                @( Html.Kendo().Grid<ZBKDetailReportView>()
                                                                         .Name("ZBKDetailReportView" + Model)

                                                                         .Columns(columns =>
                                                                         {
                                                                             columns.Bound(p => p.DeclarationNumber).Title("Номер заявки").Width(130);
                                                                             columns.Bound(p => p.SendDate).Format("{0:dd.MM.yyyy}").Title("Дата заявки").Width(120);
                                                                             columns.Bound(p => p.DeclarationType).Title("Тип заявки").Width(120);
                                                                             columns.Bound(p => p.ExpConclusionNumber).Title("Регистрационный <br> номер заключения").Width(150);
                                                                             columns.Bound(p => p.BlankNumber).Title("Номер <br> бланка").Width(120);
                                                                             columns.Bound(p => p.ExpStartDate).Format("{0:dd.MM.yyyy}").Title("Дата <br> регистрации").Width(120);
                                                                             columns.Bound(p => p.ExpStartDate).Format("{0:dd.MM.yyyy}").Title("Окончания <br> срока действия").Width(120);
                                                                             columns.Bound(p => p.ExpertOrganization).Title("Орган по <br> сертификации").Width(150);
                                                                             columns.Bound(p => p.ProductType).Title("Тип <br> продукции").Width(100);
                                                                             columns.Bound(p => p.DrugFormFullName).Title("Наименование <br> оцениваемой продукции").Width(150);
                                                                             columns.Bound(p => p.SerieQuantity).Title("Кол-во серии").Width(150);
                                                                             columns.Bound(p => p.ProtocolQuantity).Title("Кол-во протоколов").Width(150);
                                                                             columns.Bound(p => p.ProducerName).Title("Изготовитель: страна, <br> фирма Поставщик: <br> страна, фирма").Width(180);
                                                                             columns.Bound(p => p.ExpReasonName).Title("Заключение выдано <br> на основании").Width(180);
                                                                             columns.Bound(p => p.Declarant).Title("Заявитель: наименование, <br> адрес (страна, регион, <br> город, другие  <br> сведения), телефон").Width(200);
                                                                             columns.Bound(p => p.SerieDetail).Title("Размер партии, <br> единица измерения").Width(160);

                                                                         })
                                                                         .AutoBind(false)
                                                                         .Reorderable(reorderable => reorderable.Columns(true))
                                                                         .Resizable(resizable => resizable.Columns(true))
                                                                         .ToolBar(toolbar => { toolbar.Template(ToolbarDeclarationReport().ToHtmlString()); })
                                                                         .Groupable()
                                                                         .Sortable()
                                                                         .Filterable()
                                                                         .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                                                         .Scrollable(scrollable => scrollable.Virtual(true))
                                                                         .Pageable()
                                                                         .HtmlAttributes(new { style = "height:500px; font-size: 12px" })
                                                                         .DataSource(dataSource => dataSource
                                                                             .Ajax()
                                                                             .Sort(sort => { sort.Add("SendDate").Descending(); })
                                                                             .PageSize(30)
                                                                             .Read(read => read.Action("OBKReportList", "OBKReport", new { reportType = ViewData["reportType"] }))
                                                                            )
                                ))

                            </div>
                                                              );
                              }))

                             <script>

    function reloadDeclarationReport(){
        $("#ZBKDetailReportView" + "@Model").data("kendoGrid").dataSource.read();
    }

    $("#reload" + "@Model").click(function ()
        {
        $("#ZBKDetailReportView" + "@Model").data("kendoGrid").dataSource.read();
        });

    $("#export" + "@Model").click(function ()
    {
         var fr = $("#dateFrom" + "@Model").val();
         var to = $("#dateTo" + "@Model").val();
         var org = $("#expertOrganizations" + "@Model").val();
         var declaration = $("#declarationType" + "@Model").val();
         var product = $("#productType" + "@Model").val();


         if(fr != '' || to != '' || org != '' || declaration != '' || product != ''){
             var grid = $("#ZBKDetailReportView" + "@Model").data("kendoGrid");
             parameterMap = grid.dataSource.transport.parameterMap;
             var data = parameterMap({ sort: grid.dataSource.sort(), filter: grid.dataSource.filter(), group: grid.dataSource.group() });
             window.open('/OBKReport/ExportOBKReport?request=' + $.param(data) + "&reportType=" + "@ViewData["reportType"]");
         } else
         {
             alert("Заполните основные параметры поиска!");
         }

    });

     function initZBKReportFilters(){
        var from = $('#dateFrom' + "@Model").val();
        var fromDate = new Date(from.split(".")[2] + '-' + from.split(".")[1] + '-' + from.split(".")[0]);
        var to = $('#dateTo' + "@Model").val();
        var toDate = new Date(to.split(".")[2] + '-' + to.split(".")[1] + '-' + to.split(".")[0]);
        var grid = $("#ZBKDetailReportView" + "@Model").data("kendoGrid");
         var filterArr = grid.dataSource.filter();
         var filter = [];
         if(filterArr != undefined || filterArr != null){
             filter = filterArr.filters;
         }

        var expertOrganizations = $('#expertOrganizations' + '@Model').val();
        var declarationType = $("#declarationType" + "@Model").val();
        var productType = $("#productType" + "@Model").val();

        if (from != undefined && from != null && from != "")
        {
            checkRemove(filter, "SendDate", "gte");
            filter.push(
                { field: "SendDate", operator: "gte", value: fromDate });
        } else
        {
            checkRemove(filter, "SendDate", "gte");
        }

        if (to != undefined && to != null && to != "")
        {
            checkRemove(filter, "SendDate", "lte");
            filter.push(
                { field: "SendDate", operator: "lte", value: toDate });
        } else
        {
            checkRemove(filter, "SendDate", "lte");
        }

        if (expertOrganizations != undefined && expertOrganizations != null && expertOrganizations != "")
        {
            checkRemove(filter, "ExpertOrganization", "eq");
            filter.push(
                { field: "ExpertOrganization", operator: "eq", value: getDropDownVal("#expertOrganizations") });
        } else
        {
            checkRemove(filter, "ExpertOrganization", "eq");
        }

        if (declarationType != undefined && declarationType != null && declarationType != "")
        {
            checkRemove(filter, "DeclarationType", "eq");
            filter.push(
                { field: "DeclarationType", operator: "eq", value: getDropDownVal("#declarationType") });
        } else
        {
            checkRemove(filter, "DeclarationType", "eq");
        }

        if (productType != undefined && productType != null && productType != "")
        {
            checkRemove(filter, "ProductType", "eq");
            filter.push(
                { field: "ProductType", operator: "eq", value: getDropDownVal("#productType") });
        } else
        {
            checkRemove(filter, "ProductType", "eq");
        }

        grid.dataSource.filter({
            logic: "and",
            filters: filter
        });
    }

    function getDropDownVal(name){
        return $.trim($(name + "@Model").data("kendoDropDownList").text());
    };

     $("#search" + "@Model").click(function ()
     {
         var fr = $("#dateFrom" + "@Model").val();
         var to = $("#dateTo" + "@Model").val();
         var org = $("#expertOrganizations" + "@Model").val();
         var declaration = $("#declarationType" + "@Model").val();
         var product = $("#productType" + "@Model").val();

         if(fr != '' || to != '' || org != '' || declaration != '' || product != ''){
             initZBKReportFilters();
         } else
         {
             alert("Заполните основные параметры поиска!");
         }

    });

    function checkRemove(arr, field, operator) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].field == field && arr[i].operator == operator)
            {
                arr.splice(i, 1);
            }
        }
    }

                             </script>

