@using PW.Ncels.Models.Visit;
@model VisitListModels
@{
    Layout = "../Shared/_Layout.cshtml";
    var directory = Model.DirectoryText;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@directory</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Visit")">Приёмы</a>
            </li>
            <li class="active">
                <strong>@directory</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="visitList">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <button type="button" onclick="location.href = '@Url.Action("CreateVisit", "Visit")'" class="btn btn-primary">Записаться на приём</button>
                @if (Model.Type != VisitListTypes.Actual)
                {
                    <button type="button" onclick="location.href = '@Url.Action("ActualVisitList", "Visit")'" class="btn btn-primary">Предстоящие</button>
                }
                @if (Model.Type != VisitListTypes.Archive)
                {
                    <button type="button" onclick="location.href = '@Url.Action("ArchiveVisitList", "Visit")'" class="btn btn-primary">Прошедшие</button>
                }
                @if (Model.Type != VisitListTypes.All)
                {
                    <button type="button" onclick="location.href = '@Url.Action("Index", "Visit")'" class="btn btn-primary">Все</button>
                }
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        @directory
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <grid-cor-object url="/Visit/GetList?type=0" column-order="1"></grid-cor-object>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/css/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .select2-container {
        width: 100%;
    }

    .edit-control {
        width: 100%;
    }

    .ui-dialog {
        background: white;
    }

    .ui-dialog-titlebar-close {
        background: #08e7d2;
    }

    .ui-widget-header {
        border: 1px solid #08e7d2;
        background: #004d86;
        color: #ffffff;
        font-weight: bold;
    }

    .ui-dialog .ui-dialog-buttonpane button {
        background-color: #5cb85c;
        border-color: #4cae4c;
        color: white;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    /* Меню */

    #menuConteiner {
        width: 150px;
        float: left;
        margin-right: 5px;
        min-height: 50px;
        position: fixed;
        z-index: 9999;
        top: 20%;
    }

    .main-control {
    }
</style>