@using PW.Ncels.Database.Constants
@model PW.Ncels.Database.Models.OBK.ZBKViewModel

@{
    Layout = "../Shared/_Layout.cshtml";

    double total = 0;
    double totalWithNDS = 0;
    if (Model.CopyQuantity != null)
    {
        total = 219 * (int)Model.CopyQuantity;
        totalWithNDS = total * Model.Nds;
    }

    if (Model.ExpApplication == false)
    {
        total = total * 2;
        totalWithNDS = totalWithNDS * 2;
    }

    decimal decTotal = Math.Round(Convert.ToDecimal(total), 2);
    decimal decTotalWithNDS = Math.Round(Convert.ToDecimal(totalWithNDS), 2);
}
@Html.Partial("~/Views/Home/SignView.cshtml")

@Html.HiddenFor(o => o.AttachPath)
@Html.HiddenFor(o => o.PaymentInvoice)


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Все</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Сертификаты ЗБК</a>
            </li>
            <li class="active">
                <strong>Запрос на копию</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 id="safetyTitle">
                        Заключение о безопасности и качества продукции
                    </h5>
                    <div class="note-font btn-group" style="width: 100%">
                        <button class="btn btn-info btn-sm" type="button" security bp-type="project" bp-action="edit" onclick="location.href='@Url.Action("Index", "ZBKCopy")'"><i class="fa fa-arrow-left"></i> Вернуться в список</button>
                        @{ if (Model.PaymentInvoice == true)
                            {
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" style="margin-left:10px">Счет на оплату</button>
                            }
                        }

                        @{
                            if (Model.refStatus == CodeConstManager.STATUS_OBK_SIGN_ACT || Model.refStatus == CodeConstManager.STATUS_OBK_CONCLUSION_ISSUE)
                            {
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#actModal" style="margin-left:10px">Акт выполненных работ</button>
                            }
                        }

                        @{
                            if (Model.refStatus == CodeConstManager.STATUS_OBK_ONCORRECTION || Model.refStatus == CodeConstManager.STATUS_OBK_DRAFT_ID)
                            {
                                <button class="btn btn-success dropdown-toggle btn-sm" id="signBtn" style="margin-left:10px">Подписать ЭЦП и отправить в ЦОЗ</button>
                            }
                        }
                    </div>


                    @{ if (Model.Notes != null)
                        {
                            <textarea style="width: 700px; height: 200px; background-color: #f3cdcd" placeholder="Замечания" id="notes" disabled="disabled">@Model.Notes</textarea>
                            <br>
                        }}

                    <label style="color: black;">Данные заключения</label>

                    <br>
                    <div style="margin:5px;">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Заявитель</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.Declarer, new { @class = "form-control edit-control", placeholder = "Введите значение", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label>Наименование организации</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.OrganizationName, new { @class = "form-control edit-control", placeholder = "Введите значение", disabled = "disabled" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label>№ заключения</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.ConclusionNumber, new { @class = "form-control edit-control", placeholder = "Введите значение", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label>№ договора</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.ContractNumber, new { @class = "form-control edit-control", placeholder = "Введите значение", disabled = "disabled" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label>Дата выдачи</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.StartDate, "{0:dd.MM.yyyy}", new { @class = "form-control edit-control", placeholder = "Введите значение", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label>№ заявки</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.DeclarationNumber, new { @class = "form-control edit-control", placeholder = "Введите значение", disabled = "disabled" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label>Дата истечения</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.ExpireDate, "{0:dd.MM.yyyy}", new { @class = "form-control edit-control", placeholder = "Введите значение", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label>Тип заявки</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.DeclarationType, new { @class = "form-control edit-control", placeholder = "Введите значение", disabled = "disabled" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label> Тип заключения</label>
                                <div class="input-group" style="width:100%">
                                    @{
                                        if (Model.ExpApplication == false)
                                        {
                                            <input value="С приложением" disabled="disabled" class="form-control edit-control">
                                        }
                                        else
                                        {
                                            <input value="Без приложения" disabled="disabled" class="form-control edit-control">
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <label style="color:black">Продукция</label>
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <table id="products" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover dataTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <label id="LetterDate-label">Дата подачи письма</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.LetterDate, "{0:dd.MM.yyyy}", new { @class = "form-control date-control", placeholder = "Введите значение" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label id="LetterNumber-label">Номер письма</label>
                                <div class="input-group" style="width:100%">
                                    @Html.TextBoxFor(model => model.LetterNumber, new { @class = "form-control edit-control", placeholder = "Введите значение" })
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Прикрепить файл</label>
                                <div class="input-group">
                                    <input name="files" id="@("files" + Model.Id)" type="file" title="@PW.Ncels.Database.Recources.Messages.ВыбратьФайл" />
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2">
                                <label id="copyQuantity-label">Количество копий*</label>
                            </div>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input id="copyQuantity" value="@Model.CopyQuantity" style="width:50px;" class="copyQuantity-control" type="number" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label style="color:black">Стоимость услуги</label>
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <table id="productsCost" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Наименование услуги</th>
                                                    <th>Единица измерения</th>
                                                    <th>Цена тенге без НДС</th>
                                                    <th>Количество услуг</th>
                                                    @{
                                                        if (Model.ExpApplication == false)
                                                        {
                                                            <th>Количество приложений</th>
                                                        }
                                                    }
                                                    <th>Итоговая стоимость услуги, в тенге без НДС</th>
                                                    <th>Итоговая стоимость услуги, в тенге с НДС</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Оформление копий заключения о безопасности и качества</td>
                                                    <td>1 копия</td>
                                                    <td id="onePrice">219</td>
                                                    <td id="copyQuantityTable">@Model.CopyQuantity</td>
                                                    @{
                                                        if (Model.ExpApplication == false)
                                                        {
                                                            <td id="applicationQuantity">@Model.CopyQuantity</td>
                                                        }
                                                    }
                                                    <td id="totalWithoutNds">@( decTotal )</td>
                                                    <td id="totalWithNds">@( decTotalWithNDS )</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Счет на оплату</h4>
                                    </div>
                                    <div class="modal-body">
                                        <object data="/ZBKCopy/DocumentZbkCopyPdf?zbkCopyId=@Model.Id&contractId=@ViewData["ContractId"]" type="application/pdf" style="width:100%;height:550px"></object>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="actModal" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Акт выполненных работ</h4>
                                    </div>
                                    <div class="modal-body">
                                        <object data="/ZBKCopy/CertOfComplectFilePdf?zbkCopyId=@Model.Id" type="application/pdf" style="width:100%;height:550px"></object>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(o => o.Nds)

<script type="text/javascript">

    var notEditable = false;

    $(document).ready(function () {
        fillProductsTable();
        var fileId = '@Model.Id';
        setDateFormat(".date-control");

        if ('@Model.refStatus' != '@CodeConstManager.STATUS_OBK_ONCORRECTION' && '@Model.refStatus' != '@CodeConstManager.STATUS_OBK_DRAFT_ID')
        {
            $("#copyQuantity").prop("disabled", "true");
            $("#LetterDate").prop("disabled", "true");
            $("#LetterNumber").prop("disabled", "true");
            notEditable = true;
        }

        InitializeZBKCopyFile(fileId);
    });

    $(".copyQuantity-control").change(function () {
        var copyQuantity = $("#copyQuantity").val();
        $("#copyQuantityTable").html(copyQuantity);
        $("#applicationQuantity").html(copyQuantity);
        if('@Model.ExpApplication' == 'False'){
            $("#totalWithoutNds").html(copyQuantity * 219 * 2);
            $("#totalWithNds").html((copyQuantity * 2 * 219 * parseFloat($("#Nds").val().replace(",", ".") ) ).toFixed(2) );
        }else{
            $("#totalWithoutNds").html(copyQuantity * 219);
            $("#totalWithNds").html((copyQuantity * 219 * parseFloat($("#Nds").val().replace(",",".")) ).toFixed(2) );
        }
    });

    function setDateFormat(control)
    {
        $(control).datepicker({
            dateFormat: 'dd.mm.yy',
            language: 'ru',
            autoclose: true
        });
    }

    function fillProductsTable() {
        $.ajax({
            type: 'POST',
            url: '/ZBKCopy/Products?contractId=' + '@Model.ContractId',
            success: function (data) {
                if (data.success == true) {
                    initProductsTable(data.result);
                }
            }
        });
    }

    function initProductsTable(data) {
        $("#products").DataTable({
            autoWidth: false,
            searching: false,
            paging: false,
            bInfo: false,
            data: data,
            "columns": [
                { data: 'name', sWidth: "50px", title: "Наименование" },
                { data: 'fullName', sWidth: "20px", title: "Полное наименование" },
                { data: 'producerName', sWidth: "50px", title: "Производитель" },
                { data: 'serieParty', sWidth: "50px", title: "Кол-во в потр.уп." },
                { data: 'country', sWidth: "50px", title: "Страна-производитель" },
            ]
        });
    }


    function checkValidation() {
         var valid = true;
         valid = checkAttr("copyQuantity", valid);

         if(valid == false){
            alert("Заполните обязательные поля!");
         }
         return valid;
    }

    function checkAttr(attr, valid) {
        var val = $("#" + attr + "").val();
        if (val == "") {
            $("#" + attr + "-label").css({ 'color': '#a94442' });
            valid = false;
        } else {
            $("#" + attr + "-label").css({ 'color': '#555' });
        }
        return valid;
    }

</script>

<script src="~/Scripts/js/custom/common.js"></script>
<script src="~/Scripts/js/custom/spin.js"></script>
<script src="~/Scripts/photon/crypto/obk/obk_eds.js"></script>
<script type="text/javascript">

       $("#signBtn").click(function () {

    if(checkValidation()){
    var id = '@Model.Id';
           if (id) {
               var funcSign = function signData() {
                   debugger;
                   $.blockUI({ message: '<h1><img src="../../Content/css/plugins/slick/ajax-loader.gif"/> Выполняется подпись...</h1>', css: { opacity: 1 } });
                   signXmlCall(function () {
                       debugger;

        $.ajax({
            type: 'POST',
            url: '/ZBKCopy/SaveSignedZBKCopy',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ id: id, signedData: $("#Certificate").val() }),
            success: function (result) {
                alert(result.message);
                 $.unblockUI();
                $.ajax({
                    type: 'POST',
                    url: '/ZBKCopy/Update',
                    data: {
                        id: id,
                        quantity: $("#copyQuantity").val(),
                        letterDate: $("#LetterDate").val(),
                        letterNumber: $("#LetterNumber").val()
                    },
                    success: function (data){
                        if(data.success == true){
                             window.location.href="/ZBKCopy/Index";
                        }
                    }
                });
            }
        });

                   });
               };

               startSign('/ZBKCopy/SignData', id, funcSign);
           }
    }


       });

</script>

<link href="~/Content/css/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css" />
<style>
    .ui-dialog {
        background: white;
    }

    .ui-dialog-titlebar-close {
        background: #08e7d2;
    }

    .ui-widget-header {
        border: 1px solid #08e7d2;
        background: #004d86;
        color: #ffffff;
        font-weight: bold;
    }

    .ui-dialog .ui-dialog-buttonpane button {
        background-color: #5cb85c;
        border-color: #4cae4c;
        color: white;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
</style>