@model Guid

@{
     //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>

    function docOutgoingPage1onClick() {
        var itemId = '@Model.ToString()';

        $.ajax({
            url: "/OutgoingDoc/Form2?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docOutgoingPage2onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/Task/Details?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docOutgoingPage3onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/ProjectDoc/FormBpOut?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docOutgoingPage4onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/History/Index?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
</script>

<div class="pwTabContent k-block">

    <form id="@("outDocForm"+ Model)">
       
        <div id="@("loader"+ Model)">
        </div>
        <table class="pwTable">
            <tr class="pwContent">
                <td class="pwContentLeft k-block">
                    
                    <a onclick="docOutgoingPage1onClick()" id="@("docPage1" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart"><span><img src="../../Content/images/8.png" /></span></a>
                    <a onclick="docOutgoingPage3onClick()" id="@("docPage3" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-1"><span><img src="../../Content/images/1.png" /></span></a>
                    <a onclick="docOutgoingPage4onClick()" id="@("docPage4" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-7"><span><img src="../../Content/images/7.png" /></span></a>
                </td>
                <td class="pwContentRight k-block" id="@("pwContentRightId"+ Model)">
                    <div class="pwPageScrollable">
                        <div id="@("page" + Model)">
                            @Html.Partial("Form2",Model)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="pwStatusbar k-block" colspan="2">
                    <div class="pwFloat">
                        @PW.Ncels.Database.Recources.Messages.Property_Исходящийдокумент_90__00
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        <span id="@("pwStatusbarState" + Model)"></span>
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    InitializeSizeOutgoing('@Model.ToString()');
</script>

