@using PW.Prism.ViewModels.Commissions
@model ConclusionCommissionDrugDeclarationModel
@{

}
<div class="modal-dialog" style="width: 95%; max-width: 600px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Заключение</h4>
        </div>
        <div class="modal-body" padding="0">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label>Заявка:</label>
                    <b>№@Model.Number, @Model.Name</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label> Решение</label>
                    <select id="conclusionCommissionDrugDeclarationType">
                        @foreach (var t in Model.ConclusionList)
                        {
                            <option value="@t.Value">@t.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label>Комментарий</label>
                    <textarea rows="10" cols="45" id="conclusionCommissionDrugDeclarationComment" value="" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="ConclusionCommissionDrugDeclarationConfirm('@Model.Id','@Model.CommissionId')">Добавить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>
    </div>
</div>
