@using PW.Ncels.Database.DataModel
@model PW.Ncels.Database.DataModel.EXP_Materials
@{
    Layout = "../Shared/_Layout.cshtml";
}

<link href="~/Content/css/plugins/jsTree/style.css" rel="stylesheet" type="text/css" />
<style>
    .select-treeview {
        font-size: 0.9em;
        color: rgb(103, 106, 108);
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Новый материал</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Материалы</a>
            </li>
            <li class="active">
                <strong>Просмотреть материал</strong>
            </li>
        </ol>
    </div>
</div>
<input type="hidden" value="@Model.DrugDeclarationId" id="drugdeclarationId" />
<input type="hidden" value="@Model.Id" id="modelId" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Материал @Model.Name
                        <small>данные</small>
                    </h5>
                    <!-- <div ibox-tools></div> -->
                </div>
                <div class="ibox-content ibox-heading">
                    <div class="note-font btn-group">
                        <button class="btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("Edit","DrugDeclaration")?id=@Model.DrugDeclarationId'">
                            <i class="fa fa-arrow-left"></i> Вернуться
                        </button>
                    </div>
                </div>
                <form name="materialForm" novalidate>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel-body">
                                <div class="row">
                                <div class="col-lg-6 b-r">
                                    
                                    <div class="form-group">
                                        <label>Организационная форма</label>
                                        <p>@Model.IsAdditionalStr</p>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Тип*</label>
                                        <p>@Model.TypeName</p>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Наименование</label>
                                        <p>@Model.Name</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Дозировка</label>
                                        <p>@Model.Dosage</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Единица измерения дозировки</label>
                                        <p>@Model.DosageUnitName</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Концентрация</label>
                                        <p>@Model.Concentration</p>
                                    </div>
                                   
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Объем</label>
                                        <p>@Model.Volume</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Единица измерения объема</label>
                                        <p>@Model.VolumeUnitName</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Количество доз</label>
                                        <p>@Model.DosageQuantity</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Содержит НПП</label>
                                        <p>@Model.IsContainNPPStr</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Производитель</label>
                                        <p>@Model.ProducerName</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Страна</label>
                                        <p>@Model.CountryName</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Количество</label>
                                        <p>@Model.Quantity</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Единица измерения</label>
                                        <p>@Model.UnitName</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Серия/Партия</label>
                                        <p>@Model.Batch</p>
                                    </div>
                                </div>
                                        
                                        
                                        

                                <div class="col-lg-6 b-l">
                                        
                                    
                                    <div class="form-group">
                                        <label>Дата изготовления</label>
                                        @if (Model.DateOfManufacture.HasValue)
                                        {
                                            <p>@Model.DateOfManufacture.Value.ToString("dd.MM.yyyy")</p>
                                        }
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Срок годности</label>
                                        @if (Model.ExpirationDate.HasValue)
                                        {
                                            <p>@Model.ExpirationDate.Value.ToString("dd.MM.yyyy")</p>
                                        }
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Дата ре-теста</label>
                                        @if (Model.RetestDate.HasValue)
                                        {
                                            <p>@Model.RetestDate.Value.ToString("dd.MM.yyyy")</p>
                                        }
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Сертификат/паспорт</label>
                                        <p>@Model.IsCertificatePassportStr</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Условия хранения</label>
                                        <p>@Model.StorageConditionName</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>Температура хранения, с</label>
                                        <p>@Model.StorageTemperatureFrom</p>
                                    </div>
                                    <div class="form-group">
                                        <label>по</label>
                                        <p>@Model.StorageTemperatureTo</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>% содержания активного вещества</label>
                                        <p>@Model.ActiveSubstancePercent</p>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>% содержания активного вещества</label>
                                        <p>@Model.WaterContentPercent</p>
                                    </div>

                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
