@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Models
@using PW.Ncels.Database.Recources

@model Guid

<script>
    var ReestrGrid = {
        recordVar: 0,
        onExportFn: function (e) {
            var dateStart = $('#dateStart' + '@Model').val();
            var dateEnd = $('#dateEnd' + '@Model').val();
            var url = '@Url.Action("ExportFile", "Reestr")?type=directiontopay';
            url = url + '&dateStart=' + dateStart;
            url = url + '&dateEnd=' + dateEnd;
            window.open(url);
        },
        renderNumber: function(data) {
            return ++ReestrGrid.recordVar;
        },
        applyFilterFn: function (e) {
            debugger;
            ReestrGrid.recordVar = 0;
            var dateStart = $('#dateStart' + '@Model').val();
            var dateEnd = $('#dateEnd' + '@Model').val();
            var grid = $("#gridReestr" + '@Model').data("kendoGrid");

            var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
            var dateStartValue = new Date(dateStart.replace(pattern, '$3-$2-$1'));
            var dateEndValue = new Date(dateEnd.replace(pattern, '$3-$2-$1'));

            var filter = {
                logic: "and",
                filters: [
                    { field: "ModifyDate", operator: "gte", value: dateStartValue },
                    { field: "ModifyDate", operator: "lte", value: dateEndValue }
                ]
            };

            grid.dataSource.filter(filter);
        },
        clearFilterFn: function (e) {
            ReestrGrid.recordVar = 0;
            var grid = $("#gridReestr" + '@Model').data("kendoGrid");
            grid.dataSource.filter([]);
        },
        changeDateStart: function(e) {
            var startDate = this.value();
            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());

                var datePicker = $('#dateEnd' + '@Model').data("kendoDatePicker");
                datePicker.min(startDate);

            }
        },
         changeDateEnd: function(e) {
            var enddate = this.value();
            if (enddate) {
                enddate = new Date(enddate);
                enddate.setDate(enddate.getDate());

                var datePicker = $('#dateStart' + '@Model').data("kendoDatePicker");
                datePicker.max(enddate);
            }
        }
    }
</script>

<style>

</style>

@(Html.Kendo().Splitter()
            .HtmlAttributes(new { @class = "pwSplitter k-block" })
            .Name(("splitter" + Model))
            .Panes(panes =>
            {
            panes.Add().Scrollable(false).Size("100%").Content(
                @<div class="pwPanelBar">
                    <div class="pwBlockAdd k-block" style="display: flex">
                        
                        <div id="pwReport1">
                            <span> @PW.Ncels.Database.Recources.Messages.Property_Дата_391__00 c:</span>
                        </div>
                        <div id="pwReport2">
                            @(Html.Kendo().DatePicker().Name("dateStart" + Model)
                                    .Format("dd.MM.yyyy")
                                    .HtmlAttributes(new { @class = "pwWidth100", type = "" })
                                    .Value(new DateTime(DateTime.Now.AddMonths(-1).Year, DateTime.Now.AddMonths(-1).Month, 1))
                                    .Max(new DateTime(DateTime.Now.AddMonths(-1).Year, DateTime.Now.AddMonths(-1).Month, DateTime.DaysInMonth(DateTime.Now.AddMonths(-1).Year, DateTime.Now.AddMonths(-1).Month)))
                                    .Events(c => c.Change("ReestrGrid.changeDateStart"))
                                    )
                        </div>
                        <div id="pwReport3">
                            <span> @PW.Ncels.Database.Recources.Messages.Property_Датапо_326__00</span>
                        </div>
                        <div id="pwReport4">
                            @(Html.Kendo().DatePicker().Name("dateEnd" + Model)
                                    .Format("dd.MM.yyyy")
                                    .HtmlAttributes(new { @class = "pwWidth100", type = "" })
                                    .Min(new DateTime(DateTime.Now.AddMonths(-1).Year, DateTime.Now.AddMonths(-1).Month, 1))
                                    .Value(new DateTime(DateTime.Now.AddMonths(-1).Year, DateTime.Now.AddMonths(-1).Month, DateTime.DaysInMonth(DateTime.Now.AddMonths(-1).Year, DateTime.Now.AddMonths(-1).Month)))
                                    .Events(c => c.Change("ReestrGrid.changeDateEnd"))
                                    )
                        </div>
                        
                        <div id="pwTwo">
                            @(Html.Kendo().Button().Name("find" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                  .Content(PW.Ncels.Database.Recources.Messages.Property_Найти_372__00)
                                  .ImageUrl("/Content/images/find.png").Events(e => e.Click("ReestrGrid.applyFilterFn")))
                        </div>
                        <div id="pwTwo">
                            @(Html.Kendo().Button().Name("clear" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                  .Content("Очистить")
                                  .ImageUrl("/Content/images/clearSearch.png").Events(e => e.Click("ReestrGrid.clearFilterFn")))
                        </div>
                        <div id="pwFour">
                            @(Html.Kendo().Button().Name("export" + Model).HtmlAttributes(new { @class = "pwWidth100" })
                                  .Content(PW.Ncels.Database.Recources.Messages.Property_Экспорт_335__00)
                                  .ImageUrl("/Content/images/export.png").Events(e => e.Click("ReestrGrid.onExportFn")))
                        </div>
                    </div>

                    <div id="pwSix">
                        @(Html.Kendo().Button().Name("reload" + Model)
                              .HtmlAttributes(new { @class = "pwWidth100 pwButtonReload" }).Content("")
                              .ImageUrl("/Content/images/reload.png"))
                    </div>
                    @(Html.Kendo().Grid<ReestrDirectionToPayView>()
                          .Name("gridReestr" + Model)
                          .Columns(columns =>
                          {
                              columns.Template(t => { }).Title("№ п/п").ClientTemplate("#= ReestrGrid.renderNumber(data) #").Width(40);
                              columns.Bound(p => p.DeclarationNumber).Title("№ заявления").Width(150);//.ClientFooterTemplate(PW.Ncels.Database.Recources.Messages.Property_Всего_356__00 + "#=count#");
                              columns.Bound(p => p.DirectionToPayNumber).Title("№ направления").Width(150);
                              columns.Bound(p => p.InvoiceNumber1C).Title("№ счета").Width(150);
                              columns.Bound(p => p.PayerName).Title("Наименование плательщика").Width(150);
                              columns.Bound(p => p.ContractInfo).Title("Основание (договор)").Width(150);
                              columns.Bound(p => p.TypeName).Title("Тип регистрации").Width(150);
                              columns.Bound(p => p.Name).Title("Наименование товара, работ и услуг").Width(150);
                              columns.Bound(p => p.CurrencyName).Title("Валлюта").Width(150);
                              columns.Bound(p => p.TotalPrice).Title("Сумма тенге").Width(150);
                              columns.Bound(p => p.PaymentValue1C).Title("Оплоченная сумма").Width(150);
                              //columns.Bound(p => p.ModifyDate).Title("дата согласования").Width(150);
                          })
                          .ColumnMenu(c => c.Columns(true))
                          .Reorderable(reorder => reorder.Columns(true))
                          .Groupable()
                          .Filterable()
                          .Sortable()
                          .Resizable(s => s.Columns(true))
                          .Pageable()
                          .Scrollable()
                          .HtmlAttributes(new { @class = "pwGrid" })
                          .DataSource(dataSource => dataSource.Ajax().Model(model =>
                          {
                              model.Id(p => p.Id);
                          })
                              .PageSize(20)
                              .Read(read => read.Action("ReadReestrDirectionToPay", "Reestr"))
                          ))
                </div>
        );
    }))

    <script>
        resizeGrid3('@("#gridReestr" + Model)', 150);

        $('@("#reload" + Model)').click(function (e) {
            var grid = $('@("#gridReestr" + Model)').data("kendoGrid");
            grid.dataSource.read();
        });
    </script>


