<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Экспертиза лекарственных средств, изделий медицинского назначения и медицинской техники</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Bootstrap -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="/Content/css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/css/custom/common.css" rel="stylesheet" />

    <!-- jQuery and Bootstrap -->
    <script src="/Scripts/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/js/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="/Scripts/js/plugins/jquery-ui/ui.datepicker-ru.js"></script>
    <script src="/Scripts/js/bootstrap/bootstrap.min.js"></script>



    <!-- MetsiMenu -->
    <script src="/Scripts/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SlimScroll -->
    <script src="/Scripts/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Spinner -->
    <script src="~/Scripts/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <link href="~/Content/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet"/>

    <!-- Peace JS -->
    <script src="/Scripts/js/plugins/pace/pace.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/Scripts/js/inspinia.js"></script>

    <!-- Main Angular scripts-->
    <script src="/Scripts/js/angular/angular.min.js"></script>
    <script src="/Scripts/js/angular/angular-file-upload.min.js"></script>
    <script src="/Scripts/js/angular/angular-sanitize.js"></script>
    <script src="/Scripts/js/angular-translate/angular-translate.min.js"></script>
    <script src="/Scripts/js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="/Scripts/js/angular/angular-storage.js"></script>

    <!-- input mask-->
    <script src="/Scripts/js/angular/i18n/angular-locale_ru-kz.js"></script>
    <script src="/Scripts/js/plugins/uiMask/masks.js"></script>

    <!-- Anglar App Script -->
    <script src="/Scripts/js/app.js"></script>
    <script src="/Scripts/js/translations.js"></script>
    <script src="/Scripts/js/directives/wizartDrtv.js"></script>
    <script src="/Scripts/js/directives/sideNavigationDrtv.js"></script>
    <script src="/Scripts/js/directives/icheckDrtv.js"></script>
    <script src="/Scripts/js/directives/formValidationDrtv.js"></script>
    <script src="/Scripts/js/directives/treeDrtv.js"></script>
    <script src="/Scripts/js/directives/historyDrtv.js"></script>
    <script src="/Scripts/js/directives/gridDrtv.js"></script>
    <script src="/Scripts/js/directives/attachDrtv.js"></script>

    <script src="/Scripts/js/custom/alertMessage.js"></script>

    @*@Scripts.Render("~/bundles/expertCtrl")*@
    @Scripts.Render("~/bundles/baseCtrl")
    @*@Scripts.Render("~/bundles/clientCtrl")*@
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/summernoteStyles")
    @Styles.Render("~/Content/plugins/jsTree")
    @Styles.Render("~/Content/plugins/sweetalert")
    @Styles.Render("~/Content/plugins/notify")
    @Styles.Render("~/Content/plugins/ui-grid")

</head>
<body class="boxed-layout" landing-scrollspy id="page-top">
<div id="menuConteiner" style="display: none">
    <div class="row">
        <button type="button" class="btn btn-default" aria-label="Left Align" id="menuSlideBtn" style="float: right; margin-right: 15px">
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        </button>
    </div>
    <div class="list-group panel" style="margin-bottom: 0;">
        <a href="#" class="list-group-item" id="conclusionBtn" style="display: none"><span class="glyphicon glyphicon-star"></span> Заключения</a>
        <a href="#" class="list-group-item" id="remarkBtn" style="display: none"><span class="glyphicon glyphicon-exclamation-sign"></span> Замечания</a>
        <a href="#" class="list-group-item" id="corespondenceBtn" style="display: none"><span class="glyphicon glyphicon-envelope"></span> Переписка</a>
        <a href="#" class="list-group-item" id="drugDeclarationBtn"><span class="glyphicon glyphicon-file"></span> Заявление</a>
        <a href="#" class="list-group-item" id="drugAttachBtn"><span class="glyphicon glyphicon-folder-open"></span> Документы РД</a>
        <a href="#" class="list-group-item" id="materialAttachBtn"><span class="glyphicon glyphicon-briefcase"></span> Материалы РД</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-time"></span> История РД</a>
        <a href="#" class="list-group-item" id="drugHistoryBtn"><span class="glyphicon glyphicon-ok-circle"></span> Исполнение этапов</a>
      
    </div>

</div>
    
<div id="OBKmenuConteiner" style="display: none">
    <div class="row">
        <button type="button" class="btn btn-default" aria-label="Left Align" id="OBKmenuSlideBtn" style="float: right; margin-right: 15px">
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        </button>
    </div>
    <div class="list-group panel" style="margin-bottom: 0;">
        <a href="#" class="list-group-item" id="OBKconclusionBtn" style="display: none"><span class="glyphicon glyphicon-star"></span> Заключения</a>
        <a href="#" class="list-group-item" id="OBKremarkBtn" style="display: none"><span class="glyphicon glyphicon-exclamation-sign"></span> Замечания</a>
        <a href="#" class="list-group-item" id="OBKcorespondenceBtn" style="display: none"><span class="glyphicon glyphicon-envelope"></span> Переписка</a>
        <a href="#" class="list-group-item" id="OBKSaDeclarationBtn"><span class="glyphicon glyphicon-file"></span> Заявка</a>
        <a href="#" class="list-group-item" id="OBKSaAttachBtn"><span class="glyphicon glyphicon-folder-open"></span> Перечень документов</a>
        <a href="#" class="list-group-item" id="OBKSaHistoryBtn"><span class="glyphicon glyphicon-ok-circle"></span> Исполнение этапов</a>
      
    </div>

</div>


<div id="wrapper" class="top-navigation">

    <!-- Navigation -->
    <div>
        @{ Html.RenderPartial("Topnavbar"); }
    </div>
    <div>
        @{ Html.RenderPartial("Navigation"); }
    </div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
        <!-- Page wrapper -->
        @*<div ng-include="'views/common/topnavbar.html'"></div>*@

        <!-- Main view -->
        <div>
            <div id="loading" style="display: none;">
                <div id="loadingcontent">
                    <p id="loadingspinner" style="font-size: 25px">
                        Идет загрузка...
                    </p>
                </div>
            </div>
            @RenderBody()
        </div>
        <!-- Footer -->
        @*<div ng-include="'views/common/footer.html'"></div>*@
        <div>
            @{ Html.RenderPartial("Footer"); }
        </div>
        <div>
            @*@{ Html.RenderPartial("Right_Sidebar"); }*@
        </div>
    </div>
    <!-- End page wrapper-->
    <!-- Right Sidebar -->


</div>


@Scripts.Render("~/plugins/moment")
@Scripts.Render("~/plugins/dataTables")
@Scripts.Render("~/plugins/select2")
@Scripts.Render("~/plugins/wizardSteps")
@Scripts.Render("~/plugins/dataPicker")
@Scripts.Render("~/plugins/validate")
@Scripts.Render("~/plugins/summernote")
@Scripts.Render("~/plugins/jsTree")
@Scripts.Render("~/plugins/sweetalert")
@Scripts.Render("~/plugins/notify")
@Scripts.Render("~/bundles/ui-grid")

@RenderSection("scripts", required: false)


</body>
</html>
