@using PW.Ncels.Helpers


<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav" style="margin-left: 30px;">
            <li>
                <a ui-sref="layouts" href="@Url.Action("Index", "Home")">@Resource.HomePageMenu</a>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>@Resource.PriceMenu<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Prices", "Project")">@Resource.AllMenu</a></li>
                    <li><a href="@Url.Action("PriceLsList", "Project")">@Resource.ListRegPriceForLcMenu</a></li>
                    <li><a href="@Url.Action("PriceImnList", "Project")">@Resource.ListRegPriceForImnMenu</a></li>
                    <li><a href="@Url.Action("RePriceLsList", "Project")">@Resource.ListRedPriceForLCMenu</a></li>
                    <li><a href="@Url.Action("RePriceImnList", "Project")">@Resource.ListRedPriceForImn</a></li>
                    @*<li><a href="@Url.Action("Active", "Project")">В работе</a></li>
                    <li><a href="@Url.Action("Review", "Project")">С замечаниями</a></li>
                    <li><a href="@Url.Action("Executed", "Project")">Исполненные</a></li>
                    <li><a href="@Url.Action("Draft", "Project")">Черновики</a></li>*@
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>@Resource.RegistrationMenu<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
@*                    <li><a href="@Url.Action("Registers", "Project")">Все</a></li>*@
                    <li><a href="@Url.Action("RegisterDrugList", "DrugDeclaration")">@Resource.RegistrationLsMenu</a></li>
@*                    <li><a href="@Url.Action("RegisterLsList", "Project")">Список регистраций ЛС</a></li>*@
@*                    <li><a href="@Url.Action("ReRegisterLsList", "Project")">Список перерегистраций ЛС</a></li>*@
@*                    <li><a href="@Url.Action("ChRegisterLsList", "Project")">Список внесений изменений ЛС</a></li>*@
                    @*<li><a href="@Url.Action("Active", "Project")">В работе</a></li>
                    <li><a href="@Url.Action("Review", "Project")">С замечаниями</a></li>
                    <li><a href="@Url.Action("Executed", "Project")">Исполненные</a></li>
                    <li><a href="@Url.Action("Draft", "Project")">Черновики</a></li>*@
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>@Resource.ContractMenu<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "Contract")">Все</a></li>
                    <li><a href="@Url.Action("Active", "Contract")">Активные</a></li>
                    <li><a href="@Url.Action("Expired", "Contract")">Просроченные </a></li>
                    <li><a href="@Url.Action("Draft", "Contract")">Проекты договоров</a></li>
                    <li><a href="@Url.Action("Index", "EMPContract", new { scope = "national" })">Экспертиза ИМН и МТ по процедуре РК</a></li>
                    <li><a href="@Url.Action("Index", "EMPContract", new { scope = "eaesgp" })">Экспертиза ИМН и МТ в рамках ЕАЭС(ГП)</a></li>
                    <li><a href="@Url.Action("Index", "EMPContract", new { scope = "eaesrg" })">Экспертиза ИМН и МТ в рамках ЕАЭС(РГ)</a></li>
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>@Resource.NotificationMenu<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "Notification")">@Resource.ListMenu</a></li>
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>@Resource.Mail<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "Correspondence")">@Resource.ConversationMenu</a></li>
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>@Resource.InstructionMenu<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("InstructionRef", "Home")">@Resource.ReferentPriceMenu</a></li>
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>@Resource.ObkMenu<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "SafetyAssessment")">@Resource.ContractMenu</a></li> 
                    <li><a href="@Url.Action("Index", "SafetyAssessment")">@Resource.RequestMenu</a></li> 
                    <li><a href="@Url.Action("Index", "LetterWithEdo")">@Resource.ConversationObk</a></li> 
                    <li><a href="@Url.Action("Index", "ZBKCopy")">ЗБК</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 36px;">
            <li uib-dropdown>
                <a uib-dropdown-toggle style="color: white !important"> @User.Identity.Name <span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "Profile")">@Resource.ProfileLookMenu</a></li>
                    <li><a href="@Url.Action("ChangePassword", "Manage")">@Resource.ChangePassword</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("LogOff", "Account")">@Resource.LogOutMenu</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>