@using PW.Ncels.Helpers


<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav" style="margin-left: 30px;">
            <li>
                <a ui-sref="layouts" href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>Ценообразование<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Prices", "Project")">Все</a></li>
                    <li><a href="@Url.Action("PriceLsList", "Project")">Список регистраций цен на ЛС</a></li>
                    <li><a href="@Url.Action("PriceImnList", "Project")">Список регистраций цен на ИМН</a></li>
                    <li><a href="@Url.Action("RePriceLsList", "Project")">Список внесений изменений цен на ЛС</a></li>
                    <li><a href="@Url.Action("RePriceImnList", "Project")">Список внесений изменений цен на ИМН</a></li>
                    @*<li><a href="@Url.Action("Active", "Project")">В работе</a></li>
                    <li><a href="@Url.Action("Review", "Project")">С замечаниями</a></li>
                    <li><a href="@Url.Action("Executed", "Project")">Исполненные</a></li>
                    <li><a href="@Url.Action("Draft", "Project")">Черновики</a></li>*@
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>Регистрация<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
@*                    <li><a href="@Url.Action("Registers", "Project")">Все</a></li>*@
                    <li><a href="@Url.Action("RegisterDrugList", "DrugDeclaration")">Регистрация ЛС</a></li>
@*                    <li><a href="@Url.Action("RegisterLsList", "Project")">Список регистраций ЛС</a></li>*@
@*                    <li><a href="@Url.Action("ReRegisterLsList", "Project")">Список перерегистраций ЛС</a></li>*@
@*                    <li><a href="@Url.Action("ChRegisterLsList", "Project")">Список внесений изменений ЛС</a></li>*@
                    @*<li><a href="@Url.Action("Active", "Project")">В работе</a></li>
                    <li><a href="@Url.Action("Review", "Project")">С замечаниями</a></li>
                    <li><a href="@Url.Action("Executed", "Project")">Исполненные</a></li>
                    <li><a href="@Url.Action("Draft", "Project")">Черновики</a></li>*@
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>Договоры<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "Contract")">Все</a></li>
                    <li><a href="@Url.Action("Active", "Contract")">Активные</a></li>
                    <li><a href="@Url.Action("Expired", "Contract")">Просроченные </a></li>
                    <li><a href="@Url.Action("Draft", "Contract")">Проекты договоров</a></li>
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>Уведомления<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "Notification")">Список</a></li>
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>Почта<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "Correspondence")">Переписка</a></li>
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>Инструкция<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("InstructionRef", "Home")">Референтное ценообразование</a></li>
                </ul>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>ОБК<span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "SafetyAssessment")">Договоры</a></li> 
                    <li><a href="@Url.Action("Index", "SafetyAssessment")">Заявки</a></li> 
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 36px;">
            <li uib-dropdown>
                <a uib-dropdown-toggle style="color: white !important"> @User.Identity.Name <span class="caret"></span></a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="@Url.Action("Index", "Profile")">Просмотр профиля</a></li>
                    <li><a href="@Url.Action("ChangePassword", "Manage")">Изменить пароль</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("LogOff", "Account")">Выход</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>