@model PW.Ncels.Models.ProfileModel
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Профиль пользователя</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Общие сведения</h5>
                    </div>
                    <div class="ibox-content ibox-heading">
                        <div class="note-font btn-group">
                            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-save"></i> Сохранить</button>
                            <button class="btn btn-default btn-sm" type="button"  onclick="location.href='@Url.Action("Index", "Profile")'"><i class="fa fa-rotate-left"></i> Отменить</button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <dl class="dl-horizontal">
                            <dt>Наименование организации:</dt>
                            <dd>@Model.Organization</dd>
                        </dl>
                        <div class="hr-line-dashed"></div>
                        <dl class="dl-horizontal">
                            <dt>Должность :</dt>
                            <dd>@Model.Position</dd>
                        </dl>
                        <div class="hr-line-dashed"></div>
                        <dl class="dl-horizontal">
                            <dt>Ф.И.О.:</dt>
                            <dd>@Model.Name</dd>
                        </dl>
                        <div class="hr-line-dashed"></div>
                        <dl class="dl-horizontal">
                            <dt>Email:</dt>
                            <dd>@Model.Email</dd>
                        </dl>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>