@using System.Web.UI.WebControls
@using PW.Ncels.Database.Recources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@PW.Ncels.Database.Recources.Messages.Property_Ассистент_99__00</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendocss")
    @Styles.Render("~/Content/mobileDatePickerCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/mobileDatePickerjs")

    <link href="~/Content/mobile.css" rel="stylesheet" />
    @*@Scripts.Render("~/bundles/prism")*@

    @{ var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString(); }


    <script>
        kendo.culture("@culture");
    </script>
</head>
<body>
  
 
    @{ Html.Kendo().MobileLayout()
                .Name("examples")
                .Header(() => {
                    Html.Kendo().MobileNavBar()
                        .Name("navbar")
                        .Content(navbar =>
                            @<text>
                                @(Html.Kendo().MobileBackButton()
                                    .Align(MobileButtonAlign.Left)
                                    .HtmlAttributes(new { @class = "nav-button" })
                                    .Url(Url.RouteUrl(new { controller = "Mobile" }))
                                    .Text("Back"))
                                @navbar.ViewTitle("Index")
                            </text>)
                        .Render();
                })
                .Render();
    }

    @RenderBody()
    <script>
        var app = new kendo.mobile.Application($(document.body), { skin: 'ios7' });
    </script>
</body>
</html>
