@using PW.Ncels.Database.Constants
@model Guid?
@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    var GeneratedGuid = Guid.NewGuid().ToString();
    var ModelGuid = "";
    if (Model == null)
    {
        ModelGuid = GeneratedGuid;
    }
    else
    {
        ModelGuid = Model.ToString();
    }
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Новое дополнительное соглашение</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Договоры</a>
            </li>
            <li class="active">
                <strong>Создать дополнительное соглашение</strong>
            </li>
        </ol>
    </div>
</div>
<input type="hidden" value="@Model" id="projectId" />
<input type="hidden" value="@GeneratedGuid" id="generatedGuid" />
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="obkContracAdditiontForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Новое дополнительное соглашение
                        <small>Заполните все поля формы</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content ibox-heading">
                    <div class="note-font btn-group">
                        <button class="btn btn-info btn-sm" type="button" onclick="location.href='@Url.Action(ViewBag.ListAction)'"><i class="fa fa-arrow-left"></i> Вернуться в список</button>
                        <button class="btn btn-default btn-sm" type="button" check-validate ng-disabled="object.viewMode" ng-click="saveBtnClick()"><i class="fa fa-save"></i> Сохранить</button>
                        <button class="btn btn-default btn-sm" type="button" check-validate ng-disabled="object.viewMode" ng-click="sendWithDigitalSign();"><i class="fa fa-send-o"></i> Подписать ЭЦП и отправить в ЦОЗ</button>
                        <button class="btn btn-default btn-sm" type="button" check-validate ng-disabled="object.viewMode" ng-click="sendWithoutDigitalSign();"><i class="fa fa-send-o"></i> Отправить в ЦОЗ без подписи</button>
                        <button class="btn btn-default btn-sm" type="button"><i class="fa fa-eye"></i> Просмотр</button>
                    </div>
                </div>
                <form name="contracAdditiontForm">
                    <div class="ibox-content">
                        <div class="row">
                            <input type="hidden" ng-model="contractAddition.Id" />
                            <input type="hidden" id="objectStatus" ng-model="object.Status" />
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>К договору</label>
                                    <ui-select ng-model="contractAddition.ContractId" ui-select-selected required theme="bootstrap" ng-change="contractChanged();" ng-disabled="object.viewMode">
                                        <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item.Id as item in Contracts | filter: $select.search">
                                            <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Выберите дополнительное соглашение</label>
                                    <ui-select ng-model="contractAddition.ContractAdditionTypeId" ui-select-selected required theme="bootstrap" ng-change="contractAdditionChanged($select.selected)" ng-disabled="!(contractAddition.ContractId) || object.viewMode">
                                        <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item.Id as item in OBKContractAddition | filter: $select.search">
                                            <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-1">Общие сведения</a></li>
                                        <li><a data-toggle="tab" href="#tab-2">Вложения</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane active">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-6 b-r">
                                                        <div class="form-group">
                                                            <label>Тип договора *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <ui-select ng-model="object.Type" theme="bootstrap" name="type" ui-select-selected required ng-disabled="true">
                                                                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                    <ui-select-choices repeat="item.Id as item in ObkContractTypes | filter: $select.search">
                                                                        <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <span id="ContractType" class="edit-control" style="display: none"></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="radio-inline">
                                                                <label><input type="radio" name="declarantisresident" ng-model="declarant.IsResident" ng-value="true" ng-disabled="true">Резидент РК</label>
                                                            </div>
                                                            <div class="radio-inline">
                                                                <label><input type="radio" name="declarantisresident" ng-model="declarant.IsResident" ng-value="false" ng-disabled="true">Нерезидент РК</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" ng-show="declarant.IsResident === true">
                                                            <label>ИИН/БИН *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input maxlength="12" id="bin" ng-model="declarant.Bin" class="form-control edit-control" type="text" ui-select-selected name="bin" ng-disabled="true">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" ng-show="declarant.IsResident === false">
                                                            <label>Страна</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <ui-select ng-model="object.Country" theme="bootstrap" ui-select-selected ng-required="declarant.IsResident == false" ng-disabled="true">
                                                                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                    <ui-select-choices repeat="item.Id as item in Country | filter: $select.search">
                                                                        <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <span id="CountryNonResident" class="edit-control" style="display: none"></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" ng-show="declarant.IsResident === false">
                                                            <label>Наименование на русском языке *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <ui-select ng-model="object.NameNonResident" theme="bootstrap" ui-select-selected ng-required="declarant.IsResident == false" ng-disabled="true">
                                                                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                    <ui-select-choices repeat="item.Id as item in NamesNonResidents | filter: $select.search">
                                                                        <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <span id="NameNonResident" class="edit-control" style="display: none"></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 b-l">
                                                        <div class="form-group">
                                                            <label>Экспертная организация *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <ui-select ng-model="object.ExpertOrganization" ui-select-selected required theme="bootstrap" ng-disabled="true">
                                                                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                    <ui-select-choices repeat="item.Id as item in ExpertOrganizations | filter: $select.search">
                                                                        <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <span id="ExpertOrganization" class="edit-control" style="display: none"></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Подписывающее лицо *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <ui-select ng-model="object.Signer" ui-select-selected required theme="bootstrap" ng-change="editProject();" ng-disabled="!(contractAddition.ContractId) || object.viewMode">
                                                                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                    <ui-select-choices repeat="item.Id as item in ContractSigners | filter: $select.search">
                                                                        <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <span id="Signer" class="edit-control" style="display: none"></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 b-r">
                                                        <div class="form-group">
                                                            <h4>&nbsp;</h4>
                                                            <input type="hidden" ng-model="declarant.Id" />
                                                            <label>Организационная форма</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <ui-select ng-model="declarant.OrganizationFormId" theme="bootstrap" ui-select-selected name="organizationForm" required ng-disabled="true">
                                                                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                    <ui-select-choices repeat="item.Id as item in OpfType | filter: $select.search">
                                                                        <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <span id="OrganizationForm" class="edit-control" style="display: none"></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Наименование на государственном языке *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="declarantNameKz" ng-model="declarant.NameKz" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="declarantNameKz" required ng-disabled="true">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Наименование на русском языке *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="declarantNameRu" ng-model="declarant.NameRu" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="declarantNameRu" required ng-disabled="true">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Наименование на английском языке</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="declarantNameEn" ng-model="declarant.NameEn" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="declarantNameEn" required ng-disabled="true">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Страна</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <ui-select ng-model="declarant.CountryId" theme="bootstrap" ui-select-selected name="declarantCountryId" required ng-disabled="true">
                                                                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                    <ui-select-choices repeat="item.Id as item in Country | filter: $select.search">
                                                                        <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <span id="Country" class="edit-control" style="display: none"></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 b-l">
                                                        <div class="form-group">
                                                            <h4>Адрес</h4>
                                                            <label>Юридический адрес * </label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="AddressLegalRu" ng-model="object.AddressLegalRu" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="AddressLegalRu" required ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 1) || object.viewMode">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Юридический адрес на казахском * </label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="AddressLegalKz" ng-model="object.AddressLegalKz" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="AddressLegalKz" required ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 1) || object.viewMode">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Фактический адрес * </label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="AddressFact" ng-model="object.AddressFact" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="AddressFact" required ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 1) || object.viewMode">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Номер телефона * </label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="Phone" ng-model="object.Phone" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="Phone" required ng-blur="validatePhone(); editProject();" ng-pattern="phonePattern" ng-model-options="{ allowInvalid: true}" ng-disabled="!(contractAdditionTypeCode == 1) || object.viewMode">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Адрес электронной почты * </label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="Email" ng-model="object.Email" placeholder="example@mail.ru" class="form-control edit-control" type="text" ui-select-selected name="Email" ng-pattern="emailPattern" required ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 1) || object.viewMode">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <h4>Подписывающее лицо</h4>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Фамилия *</label>
                                                                    <div ng-class="{'input-group': showComments}">
                                                                        <input id="BossLastName" ng-model="object.BossLastName" placeholder="Введите значение" class="form-control edit-control" type="text" required ui-select-selected ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                        <span class="input-group-addon" ng-show="showComments">
                                                                            <a class="obkcontractdialog" href="#">
                                                                                <i class="glyphicon glyphicon-info-sign"></i>
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Имя *</label>
                                                                    <div ng-class="{'input-group': showComments}">
                                                                        <input id="BossFirstName" ng-model="object.BossFirstName" placeholder="Введите значение" class="form-control edit-control" type="text" required ui-select-selected ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                        <span class="input-group-addon" ng-show="showComments">
                                                                            <a class="obkcontractdialog" href="#">
                                                                                <i class="glyphicon glyphicon-info-sign"></i>
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Отчество</label>
                                                                    <div ng-class="{'input-group': showComments}">
                                                                        <input id="BossMiddleName" ng-model="object.BossMiddleName" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                        <span class="input-group-addon" ng-show="showComments">
                                                                            <a class="obkcontractdialog" href="#">
                                                                                <i class="glyphicon glyphicon-info-sign"></i>
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Должность на русском языке *</label>
                                                                    <div ng-class="{'input-group': showComments}">
                                                                        <input id="BossPosition" ng-model="object.BossPosition" placeholder="Введите значение" class="form-control edit-control" type="text" required ui-select-selected ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                        <span class="input-group-addon" ng-show="showComments">
                                                                            <a class="obkcontractdialog" href="#">
                                                                                <i class="glyphicon glyphicon-info-sign"></i>
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Должность на казахском языке *</label>
                                                                    <div ng-class="{'input-group': showComments}">
                                                                        <input id="BossPositionKz" ng-model="object.BossPositionKz" placeholder="Введите значение" class="form-control edit-control" type="text" required ui-select-selected ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                        <span class="input-group-addon" ng-show="showComments">
                                                                            <a class="obkcontractdialog" href="#">
                                                                                <i class="glyphicon glyphicon-info-sign"></i>
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <h4>Действующее на основании</h4>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Вид документа *</label>
                                                                    <div ng-class="{'input-group': showComments}">
                                                                        <ui-select ng-model="object.BossDocType" required ui-select-selected theme="bootstrap" ng-change="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                            <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                            <ui-select-choices repeat="item.Id as item in OBKContractDocumentType | filter: $select.search">
                                                                                <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                            </ui-select-choices>
                                                                        </ui-select>
                                                                        <span id="BossDocType" class="edit-control" style="display: none"></span>
                                                                        <span class="input-group-addon" ng-show="showComments">
                                                                            <a class="obkcontractdialog" href="#">
                                                                                <i class="glyphicon glyphicon-info-sign"></i>
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <div class="checkbox">
                                                                        <label><input type="checkbox" value="" ng-model="object.BossDocUnlimited" ng-change="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">Бессрочный</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Наличие номера *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <ui-select ng-model="object.IsHasBossDocNumber" ui-select-selected name="IsHasBossDocNumber" required theme="bootstrap" ng-change="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                    <ui-select-choices repeat="item.Id as item in BoolDic | filter: $select.search">
                                                                        <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <span id="IsHasBossDocNumber" class="edit-control" style="display: none"></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Номер документа</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="BossDocNumber" ng-model="object.BossDocNumber" placeholder="Введите значение" class="form-control edit-control" type="text" ng-required="object.IsHasBossDocNumber == true" ui-select-selected name="BossDocNumber" ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Дата начала действия *</label>
                                                            <div class="input-group date">
                                                                <input id="BossDocCreatedDate" ng-model="object.BossDocCreatedDate" class="form-control edit-control" placeholder="ДД.ММ.ГГГГ" ui-select-selected required date-time auto-close="true" view="date" min-view="date" format="DD.MM.YYYY" ng-change="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Дата окончания действия *</label>
                                                            <div class="input-group date">
                                                                <input id="BossDocEndDate" ng-model="object.BossDocEndDate" class="form-control edit-control" placeholder="ДД.ММ.ГГГГ" ui-select-selected ng-required="object.BossDocUnlimited == false" date-time auto-close="true" view="date" min-view="date" format="DD.MM.YYYY" ng-change="editProject();" ng-disabled="!(contractAdditionTypeCode == 2) || object.viewMode">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <h4>Банковские реквизиты</h4>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>ИИК (р/с) *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="BankIik" ng-model="object.BankIik" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="BankIik" ng-pattern="iikPattern" required ng-blur="validateIik(); editProject();" ng-model-options="{ allowInvalid: true}" ng-disabled="!(contractAdditionTypeCode == 3) || object.viewMode">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>БИК *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <input id="BankBik" ng-model="object.BankBik" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="BankBik" required ng-blur="validateBik(); editProject();" ng-pattern="bankBikPattern" ng-minlength="bankBikMinLength" ng-maxlength="bankBikMaxLength" ng-model-options="{ allowInvalid: true}" ng-disabled="!(contractAdditionTypeCode == 3) || object.viewMode">
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Валюта *</label>
                                                            <div ng-class="{'input-group': showComments}">
                                                                <ui-select ng-model="object.CurrencyId" ui-select-selected name="CurrencyId" required theme="bootstrap" ng-change="editProject();" ng-disabled="!(contractAdditionTypeCode == 3) || object.viewMode">
                                                                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                                    <ui-select-choices repeat="item.Id as item in Currency | filter: $select.search">
                                                                        <div ng-bind-html="item.Name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <span id="Currency" class="edit-control" style="display: none"></span>
                                                                <span class="input-group-addon" ng-show="showComments">
                                                                    <a class="obkcontractdialog" href="#">
                                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Наименование банка *</label>
                                                                    <div ng-class="{'input-group': showComments}">
                                                                        <input id="BankNameRu" ng-model="object.BankNameRu" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="BankNameRu" required ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 3) || object.viewMode">
                                                                        <span class="input-group-addon" ng-show="showComments">
                                                                            <a class="obkcontractdialog" href="#">
                                                                                <i class="glyphicon glyphicon-info-sign"></i>
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Наименование банка на казахском языке *</label>
                                                                    <div ng-class="{'input-group': showComments}">
                                                                        <input id="BankNameKz" ng-model="object.BankNameKz" placeholder="Введите значение" class="form-control edit-control" type="text" ui-select-selected name="BankNameKz" required ng-blur="editProject();" ng-disabled="!(contractAdditionTypeCode == 3) || object.viewMode">
                                                                        <span class="input-group-addon" ng-show="showComments">
                                                                            <a class="obkcontractdialog" href="#">
                                                                                <i class="glyphicon glyphicon-info-sign"></i>
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-2" class="tab-pane">
                                            <div class="panel-body">
                                                <h3 class="m-t-none m-b">Вложения</h3>
                                                <div ng-show="contractAdditionTypeCode == null" id="filesWarning">
                                                    <p class="text-bold">Для загрузки вложений выберите тип доп. соглашения</p>
                                                </div>
                                                <div ng-show="contractAdditionTypeCode != null && contractAdditionTypeCode == 1 && declarant.Id != null && declarant.IsResident == true" id="filesAddressResident">
                                                    <div ng-show="!object.viewMode">
                                                        <p class="text-bold">Прикрепите необходимые файлы ниже</p>
                                                        <attach-edit metadata="true" showcomment="true" history="true" url="/Upload/GetAttachListEdit?excludeCodes=0" type="@CodeConstManager.ATTACH_CONTRACT_ADDITION_FILE_ADDRESS_CHANGE_RESIDENT" path="@ModelGuid" />
                                                    </div>
                                                    <div ng-show="object.viewMode">
                                                        <attach-read metadata="true" history="true" url="/Upload/GetAttachList?excludeCodes=0" type="@CodeConstManager.ATTACH_CONTRACT_ADDITION_FILE_ADDRESS_CHANGE_RESIDENT" id="@ModelGuid" path="@ModelGuid" />
                                                    </div>
                                                </div>
                                                <div ng-show="contractAdditionTypeCode != null && contractAdditionTypeCode == 1 && declarant.Id != null && declarant.IsResident == false" id="filesAddressNonResident">
                                                    <div ng-show="!object.viewMode">
                                                        <p class="text-bold">Прикрепите необходимые файлы ниже</p>
                                                        <attach-edit metadata="true" showcomment="true" history="true" url="/Upload/GetAttachListEdit?excludeCodes=0" type="@CodeConstManager.ATTACH_CONTRACT_ADDITION_FILE_ADDRESS_CHANGE_NON_RESIDENT" path="@ModelGuid" />
                                                    </div>
                                                    <div ng-show="object.viewMode">
                                                        <attach-read metadata="true" history="true" url="/Upload/GetAttachList?excludeCodes=0" type="@CodeConstManager.ATTACH_CONTRACT_ADDITION_FILE_ADDRESS_CHANGE_NON_RESIDENT" id="@ModelGuid" path="@ModelGuid" />
                                                    </div>
                                                </div>
                                                <div ng-show="contractAdditionTypeCode != null && contractAdditionTypeCode == 2" id="filesManager">
                                                    <div ng-show="!object.viewMode">
                                                        <p class="text-bold">Прикрепите необходимые файлы ниже</p>
                                                        <attach-edit metadata="true" showcomment="true" history="true" url="/Upload/GetAttachListEdit?excludeCodes=0" type="@CodeConstManager.ATTACH_CONTRACT_ADDITION_FILE_MANAGER_CHANGE" path="@ModelGuid" />
                                                    </div>
                                                    <div ng-show="object.viewMode">
                                                        <attach-read metadata="true" history="true" url="/Upload/GetAttachList?excludeCodes=0" type="@CodeConstManager.ATTACH_CONTRACT_ADDITION_FILE_MANAGER_CHANGE" id="@ModelGuid" path="@ModelGuid" />
                                                    </div>
                                                </div>
                                                <div ng-show="contractAdditionTypeCode != null && contractAdditionTypeCode == 3" id="filesBank">
                                                    <div ng-show="!object.viewMode">
                                                        <p class="text-bold">Прикрепите необходимые файлы ниже</p>
                                                        <attach-edit metadata="true" showcomment="true" history="true" url="/Upload/GetAttachListEdit?excludeCodes=0" type="@CodeConstManager.ATTACH_CONTRACT_ADDITION_FILE_BANK_INFO_CHANGE" path="@ModelGuid" />
                                                    </div>
                                                    <div ng-show="object.viewMode">
                                                        <attach-read metadata="true" history="true" url="/Upload/GetAttachList?excludeCodes=0" type="@CodeConstManager.ATTACH_CONTRACT_ADDITION_FILE_BANK_INFO_CHANGE" id="@ModelGuid" path="@ModelGuid" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/css/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .ui-dialog {
        background: white;
    }

    .ui-dialog-titlebar-close {
        background: #08e7d2;
    }

    .ui-widget-header {
        border: 1px solid #08e7d2;
        background: #004d86;
        color: #ffffff;
        font-weight: bold;
    }

    .ui-dialog .ui-dialog-buttonpane button {
        background-color: #5cb85c;
        border-color: #4cae4c;
        color: white;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    
    .alert-dialog.ui-dialog .ui-dialog-titlebar-close {
        display: none;
    }

    .alert-dialog.ui-dialog .ui-dialog-buttonpane button {
        background-color: #ededed;
        color: #2b2b2b;
    }
</style>