@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.OBK_ContractPriceCom

<div id="content" style="height: 200px">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#f1tab" data-toggle="tab">@ResourceSetting.sComment</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="f1tab">
            @foreach (var entity in Model.OBK_ContractPriceComRecord.OrderByDescending(e => e.Id))
            {
                var className = "aleralert alert-info";
                <div class="@className" role="alert" style="text-align: left">
                    <p>@entity.Note </p>
                    <p><b>@ResourceSetting.sFieldValue:</b> @entity.DisplayField</p>
                    <p style="text-align: right;font-size: 12px"><b>@ResourceSetting.RegDate:</b> @(entity.CreateDate.ToString("dd/MM/yyyy HH:mm")) </p> @*<b>@ResourceSetting.Autor:</b>@(entity.Employee?.DisplayName)*@
                     
                </div>
            }
        </div>
    </div>
</div>