@model PW.Ncels.Database.DataModel.Document

<div style="height: 256px; overflow: auto; width: 838px;">
    <table class="pwDocTable2">
        <colgroup>
            <col width="140px" />
            <col width="265px" />
            <col width="5px" />
            <col width="140px" />
            <col width="265px" />
        </colgroup>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Номер_373__00:</td>
            <td>
                @Model.Number
            </td>
            <td></td>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_От_393__00</td>
            <td>
                @(Model.DocumentDate.HasValue ? Model.DocumentDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_ФИО_336__00</td>
            <td colspan="4">
                @Model.ExecutorsValue
            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_ДатаОконч:</td>
            <td>
                @(Model.ExecutionDate.HasValue ? Model.ExecutionDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </td>
        </tr>
    </table>
</div>

