@model PW.Ncels.Database.DataModel.Document

<div style="height: 256px; overflow: auto; width: 838px;">
    <table class="pwDocTable2">
        <colgroup>
            <col width="140px" />
            <col width="265px" />
            <col width="5px" />
            <col width="140px" />
            <col width="265px" />
        </colgroup>

        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Номер_354__00</td>
            <td>
                @Model.Number
            </td>
            <td></td>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_От_393__00</td>
            <td>
                @(Model.DocumentDate.HasValue ? Model.DocumentDate.Value.ToString("dd.MM.yyyy") : string.Empty)
            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Указательрассылки_68__00</td>
            <td colspan="4">
                @Model.ExecutorsValue
            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Вотношениикого_95__00</td>
            <td colspan="4">
                @Model.ReadersValue
            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00</td>
            <td colspan="4">
                @Model.Summary

            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Подписано_261__00</td>
            <td colspan="4">
                @Model.SignerValue
            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Виддеятельности_96__00</td>
            <td>
                @Model.AdministrativeTypeDictionaryValue
            </td>
            <td></td>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00</td>
            <td>
                @Model.LanguageDictionaryValue
            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_ЛистовПрилКопий_81__00</td>
            <td>
                @string.Format("{0} / {1} / {2}", Model.PageCount, Model.CopiesCount, Model.Counters)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Автор_355__00</td>
            <td>
                @Model.CreatedUserValue
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @*<tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Характервопроса_99__00</td>
            <td>
                @Model.QuestionDesignDictionaryValue
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>*@
        @*<tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Дело_375__00</td>
            <td colspan="4">
                @Model.NomenclatureDictionaryValue
            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Том_382__00</td>
            <td>
                @Model.Deed
            </td>
            <td></td>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Листы_360__00</td>
            <td>
                @Model.Book
            </td>
        </tr>
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Акты_376__00</td>
            <td colspan="4">
                @Model.Akt
            </td>
        </tr>*@
    </table>
</div>
