@model PW.Prism.DataModel.Experience
<dl class="pwEditRef">
  
    @Html.HiddenFor(m=>m.Kod)
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Периодс_313__00</dt>
    <dd>
        @(Html.Kendo().DatePickerFor(p => p.DateStart).HtmlAttributes(new { @class = "pwWidth100" }))
        <span data-for="DateStart" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Периодпо_291__00</dt>
    <dd>
        @(Html.Kendo().DatePickerFor(p => p.DateEnd).HtmlAttributes(new { @class = "pwWidth100" }))
        <span data-for="DateEnd" class="k-invalid-msg"></span>
    </dd>

    <dt>Предприятие</dt>
    <dd>
        @(Html.EditorFor(o=>o.Organization))
        <span data-for="Organization" class="k-invalid-msg"></span>
    </dd>
    <dt>Должность</dt>
    <dd>
        @(Html.EditorFor(o => o.Position))
        <span data-for="Position" class="k-invalid-msg"></span>
    </dd>
    <dt>Адрес</dt>
    <dd>
        @(Html.EditorFor(o => o.Country))
        <span data-for="Country" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Примечание_264__00</dt>
    <dd>
        @(Html.EditorFor(p => p.Note))
        <span data-for="Note" class="k-invalid-msg"></span>
    </dd>
</dl>
