@model PW.Ncels.Database.Models.HolidayModel
<dl class="pwEditRef">
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Видотпуска_248__00</dt>
    <dd>
        @(Html.Kendo().MultiSelectFor(p => p.HolidayTypeDictionaryId).MaxSelectedItems(1).DataValueField("Id").DataTextField("Name").DataSource(source => source.Read("HolidayTypeDictionaryList", "Reference")))
        <span data-for="HolidayTypeDictionaryId" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Периодс_313__00</dt>
    <dd>
        @(Html.Kendo().DatePickerFor(p => p.PeriodStart).HtmlAttributes(new { @class = "pwWidth100" }))
        <span data-for="PeriodStart" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Периодпо_291__00</dt>
    <dd>
        @(Html.Kendo().DatePickerFor(p => p.PeriodEnd).HtmlAttributes(new { @class = "pwWidth100" }))
        <span data-for="PeriodEnd" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Отпускс_314__00</dt>
    <dd>
        @(Html.Kendo().DatePickerFor(p => p.DateStart).HtmlAttributes(new { @class = "pwWidth100" }))
        <span data-for="DateStart" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Отпускпо_292__00</dt>
    <dd>
        @(Html.Kendo().DatePickerFor(p => p.DateEnd).HtmlAttributes(new { @class = "pwWidth100" }))
        <span data-for="DateEnd" class="k-invalid-msg"></span>
    </dd>    
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Колводней_249__00</dt>
    <dd>
        @(Html.Kendo().NumericTextBoxFor(o=>o.Count).Format("0").HtmlAttributes(new { @class = "pwWidth100" }))
        <span data-for="Count" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Основание_293__00</dt>
    <dd>
        @(Html.Kendo().MultiSelectFor(p => p.DocumentId).MaxSelectedItems(1).DataValueField("Id").DataTextField("Name").DataSource(source => source.Read("ListDocumentAdmHolidays", "Reference").ServerFiltering(true)))
        <span data-for="DocumentId" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Примечание_264__00</dt>
    <dd>
        @(Html.EditorFor(p => p.Note))
        <span data-for="Note" class="k-invalid-msg"></span>
    </dd>
</dl>