@using PW.Ncels.Database.DataModel
@model LimsEquipmentJournalRecordView

<table style="width: 100%">
    <tr style="vertical-align: top;">
        <td style="vertical-align: top;">
            <fieldset>
                <legend></legend>
                <dl class="pwEditRef">
                    <dt>
                        @Html.DisplayNameFor(model => model.EquipmentId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.EquipmentId).ValuePrimitive(true)
                              .DataValueField("Id").DataTextField("Name")
                              .DataSource(source => source.Read("GetEquipmentList", "Equipment")))
                    </dd>
                    <br />

                    <dt>
                        @ViewBag.Header1
                        @*@Html.DisplayNameFor(model => model.ActionDate)*@
                    </dt>
                    <dd>
                        @Html.Kendo().DatePickerFor(model => model.ActionDate)
                    </dd>
                    <br />
                    
                    <dt>
                        @* @Html.DisplayNameFor(model => model.NextActionDate)*@
                        @ViewBag.Header2
                    </dt>
                    <dd>
                        @Html.Kendo().DatePickerFor(model => model.NextActionDate)
                    </dd>
                    <br />
                    
                    <dt>
                        @* @Html.DisplayNameFor(model => model.ActionInfo) *@
                        @ViewBag.Header3
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.ActionInfo)
                    </dd>
                    <br />
                    
                    <dt>
                        @*@Html.DisplayNameFor(model => model.ActionResult) *@
                        @ViewBag.Header4
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.ActionResult)
                    </dd>
                    <br />
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.Note)
                    </dd>
                    <br />
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.ExecutorId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.ExecutorId).ValuePrimitive(true)
                                .DataValueField("Id").DataTextField("Name")
                                .DataSource(source => source.Read("ListEmployeIc", "Reference")))
                    </dd>
                    <br />
                </dl>
            </fieldset>
        </td>
    </tr>
</table>