@using PW.Ncels.Database.DataModel
@model LimsApplicationJournalView
<style>
    .k-datepicker {
        width: 100%;
    }
</style>

<table style="width: 100%">
    <tr style="vertical-align: top;">
        <td style="vertical-align: top;">
            <fieldset>
                <legend></legend>
                <dl class="pwEditRef">
                    <dt>
                        @Html.DisplayNameFor(m => m.ApplicationDate)
                    </dt>
                    <dd>
                        @(Html.Kendo().DatePickerFor(m => m.ApplicationDate))
                    </dd>
                    <br />
                        
                    <dt>
                        @Html.DisplayNameFor(model => model.EquipmentId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.EquipmentId).ValuePrimitive(true)
                              .DataValueField("Id").DataTextField("Name")
                              .DataSource(source => source.Read("GetEquipmentList", "Equipment")))
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.TypeOfMalfunction)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.TypeOfMalfunction)
                    </dd>
                    <br />
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Result)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.Result)
                    </dd>
                    <br />
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.Note)
                    </dd>
                    <br />

                </dl>
            </fieldset>
        </td>
        <td>
            <fieldset>
                <legend></legend>
                <dl class="pwEditRef">
                    <dt>
                        @Html.DisplayNameFor(model => model.ApplicantId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.ApplicantId).ValuePrimitive(true)
                              .DataValueField("Id").DataTextField("Name")
                              .DataSource(source => source.Read("ListEmployeIc", "Reference")))
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.IsApplicantSign)
                    </dt>
                    <dd>
                        <div style="display: inline">
                            @(Html.CheckBoxFor(x => x.IsApplicantSign))
                            @*@(Html.Kendo().DatePickerFor(m => m.ApplicationSignDate).Enable(false))*@
                        </div>
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.EngineerId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.EngineerId).ValuePrimitive(true)
                              .DataValueField("Id").DataTextField("Name")
                              .DataSource(source => source.Read("ListEmployeIc", "Reference")))
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.IsEngineerSign)
                    </dt>
                    <dd>
                        <div style="display: inline">
                            @(Html.CheckBoxFor(x => x.IsEngineerSign))
                           @* @(Html.Kendo().DatePickerFor(m => m.EngineerSignDate).Enable(false)) *@
                        </div>
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.AccepterId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.AccepterId).ValuePrimitive(true)
                              .DataValueField("Id").DataTextField("Name")
                              .DataSource(source => source.Read("ListEmployeIc", "Reference")))
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.IsAccepterSign)
                    </dt>
                    <dd>
                        <div style="display: inline">
                            @(Html.CheckBoxFor(x => x.IsAccepterSign))
                           @* @(Html.Kendo().DatePickerFor(m => m.AccepterSignDate).Enable(false)) *@
                        </div>
                    </dd>
                    <br />
                </dl>
            </fieldset>
        </td>
    </tr>
</table>