@using PW.Ncels.Database.DataModel
@model LimsEquipmentActSparePart

<table style="width:100%">
    <tr style="vertical-align: top;">
        <td style="vertical-align: top;">
            <fieldset>
                <legend></legend>
                <dl class="pwEditRef">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.Name)
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.InventoryNumber)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.InventoryNumber)
                    </dd>
                    <br />
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd>
                        @(Html.Kendo().NumericTextBoxFor(model => model.Quantity)
                            .Min(0)
                            .Decimals(0))
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.LocationId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.LocationId).ValuePrimitive(true)
                            .DataValueField("Id").DataTextField("Name")
                          .DataSource(source => source.Read("GetDictionaryListByCode", "Dictionaries", new { code = Dictionary.DicEquipmentLocation.DicCode })))
                    </dd>
                    <br />
                </dl>
            </fieldset>
        </td>
    </tr>
</table>