@using PW.Ncels.Database.DataModel
@model LimsPlanEquipmentLink

<table style="width: 100%">
    <tr style="vertical-align: top;">
        <td style="vertical-align: top;">
            <fieldset>
                <legend></legend>
                <dl class="pwEditRef">
                        
                    <dt>
                        @Html.DisplayNameFor(model => model.EquipmentId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.EquipmentId).ValuePrimitive(true)
                            .DataValueField("Id").DataTextField("Name")
                            .DataSource(source => source.Read("GetEquipmentList", "Equipment")))
                    </dd>
                    <br />
                        
                    <dt>
                        @Html.DisplayNameFor(model => model.Number)
                    </dt>
                    <dd>
                        @Html.Kendo().TextBoxFor(model => model.Number)
                    </dd>
                    <br />
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.TermDate)
                    </dt>
                    <dd>
                        @Html.Kendo().DatePickerFor(p => p.TermDate).HtmlAttributes(new { @class = "pwWidth100" })
                    </dd>
                    <br />
                        
                    <dt>
                        @Html.DisplayNameFor(model => model.IsSign)
                    </dt>
                    <dd>
                        @(@Html.CheckBoxFor(x => x.IsSignLocal))
                    </dd>
                    <br />

                </dl>
            </fieldset>
        </td>
    </tr>
</table>


