
@model PW.Ncels.Database.Models.OBKReferencePriceListModel

<style type="text/css">
        .col-md-4 {
            padding-left: 0px;
        }
</style>


<div style="padding: 10px; font-size: 12px;">
    
    @Html.HiddenFor(o => o.TypeId)
    @Html.HiddenFor(o => o.UnitId)
    @Html.HiddenFor(o => o.ServiceTypeId)
    @Html.HiddenFor(o => o.DegreeRiskId)
    @Html.HiddenFor(o => o.Type)
    @Html.HiddenFor(o => o.ServiceType)
    @Html.HiddenFor(o => o.Unit)
    @Html.HiddenFor(o => o.Degree)



    <label>@PW.Ncels.Database.Recources.Messages.Type</label>
    @(Html.Kendo().DropDownList().Name("TypeCombobox")
          .HtmlAttributes(new { @class = "pwWidth100" })
          .AutoBind(false)
          .OptionLabel(PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00)
          .DataTextField("Name")
          .DataValueField("Id")
          .DataSource(dataSource => dataSource.Read(read => read.Action("TypeList", "OBK_Ref_PriceList"))).Events(o => o.Change("changeType")))
    <label>@PW.Ncels.Database.Recources.Messages.NameRu</label>
    <div class="input-group">
        @(Html.TextBoxFor(p => p.NameRu, new { @class = "form-control", style = "width: 380px;" }))
    </div>
    <label>@PW.Ncels.Database.Recources.Messages.NameKz</label>
    <div class="input-group">
        @(Html.TextBoxFor(p => p.NameKz, new { @class = "form-control", style = "width: 380px;" }))
    </div>
    <label>@PW.Ncels.Database.Recources.Messages.Dictionary</label>
    @(Html.Kendo().DropDownList().Name("UnitCombobox")
          .HtmlAttributes(new { @class = "pwWidth100" })
          .AutoBind(false)
          .OptionLabel(PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00)
          .DataTextField("Name")
          .DataValueField("Id")
          .DataSource(dataSource => dataSource.Read(read => read.Action("UnitList", "OBK_Ref_PriceList"))).Events(o => o.Change("changeUnit")))
    <label>@PW.Ncels.Database.Recources.Messages.sum</label>
    <div class="input-group">
        @(Html.TextBoxFor(p => p.Price, new { @class = "form-control", style = "width: 380px;" }))
    </div>
    <label>@PW.Ncels.Database.Recources.Messages.ServiceType</label>
    @(Html.Kendo().DropDownList().Name("ServiceTypeCombobox")
          .HtmlAttributes(new { @class = "pwWidth100" })
          .AutoBind(false)
          .OptionLabel(PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00)
          .DataTextField("Name")
          .DataValueField("Id")
          .DataSource(dataSource => dataSource.Read(read => read.Action("ServiceTypeList", "OBK_Ref_PriceList"))).Events(o => o.Change("changeServiceType")))

    <label>@PW.Ncels.Database.Recources.Messages.DegreeRisk</label>
    @(Html.Kendo().DropDownList().Name("DegreeRiskCombobox")
          .HtmlAttributes(new { @class = "pwWidth100" })
          .AutoBind(false)
          .OptionLabel(PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00)
          .DataTextField("Name")
          .DataValueField("Id")
          .DataSource(dataSource => dataSource.Read(read => read.Action("DegreeRiskList", "OBK_Ref_PriceList"))).Events(o => o.Change("changeDegreeRisk")))


</div>
