@model PW.Ncels.Database.Models.OBKReferenceContractDocTypeModel

    <dl class="pwEditRef">
        <br>
        <dt>@PW.Ncels.Database.Recources.Messages.NameOfSolutionRu</dt>
        <dd>
            @(Html.EditorFor(p=>p.NameRu))
            <span data-for="Name" class="k-invalid-msg"></span>
        </dd>
        <dt>@PW.Ncels.Database.Recources.Messages.NameOfSolutionKz</dt>
        <dd>
            @(Html.EditorFor(p=>p.NameKz))
            <span data-for="NameKz" class="k-invalid-msg"></span>
        </dd>
        <dt>@PW.Ncels.Database.Recources.Messages.NameGenitiveKz</dt>
        <dd>
            @(Html.EditorFor(p => p.NameGenitiveKz))
            <span data-for="NameKz" class="k-invalid-msg"></span>
        </dd>
        <dt>@PW.Ncels.Database.Recources.Messages.NameGenitiveRu</dt>
        <dd>
            @(Html.EditorFor(p => p.NameGenitiveRu))
            <span data-for="NameKz" class="k-invalid-msg"></span>
        </dd>

    </dl>

     

   
 

