@model PW.Ncels.Database.Models.OBKReferenceLaboratoryMarkModel

@{
    Layout = null;
    var isUpdate = (bool)(ViewBag.isUpdate ?? false);
    var prevStepId = (ViewBag.PrevStepId ?? "").ToString();
    var nextStepName = (ViewBag.NextStepName ?? "").ToString();
}

<dl class="pwEditRef">
    <br>
    @Html.HiddenFor(p=>p.Id);
    <dt>@PW.Ncels.Database.Recources.Messages.NameOfLaboratoryMarkRu</dt>
    <dd>
        @(Html.EditorFor(p => p.NameRu))
        <span data-for="Name" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.NameOfLaboratoryMarkKz</dt>
    <dd>
        @(Html.EditorFor(p => p.NameKz))
        <span data-for="NameKz" class="k-invalid-msg"></span>
    </dd>
    <dt>Обозначение нормативных документов на методы испытаний</dt>
    <dd>
                 @(Html.Kendo().MultiSelect()
                      .Name("RegulationList")
                      .Placeholder(PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00)
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .DataSource(source =>
                      {
                      source.Read(read =>
                      {
                      read.Action("Regulation", "OBK_Ref_LaboratoryRegulation");
                      });
                      })
                 )
        </dd>
</dl>


