@model PW.Ncels.Database.DataModel.Ref_MarketPrices


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <dl class="pwEditRef">
        <dt>Наименование поставщика товара</dt>
        <dd>
            @(Html.EditorFor(p => p.Name))
            <span data-for="Code" class="k-invalid-msg"></span>
        </dd>
        <dt>Номер договора</dt>
        <dd>
            @(Html.EditorFor(p => p.Name))
            <span data-for="Name" class="k-invalid-msg"></span>
        </dd>
        <dt>Дата договора</dt>
        <dd>
            @(Html.EditorFor(p => p.Name))


            <span data-for="NameKz" class="k-invalid-msg"></span>
        </dd>
        <dt>Последний срок поставки по договору</dt>
        <dd>
            @(Html.EditorFor(p => p.Name))
            <span data-for="DepartmentsId" class="k-invalid-msg"></span>
        </dd>
        <dt>Полная поставка (да/нет)</dt>
        <dd>
            @(Html.EditorFor(p => p.Name))
            <span data-for="Note" class="k-invalid-msg"></span>
        </dd>
        <dt>Сведения по товару</dt>
        <dd>
            @(Html.EditorFor(p => p.Name))
            <span data-for="Note" class="k-invalid-msg"></span>
        </dd>
        <dt>Единица измерения</dt>
        <dd>
            @(Html.EditorFor(p => p.Name))
            <span data-for="Note" class="k-invalid-msg"></span>
        </dd>
    </dl>
}
