@model PW.Ncels.Database.DataModel.Ref_Knfs
<dl class="pwEditRef">
    <dt>№</dt>
    <dd>
        @(Html.EditorFor(p => p.Number))
        <span data-for="Number" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>МНН</dt>
    <dd>
        @(Html.EditorFor(p => p.Name))
        <span data-for="Name" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Хар/доз/лек форма/конц</dt>
    <dd>
        @(Html.EditorFor(p => p.Characteristic))
        <span data-for="Characteristic" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Единица измерения</dt>
    <dd>
        @(Html.EditorFor(p => p.Measure))
        <span data-for="Measure" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Предельная цена</dt>
    <dd>
        @(Html.EditorFor(p => p.Cost))
        <span data-for="Cost" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>ТН</dt>
    <dd>
        @(Html.EditorFor(p => p.Tn))
        <span data-for="Tn" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Лек форма</dt>
    <dd>
        @(Html.EditorFor(p => p.Form))
        <span data-for="Form" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Концентрация/дозировка</dt>
    <dd>
        @(Html.EditorFor(p => p.Dosage))
        <span data-for="Dosage" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Цена за ТН</dt>
    <dd>
        @(Html.EditorFor(p => p.CostTn))
        <span data-for="CostTn" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Статус</dt>
    <dd>
        @(Html.EditorFor(p => p.State))
        <span data-for="State" class="k-invalid-msg"></span>
    </dd>
</dl>