@model PW.Ncels.Database.DataModel.Ref_Knfs
<dl class="pwEditRef">
    <dt>МНН</dt>
    <dd>
        @(Html.EditorFor(p => p.Name))
        <span data-for="Name" class="k-invalid-msg"></span>
    </dd>
    
    <dt>ТН</dt>
    <dd>
        @(Html.EditorFor(p => p.Tn))
        <span data-for="Tn" class="k-invalid-msg"></span>
    </dd>
    
    <dt>Лек форма</dt>
    <dd>
        @(Html.EditorFor(p => p.Form))
        <span data-for="Form" class="k-invalid-msg"></span>
    </dd>
    
    <dt>Концентрация</dt>
    <dd>
        @(Html.EditorFor(p => p.Characteristic))
        <span data-for="Characteristic" class="k-invalid-msg"></span>
    </dd>
    <dt>Дозировка</dt>
    <dd>
        @(Html.EditorFor(p => p.Dosage))
        <span data-for="Dosage" class="k-invalid-msg"></span>
    </dd>
    
    <dt>Рег номер</dt>
    <dd>
        @(Html.EditorFor(p => p.Number))
        <span data-for="Number" class="k-invalid-msg"></span>
    </dd>
    
    <dt>Дата истечение рег.ном.</dt>
    <dd>
        @Html.Kendo().DatePickerFor(p => p.DateExpiry).HtmlAttributes(new { @class = "pwWidth100" })
        <span data-for="DateExpiry" class="k-invalid-msg"></span>
    </dd>
    <dt>АТХ код</dt>
    <dd>
        @(Html.EditorFor(p => p.Code))
        <span data-for="Code" class="k-invalid-msg"></span>
    </dd>
    
    <dt>Производитель</dt>
    <dd>
        @(Html.EditorFor(p => p.GroupFarm))
        <span data-for="GroupFarm" class="k-invalid-msg"></span>
    </dd>
    <dt>Предельная цена за МНН</dt>
    <dd>
        @(Html.EditorFor(p => p.Cost))
        <span data-for="Cost" class="k-invalid-msg"></span>
    </dd>
    <dt>Предельная цена за ТН</dt>
    <dd>
        @(Html.EditorFor(p => p.CostTn))
        <span data-for="CostTn" class="k-invalid-msg"></span>
    </dd>
    <dt>Статус</dt>
    <dd>
        @(Html.EditorFor(p => p.Measure))
        <span data-for="Measure" class="k-invalid-msg"></span>
    </dd>
</dl>