@model PW.Ncels.Database.DataModel.Ref_Knfs
<dl class="pwEditRef">
    <dt>АТХ код</dt>
    <dd>
        @(Html.EditorFor(p => p.Code))
        <span data-for="Code" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Фармакологическая группа МНН</dt>
    <dd>
        @(Html.EditorFor(p => p.GroupFarm))
        <span data-for="GroupFarm" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Торговое наименование</dt>
    <dd>
        @(Html.EditorFor(p => p.Name))
        <span data-for="Name" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Лекарственная форма</dt>
    <dd>
        @(Html.EditorFor(p => p.Form))
        <span data-for="Form" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Номер регистрационного удостоверения</dt>
    <dd>
        @(Html.EditorFor(p => p.Number))
        <span data-for="Number" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Предельная цена</dt>
    <dd>
        @(Html.EditorFor(p => p.Cost))
        <span data-for="Cost" class="k-invalid-msg"></span>
    </dd>
</dl>