@model PW.Ncels.Database.Models.ReferenceModel




        @*@Html.HiddenFor(model => model.Id)*@

        @*<div class="form-group">
            <p>@PW.Ncels.Database.Recources.Messages.Property_Код_399__00</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)

            </div>
        </div>*@
@*<div >
    <p>@PW.Ncels.Database.Recources.Messages.Property_Код_399__00</p>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Code)
    </div>
</div>
<div >
    <p>@PW.Ncels.Database.Recources.Messages.Property_Наименованиенарусском_41__00</p>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name)
    </div>
</div>


<div >
    <p>@PW.Ncels.Database.Recources.Messages.Property_Наименованиенаказахском_33__00</p>
    <div class="col-md-10">
        @Html.EditorFor(model => model.NameKz)
    </div>
</div>*@



    @*<div class="edit-buttons">
        <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
        <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
    </div>*@
    <dl class="pwEditRef">
        <dt>@PW.Ncels.Database.Recources.Messages.Property_Код_399__00</dt>
        <dd>
            @(Html.EditorFor(p=>p.Code))
            <span data-for="Code" class="k-invalid-msg"></span>
        </dd>
        <dt>@PW.Ncels.Database.Recources.Messages.Property_Наименованиенарусском_41__00</dt>
        <dd>
            @(Html.EditorFor(p=>p.Name))
            <span data-for="Name" class="k-invalid-msg"></span>
        </dd>
        <dt>@PW.Ncels.Database.Recources.Messages.Property_Наименованиенаказахском_33__00</dt>
        <dd>
            @(Html.EditorFor(p=>p.NameKz))
            <span data-for="NameKz" class="k-invalid-msg"></span>
        </dd>

    </dl>

     

   
 

