@model PW.Ncels.Database.DataModel.RequestOrderListView
<dl class="pwEditRef">
    <dt>Порядковый номер</dt>
    <dd>
        @(Html.EditorFor(p => p.Number))
        <span data-for="Number" class="k-invalid-msg"></span>
    </dd>
    <br/>
    <dt>Потенциальный заявитель</dt>
    <dd>
        @(Html.EditorFor(p => p.Applicant))
        <span data-for="Applicant" class="k-invalid-msg"></span>
    </dd>
    <br/>
    <dt>Признак</dt>
    <dd>
        @(Html.EditorFor(p => p.Mark))
        <span data-for="Applicant" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Предельная цена за МНН</dt>
    <dd>
        @(Html.EditorFor(p => p.LimitPriceMnn))
        <span data-for="Code" class="k-invalid-msg"></span>
    </dd>
    <br/>
    <dt>Предельная цена за ТН</dt>
    <dd>
        @(Html.EditorFor(p => p.LimitPriceTn))
        <span data-for="GroupFarm" class="k-invalid-msg"></span>
    </dd>
</dl>