@model PW.Ncels.Database.DataModel.TmcInView
<dl class="pwEditRef">
    <dt>ФИО МОЛ</dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.OwnerEmployeeId).ValuePrimitive(true).DataValueField("Id").DataTextField("Name").DataSource(source => source.Read("ListEmployeIc", "Reference")))
    </dd>
    <br/>
    <dt>Наименование поставщика товара</dt>
    <dd>
        @(Html.EditorFor(p => p.Provider))
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Номер договора</dt>
    <dd>
        @(Html.EditorFor(p => p.ContractNumber))
        <span data-for="ContractNumber" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Дата договора</dt>
    <dd>
        @Html.Kendo().DatePickerFor(p => p.ContractDate).Max(DateTime.Now).HtmlAttributes(new {@class = "pwWidth100"})
        <span data-for="ContractDate" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Последний срок поставки по договору</dt>
    <dd>
        @(Html.Kendo().DatePickerFor(p => p.LastDeliveryDate).HtmlAttributes(new {@class = "pwWidth100"}))
        <span data-for="LastDeliveryDate" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Полная поставка</dt>
    <dd>
        @Html.CheckBoxFor(x => x.IsFullDelivery, new { @class = "css-checkbox"})
        <span data-for="IsFullDelivery" class="k-invalid-msg"></span>
    </dd>
</dl>