@model PW.Ncels.Database.Models.TmcOffViewModel
<div class="pwEditRef">
    <br/>
    <dt>Количество/объем (остаток)</dt>
    <dd>
        @Html.Kendo().TextBoxFor(p => p.TmcCount).Enable(false)
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br />

    <dt>Количество/объем</dt>
    <dd>
        @(Html.Kendo().NumericTextBoxFor(p => p.Count)
            .Min(0)
            .Format("{0:n6}")
            .Decimals(6)
         )
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br/>

    <dt>Для каких целей</dt>
    <dd>
        @(Html.EditorFor(p => p.Note))
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br/>

    <dt>Дата </dt>
    <dd>
        @(Html.EditorFor(p => p.CreatedDate))
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Заявление на экспертизу </dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.RefExtertiseStatement)
            .ValuePrimitive(true).DataValueField("Id").DataTextField("Name")
            .DataSource(source => source.Read("ListOfDrugDeclarationOnAnaliticStage", "Tmc")))
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
</div>