@model PW.Ncels.Database.DataModel.TmcView

<table style="width:100%">
    <tr style="vertical-align: top;">
        <td style="vertical-align: top;">
            <fieldset>
                <legend>Реактивы</legend>
                <dl class="pwEditRef">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly", @disabled="disabled" })
                        <span data-for="Name" class="k-invalid-msg"></span>
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd>
@*                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })*@
                        @Html.TextBoxFor(model => model.Code, new { @readonly = "readonly", @disabled = "disabled" })
                        <span data-for="Code" class="k-invalid-msg"></span>
                    </dd>
                    <br />
                    @*
    <dt>
        @Html.DisplayNameFor(model => model.Number)
    </dt>
    <dd>
        @Html.EditorFor(model => model.Number)
        <span data-for="Number" class="k-invalid-msg"></span>
    </dd>
    <br />
                    *@
@*                    <dt>*@
@*                        @Html.DisplayNameFor(model => model.MeasureTypeDicId)*@
@*                    </dt>*@
@*                    <dd>*@
@*                        @(Html.Kendo().ComboBoxFor(p => p.MeasureTypeDicId).ValuePrimitive(true).DataValueField("Id").DataTextField("Name")*@
@*                              .DataSource(source => source.Read("List", "Reference", new { text = "MeasureType" })))*@
@*                        @Html.TextBoxFor(model => model.MeasureTypeDicValue, new { @readonly = "readonly" })*@
@*                    </dd>*@
@*                    <br />*@
                    
@*                    <dt>*@
@*                        @Html.DisplayNameFor(model => model.Count)*@
@*                    </dt>*@
@*                    <dd>*@
@*                        @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })*@
@*                        @Html.TextBoxFor(model => model.Count, new { @readonly = "readonly" })*@
@*                    </dd>*@
@*                    <br />*@
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.TmcTypeDicId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.TmcTypeDicId).ValuePrimitive(true).DataValueField("Id").DataTextField("Name")
                          .DataSource(source => source.Read("List", "Reference", new { text = "TmcType" })))
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.PackageDicId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.PackageDicId).ValuePrimitive(true).DataValueField("Id").DataTextField("Name")
                          .DataSource(source => source.Read("List", "Reference", new { text = "PackageName" })))
                    </dd>
                    <br />


                </dl>
            </fieldset>
        </td>
        <td style="vertical-align: top;">
            <fieldset>
                <legend>Паспорт</legend>
                <dl class="pwEditRef">
                    <dt>
                        @Html.DisplayNameFor(model => model.Manufacturer)
                    </dt>
                    <dd>
                        @Html.EditorFor(model => model.Manufacturer)
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.Serial)
                    </dt>
                    <dd>
                        @Html.EditorFor(model => model.Serial)
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.ManufactureDate)
                    </dt>
                    <dd>
                        @Html.Kendo().DatePickerFor(model => model.ManufactureDate)
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.ExpiryDate)
                    </dt>
                    <dd>
                        @Html.Kendo().DatePickerFor(model => model.ExpiryDate)
                    </dd>
                    <br />
                </dl>
            </fieldset>
        </td>
        <td style="vertical-align: top;">
            <fieldset>
                <legend>Хранение</legend>
                <dl class="pwEditRef">
                    <dt>
                        @Html.DisplayNameFor(model => model.StorageDicId)
                    </dt>
                    <dd>
                        @(Html.Kendo().ComboBoxFor(p => p.StorageDicId).ValuePrimitive(true).DataValueField("Id").DataTextField("Name")
            .DataSource(source => source.Read("List", "Reference", new { text = "Storage" })))
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.Safe)
                    </dt>
                    <dd>
                        @Html.EditorFor(model => model.Safe)
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayNameFor(model => model.Rack)
                    </dt>
                    <dd>
                        @Html.EditorFor(model => model.Rack)
                    </dd>
                </dl>
            </fieldset>
        </td>
    </tr>
</table>





