@model PW.Ncels.Database.Models.TmcViewModel
@*<dl class="pwEditRef">
    <dt>Наименование</dt>
    <dd>
        @(Html.EditorFor(p => p.Name))
        <span data-for="Name" class="k-invalid-msg"></span>
    </dd>
    <br/>
    <dt>Единица измерения</dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.MeasureTypeDicId).DataValueField("Id").DataTextField("Name").ValuePrimitive(true).DataSource(source => source.Read("List", "Reference", new {text = "MeasureType"})))
    </dd>
    <br/>
    <dt>Количество/объем</dt>
    <dd>
        @(Html.Kendo().NumericTextBoxFor(p => p.Count))
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br/>
    <dt>Количество/объем (факт)</dt>
    <dd>
        @(Html.Kendo().NumericTextBoxFor(p => p.CountFact))
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Дата получения</dt>
    <dd>
        @(Html.Kendo().DatePickerFor(p => p.ReceivingDate).HtmlAttributes(new { @class = "pwWidth100" }))
        <span data-for="ReceivingDate" class="k-invalid-msg"></span>
    </dd>
</dl>*@

<div class="pwEditRef">

    <dt>Наименование</dt>
    <dd>
        @(Html.EditorFor(p => p.Name))
        <span data-for="Name" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Единица измерения</dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.MeasureTypeDicId).DataValueField("Id").DataTextField("Name").ValuePrimitive(true).DataSource(source => source.Read("List", "Reference", new { text = "MeasureType" })))
    </dd>
    <br />
    <dt>Количество/объем</dt>
    <dd>
        @(Html.Kendo().NumericTextBoxFor(p => p.Count)
            .Min(0)
            .Decimals(6)
            .Format("{0:n6}")
         )
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br />
    @*<dt>Количество/объем (факт)</dt>
    <dd>
        @(Html.Kendo().NumericTextBoxFor(p => p.CountFact))
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br />
    <dt>Дата получения</dt>
    <dd>
        @(Html.Kendo().DatePickerFor(p => p.ReceivingDate).HtmlAttributes(new { @class = "pwWidth100" }))
        <span data-for="ReceivingDate" class="k-invalid-msg"></span>
    </dd>*@
</div>
