@model PW.Ncels.Database.Models.UnitModel
<dl class="pwEditRef">
  
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Наименованиенарусском_41__00</dt>
    <dd>
        @(Html.EditorFor(p => p.Name))
        <span data-for="Name" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Наименованиенаказахском_33__00</dt>
    <dd>
        @(Html.EditorFor(p => p.NameKz))
        <span data-for="NameKz" class="k-invalid-msg"></span>
    </dd> 
    <dt>Email</dt>
    <dd>
        @(Html.EditorFor(p => p.Email))
        <span data-for="Email" class="k-invalid-msg"></span>
    </dd>
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Категория_301__00</dt>
    <dd>
        @(Html.Kendo().MultiSelectFor(p => p.UnitTypeDictionaryId).MaxSelectedItems(1).DataValueField("Id").DataTextField("Name").DataSource(
                                            source => source.Read("ListCategory", "Reference")
        ))
        <span data-for="UnitTypeDictionaryId" class="k-invalid-msg"></span>
    </dd>

</dl>
