@model PW.Ncels.Database.Models.UnitAddress
    
<div style="padding: 10px; font-size: 12px;">

    @Html.HiddenFor(o => o.UnitAddressId)
    @Html.HiddenFor(o => o.RegionId)
    @Html.HiddenFor(o => o.RegionName)
    @Html.HiddenFor(o => o.AddressNameRu)
    @Html.HiddenFor(o => o.AddressNameKz)
    
    <label>Регион</label>
    @(Html.Kendo().DropDownList().Name("UnitsAddressCombobox")
          .HtmlAttributes(new {@class="pwWidth100"})
          .AutoBind(false)
          .OptionLabel(PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00)
          .DataTextField("Name")
          .DataValueField("Id")
          .DataSource(dataSource => dataSource.Read(read => read.Action("UnitsAddressValueList", "Employe"))).Events(o => o.Change("changeUnitsAddress"))
          //.Filter(FilterType.Contains) бага какаято, 2 поиска появляется :(
          )
    <label>Адрес на русском</label>
    <div class="input-group">
        @(Html.TextBoxFor(p => p.AddressNameRu, new { @class = "form-control", style = "width: 380px;"}))    
    </div>
    <label>Адрес на казахском</label>
    <div class="input-group">
        @(Html.TextBoxFor(p => p.AddressNameKz, new { @class = "form-control", style = "width: 380px;" }))
    </div>
</div>
