@model PW.Ncels.Database.Models.UnitBankModel
    
<style type="text/css">
        .col-md-4 {
            padding-left: 0px;
        }
</style>


<div style="padding: 10px; font-size: 12px;">
    @Html.HiddenFor(o => o.UnitBankId)
    @Html.HiddenFor(o => o.CurrencyId)
    @Html.HiddenFor(o => o.CurrencyName)
    @Html.HiddenFor(o => o.BankNameRu)
    @Html.HiddenFor(o => o.BankNameKz)
    @Html.HiddenFor(o => o.KBE)
    @Html.HiddenFor(o => o.Code)
    @Html.HiddenFor(o => o.SWIFT)
    @Html.HiddenFor(o => o.IIK)
    @Html.HiddenFor(o => o.CorrespondentBank)
    @Html.HiddenFor(o => o.CorrespondentAccount)
    @Html.HiddenFor(o => o.SWIFT1)
    @Html.HiddenFor(o => o.CorrespondentAccount1)
    @Html.HiddenFor(o => o.SWIFT2)

    <label>Валюта</label>
    @(Html.Kendo().DropDownList().Name("UnitsBankCombobox")
          .HtmlAttributes(new { @class = "pwWidth100" })
          .AutoBind(false)
          .OptionLabel(PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00)
          .DataTextField("Name")
          .DataValueField("Id")
          .DataSource(dataSource => dataSource.Read(read => read.Action("UnitsBankValueList", "Employe"))).Events(o => o.Change("changeUnitsBank")))
    <label>Наименование банка на русском</label>
    <div class="input-group">
        @(Html.TextBoxFor(p => p.BankNameRu, new { @class = "form-control", style = "width: 380px;" }))
    </div>
    <label>Наименование банка на казахском</label>
    <div class="input-group">
        @(Html.TextBoxFor(p => p.BankNameKz, new { @class = "form-control", style = "width: 380px;" }))
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>КБЕ</label>
            <div class="input-group">
                @(Html.TextBoxFor(p => p.KBE, new { @class = "form-control", style = "width: 180px;" }))
            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <label>Коде</label>
            <div class="input-group">
                @(Html.TextBoxFor(p => p.Code, new { @class = "form-control", style = "width: 180px;" }))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>SWIFT(БИК)</label>
            <div class="input-group">
                @(Html.TextBoxFor(p => p.SWIFT, new { @class = "form-control", style = "width: 180px;" }))
            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <label>Расчетный счет</label>
            <div class="input-group">
                @(Html.TextBoxFor(p => p.IIK, new {@class = "form-control", style = "width: 180px;"}))
            </div>
        </div>
    </div>
    <label>Банк корреспондент</label>
    <div class="input-group">
        @(Html.TextBoxFor(p => p.CorrespondentBank, new { @class = "form-control", style = "width: 380px;" }))
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Корресп. счет</label>
            <div class="input-group">
                @(Html.TextBoxFor(p => p.CorrespondentAccount, new { @class = "form-control", style = "width: 180px;" }))
            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <label>SWIFT(БИК)</label>
            <div class="input-group">
                @(Html.TextBoxFor(p => p.SWIFT1, new { @class = "form-control", style = "width: 180px;" }))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>К/С</label>
            <div class="input-group">
                @(Html.TextBoxFor(p => p.CorrespondentAccount1, new { @class = "form-control", style = "width: 180px;" }))
            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <label>SWIFT BIC</label>
            <div class="input-group">
                @(Html.TextBoxFor(p => p.SWIFT2, new { @class = "form-control", style = "width: 180px;" }))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label>Дата действия записи с</label>
            @(Html.Kendo().DatePickerFor(p => p.StartDate))
        </div>
        <div class="col-md-5">
            <label>Дата действия записи по</label>
            @(Html.Kendo().DatePickerFor(p => p.EndDate))
        </div>
    </div>
</div>
