@model PW.Ncels.Database.DataModel.OBK_ActReception

<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" style="margin-bottom: 5px">
                        <div class="col-lg-5">
                            <label>№ Акт приема передач проведения*</label>
                            <div class="input-group" id="typeIds">
                                @Html.TextBoxFor(model => model.Number, new { @class = "form-control edit-control act-control", placeholder = "Введите значение" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>Дата акта*</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.ActDate, "{0:dd.MM.yyyy}",
                               new { @class = "form-control edit-control act-control date-control", placeholder = "Введите значение" })
                                <span class="input-group-addon">
                                    <a class="OBKcommentDialog" href="#">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <span id="@("close-act-data" + @Model.Id)" class="glyphicon glyphicon-remove" style="float:right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br>
            <label>Адрес и места отбора*</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control edit-control act-control ", placeholder = "Введите значение" })
                <span class="input-group-addon">
                    <a class="OBKcommentDialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br>
            <label>Отбор проб призвел*</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Worker, new { @class = "form-control edit-control act-control ", placeholder = "Введите значение" })
                <span class="input-group-addon">
                    <a class="OBKcommentDialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br>
            <label>Образцы предьявленной продукции отобраны соответсвии с*</label>
            <div class="input-group">
                @Html.DropDownList("ProductSamplesId", (IEnumerable<SelectListItem>)(ViewData["ProductSampleList"]),
                  String.Empty,
                  new
                  {
                      @class = "form-control edit-control act-table-cont act-control"
                  })
                <span class="input-group-addon">
                    <a class="OBKcommentDialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <br>
            <label>Производитель*:</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Producer, new { @class = "form-control edit-control act-control ", placeholder = "Введите значение" })
                <span class="input-group-addon">
                    <a class="OBKcommentDialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <br>
            <label>Поставщик*:</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Provider, new { @class = "form-control edit-control act-control ", placeholder = "Введите значение" })
                <span class="input-group-addon">
                    <a class="OBKcommentDialog" href="#">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    @{if ((bool)ViewData["KfSelection"] == true)
        {
            <div class="row">
                <div class="col-lg-12">
                    <label>Осмотром установлено*</label>
                    <div class="input-group">
                        @Html.DropDownList("InspectionInstalledId", (IEnumerable<SelectListItem>)(ViewData["InspectionInstalledList"]),
                         String.Empty,
                         new
                         {
                             @class = "form-control edit-control act-table-cont act-control"
                         })
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label>Условия хранения*</label>
                    <div class="input-group">
                        @Html.DropDownList("PackageConditionId", (IEnumerable<SelectListItem>)(ViewData["PackageConditionList"]),
                         String.Empty,
                         new
                         {
                             @class = "form-control edit-control act-table-cont act-control"
                         })
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label>Состояние упаковки*</label>
                    <div class="input-group">
                        @Html.DropDownList("StorageConditionsId", (IEnumerable<SelectListItem>)(ViewData["StorageConditionsList"]),
                         String.Empty,
                         new
                         {
                             @class = "form-control edit-control act-table-cont act-control"
                         })
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label>Маркировка*</label>
                    <div class="input-group">
                        @Html.DropDownList("MarkingId", (IEnumerable<SelectListItem>)(ViewData["MarkingList"]),
                         String.Empty,
                         new
                         {
                             @class = "form-control edit-control act-table-cont act-control"
                         })
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>

        }
    }

    <div class="row">
        <div class="col-lg-12">
            <br>
            <label>Образцы</label>
            <table id="@("samples" + @Model.Id)" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover dataTable"></table>
        </div>
    </div>

    @{ if (@Model.Accept != true)
        {
            <div id="commandRow" class="row">

                <div class="col-lg-4 col-lg-offset-8">
                    <div class="row" style="margin-top: 25px;">
                        <span id="@("checkBoxLabel" + @Model.Id)" style="color:red;">Заполните чекбоксы!</span>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-6">
                            <a href="#" onclick="acceptAct(event)" class="k-button" style="background-color: #0066cc; width:130px; color: white;font-weight: 700;">Принять</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="k-button" id="@("cancel-cat-btn" + @Model.Id)" style="background-color: #3399ff; width:150px; color: white;font-weight: 700;">Отменить</a>
                        </div>
                    </div>
                </div>
            </div>
        }}

</div>

<script>
    $("#close-act-data"+"@Model.Id").click(function () {
        $("#act-data"+"@Model.Id").html("");
        $("#act-data"+"@Model.Id").css('border-style', 'none');
        $("#viewActDataBtn").show();
    });

    $("#checkBoxLabel"+"@Model.Id").hide();

    $("#cancel-cat-btn" +"@Model.Id").click(function (){
        $("#close-act-data" +"@Model.Id").click();
    });

</script>
<script src="~/Scripts/js/custom/subform-comment.js"></script>

<style>
    .redBackground {
        background-color: red !important;
    }

    .control-good {
        border: 1px solid red;
    }
</style>
