@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Helpers
@model PW.Ncels.Database.DataModel.OBK_AssessmentStage
<link href="~/Content/css/custom/subform-comment-style.css" rel="stylesheet" type="text/css" />
<script>
    $(document).ready(function () {
        $("input").prop("readonly", true);
        $("textArea").prop("readonly", true);
        $("#deSignNote").prop("readonly", false);
        $('input:checkbox').attr('disabled', 'disabled');
        $('#IsConvention').attr('disabled', 'disabled');
        $(".check-wrap").remove();
        $(".deleteRow").remove();
        $(".atc-btn").remove();
        $(".add-price").remove();
        $(".add-btn-from4").remove();
        $('select').attr('disabled', 'disabled');


        $('.is-not-found').each(function () {
            if ($(this).attr('model-value') != null)
                if($(this).attr('model-value') === "True") {
                    $(this).prop("checked", true);
                }
        });
    });
</script>

<div class="pwPage pwPageEx" style="margin-left: 10px; margin-right: 60px; width: 90%">
    @if (Model.StageId == CodeConstManager.STAGE_OBK_COZ)
    {
        <div class="pwToolbar" id="@("docToolbar" + Model.DeclarationId)">
            <div class="btn-toolbar" role="toolbar">
                @if (Model.StageId == CodeConstManager.STAGE_OBK_COZ)
                {
                    if (EmployePermissionHelper.CanSARejectAndReviewButton)
                    {
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-bind="click: reject, enabled: hasReject " id="@("reject" + Model.Id)"><span class="pwToolbarButtonReturn"></span><span class="pwToolbarButtonTitle">Вернуть на доработку</span></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-bind="click: review, enabled: hasReview" id="@("review" + Model.Id)"><span class="pwToolbarButtonReview"></span><span class="pwToolbarButtonTitle">На экспертизу документов</span></button>
                        </div>
                    }
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("ExportFilePdf", "SafetyAssessment", new { id = Model.OBK_AssessmentDeclaration.Id })'"><span class="pwToolbarButtonPrint"></span><span class="pwToolbarButtonTitle">Печать формы заявки</span></button>
                    </div>
                    if (Model.StageStatusId == 11)
                    {
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-bind="click: outputResult" id="@("outputResult" + Model.OBK_AssessmentDeclaration.Id)"><span class="pwToolbarButtonExecute"></span><span class="pwToolbarButtonTitle">Выдать результат</span></button>  @*  onclick="'@Url.Action("OutputResult", "SafetyAssessment", new { id = Model.OBK_AssessmentDeclaration.Id })'"*@ 
                        </div>
                    }
                }
            </div>
        </div>
        <br/>
        <textarea class="form-control" placeholder="Описание" id="deSignNote">@Model.OBK_AssessmentDeclaration.DesignNote</textarea>
    }
    <br />
    <div class="panel panel-success">
        <div class="panel-heading">
            Заявитель
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 fa-shield">
                    <div class="form-group">
                        <label>Заявитель</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.OBK_AssessmentDeclaration.Applicant.DisplayName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Организация</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.OBK_AssessmentDeclaration.Applicant.Organization.Name, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Эл. почта</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.OBK_AssessmentDeclaration.Applicant.Email, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Телефон</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.OBK_AssessmentDeclaration.Applicant.Phone, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/SafetyAssessment/DeclarationView.cshtml", @Model.OBK_AssessmentDeclaration)


</div>

<script>
    InitializeOBKDataDeclaraion('@Model.DeclarationId.ToString()', '@(null)', '@Model.OBK_AssessmentDeclaration.StatusId', '@Model.StageId', '@Model.Id.ToString()');
</script>
