@model PW.Ncels.Database.DataModel.OBK_AssessmentDeclaration

@{
    var @startDate = Model?.StartDate ?? "";
    var @endDate = Model?.EndDate ?? "";
    //var @orgForm = Model?.OrganizationFormId ?? "";
    var @nameKz = Model?.NameKz ?? "";
    var @nameRu = Model?.NameRu ?? "";
    var @nameEn = Model?.NameEn ?? "";
    var @chiefLastName = Model?.ChiefLastName ?? "";
    var @chiefFirstName = Model?.ChiefFirstName ?? "";
    var @chiefMiddleName = Model?.ChiefMiddleName ?? "";
    var @chiefPosition = Model?.ChiefPosition ?? "";
    var @addressFact = Model?.AddressFact ?? "";
    var @addressLegal = Model?.AddressLegal ?? "";
    var @phone = Model?.Phone ?? "";
    var @email = Model?.Email ?? "";
    var @bankBik = Model?.BankBik ?? "";
    var @bankIik = Model?.BankIik ?? "";
    var @bankName = Model?.BankName ?? "";
}

@{
    Model.CertificateDate = Convert.ToDateTime(DateTime.Now.ToShortDateString());
}




<div class="panel-body">
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Данные по договору
            </div>
            <div class="panel-body">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-12">
                        <div class="form-group">


                            <div class="col-lg-6">
                                <label for="name" class="col-lg-6" style="margin-top: 5px">Договор:</label>
                                <div class="input-group">
                                    @Html.DropDownList("ContractId", (IEnumerable<SelectListItem>)(ViewData["ContractList"]),
                                        String.Empty,
                                        new
                                        {
                                            @class = "form-control edit-control main-control"
                                        })
                                    <span class="input-group-addon">
                                        <a class="OBKcommentDialog" href="#">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <label for="name" class="col-lg-6" style="margin-top: 5px">Дата начала:</label>
                                <div class="input-group">
                                    <input class="form-control edit-control main-control" type="text" readonly="readonly" id="startDate" value="@startDate">
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <label for="name" class="col-lg-8" style="margin-top: 5px">Дата окончания:</label>
                                <div class="input-group">
                                    <input class="form-control edit-control main-control" type="text" readonly="readonly" id="endDate" value="@endDate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <label>Заявитель:</label>
                <div class="form-group">
                    <label>Организационная форма:</label>
                    <div class="input-group">
                        @Html.DropDownList("OrganizationFormId", (IEnumerable<SelectListItem>)(ViewData["OrganizationForm"]),
                            String.Empty,
                            new
                            {
                                @class = "form-control edit-control",
                                @readonly = true
                            })
                    </div>
                </div>
                <div class="form-group">
                    <label>Наименование на государственном языке*:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="nameKz" value="@nameKz">
                    </div>
                </div>
                <div class="form-group">
                    <label>Наименование на русском языке:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="nameRu" value="@nameRu">
                    </div>
                </div>
                <div class="form-group">
                    <label>Наименование на английском языке:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="nameEn" value="@nameEn">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <label>Заявитель, в лице:</label>
                <div class="form-group">
                    <label>Фамилия руководителя*:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="chiefLastName" value="@chiefLastName">
                    </div>
                </div>
                <div class="form-group">
                    <label>Имя руководителя*:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="chiefFirstName" value="@chiefFirstName">
                    </div>
                </div>
                <div class="form-group">
                    <label>Отчество руководителя:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="chiefMiddleName" value="@chiefMiddleName">
                    </div>
                </div>
                <div class="form-group">
                    <label>Должность руководителя*:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="chiefPosition" value="@chiefPosition">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <label>Адрес заявителя:</label>
                <div class="form-group">
                    <label>Страна:</label>
                    <div class="input-group">
                        @Html.DropDownList("CountryId", (IEnumerable<SelectListItem>)(ViewData["Counties"]), String.Empty, new { @class = "form-control edit-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Юридический адрес:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="addressLegal" value="@addressLegal">
                    </div>
                </div>
                <div class="form-group">
                    <label>Фактический адрес:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="addressFact" value="@addressFact">
                    </div>
                </div>
                <div class="form-group">
                    <label>Телефон:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="phone" value="@phone">
                    </div>
                </div>
                <div class="form-group">
                    <label>e-mail:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="email" value="@email">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <label>Банковские реквизиты:</label>
                <div class="form-group">
                    <label>Наименование банка:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="bankName" value="@bankName">
                    </div>
                </div>
                <div class="form-group">
                    <label>Расчетный счет:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="bankIik" value="@bankIik">
                    </div>
                </div>
                <div class="form-group">
                    <label>Валюта:</label>
                    <div class="input-group">
                        @Html.DropDownList("CurrencyId", (IEnumerable<SelectListItem>)(ViewData["Courrency"]), String.Empty, new { @class = "form-control edit-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    <label>SWIFT/БИК:</label>
                    <div class="input-group">
                        <input class="form-control edit-control main-control" type="text" readonly="readonly" id="bankBik" value="@bankBik">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" style="margin-bottom: 5px">
                <div class="col-lg-12">
                    <label>Данные по сертификату:</label>
                </div>
                <div class="col-lg-6">
                    <label id="CertificateCheckId">Наличие сертификата:</label>
                    <div class="input-group">
                        @Html.DropDownList("CertificateGMPCheck", (IEnumerable<SelectListItem>) (ViewData["IsGMPList"]), String.Empty, new {@class = "form-control edit-control main-control"})
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label id="CertificateTypeLableId">Тип сертификата:</label>
                    <div class="input-group">
                        @Html.DropDownList("CertificateTypeId", (IEnumerable<SelectListItem>) (ViewData["CertificateType"]), String.Empty, new {@class = "form-control edit-control main-control", @readonly = true})
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label id="CertificateId">Номер сертификата:</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.CertificateGMP, new {@class = "form-control edit-control main-control", @readonly = true})
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label id="CertificateCountryLabelId">Страна выдачи сертификата:</label>
                    <div class="input-group">
                        @Html.DropDownList("CertificateCountryId", (IEnumerable<SelectListItem>) (ViewData["Counties"]), String.Empty, new {@class = "form-control edit-control main-control", @readonly = true})
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label id="CertificateStartDateId">Срок начала действия:</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.CertificateStartDate, new {@class = "form-control edit-control main-control date-control", placeholder = "Введите значение", @readonly = true, disabled = true})
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label id="CertificateEndDateId">Срок окончания действия:</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.CertificateDate, new {@class = "form-control edit-control main-control date-control", placeholder = "Введите значение", @readonly = true, disabled = true})
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label id="CertificateOrganizationLabelId">Орган (организация) выдачи сертификата:</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.CertificateOrganization, new {@class = "form-control edit-control main-control", @readonly = true})
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label id="CertificateManufacturNameLabelId">Наименование производителя</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.CertificateManufacturName, new {@class = "form-control edit-control main-control", @readonly = true})
                        <span class="input-group-addon">
                            <a class="OBKcommentDialog" href="#">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        setDateFormat(".date-control");
    });
    function setDateFormat(control) {
        $(control).datepicker({
            dateFormat: 'dd.mm.yy',
            language: 'ru',
            autoclose: true
        });
    }
</script>