@using PW.Ncels.Database.Constants
@model PW.Ncels.Database.DataModel.OBK_AssessmentStage

<script>

    function showDeclaration(event) {
        var itemId = '@Model.Id';
        window.Showbusy(event);
        $.ajax({
            url: "/SafetyAssessment/Design?Id=" + itemId,
            success: function (result) {
                $("#page" + '@Model.Id').html(result);
                $("#loading").hide();
            }
        });
    }

    function showAttachFile(event) {
        var itemId = '@Model.DeclarationId';
        window.Showbusy(event);
        $.ajax({
            url: "/SafetyAssessment/AttachFileView?Id=" + itemId,
            success: function (result) {
                $("#page" + '@Model.Id').html(result);
                $("#loading").hide();
            }
        });
    }

    function showDeclarationSteps(event) {
        //GetRdDocumentsHistory
        @*var itemId = '@Model.DeclarationId';
        window.Showbusy(event);
        $.ajax({
            url: "/DrugDeclaration/DeclarationStepsNew?Id=" + itemId,
            success: function (result) {
                $("#page" + '@Model.Id').html(result);
                $("#loading").hide();
            },
            error: function () {
                $("#loading").hide();
                ShowAlert('Ошибка!', window.commonErrorMessage, window.AlertType.Error, 3000);
            }
        });*@
    }

    function showHistoryStage(event) {
        var itemId = '@Model.DeclarationId';
        window.Showbusy(event);
        $.ajax({
            url: "/DrugStageHistory/HistoryStageView?Id=" + itemId,
            success: function (result) {
                $("#page" + '@Model.Id').html(result);
                $("#loading").hide();
            },
            error: function() {
                $("#loading").hide();
                ShowAlert('Ошибка!', window.commonErrorMessage, window.AlertType.Error, 3000);
            }
        });
    }

    function showMaterial(event) {
        @*var itemId = '@Model.DeclarationId';
        window.Showbusy(event);
        $.ajax({
            url: "/Material/MaterialListPartialVew?ddId=" + itemId,
            success: function (result) {
                $("#page" + '@Model.Id').html(result);
                $("#loading").hide();
            }
        });*@
    }

    @*function showExpDoc(event) {
        var itemId = '@Model.Id';
        window.Showbusy(event);
        $.ajax({
            url: "/SafetyAssessment/ExpDocView?Id=" + itemId,
            success: function(result) {
                $("#page" + '@Model.Id').html(result);
                $("#loading").hide();
            },
            error: function() {
                $("#loading").hide();
                ShowAlert('Ошибка!', window.commonErrorMessage, window.AlertType.Error, 3000);
            }
        });
    }*@

    function showExpDocument() {
        var itemId = '@Model.Id';
        window.Showbusy(event);
        $.ajax({
            url: "/OBKExpDocument/ExpDocumentView?Id=" + itemId,
            success: function(result) {
                $("#page" + '@Model.Id').html(result);
                $("#loading").hide();
            },
            error: function() {
                $("#loading").hide();
                ShowAlert('Ошибка!', window.commonErrorMessage, window.AlertType.Error, 3000);
            }
        });
    }

    function showExpDocDeclarationResponse() {
        var itemId = '@Model.Id';
        debugger;
        window.Showbusy(event);
        $.ajax({
            url: "/OBKExpDocument/ExpDocumentDeclarationResponse?Id=" + itemId,
            success: function(result) {
                $("#page" + '@Model.Id').html(result);
                $("#loading").hide();
            },
            error: function() {
                $("#loading").hide();
                ShowAlert('Ошибка!', window.commonErrorMessage, window.AlertType.Error, 3000);
            }
        });
    }
</script>

<div id="MainMenu" style="font-size: 14px; ">
    <div class="list-group panel">
        <a href="#" onclick="showDeclaration(event)" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Заявление</a>
        <a href="#" onclick="showAttachFile(event)" class="list-group-item"><span class="glyphicon glyphicon-folder-open"></span> Перечень документов</a>
        @if (Model.StageId == CodeConstManager.STAGE_OBK_EXPERTISE_DOC)
        {
            @*<a href="#" onclick="showExpDoc(event)" class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>Экспертиза документов</a>*@
            <a href="#" onclick="showExpDocument(event)" class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>Экспертиза документов</a>
            if (Model.OBK_AssessmentDeclaration.OBK_Ref_Type.Code == CodeConstManager.OBK_SA_DECLARATION)
            {
                <a href="#" onclick="showExpDocDeclarationResponse(event)" class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>Экспертиза документов результат</a>
            }
        }
        @if(@Model.OBK_AssessmentDeclaration.OBK_Ref_Type.Code != CodeConstManager.OBK_SA_DECLARATION) {
            <a href="#" onclick="showMaterial(event)" class="list-group-item"><span class="glyphicon glyphicon-briefcase"></span> Образцы</a>
        }
        <a href="#" onclick="showDeclarationSteps(event)" class="list-group-item"><span class="glyphicon glyphicon-ok-circle"></span> Этапы заявления</a>
        <a href="#" onclick="showHistoryStage(event)" class="list-group-item"><span class="glyphicon glyphicon-off"></span> Заключения этапов</a>
    </div>
</div>