@model PW.Ncels.Database.DataModel.OBK_AssessmentStage


<div id="@("loader"+ Model.Id)"></div>
<form id="@("formReview" + Model.Id)">

    <div class="pwWinTitle">
        <div class="pwToolbarButtonReturn"></div>
        <div class="pwWinTitleText">Вернуть на доработку<span style="font-weight: bold" id="@("DocumenetNumber" + Model.Id)" data-bind="text: document.DisplayName"></span></div>
    </div>
    <div class="pwWinFooter">
        <button type="button" data-role="button" id="TaskJobCancel" class="k-button pwWinButton" onclick="closeArchive()">@PW.Ncels.Database.Recources.Messages.Property_Отмена_352__00</button>
        <button type="button" data-role="button" id="TaskJob" class="k-button pwWinButton" onclick="sendArchiveConfirm()">@PW.Ncels.Database.Recources.Messages.Property_Да_401__00</button>
    </div>
</form>

<script type="text/javascript">
    var name = '@Model.Id';
    debugger;
    var note = '@Model.OBK_AssessmentDeclaration.DesignNote';

    function closeArchive() {
        $("#TaskCommandWindow").data("kendoWindow").close();
    }

    function sendArchiveConfirm() {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/SafetyAssessment/RejectConfirm',
            data: { id: name, note: note },
            success: function (result) {
                $("#reject" + name).prop("enable", false);
                $("#review" + name).prop("enable", false);
                $("#reject" + name).attr('disabled', 'disabled');
                $("#review" + name).attr('disabled', 'disabled');
                $("#stop" + name).prop("enable", false);
                $("#stop" + name).attr('disabled', 'disabled');
                $("#deSignNote").prop("readonly", true);
                $("#TaskCommandWindow").data("kendoWindow").close();
            }
        });
    }

</script>

