@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Экспертиза ЛС, ИМН и МТ</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li class="active">
                <strong>Экспертиза ЛС, ИМН и МТ</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <h2>
                        <span class="text-success">Договоры</span>
                    </h2>
                    <p>
                        Создайте договор или дополнительное соглашение
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/05.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("Contract", "Contract")">Договор</a>
                                </h2>
                                <small>Договор на проведение экспертизы</small>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/10.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("ContractEx", "Contract")">Дополнительное соглашение</a>
                                </h2>
                                <small>Внести изменения в основной договор</small>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <h2>
                        <span class="text-success">Заявления</span>
                    </h2>
                    <p>
                        Выберите тип заявления, чтобы заполнить поля и отправить на экспертизу
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/06.png" style="height: 64px; width: 64px; vertical-align: sub;"/></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("RegisterLs", "Project")">Регистрация ЛС</a>
                                </h2>
                                <small>Подача заявления на проведение экспертизы лекарственного средства</small>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/06.png" style="height: 64px; width: 64px; vertical-align: sub;"/></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("ReRegisterLs", "Project")">Перерегистрация ЛС</a>
                                </h2>
                                <small>Подача заявления на проведение перерегистрации лекарственного средства</small>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/06.png" style="height: 64px; width: 64px; vertical-align: sub;"/></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("ChRegisterLs", "Project")">Внесение изменений ЛС</a>
                                </h2>
                                <small>Подача заявления на внесение изменений лекарственного средства</small>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <h2>
                        <span class="text-success">Запись на прием</span>
                    </h2>
                    <p>
                        Запишитесь на прием
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/07.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="#">Запись на прием</a>
                                </h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
