@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Референтное ценообразование ЛС, ИМН</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li class="active">
                <strong>Референтное ценообразование ЛС, ИМН</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <h2>
                        <span class="text-success">Заявления</span>
                    </h2>
                    <p>
                        Выберите тип заявления, чтобы заполнить поля и отправить на рассмотрение
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/11.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("PriceLs", "Project")">Заявление на Регистрацию цен на ЛС</a>
                                </h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/11.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("PriceImn", "Project")">Заявление на Регистрацию цен на ИМН</a>
                                </h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/11.png" style="height: 64px; width: 64px; vertical-align: sub;"/></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("PriceLsModifyList", "Project")">Заявление на внесения изменений в зарегистрированную цену на ЛС</a>
                                </h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/11.png" style="height: 64px; width: 64px; vertical-align: sub;"/></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("PriceImnModifyList", "Project")">Заявление на внесения изменений в зарегистрированную цену на ИМН</a>
                                </h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Создать</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/11.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("PriceReject", "Project")">Письмо-обоснование о неучастии в ГОБМП</a>
                                </h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <h2>
                        <span class="text-success">Прайс листы</span>
                    </h2>
                    <p>
                        Оптовые и розничные цены ЛС, ИМН, МТ
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">New</span>
                    <h5>Загрузить</h5>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td style="width: 64px; vertical-align: sub;"><img src="~/Content/img/13.png" style="height: 64px; width: 64px; vertical-align: sub;" /></td>
                            <td style="width: 20px;"></td>
                            <td>
                                <h2 class="no-margins">
                                    <a class="pw-widget-link" href="@Url.Action("PriceLists", "Project")">Прайс лист</a>
                                </h2>
                                <small>Оптовые и розничные цены ЛС, ИМН, МТ</small>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
