@model PW.Ncels.Database.DataModel.EXP_ExpertiseStage
@{
    var expertisePageId = Guid.NewGuid();
    var expertisePageIdTab = "#" + expertisePageId;
}

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="@expertisePageIdTab">Экспертиза</a></li>
        @foreach (var dosage in Model.EXP_ExpertiseStageDosage)
        {
            var tadIndex = "#tab_" + dosage.Id;
            <li class=""><a data-toggle="tab" href="@tadIndex">Заявка: @dosage.EXP_DrugDosage.RegNumber</a></li>
        }
    </ul>
    <div class="tab-content">
        <div id="@expertisePageId" class="tab-pane active history-expertise-page" stage ="@Model.StageId" stageId="@Model.Id">
        </div>
        @foreach (var dosage in Model.EXP_ExpertiseStageDosage)
        {
            var tadPage = "tab_" + dosage.Id;
            <div id="@tadPage" class="tab-pane history-dosage-page" stage ="@Model.StageId" dosageId="@dosage.Id" >

            </div>
        }
    </div>
</div>
