@model PW.Ncels.Database.Models.ContractModel

<div class="row">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1@(ViewBag.UiId)"><strong>Производитель</strong></a></li>
            <li class=""><a data-toggle="tab" href="#tab-2@(ViewBag.UiId)"><strong>Заявитель</strong></a></li>
            <li class=""><a data-toggle="tab" href="#tab-3@(ViewBag.UiId)"><strong>Держатель регистрационного удостоверения</strong></a></li>
            <li class=""><a data-toggle="tab" href="#tab-4@(ViewBag.UiId)"><strong>Плательщик</strong></a></li>
            <li class=""><a data-toggle="tab" href="#tab-5@(ViewBag.UiId)"><strong>Плательщик за перевод</strong></a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1@(ViewBag.UiId)" class="tab-pane active">
                <div class="panel-body">
                    <div class="row form-horizontal">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-lg-4">Организационная форма:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.OpfTypeName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование на русском языке:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.NameRu</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование на английском языке:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.NameEn</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Страна:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.CountryName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Юридический адрес:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.AddressLegal</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Фактический адрес:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.AddressFact</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Телефон:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.Phone</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">e-mail</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4"></label>
                                <div class="col-lg-8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Фамилия первого руководителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.BossLastName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Имя первого руководителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.BossFirstName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Отчество первого руководителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.BossMiddleName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Должность первого руководителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.BossPosition</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-4">Название банка:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.BankName</p>
                                </div>
                            </div>
                            @if (Model.Manufaturer.BankIik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Manufaturer.BankIik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Manufaturer.PaymentBill != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Расчетный счет</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Manufaturer.PaymentBill</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-4">Валюта:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Manufaturer.BankCurencyDicName</p>
                                </div>
                            </div>
                            @if (Model.Manufaturer.BankSwift != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">SWIFT:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Manufaturer.BankSwift</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Manufaturer.BankBik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Manufaturer.BankBik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Manufaturer.Bin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИН:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Manufaturer.Bin</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Manufaturer.Iin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИН:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Manufaturer.Iin</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2@(ViewBag.UiId)" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4"></label>
                                <div class="col-lg-8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Организационная форма:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.OpfTypeName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование на русском языке</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.NameRu</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование на английском языке:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.NameEn</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Страна:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.CountryName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Юридический адрес:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.AddressLegal</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Фактический адрес:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.AddressFact</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Телефон:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.Phone</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">e-mail</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4">Фамилия подписывающего лица:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.BossLastName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Имя подписывающего лица:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.BossFirstName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Отчество подписывающего лицая:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.BossMiddleName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Должность подписывающего лица:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.BossPosition</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Название банка</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.BankName</p>
                                </div>
                            </div>
                            @if (Model.Applicant.BankIik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Applicant.BankIik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Applicant.PaymentBill != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Расчетный счет:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Applicant.PaymentBill</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-4">Валюта:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Applicant.BankCurencyDicName</p>
                                </div>
                            </div>
                            @if (Model.Applicant.BankSwift != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">SWIFT:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Applicant.BankSwift</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Applicant.BankBik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Applicant.BankBik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Applicant.Bin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИН:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Applicant.Bin</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Applicant.Iin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИН:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Applicant.Iin</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4">Вид документа:</label>
                                <div class="col-lg-8">
                                    <p>@Model.ApplicantContract.DoverenostName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Наличие номера</label>
                                @if (Model.ApplicantContract.IsHasDoverennostNumber)
                                {
                                    <p>Да</p>
                                }
                                else
                                {
                                    <p>Нет</p>}
                            </div>
                        </div>
                        @if (Model.ApplicantContract.IsHasDoverennostNumber)
                        {
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Номер документа</label>
                                    <p>@Model.ApplicantContract.DoverennostNumber</p>
                                </div>
                            </div>
                        }
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Срок действия с</label>
                                @if (Model.ApplicantContract.DoverennostCreatedDate.HasValue)
                                {
                                    <p>@Model.ApplicantContract.DoverennostCreatedDate.Value.ToString("dd.MM.yyyy")</p>
                                }
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Срок действия по</label>
                                @if (Model.ApplicantContract.DoverennostExpiryDate.HasValue)
                                {
                                    <p>@Model.ApplicantContract.DoverennostExpiryDate.Value.ToString("dd.MM.yyyy")</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3@(ViewBag.UiId)" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4">Организационная форма:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.OpfTypeName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование на русском языке:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.NameRu</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование на английском языке:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.NameEn</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Страна:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.CountryName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Юридический адрес:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.AddressLegal</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Фактический адрес:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.AddressFact</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Телефон:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.Phone</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">e-mail:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4"></label>
                                <div class="col-lg-8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Фамилия первого руководителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.BossLastName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Имя первого руководителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.BossFirstName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Отчество первого руководителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.BossMiddleName</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Должность первого руководителя:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.BossPosition</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Название банка:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.BankName</p>
                                </div>
                            </div>
                            @if (Model.Holder.BankIik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Holder.BankIik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Holder.PaymentBill != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Расчетный счет:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Holder.PaymentBill</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-4">Валюта:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Holder.BankCurencyDicName</p>
                                </div>
                            </div>
                            @if (Model.Holder.BankSwift != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">SWIFT:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Holder.BankSwift</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Holder.BankBik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Holder.BankBik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Holder.Bin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИН:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Holder.Bin</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Holder.Iin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИН:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Holder.Iin</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-4@(ViewBag.UiId)" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4">Резидент РК:</label>
                                <div class="col-lg-8">
                                    @if (Model.Payer.IsResident)
                                    {
                                        <p>Да</p>
                                    }
                                    else
                                    {
                                        <p>Нет</p>}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Плательщик:</label>
                                <div class="col-lg-8">
                                    @if (Model.ApplicantContract.ManufacturerOrganizationId == Model.ApplicantContract.PayerOrganizationId)
                                    {
                                        <p>Производитель</p>
                                    }
                                    else if (Model.ApplicantContract.ApplicantOrganizationId == Model.ApplicantContract.PayerOrganizationId)
                                    {
                                        <p>Заявитель</p>
                                    }
                                    else if (Model.ApplicantContract.HolderOrganizationId == Model.ApplicantContract.PayerOrganizationId)
                                    {
                                        <p>Держатель рег. удостоверения</p>
                                    }
                                    else
                                    {
                                        <p>Третье лицо</p>
                                    }

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Payer.NameRu</p>
                                </div>
                            </div>
                            @if (!(bool)ViewBag.PayerTypeOther)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Наименование на английском языке:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.NameEn</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-4">Юридический адрес:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Payer.AddressLegal</p>
                                </div>
                            </div>
                            @if (!(bool)ViewBag.PayerTypeOther)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Фактический адрес:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.AddressFact</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">Телефон:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.Phone</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">e-mail:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.Email</p>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-6 form-horizontal">
                            @if (!(bool)ViewBag.PayerTypeOther)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Фамилия первого руководителя:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.BossLastName</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">Имя первого руководителя:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.BossFirstName</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">Отчество первого руководителя:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.BossMiddleName</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">Должность первого руководителя:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.BossPosition</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-4">Название банка:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Payer.BankName</p>
                                </div>
                            </div>
                            @if (Model.Payer.BankIik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.BankIik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Payer.PaymentBill != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Расчетный счет:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.PaymentBill</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-4">Валюта:</label>
                                <div class="col-lg-8">
                                    <p>@Model.Payer.BankCurencyDicName</p>
                                </div>
                            </div>
                            @if (Model.Payer.BankSwift != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">SWIFT:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.BankSwift</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Payer.BankBik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.BankBik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Payer.Bin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИН:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.Bin</p>
                                    </div>
                                </div>
                            }
                            @if (Model.Payer.Iin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИН</label>
                                    <div class="col-lg-8">
                                        <p>@Model.Payer.Iin</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-5@(ViewBag.UiId)" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4">Резидент РК:</label>
                                <div class="col-lg-8">
                                    @if (Model.PayerTranslation.IsResident)
                                    {
                                        <p>Да</p>
                                    }
                                    else
                                    {
                                        <p>Нет</p>}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Плательщик:</label>
                                <div class="col-lg-8">
                                    @if (Model.ApplicantContract.ManufacturerOrganizationId == Model.ApplicantContract.PayerTranslationOrganizationId)
                                    {
                                        <p>Производитель</p>
                                    }
                                    else if (Model.ApplicantContract.ApplicantOrganizationId == Model.ApplicantContract.PayerTranslationOrganizationId)
                                    {
                                        <p>Заявитель</p>
                                    }
                                    else if (Model.ApplicantContract.HolderOrganizationId == Model.ApplicantContract.PayerTranslationOrganizationId)
                                    {
                                        <p>Держатель рег. удостоверения</p>
                                    }
                                    else
                                    {
                                        <p>Третье лицо</p>
                                    }

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Наименование:</label>
                                <div class="col-lg-8">
                                    <p>@Model.PayerTranslation.NameRu</p>
                                </div>
                            </div>
                            @if (!(bool)ViewBag.PayerTranslationTypeOther)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Наименование на английском языке:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.NameEn</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-4">Юридический адрес:</label>
                                <div class="col-lg-8">
                                    <p>@Model.PayerTranslation.AddressLegal</p>
                                </div>
                            </div>
                            @if (!(bool)ViewBag.PayerTranslationTypeOther)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Фактический адрес:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.AddressFact</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">Телефон:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.Phone</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">e-mail:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.Email</p>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-6 form-horizontal">
                            @if (!(bool)ViewBag.PayerTranslationTypeOther)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Фамилия первого руководителя:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.BossLastName</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">Имя первого руководителя:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.BossFirstName</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">Отчество первого руководителя:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.BossMiddleName</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4">Должность первого руководителя:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.BossPosition</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-4">Название банка:</label>
                                <div class="col-lg-8">
                                    <p>@Model.PayerTranslation.BankName</p>
                                </div>
                            </div>
                            @if (Model.PayerTranslation.BankIik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.BankIik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.PayerTranslation.PaymentBill != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">Расчетный счет:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.PaymentBill</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-4">Валюта:</label>
                                <div class="col-lg-8">
                                    <p>@Model.PayerTranslation.BankCurencyDicName</p>
                                </div>
                            </div>
                            @if (Model.PayerTranslation.BankSwift != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">SWIFT:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.BankSwift</p>
                                    </div>
                                </div>
                            }
                            @if (Model.PayerTranslation.BankBik != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИК:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.BankBik</p>
                                    </div>
                                </div>
                            }
                            @if (Model.PayerTranslation.Bin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">БИН:</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.Bin</p>
                                    </div>
                                </div>
                            }
                            @if (Model.PayerTranslation.Iin != null)
                            {
                                <div class="form-group">
                                    <label class="col-lg-4">ИИН</label>
                                    <div class="col-lg-8">
                                        <p>@Model.PayerTranslation.Iin</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script>
        InitializeNcelsContract('@Model.Id.ToString()', 'Inner');
    </script>*@

