@model Guid[]

<div class="pwToolbar">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: save, enabled: hasChanges" id="@("save"+ Model[1])"><span class="pwToolbarButtonSave"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Сохранить_278__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: register, enabled: hasRegister" id="@("register" + Model)"><span class="pwToolbarButtonRegister"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Зарегистрировать_116__00</span></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: build, enabled: hasBuild" id="@("build" + Model[1])"><span class="pwToolbarButtonBuild"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Сформироватьдокумент_52__00</span></button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: print, enabled: hasPrint" id="@("print" + Model[1])"><span class="pwToolbarButtonPrint"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Печать_353__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: deleteDoc" id="@("delete" + Model[1])"><span class="pwToolbarButtonDelete"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Удалить_334__00</span></button>

        </div>
    </div>
</div>
<div class="pwPage">
    <table class="pwDocTable">
        <colgroup>
            <col width="180px" />
            <col width="265px" />
            <col width="10px" />
            <col width="180px" />
            <col width="265px" />
        </colgroup>
        @*<tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Видисходящего_159__00</td>
            <td>
                <select name="@("OutgoingType" + Model)" id="@("OutgoingType" + Model)" data-bind="value: document.OutgoingType, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" />
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>*@
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Номер_354__00</td>
            <td>
                <input name="@("Number"+ Model[1])" id="@("Number"+ Model[1])" data-bind="value: document.Number, events: { change: change }" class="pwWidth100 pwTextBoxReadonly" />
            </td>
            <td></td>
            <td>
                <div style="position: relative;">
                    <span data-for="@("DocumentDate" + Model[1])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_От_393__00
            </td>
            <td>
                <input name="@("DocumentDate"+ Model[1])" id="@("DocumentDate"+ Model[1])" data-bind="value: document.DocumentDate, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитедату_117__00" class="pwWidth100" readonly />
            </td>
        </tr>
        <tr>
            <td>Исходящий номер:</td>
            <td>
                <input name="@("OutgoingNumber" + Model[1])" id="@("OutgoingNumber" + Model[1])" data-bind="value: document.OutgoingNumber, events: { change: change }" class="pwWidth100" />
            </td>
        </tr>
        @*<tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("ExecutionDate" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Срокисполнения_115__00
            </td>
            <td>
                <input name="@("ExecutionDate" + Model)" id="@("ExecutionDate" + Model)" data-bind="value: document.ExecutionDate, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитедату_117__00" class="pwWidth100"  data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Срокисполнения_115__00" />
            </td>
        </tr>*@
        @*<tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("CorrespondentsId" + Model[1])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Адресат_308__00
            </td>
            <td colspan="4">
                <select name="@("CorrespondentsId" + Model[1])" id="@("CorrespondentsId" + Model[1])" data-bind="value: document.CorrespondentsId, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Введитетекст_118__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Адресат_308__00" />
                <div style="position: relative;">
                    <button class="k-button pwCorrespondents" type="button" data-bind="click: dictionaryView">...</button>
                </div>
            </td>
        </tr>*@
        @*<tr>
            <td>Email:</td>
            <td colspan="4">
                <input name="@("ApplicantEmail" + Model)" id="@("ApplicantEmail" + Model)" data-bind="value: document.ApplicantEmail, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Введитетекст_118__00" class="pwWidth100" />
            </td>
        </tr>*@
        <tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("AnswersId" + Model[1])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Ответна_285__00
            </td>
            <td colspan="4">
                <select name="@("AnswersId"+ Model[1])" id="@("AnswersId"+ Model[1])" data-text-field="Name"
                        data-value-field="Id" data-bind="value: document.AnswersId, events: { change: change }" class="pwWidth100"  data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Ответна_285__00" />
            </td>
        </tr>
        <tr style="height: 67px;">
            <td>
                <div style="position: relative;">
                    <span data-for="@("Summary" + Model[1])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00
            </td>
            <td colspan="4">
                <textarea name="@("Summary"+ Model[1])" id="@("Summary"+ Model[1])" data-bind="value: document.Summary, events: { change: change }" class="pwWidth100 pwTextArea" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00"  />

            </td>
        </tr>
        <tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("CreatedUserId" + Model[1])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Исполнитель_222__00
            </td>
            <td colspan="4">
                <select name="@("CreatedUserId" + Model[1])" id="@("CreatedUserId" + Model[1])" data-bind="value: document.CreatedUserId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Исполнитель_222__00" />
            </td>
        </tr>
        @*<tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("DocumentKindDictionaryId" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Виддокумента_188__00
            </td>
            <td>
                <select name="@("DocumentKindDictionaryId" + Model)" id="@("DocumentKindDictionaryId" + Model)" data-bind="value: document.DocumentKindDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Виддокумента_188__00" />
            </td>
            <td></td>
            <td>
                <div style="position: relative;">
                    <span data-for="@("QuestionDesignDictionaryId" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Характервопроса_99__00
            </td>
            <td>
                <select name="@("QuestionDesignDictionaryId"+ Model)" id="@("QuestionDesignDictionaryId"+ Model)" data-bind="value: document.QuestionDesignDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Характервопроса_99__00" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("PageCount" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_ЛистПрилДругое_70__00
            </td>
            <td>
                <input id="@("PageCount" + Model)" name="@("PageCount" + Model)" data-bind="value: document.PageCount, events: { change: change }" style="width: 60px;" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_ЛистПрилДругое_70__00" />&nbsp;/
                <input id="@("CopiesCount" + Model)" name="@("CopiesCount" + Model)" data-bind="value: document.CopiesCount, events: { change: change }" style="width: 60px;" />&nbsp;/
                <input id="@("Counters" + Model)" name="@("Counters" + Model)" data-bind="value: document.Counters, events: { change: change }" style="width: 125px;" />

            </td>
            <td></td>
            <td>
                <div style="position: relative;">
                    <span data-for="@("LanguageDictionaryId" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00
            </td>
            <td>
                <select name="@("LanguageDictionaryId"+ Model)" id="@("LanguageDictionaryId"+ Model)" data-bind="value: document.LanguageDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Языкдокумента_142__00" />
            </td>
        </tr>
        <tr>
            <td>
            
                @PW.Ncels.Database.Recources.Messages.Property_Видотправки_210__00
            </td>
            <td>
                <select name="@("FormSendingDictionaryId" + Model)" id="@("FormSendingDictionaryId" + Model)" data-bind="value: document.FormSendingDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100"  />
            </td>
            <td></td>
     
        </tr>*@

        <tr>
        @*<tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("SignerId" + Model[1])" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Подписано_261__00
            </td>
            <td colspan="4">
                <select name="@("SignerId" + Model[1])" id="@("SignerId" + Model[1])" data-bind="value: document.SignerId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Подписано_261__00" />
            </td>
        </tr>*@
        
        @*<tr>
            <td>
                <div style="position: relative;">
                    <span data-for="@("NomenclatureDictionaryId" + Model)" class="k-invalid-msg"></span>
                </div>
                @PW.Ncels.Database.Recources.Messages.Property_Дело_375__00
            </td>
            <td colspan="4">
                <select name="@("NomenclatureDictionaryId"+ Model)" id="@("NomenclatureDictionaryId"+ Model)" data-bind="value: document.NomenclatureDictionaryId, events: { change: change }" data-placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00" class="pwWidth100" required data-required-msg="@PW.Ncels.Database.Recources.Messages.Property_Дело_375__00" />
            </td>
        </tr>
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Том_382__00</td>
            <td>
                <input name="@("Deed" + Model)" id="@("Deed" + Model)" data-bi data-bind="value: document.Deed" class="pwWidth100" />
            </td>
            <td></td>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Листы_360__00</td>
            <td>
                <input name="@("Book" + Model)" id="@("Book" + Model)" data-bind="value: document.Book" class="pwWidth100" />
            </td>
        </tr>
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Акты_376__00</td>
            <td colspan="4">
                <input name="@("Akt" + Model)" id="@("Akt" + Model)" data-bind="value: document.Akt" class="pwWidth100" />
            </td>
        </tr>
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Документ_298__00</td>
            <td>
                <input name="@("DestinationId" + Model)" id="@("DestinationId" + Model)" data-bind="value: document.DestinationId, events: { change: change }" class="pwWidth100 pwTextBoxReadonly" />
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>*@
        <tr>
            <td>@PW.Ncels.Database.Recources.Messages.Property_Вложения_280__00</td>
            <td colspan="4">
                <input name="files" id="@("files" + Model[1])" id="@("files" + Model[1])" type="file" />
            </td>
        </tr>
    <tr>
        <td>
            <div style="position: relative;">
                <span data-for="@("RemarkId" + Model[1])" class="k-invalid-msg"></span>
            </div>
            Тип:
        </td>
        <td colspan="2">
            <input id="@("RemarkId" + Model[1])" name="@("RemarkId" + Model[1])" class="pwWidth100" data-bind="value: document.RemarkId, events: { change: change }" required data-required-msg="Тип:" />
        </td>
    </tr>
    <tr id="@("ParleyDate" + Model[1])" style="display: none;">
        <td>
            <div style="position: relative;">
                <span data-for="@("ParleyStartDate" + Model[1])" class="k-invalid-msg"></span>
            </div>
            C:
        </td>
        <td>
            <input name="@("ParleyStartDate"+ Model[1])" id="@("ParleyStartDate"+ Model[1])" data-bind="value: document.ParleyStartDate, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитедату_117__00" class="pwWidth100" />
        </td>
        <td></td>
        <td>
            <div style="position: relative;">
                <span data-for="@("ParleyEndDate" + Model[1])" class="k-invalid-msg"></span>
            </div>
            По:
        </td>
        <td>
            <input name="@("ParleyEndDate" + Model[1])" id="@("ParleyEndDate" + Model[1])" data-bind="value: document.ParleyEndDate, events: { change: change }" placeholder="@PW.Ncels.Database.Recources.Messages.Property_Выберитедату_117__00" class="pwWidth100" />
        </td>
    </tr>
        <tr id="@("RemarkTr1" + Model[1])" style="display: none;">
            <td>
                Замечания:
            </td>
            <td colspan="3">
                <input name="@("RemarkText1"+ Model[1])" id="@("RemarkText1"+ Model[1])" data-bind="value: document.RemarkText1, events: { change: change }" class="pwWidth100" />
            </td>
            <td>
                <button type="button" data-role="button" id="addRemark" class="k-button">Добавить</button>
            </td>
        </tr>
        <tr id="@("RemarkTr2" + Model[1])" style="display: none;">
            <td></td>
            <td colspan="3">
                <input name="@("RemarkText2"+ Model[1])" id="@("RemarkText2"+ Model[1])" data-bind="value: document.RemarkText2, events: { change: change }" class="pwWidth100" />    
            </td>
        </tr>
        <tr id="@("RemarkTr3" + Model[1])" style="display: none;">
            <td></td>
            <td colspan="3">
                <input name="@("RemarkText3"+ Model[1])" id="@("RemarkText3"+ Model[1])" data-bind="value: document.RemarkText3, events: { change: change }" class="pwWidth100" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<script>
    InitializeDataProjectContract('@Model[1].ToString()', '@Model[0].ToString()');

    var name = '@Model[1]';
    $('#RemarkId' + name).kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Id",
        autoBind: true,
        optionLabel: "Выберите значение...",
        dataSource: {
            transport: {
                read: {
                    url: '/Reference/ReadRemarkTypes'
                }
            }
        },
        index: 0
    });

    $(document).ready(function () {
        var maxFields = 3;
        var x = 1;

        $('#RemarkId' + name).change(function() {
            if ($(this).val() === '2') {
                $('#ParleyDate' + name).show();
                $('#RemarkTr1' + name).hide();
                $('#RemarkTr2' + name).hide();
                $('#RemarkTr3' + name).hide();
            } else if ($(this).val() === '1') {
                x = 1;
                $('#ParleyDate' + name).hide();
                $('#RemarkTr1' + name).show();
            } else {
                $('#ParleyDate' + name).hide();
                $('#RemarkTr1' + name).hide();
                $('#RemarkTr2' + name).hide();
                $('#RemarkTr3' + name).hide();
            }
        });

        $('#addRemark').click(function(e) {
            e.preventDefault();
            if (x < maxFields) {
                x++;
                $('#RemarkTr' + x + '@Model[1]').show();
            }
        });
    });
</script>
