@using PW.Ncels.Database.DataModel
@model Guid
@{
    var loader = "loader" + Model;
    var formName = "setContractNumber" + Model;
    var contractNumber = "contractNumber" + Model;
    var contractDate = "contractDate" + Model;
    var contract = (Contract) ViewBag.Contract;
}
<script>
    $(document).ready(function () {
        var settValidator = $("#@formName").kendoValidator().data("kendoValidator");
        var viewModel = kendo.observable({
            Save: function (e) {
                debugger;
                if (settValidator.validate()) {
                    var model = viewModel.get('model');
                    var numberMatch = model.Number.match(/[ А-Яа-я0-9\-\\]*/i);
                    if (numberMatch==null || numberMatch.length===0 || numberMatch[0]!==model.Number) {
                        alert("Неверный формат номера");
                        return;
                    }
                    kendo.ui.progress($("#@loader"), true);
                    var data = JSON.stringify({
                        contractNumber: model.Number,
                        contractDate: model.Date,
                        contractId: '@ViewBag.ContractId'
                    });
                    $.ajax({
                        type: 'POST',
                        url: '/Contract/SetContractNumber',
                        data: data,
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            if ($("#TaskCommandWindow").data("kendoWindow").dialogCallback) {
                                $("#TaskCommandWindow").data("kendoWindow").dialogCallback();
                            }
                            $("#TaskCommandWindow").data("kendoWindow").close();
                        },
                        complete: function () {
                            kendo.ui.progress($("#@loader"), false);
                        }
                    });
                }
            },
            Cancel: function (e) {
                $("#TaskCommandWindow").data("kendoWindow").close();
            },
            model: {
                Number: '@(contract.Number??"")',
                Date: ('@(contract.ContractDate!=null?contract.ContractDate.Value.ToString("dd.MM.yyyy") : "")'===''? null: '@(contract.ContractDate!=null?contract.ContractDate.Value.ToString("dd.MM.yyyy") : "")')
            }
        });
        kendo.bind($("#@formName"), viewModel);
    });
</script>
<div class="row">
    <div id="@loader"></div>
    <form id="@formName" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Номер:</label>
                    <div class="col-lg-8">
                        @(Html.Kendo().TextBox().Name(contractNumber)                              
                              .HtmlAttributes(new { data_bind = "value: model.Number", @class = "pwWidth100", required = "", validationMessage = "Обязательно для заполнения" }))
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Дата:</label>
                    <div class="col-lg-8">
                        @(Html.Kendo().DatePicker().Format("dd.MM.yyyy").Name(contractDate)
                              .HtmlAttributes(new { data_bind = "value: model.Date", @class = "pwWidth100", required = "", validationMessage = "Обязательно для заполнения" }))
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="btn-toolbar" role="toolbar" style="margin-top: 20px">
                <div class="btn-group pull-right" role="group" style="margin-left: 10px">
                    <button type="button" class="k-button" data-bind="click: Cancel">Отмена</button>
                </div>
                <div class="btn-group pull-right" role="group" style="margin-left: 10px">
                    <button type="button" class="k-button k-primary" data-bind="click: Save">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>

