@model Guid[]

@{
     //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function docPage0onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/CitizenDoc/FormCnt?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docCitizenPage1onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/CitizenDoc/Form?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docCitizenPage2onClick() {
        var itemId = '@Model[0].ToString()';
        $.ajax({
            url: "/Task/Details?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docCitizenPage4onClick() {
        var itemId = '@Model[0].ToString()';
        $.ajax({
            url: "/History/Index?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docCitizenPage5onClick() {
        var itemId = '@Model[0].ToString()';
        $.ajax({
            url: "/History/ExtensionExecution?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }

    function docPage6onClick() {
        var itemId = '@Model[0].ToString()';

        $.ajax({
            url: "/Application/FormPrint?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
</script>

<div class="pwTabContent k-block">

    <form id="@("citDocForm"+ Model[0])">
       
        <div id="@("loader"+ Model[0])">
        </div>
        <table class="pwTable">
            <tr class="pwContent">
                <td class="pwContentLeft k-block">
                    <a onclick="docPage0onClick()" id="@("docPage0" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-ref-0"><span><img src="../../Content/images/ref/0.png" /></span></a>
                    <a onclick="docCitizenPage1onClick()" id="@("docPage1" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-cont-1"><span><img src="../../Content/images/cont/1.png" /></span></a>
                    <a onclick="docPage6onClick()" id="@("docPage6" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-cont-2"><span><img src="../../Content/images/cont/2.png" /></span></a>
                    <a onclick="docCitizenPage2onClick()" id="@("docPage2" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-cont-3"><span><img src="../../Content/images/cont/3.png" /></span></a>
                    @*<a onclick="docCitizenPage5onClick()" id="@("docPage5" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-cont-5"><span><img src="../../Content/images/cont/5.png" /></span></a>*@
                    <a onclick="docCitizenPage4onClick()" id="@("docPage4" + Model[0])" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-cont-4"><span><img src="../../Content/images/cont/4.png" /></span></a>
                </td>
                <td class="pwContentRight k-block" id="@("pwContentRightId"+ Model[0])">
                    <div class="pwPageScrollable">
                        <div id="@("page" + Model[0])">
                            @{
                                Html.RenderAction("FormCnt", "Contract", new { id = Model[0].ToString() });
                            }
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="pwStatusbar k-block" colspan="2">
                    <div class="pwFloat">
                        Договор
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        <span id="@("pwStatusbarState" + Model[0])"></span>
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    InitializeSizeCitizen('@Model[0].ToString()');
</script>

