@model PW.Ncels.Database.Models.ContractModel

<div class="pwToolbar" id="@("docToolbar"+ Model.Id)">
    <div class="btn-toolbar" role="toolbar">

        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: save, enabled: hasChanges" id="@("save"+ Model.Id)"><span class="pwToolbarButtonSave"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Сохранить_278__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: register, enabled: hasRegister" id="@("register" + Model.Id)"><span class="pwToolbarButtonRegister"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Зарегистрировать_116__00</span></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: review, enabled: hasReview" id="@("review" + Model.Id)"><span class="pwToolbarButtonReview"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Нарассмотрение_141__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: extensionExecution, enabled: hasExtensionExecution" id="@("extensionExecution" + Model.Id)"><span class="pwToolbarButtonExecuteEx"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Продлитьисполнение_67__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: execute, enabled: hasExecute" id="@("execute" + Model.Id)"><span class="pwToolbarButtonExecute"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Исполнить_279__00</span></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: print, enabled: hasPrint" id="@("print" + Model.Id)"><span class="pwToolbarButtonPrint"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Печать_353__00</span></button>
            <button type="button" class="btn btn-default" data-bind="click: deleteDoc" id="@("delete" + Model)"><span class="pwToolbarButtonDelete"></span><span class="pwToolbarButtonTitle">@PW.Ncels.Database.Recources.Messages.Property_Удалить_334__00</span></button>

        </div>
    </div>
</div>

<div class="pwPage pwPageEx">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">Производитель</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2">Заявитель</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3">Держатель регистрационного удостоверения</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4">Плательщик</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <div class="form-group">
                                <label>Организационная форма</label>
                                <p>@Model.Manufaturer.OpfTypeName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наименование на русском языке</label>
                                <p>@Model.Manufaturer.NameRu</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наименование на английском языке</label>
                                <p>@Model.Manufaturer.NameEn</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Страна</label>
                                <p>@Model.Manufaturer.CountryName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Юридический адрес</label>
                                <p>@Model.Manufaturer.AddressLegal</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Фактический адрес</label>
                                <p>@Model.Manufaturer.AddressFact</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Телефон</label>
                                <p>@Model.Manufaturer.Phone</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>e-mail</label>
                                <p>@Model.Manufaturer.Email</p>
                            </div>
                        </div>
                        <div class="col-lg-6 b-l">
                            <div class="form-group">
                                <label>Фамилия первого руководителя</label>
                                <p>@Model.Manufaturer.BossLastName</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Имя первого руководителя</label>
                                <p>@Model.Manufaturer.BossFirstName</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Отчество первого руководителя</label>
                                <p>@Model.Manufaturer.BossMiddleName</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Должность первого руководителя</label>
                                <p>@Model.Manufaturer.BossPosition</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Название банка</label>
                                <p>@Model.Manufaturer.BankName</p>
                            </div>
                            @if (Model.Manufaturer.BankIik != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>ИИК</label>
                                                            <p>@Model.Manufaturer.BankIik</p>
                                                        </div>
}
                            @if (Model.Manufaturer.PaymentBill != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>Расчетный счет</label>
                                                            <p>@Model.Manufaturer.PaymentBill</p>
                                                        </div>
}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Валюта</label>
                                <p>@Model.Manufaturer.BankCurencyDicName</p>
                            </div>
                            @if (Model.Manufaturer.BankSwift != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>SWIFT</label>
                                                            <p>@Model.Manufaturer.BankSwift</p>
                                                        </div>
}
                            @if (Model.Manufaturer.BankBik != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>БИК</label>
                                                            <p>@Model.Manufaturer.BankBik</p>
                                                        </div>
}
                            @if (Model.Manufaturer.Bin != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>БИН</label>
                                                            <p>@Model.Manufaturer.Bin</p>
                                                        </div>
}
                            @if (Model.Manufaturer.Iin != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>ИИН</label>
                                                            <p>@Model.Manufaturer.Iin</p>
                                                        </div>
}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <div class="form-group">
                                <label>Организационная форма</label>
                                <p>@Model.Applicant.OpfTypeName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наименование на русском языке</label>
                                <p>@Model.Applicant.NameRu</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наименование на английском языке</label>
                                <p>@Model.Applicant.NameEn</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Страна</label>
                                <p>@Model.Applicant.CountryName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Юридический адрес</label>
                                <p>@Model.Applicant.AddressLegal</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Фактический адрес</label>
                                <p>@Model.Applicant.AddressFact</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Телефон</label>
                                <p>@Model.Applicant.Phone</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>e-mail</label>
                                <p>@Model.Applicant.Email</p>
                            </div>
                        </div>
                        <div class="col-lg-6 b-l">
                            <div class="form-group">
                                <label>Фамилия подписывающего лица</label>
                                <p>@Model.Applicant.BossLastName</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Имя подписывающего лица</label>
                                <p>@Model.Applicant.BossFirstName</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Отчество подписывающего лицая</label>
                                <p>@Model.Applicant.BossMiddleName</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Должность подписывающего лица</label>
                                <p>@Model.Applicant.BossPosition</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Название банка</label>
                                <p>@Model.Applicant.BankName</p>
                            </div>
                            @if (Model.Applicant.BankIik != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>ИИК</label>
                                                            <p>@Model.Applicant.BankIik</p>
                                                        </div>
}
                            @if (Model.Applicant.PaymentBill != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>Расчетный счет</label>
                                                            <p>@Model.Applicant.PaymentBill</p>
                                                        </div>
}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Валюта</label>
                                <p>@Model.Applicant.BankCurencyDicName</p>
                            </div>
                            @if (Model.Applicant.BankSwift != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>SWIFT</label>
                                                            <p>@Model.Applicant.BankSwift</p>
                                                        </div>
}
                            @if (Model.Applicant.BankBik != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>БИК</label>
                                                            <p>@Model.Applicant.BankBik</p>
                                                        </div>
}
                            @if (Model.Applicant.Bin != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>БИН</label>
                                                            <p>@Model.Applicant.Bin</p>
                                                        </div>
}
                            @if (Model.Applicant.Iin != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>ИИН</label>
                                                            <p>@Model.Applicant.Iin</p>
                                                        </div>
}
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Вид документа</label>
                                <p>@Model.ApplicantContract.DoverenostName</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Наличие номера</label>
                                @if (Model.ApplicantContract.IsHasDoverennostNumber) {
                                                        <p>Да</p>
}
                                else {
                                <p>Нет</p>}
                            </div>
                        </div>
                        @if (Model.ApplicantContract.IsHasDoverennostNumber) {
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>Номер документа</label>
                                                        <p>@Model.ApplicantContract.DoverennostNumber</p>
                                                    </div>
                                                </div>
}
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Срок действия с</label>
                                @if (Model.ApplicantContract.DoverennostCreatedDate.HasValue) {
                                                        <p>@Model.ApplicantContract.DoverennostCreatedDate.Value.ToString("dd.MM.yyyy")</p>
}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Срок действия по</label>
                                @if (Model.ApplicantContract.DoverennostExpiryDate.HasValue) {
                                                        <p>@Model.ApplicantContract.DoverennostExpiryDate.Value.ToString("dd.MM.yyyy")</p>
}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <div class="form-group">
                                <label>Организационная форма</label>
                                <p>@Model.Holder.OpfTypeName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наименование на русском языке</label>
                                <p>@Model.Holder.NameRu</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наименование на английском языке</label>
                                <p>@Model.Holder.NameEn</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Страна</label>
                                <p>@Model.Holder.CountryName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Юридический адрес</label>
                                <p>@Model.Holder.AddressLegal</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Фактический адрес</label>
                                <p>@Model.Holder.AddressFact</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Телефон</label>
                                <p>@Model.Holder.Phone</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>e-mail</label>
                                <p>@Model.Holder.Email</p>
                            </div>
                        </div>
                        <div class="col-lg-6 b-l">
                            <div class="form-group">
                                <label>Фамилия первого руководителя</label>
                                <p>@Model.Holder.BossLastName</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Имя первого руководителя</label>
                                <p>@Model.Holder.BossFirstName</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Отчество первого руководителя</label>
                                <p>@Model.Holder.BossMiddleName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Должность первого руководителя</label>
                                <p>@Model.Holder.BossPosition</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Название банка</label>
                                <p>@Model.Holder.BankName</p>
                            </div>
                            @if (Model.Holder.BankIik != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>ИИК</label>
                                                            <p>@Model.Holder.BankIik</p>
                                                        </div>
}
                            @if (Model.Holder.PaymentBill != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>Расчетный счет</label>
                                                            <p>@Model.Holder.PaymentBill</p>
                                                        </div>
}
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Валюта</label>
                                <p>@Model.Holder.BankCurencyDicName</p>
                            </div>
                            @if (Model.Holder.BankSwift != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>SWIFT</label>
                                                            <p>@Model.Holder.BankSwift</p>
                                                        </div>
}
                            @if (Model.Holder.BankBik != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>БИК</label>
                                                            <p>@Model.Holder.BankBik</p>
                                                        </div>
}
                            @if (Model.Holder.Bin != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>БИН</label>
                                                            <p>@Model.Holder.Bin</p>
                                                        </div>
}
                            @if (Model.Holder.Iin != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>ИИН</label>
                                                            <p>@Model.Holder.Iin</p>
                                                        </div>
}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <div class="form-group">
                                <label>Резидент РК</label>
                                @if (Model.Payer.IsResident) {
                                                        <p>Да</p>
}
                                else {
                                <p>Нет</p>}
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Плательщик</label>
                                <p>@Model.Payer.PayerTypeName</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Наименование</label>
                                <p>@Model.Payer.NameRu</p>
                            </div>
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Юридический адрес</label>
                                <p>@Model.Payer.AddressLegal</p>
                            </div>
                        </div>
                        <div class="col-lg-6 b-l">
                            <div class="form-group">
                                <label>Название банка</label>
                                <p>@Model.Payer.BankName</p>
                            </div>
                            @if (Model.Payer.BankIik != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>ИИК</label>
                                                            <p>@Model.Payer.BankIik</p>
                                                        </div>
}
                            @if (Model.Payer.PaymentBill != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>Расчетный счет</label>
                                                            <p>@Model.Payer.PaymentBill</p>
                                                        </div>
}
                            <div class="hr-line-dashed"></div><div class="form-group">
                                <label>Валюта</label>
                                <p>@Model.Payer.BankCurencyDicName</p>
                            </div>
                            @if (Model.Payer.BankSwift != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>SWIFT</label>
                                                            <p>@Model.Payer.BankSwift</p>
                                                        </div>
}
                            @if (Model.Payer.BankBik != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>БИК</label>
                                                            <p>@Model.Payer.BankBik</p>
                                                        </div>
}
                            @if (Model.Payer.Bin != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>БИН</label>
                                                            <p>@Model.Payer.Bin</p>
                                                        </div>
}
                            @if (Model.Payer.Iin != null) {
                                                    <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label>ИИН</label>
                                                            <p>@Model.Payer.Iin</p>
                                                        </div>
}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    
</script>

