@model Guid

@{
     //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>

    function docInnerPage1onClick() {
        var itemId = '@Model.ToString()';

        $.ajax({
            url: "/CorrespondenceDoc/FormAdmin?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docInnerPage2onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/Task/Details?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docInnerPage3onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/ProjectDoc/FormBpOut?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
    function docInnerPage4onClick() {
        var itemId = '@Model.ToString()';
        $.ajax({
            url: "/History/Index?Id=" + itemId,
            //type: "POST",
            success: function (result) {
                // refreshes partial view
                $("#page" + itemId).html(result);
            }
        });
    }
</script>

<div class="pwTabContent k-block">

    <form id="@("corDocForm"+ Model)">
       
        <div id="@("loader"+ Model)">
        </div>
        <table class="pwTable">
            <tr class="pwContent">
                <td class="pwContentLeft k-block">
                    
                    <a onclick="docInnerPage1onClick()" id="@("docPage1" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart"><span><img src="../../Content/images/card.png" /></span></a>
                    <a onclick="docInnerPage2onClick()" id="@("docPage2" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-2"><span><img src="../../Content/images/tasks.png" /></span></a>
                    <a onclick="docInnerPage3onClick()" id="@("docPage3" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-3"><span><img src="../../Content/images/lists.png" /></span></a>
                    <a onclick="docInnerPage4onClick()" id="@("docPage4" + Model)" class="pwBtn pwBtn-5 pwBtn-5a icon-cart-4"><span><img src="../../Content/images/history.png" /></span></a>
                </td>
                <td class="pwContentRight k-block" id="@("pwContentRightId"+ Model)">
                    <div class="pwPageScrollable">
                        <div id="@("page" + Model)">
                            @Html.Partial("FormAdmin",Model)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="pwStatusbar k-block" colspan="2">
                    <div class="pwFloat">
                        @PW.Ncels.Database.Recources.Messages.Property_Служебнаязапискаинициативная_19__001
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        <span id="@("pwStatusbarState" + Model)"></span>
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                    <div class="pwFloat">
                        
                    </div>
                    <div class="pwFloat pwLine">

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    InitializeSizeCorrespondenceInit('@Model.ToString()');
</script>

