@model PW.Ncels.Database.Models.Expertise.PharmacologicalEntity
@{
    var tab1 = "tabDoasage-1" + Model.DrugDeclarationId;
    var tab1b = "#" + tab1;
    var tab2 = "tabDoasage-2" + Model.DrugDeclarationId;
    var tab2b = "#" + tab2;
    var tab3 = "tabDoasage-3" + Model.DrugDeclarationId;
    var tab3b = "#" + tab3;
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="ibox-content">
    @Html.Partial("~/Views/DrugDeclaration/StageResult.cshtml", Model.CurrentStage)
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="@tab1b">Экспертиза</a></li>
                    <li class=""><a data-toggle="tab" href="@tab2b">Замечание</a></li>
                    <li class=""><a data-toggle="tab" href="@tab3b">Переписка</a></li>
                </ul>
                <div class="tab-content">
                    <div id="@tab1" class="tab-pane active">
                        @Html.Partial("~/Views/Pharmacological/PharmacologicalOTDView.cshtml", Model)
                    </div>
                    <div id="@tab2" class="tab-pane">
                        @Html.Partial("~/Views/DrugDeclaration/ExpertiseStageRemarkView.cshtml", Model)

                    </div>
                    <div id="@tab3" class="tab-pane">
                        @Html.Partial("~/Views/DrugDeclaration/DrugCorespondenceView.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var itemId = '@Model.ExpStageId';
        var primaryTreeControl = "primaryTree" + itemId;
        FillJSTree(itemId, primaryTreeControl, '@controllerName', true);
        setDateFormat(".date-control");
    });
</script>
